<project>
  <files
    portability_mode="relative"
    default_encoding="System"
    readonly="false"
    maxfilesize="10485760"
    enforce_portability="false">
    <dir
      name=".">
      <dir
        name="..">
        <dir
          name="parquet-mr">
          <watched
            subdirs="true">
            <filter
              name="Java"/>
          </watched>
          <dir
            name="parquet-arrow">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="parquet">
                        <dir
                          name="arrow">
                          <dir
                            name="schema"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="parquet">
                        <dir
                          name="arrow">
                          <dir
                            name="schema"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="parquet-avro">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="parquet">
                        <dir
                          name="avro"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="parquet">
                        <dir
                          name="avro"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="parquet-benchmarks">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="parquet">
                        <dir
                          name="benchmarks"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="parquet-cli">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="parquet">
                        <dir
                          name="cli">
                          <dir
                            name="commands"/>
                          <dir
                            name="csv"/>
                          <dir
                            name="json"/>
                          <dir
                            name="util"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="parquet">
                        <dir
                          name="cli">
                          <dir
                            name="commands"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="parquet-column">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="parquet">
                        <dir
                          name="column">
                          <dir
                            name="impl"/>
                          <dir
                            name="page"/>
                          <dir
                            name="statistics"/>
                          <dir
                            name="values">
                            <dir
                              name="bitpacking"/>
                            <dir
                              name="bloomfilter"/>
                            <dir
                              name="bytestreamsplit"/>
                            <dir
                              name="delta"/>
                            <dir
                              name="deltalengthbytearray"/>
                            <dir
                              name="deltastrings"/>
                            <dir
                              name="dictionary"/>
                            <dir
                              name="factory"/>
                            <dir
                              name="fallback"/>
                            <dir
                              name="plain"/>
                            <dir
                              name="rle"/>
                          </dir>
                        </dir>
                        <dir
                          name="example">
                          <dir
                            name="data">
                            <dir
                              name="simple">
                              <dir
                                name="convert"/>
                            </dir>
                          </dir>
                        </dir>
                        <dir
                          name="filter"/>
                        <dir
                          name="filter2">
                          <dir
                            name="compat"/>
                          <dir
                            name="predicate"/>
                          <dir
                            name="recordlevel"/>
                        </dir>
                        <dir
                          name="internal">
                          <dir
                            name="column">
                            <dir
                              name="columnindex"/>
                          </dir>
                          <dir
                            name="filter2">
                            <dir
                              name="columnindex"/>
                          </dir>
                        </dir>
                        <dir
                          name="io">
                          <dir
                            name="api"/>
                        </dir>
                        <dir
                          name="schema"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="parquet">
                        <dir
                          name="column">
                          <dir
                            name="impl"/>
                          <dir
                            name="mem"/>
                          <dir
                            name="page">
                            <dir
                              name="mem"/>
                          </dir>
                          <dir
                            name="statistics"/>
                          <dir
                            name="values">
                            <dir
                              name="bitpacking"/>
                            <dir
                              name="bloomfilter"/>
                            <dir
                              name="bytestreamsplit"/>
                            <dir
                              name="delta">
                              <dir
                                name="benchmark"/>
                            </dir>
                            <dir
                              name="deltalengthbytearray">
                              <dir
                                name="benchmark"/>
                            </dir>
                            <dir
                              name="deltastrings">
                              <dir
                                name="benchmark"/>
                            </dir>
                            <dir
                              name="dictionary"/>
                            <dir
                              name="factory"/>
                            <dir
                              name="rle"/>
                          </dir>
                        </dir>
                        <dir
                          name="filter2">
                          <dir
                            name="predicate"/>
                          <dir
                            name="recordlevel"/>
                        </dir>
                        <dir
                          name="internal">
                          <dir
                            name="column">
                            <dir
                              name="columnindex"/>
                          </dir>
                          <dir
                            name="filter2">
                            <dir
                              name="columnindex"/>
                          </dir>
                        </dir>
                        <dir
                          name="io">
                          <dir
                            name="api"/>
                        </dir>
                        <dir
                          name="parser"/>
                        <dir
                          name="schema"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="parquet-common">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="parquet">
                        <dir
                          name="bytes"/>
                        <dir
                          name="compression"/>
                        <dir
                          name="glob"/>
                        <dir
                          name="hadoop">
                          <dir
                            name="codec"/>
                          <dir
                            name="metadata"/>
                        </dir>
                        <dir
                          name="io"/>
                        <dir
                          name="util"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="parquet">
                        <dir
                          name="bytes"/>
                        <dir
                          name="glob"/>
                        <dir
                          name="io"/>
                        <dir
                          name="util"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="parquet-encoding">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="parquet">
                        <dir
                          name="column">
                          <dir
                            name="values">
                            <dir
                              name="bitpacking"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="parquet">
                        <dir
                          name="bytes"/>
                        <dir
                          name="column">
                          <dir
                            name="values">
                            <dir
                              name="bitpacking"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="parquet-format-structures">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="parquet">
                        <dir
                          name="format">
                          <dir
                            name="event"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="parquet">
                        <dir
                          name="format"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="parquet-generator">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="parquet">
                        <dir
                          name="encoding">
                          <dir
                            name="bitpacking"/>
                        </dir>
                        <dir
                          name="filter2"/>
                        <dir
                          name="version"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="parquet-hadoop">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="parquet">
                        <dir
                          name="crypto">
                          <dir
                            name="keytools"/>
                        </dir>
                        <dir
                          name="filter2">
                          <dir
                            name="bloomfilterlevel"/>
                          <dir
                            name="compat"/>
                          <dir
                            name="dictionarylevel"/>
                          <dir
                            name="statisticslevel"/>
                        </dir>
                        <dir
                          name="format">
                          <dir
                            name="converter"/>
                        </dir>
                        <dir
                          name="hadoop">
                          <dir
                            name="api"/>
                          <dir
                            name="codec"/>
                          <dir
                            name="example"/>
                          <dir
                            name="mapred"/>
                          <dir
                            name="metadata"/>
                          <dir
                            name="util">
                            <dir
                              name="counters">
                              <dir
                                name="mapred"/>
                              <dir
                                name="mapreduce"/>
                            </dir>
                          </dir>
                        </dir>
                        <dir
                          name="internal">
                          <dir
                            name="hadoop">
                            <dir
                              name="metadata"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="parquet">
                        <dir
                          name="crypto">
                          <dir
                            name="keytools">
                            <dir
                              name="mocks"/>
                            <dir
                              name="samples"/>
                          </dir>
                          <dir
                            name="propertiesfactory"/>
                        </dir>
                        <dir
                          name="encodings"/>
                        <dir
                          name="filter2">
                          <dir
                            name="compat"/>
                          <dir
                            name="dictionarylevel"/>
                          <dir
                            name="recordlevel"/>
                          <dir
                            name="statisticslevel"/>
                        </dir>
                        <dir
                          name="format">
                          <dir
                            name="converter"/>
                        </dir>
                        <dir
                          name="hadoop">
                          <dir
                            name="codec"/>
                          <dir
                            name="example"/>
                          <dir
                            name="metadata"/>
                          <dir
                            name="util"/>
                        </dir>
                        <dir
                          name="statistics"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="parquet-pig">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="parquet">
                        <dir
                          name="pig">
                          <dir
                            name="convert"/>
                          <dir
                            name="summary"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="parquet">
                        <dir
                          name="pig">
                          <dir
                            name="summary"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="parquet-protobuf">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="parquet">
                        <dir
                          name="proto"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="parquet">
                        <dir
                          name="proto">
                          <dir
                            name="utils"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="parquet-thrift">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="parquet">
                        <dir
                          name="hadoop">
                          <dir
                            name="thrift"/>
                        </dir>
                        <dir
                          name="thrift">
                          <dir
                            name="pig"/>
                          <dir
                            name="projection">
                            <dir
                              name="amend"/>
                            <dir
                              name="deprecated"/>
                          </dir>
                          <dir
                            name="struct"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="parquet">
                        <dir
                          name="hadoop">
                          <dir
                            name="thrift"/>
                        </dir>
                        <dir
                          name="thrift">
                          <dir
                            name="pig"/>
                          <dir
                            name="projection">
                            <dir
                              name="deprecated"/>
                          </dir>
                          <dir
                            name="struct"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
        </dir>
      </dir>
    </dir>
  </files>
  <languages>
    <language
      name="Java"/>
  </languages>
  <file_types/>
  <annotations_options/>
  <comparison_options
    comparison_db=""
    git_repo=""
    git_commit=""/>
  <imports/>
  <java_options
    count_javadoc_in_metrics="true"
    count_standard_in_max_inheritance="false"
    jni_kni_include_package_name="true"
    jni_kni_linkage_prepend_text="Java_"
    save_comments_associated_with_entities="true"
    version="Java10">
    <class_paths>
      <class_path
        path="C:/Program Files/Java/jdk-18.0.1.1/lib/src.zip"/>
      <class_path
        path="C:/Program Files/Java/jdk-18.0.1.1/jmods/java.base.jmod"/>
    </class_paths>
  </java_options>
</project>
