<project>
  <files
    portability_mode="relative"
    default_encoding="System"
    readonly="false"
    maxfilesize="10485760"
    enforce_portability="false">
    <dir
      name=".">
      <dir
        name="..">
        <dir
          name="uima-uimaj">
          <watched
            subdirs="true">
            <filter
              name="Java"/>
          </watched>
          <dir
            name="PearPackagingMavenPlugin">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="uima">
                        <dir
                          name="pear">
                          <dir
                            name="tools"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="jVinci">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="vinci">
                        <dir
                          name="debug"/>
                        <dir
                          name="transport">
                          <dir
                            name="context"/>
                          <dir
                            name="document"/>
                          <dir
                            name="util"/>
                          <dir
                            name="vns">
                            <dir
                              name="client"/>
                            <dir
                              name="service"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="jcasgen-maven-plugin">
            <dir
              name="src">
              <dir
                name="it">
                <dir
                  name="classpath">
                  <dir
                    name="src">
                    <dir
                      name="main">
                      <dir
                        name="java"/>
                    </dir>
                  </dir>
                </dir>
                <dir
                  name="m2e">
                  <dir
                    name="src">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="uima">
                          <dir
                            name="tools">
                            <dir
                              name="jcasgen">
                              <dir
                                name="maven"/>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
                <dir
                  name="multimodule">
                  <dir
                    name="crossref1">
                    <dir
                      name="src">
                      <dir
                        name="main">
                        <dir
                          name="java"/>
                      </dir>
                    </dir>
                  </dir>
                  <dir
                    name="crossref2">
                    <dir
                      name="src">
                      <dir
                        name="main">
                        <dir
                          name="java"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
                <dir
                  name="simple">
                  <dir
                    name="src">
                    <dir
                      name="main">
                      <dir
                        name="java"/>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="uima">
                        <dir
                          name="tools">
                          <dir
                            name="jcasgen">
                            <dir
                              name="maven"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="uima">
                        <dir
                          name="tools">
                          <dir
                            name="jcasgen">
                            <dir
                              name="maven"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="uimaj-adapter-vinci">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="uima">
                        <dir
                          name="adapter">
                          <dir
                            name="vinci">
                            <dir
                              name="util"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="uima">
                        <dir
                          name="adapter">
                          <dir
                            name="vinci"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="uimaj-bootstrap">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="uima">
                        <dir
                          name="bootstrap"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="uimaj-component-test-util">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="uima">
                        <dir
                          name="test">
                          <dir
                            name="junit_extension"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="uimaj-core">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="uima">
                        <dir
                          name="analysis_component"/>
                        <dir
                          name="analysis_engine">
                          <dir
                            name="annotator"/>
                          <dir
                            name="asb">
                            <dir
                              name="impl"/>
                          </dir>
                          <dir
                            name="impl">
                            <dir
                              name="compatibility"/>
                          </dir>
                          <dir
                            name="metadata">
                            <dir
                              name="impl"/>
                          </dir>
                          <dir
                            name="service">
                            <dir
                              name="impl"/>
                          </dir>
                        </dir>
                        <dir
                          name="cas">
                          <dir
                            name="admin"/>
                          <dir
                            name="impl"/>
                          <dir
                            name="text"/>
                        </dir>
                        <dir
                          name="cas_data">
                          <dir
                            name="impl"/>
                        </dir>
                        <dir
                          name="collection">
                          <dir
                            name="base_cpm"/>
                          <dir
                            name="impl"/>
                          <dir
                            name="metadata"/>
                        </dir>
                        <dir
                          name="examples"/>
                        <dir
                          name="flow">
                          <dir
                            name="impl"/>
                        </dir>
                        <dir
                          name="impl"/>
                        <dir
                          name="internal">
                          <dir
                            name="util">
                            <dir
                              name="function"/>
                            <dir
                              name="rb_trees"/>
                          </dir>
                        </dir>
                        <dir
                          name="jcas">
                          <dir
                            name="cas"/>
                          <dir
                            name="impl"/>
                          <dir
                            name="tcas"/>
                        </dir>
                        <dir
                          name="pear">
                          <dir
                            name="tools"/>
                          <dir
                            name="util"/>
                        </dir>
                        <dir
                          name="resource">
                          <dir
                            name="impl"/>
                          <dir
                            name="metadata">
                            <dir
                              name="impl"/>
                          </dir>
                          <dir
                            name="service">
                            <dir
                              name="impl"/>
                          </dir>
                        </dir>
                        <dir
                          name="search">
                          <dir
                            name="impl"/>
                        </dir>
                        <dir
                          name="spi"/>
                        <dir
                          name="uimacpp"/>
                        <dir
                          name="util">
                          <dir
                            name="impl"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
                <dir
                  name="versionJava">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="uima">
                        <dir
                          name="impl"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="aa"/>
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="lang"/>
                      <dir
                        name="uima">
                        <dir
                          name="ae">
                          <dir
                            name="multiplier"/>
                          <dir
                            name="noop"/>
                        </dir>
                        <dir
                          name="analysis_component"/>
                        <dir
                          name="analysis_engine">
                          <dir
                            name="impl">
                            <dir
                              name="metadata"/>
                            <dir
                              name="sequencer"/>
                          </dir>
                        </dir>
                        <dir
                          name="cas">
                          <dir
                            name="impl"/>
                          <dir
                            name="serdes">
                            <dir
                              name="datasuites"/>
                            <dir
                              name="generators"/>
                            <dir
                              name="scenario"/>
                            <dir
                              name="transitions"/>
                          </dir>
                          <dir
                            name="test"/>
                          <dir
                            name="text"/>
                        </dir>
                        <dir
                          name="cas_data">
                          <dir
                            name="impl"/>
                        </dir>
                        <dir
                          name="collection">
                          <dir
                            name="impl"/>
                        </dir>
                        <dir
                          name="examples">
                          <dir
                            name="cpm">
                            <dir
                              name="sofa"/>
                          </dir>
                        </dir>
                        <dir
                          name="flow">
                          <dir
                            name="impl"/>
                        </dir>
                        <dir
                          name="impl"/>
                        <dir
                          name="internal">
                          <dir
                            name="util">
                            <dir
                              name="rb_trees"/>
                          </dir>
                        </dir>
                        <dir
                          name="jcas">
                          <dir
                            name="impl"/>
                          <dir
                            name="tcas"/>
                          <dir
                            name="test"/>
                        </dir>
                        <dir
                          name="pear">
                          <dir
                            name="util"/>
                        </dir>
                        <dir
                          name="resource">
                          <dir
                            name="impl"/>
                          <dir
                            name="metadata">
                            <dir
                              name="impl"/>
                          </dir>
                          <dir
                            name="service">
                            <dir
                              name="impl"/>
                          </dir>
                        </dir>
                        <dir
                          name="spi"/>
                        <dir
                          name="testTypeSystem_arrays"/>
                        <dir
                          name="util">
                          <dir
                            name="impl"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                  <dir
                    name="sofa">
                    <dir
                      name="test"/>
                  </dir>
                  <dir
                    name="x">
                    <dir
                      name="y">
                      <dir
                        name="z"/>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="uimaj-cpe">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="uima">
                        <dir
                          name="cas_data">
                          <dir
                            name="impl">
                            <dir
                              name="vinci"/>
                          </dir>
                        </dir>
                        <dir
                          name="collection">
                          <dir
                            name="impl">
                            <dir
                              name="base_cpm">
                              <dir
                                name="container">
                                <dir
                                  name="deployer"/>
                              </dir>
                            </dir>
                            <dir
                              name="cpm">
                              <dir
                                name="container">
                                <dir
                                  name="deployer">
                                  <dir
                                    name="socket"/>
                                  <dir
                                    name="vinci"/>
                                  <dir
                                    name="vns"/>
                                </dir>
                              </dir>
                              <dir
                                name="engine"/>
                              <dir
                                name="utils"/>
                              <dir
                                name="vinci">
                                <dir
                                  name="cas_data"/>
                              </dir>
                            </dir>
                            <dir
                              name="metadata">
                              <dir
                                name="cpe"/>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="uima">
                        <dir
                          name="analysis_engine">
                          <dir
                            name="impl"/>
                        </dir>
                        <dir
                          name="cas">
                          <dir
                            name="impl"/>
                        </dir>
                        <dir
                          name="collection">
                          <dir
                            name="impl">
                            <dir
                              name="cpm">
                              <dir
                                name="utils"/>
                            </dir>
                          </dir>
                        </dir>
                        <dir
                          name="examples">
                          <dir
                            name="cpm">
                            <dir
                              name="sofa"/>
                          </dir>
                        </dir>
                        <dir
                          name="pear">
                          <dir
                            name="util"/>
                        </dir>
                        <dir
                          name="resource">
                          <dir
                            name="impl"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="uimaj-document-annotation">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="uima">
                        <dir
                          name="jcas">
                          <dir
                            name="tcas"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="uima">
                        <dir
                          name="jcas">
                          <dir
                            name="tcas"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="uimaj-ep-cas-editor">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="uima">
                        <dir
                          name="caseditor">
                          <dir
                            name="core">
                            <dir
                              name="model">
                              <dir
                                name="dotcorpus"/>
                            </dir>
                          </dir>
                          <dir
                            name="editor">
                            <dir
                              name="action"/>
                            <dir
                              name="annotation"/>
                            <dir
                              name="context"/>
                            <dir
                              name="contextmenu"/>
                            <dir
                              name="editview">
                              <dir
                                name="validator"/>
                            </dir>
                            <dir
                              name="fsview"/>
                            <dir
                              name="outline"/>
                            <dir
                              name="styleview"/>
                            <dir
                              name="util"/>
                          </dir>
                          <dir
                            name="ui">
                            <dir
                              name="property"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="uima">
                        <dir
                          name="caseditor">
                          <dir
                            name="core">
                            <dir
                              name="model">
                              <dir
                                name="dotcorpus"/>
                            </dir>
                            <dir
                              name="util"/>
                          </dir>
                          <dir
                            name="editor">
                            <dir
                              name="util"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="uimaj-ep-cas-editor-ide">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="uima">
                        <dir
                          name="caseditor">
                          <dir
                            name="ide">
                            <dir
                              name="searchstrategy"/>
                            <dir
                              name="wizards"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="uimaj-ep-configurator">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="uima">
                        <dir
                          name="taeconfigurator">
                          <dir
                            name="editors">
                            <dir
                              name="point"/>
                            <dir
                              name="ui">
                              <dir
                                name="dialogs"/>
                            </dir>
                            <dir
                              name="xml"/>
                          </dir>
                          <dir
                            name="files"/>
                          <dir
                            name="model"/>
                          <dir
                            name="wizards"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="uimaj-ep-debug">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="uima">
                        <dir
                          name="ep_debug"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="uimaj-ep-jcasgen">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="uima">
                        <dir
                          name="jcas">
                          <dir
                            name="jcasgenp"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="uimaj-ep-launcher">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="uima">
                        <dir
                          name="ep_launcher">
                          <dir
                            name="ui"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="uimaj-ep-pear-packager">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="uima">
                        <dir
                          name="pear">
                          <dir
                            name="actions"/>
                          <dir
                            name="generate"/>
                          <dir
                            name="insd">
                            <dir
                              name="edit">
                              <dir
                                name="vars"/>
                            </dir>
                          </dir>
                          <dir
                            name="nature"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="uimaj-examples">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="example"/>
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="uima">
                        <dir
                          name="examples">
                          <dir
                            name="cas"/>
                          <dir
                            name="casMultiplier"/>
                          <dir
                            name="cpe"/>
                          <dir
                            name="flow"/>
                          <dir
                            name="tokenizer"/>
                          <dir
                            name="xmi"/>
                        </dir>
                        <dir
                          name="tutorial">
                          <dir
                            name="ex1"/>
                          <dir
                            name="ex2"/>
                          <dir
                            name="ex3"/>
                          <dir
                            name="ex4"/>
                          <dir
                            name="ex5"/>
                          <dir
                            name="ex6"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="uimaj-jet-expander">
            <dir
              name="src">
              <dir
                name="org">
                <dir
                  name="apache">
                  <dir
                    name="uima">
                    <dir
                      name="util">
                      <dir
                        name="jet"/>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="uimaj-json">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="uima">
                        <dir
                          name="json">
                          <dir
                            name="impl"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="uima">
                        <dir
                          name="json"/>
                        <dir
                          name="resource">
                          <dir
                            name="metadata">
                            <dir
                              name="impl"/>
                          </dir>
                        </dir>
                        <dir
                          name="test"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="uimaj-test-util">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="uima">
                        <dir
                          name="test">
                          <dir
                            name="junit_extension"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="uimaj-tools">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="uima">
                        <dir
                          name="tools">
                          <dir
                            name="annot_view"/>
                          <dir
                            name="components"/>
                          <dir
                            name="cpm"/>
                          <dir
                            name="cvd">
                            <dir
                              name="control"/>
                            <dir
                              name="tsview"/>
                          </dir>
                          <dir
                            name="docanalyzer"/>
                          <dir
                            name="images"/>
                          <dir
                            name="jcasgen"/>
                          <dir
                            name="pear">
                            <dir
                              name="install"/>
                            <dir
                              name="merger"/>
                            <dir
                              name="packager"/>
                          </dir>
                          <dir
                            name="stylemap"/>
                          <dir
                            name="util">
                            <dir
                              name="gui"/>
                            <dir
                              name="htmlview"/>
                          </dir>
                          <dir
                            name="viewer"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="uima">
                        <dir
                          name="tools">
                          <dir
                            name="pear">
                            <dir
                              name="merger"/>
                          </dir>
                          <dir
                            name="viewer"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="uimaj-v3migration-jcas">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="uima">
                        <dir
                          name="migratev3">
                          <dir
                            name="jcas"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="v2_jcas_sources">
                  <dir
                    name="example"/>
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="uima">
                        <dir
                          name="examples">
                          <dir
                            name="tokenizer"/>
                        </dir>
                        <dir
                          name="tutorial"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="unused-saved">
            <dir
              name="src">
              <dir
                name="org">
                <dir
                  name="apache">
                  <dir
                    name="uima">
                    <dir
                      name="cas">
                      <dir
                        name="impl"/>
                    </dir>
                    <dir
                      name="fs_generation">
                      <dir
                        name="impl"/>
                    </dir>
                    <dir
                      name="internal">
                      <dir
                        name="util"/>
                    </dir>
                    <dir
                      name="jcas">
                      <dir
                        name="cas"/>
                      <dir
                        name="impl"/>
                    </dir>
                    <dir
                      name="jcasgen">
                      <dir
                        name="impl"/>
                    </dir>
                    <dir
                      name="tools">
                      <dir
                        name="jcas">
                        <dir
                          name="internal"/>
                      </dir>
                      <dir
                        name="jcasgen"/>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="study">
                <dir
                  name="asm">
                  <dir
                    name="decompiled"/>
                </dir>
              </dir>
            </dir>
          </dir>
        </dir>
      </dir>
    </dir>
  </files>
  <languages>
    <language
      name="Java"/>
  </languages>
  <file_types/>
  <annotations_options/>
  <comparison_options
    comparison_db=""
    git_repo=""
    git_commit=""/>
  <imports/>
  <java_options
    count_javadoc_in_metrics="true"
    count_standard_in_max_inheritance="false"
    jni_kni_include_package_name="true"
    jni_kni_linkage_prepend_text="Java_"
    save_comments_associated_with_entities="true"
    version="Java10">
    <class_paths>
      <class_path
        path="C:/Program Files/Java/jdk-18.0.1.1/lib/src.zip"/>
      <class_path
        path="C:/Program Files/Java/jdk-18.0.1.1/jmods/java.base.jmod"/>
    </class_paths>
  </java_options>
</project>
