<project>
  <files
    portability_mode="relative"
    default_encoding="System"
    readonly="false"
    maxfilesize="10485760"
    enforce_portability="false">
    <dir
      name=".">
      <dir
        name="..">
        <dir
          name="commons-jcs">
          <watched
            subdirs="true">
            <filter
              name="Java"/>
          </watched>
          <dir
            name="auxiliary-builds">
            <dir
              name="javagroups">
              <dir
                name="src">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="commons">
                        <dir
                          name="jcs">
                          <dir
                            name="auxiliary">
                            <dir
                              name="javagroups"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
                <dir
                  name="test">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="commons">
                        <dir
                          name="jcs">
                          <dir
                            name="auxiliary">
                            <dir
                              name="javagroups"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="jdk14">
              <dir
                name="src">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="commons">
                        <dir
                          name="jcs">
                          <dir
                            name="auxiliary">
                            <dir
                              name="javagroups"/>
                            <dir
                              name="lateral">
                              <dir
                                name="javagroups">
                                <dir
                                  name="behavior"/>
                                <dir
                                  name="utils"/>
                              </dir>
                            </dir>
                          </dir>
                          <dir
                            name="engine">
                            <dir
                              name="memory">
                              <dir
                                name="lru"/>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="commons-jcs-core">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="commons">
                        <dir
                          name="jcs3">
                          <dir
                            name="access">
                            <dir
                              name="behavior"/>
                            <dir
                              name="exception"/>
                          </dir>
                          <dir
                            name="admin"/>
                          <dir
                            name="auxiliary">
                            <dir
                              name="disk">
                              <dir
                                name="behavior"/>
                              <dir
                                name="block"/>
                              <dir
                                name="indexed"/>
                              <dir
                                name="jdbc">
                                <dir
                                  name="dsfactory"/>
                                <dir
                                  name="hsql"/>
                                <dir
                                  name="mysql">
                                  <dir
                                    name="util"/>
                                </dir>
                              </dir>
                            </dir>
                            <dir
                              name="lateral">
                              <dir
                                name="behavior"/>
                              <dir
                                name="socket">
                                <dir
                                  name="tcp">
                                  <dir
                                    name="behavior"/>
                                </dir>
                              </dir>
                            </dir>
                            <dir
                              name="remote">
                              <dir
                                name="behavior"/>
                              <dir
                                name="http">
                                <dir
                                  name="behavior"/>
                                <dir
                                  name="client">
                                  <dir
                                    name="behavior"/>
                                </dir>
                                <dir
                                  name="server"/>
                              </dir>
                              <dir
                                name="server">
                                <dir
                                  name="behavior"/>
                              </dir>
                              <dir
                                name="util"/>
                              <dir
                                name="value"/>
                            </dir>
                          </dir>
                          <dir
                            name="engine">
                            <dir
                              name="behavior"/>
                            <dir
                              name="control">
                              <dir
                                name="event">
                                <dir
                                  name="behavior"/>
                              </dir>
                              <dir
                                name="group"/>
                            </dir>
                            <dir
                              name="logging">
                              <dir
                                name="behavior"/>
                            </dir>
                            <dir
                              name="match">
                              <dir
                                name="behavior"/>
                            </dir>
                            <dir
                              name="memory">
                              <dir
                                name="behavior"/>
                              <dir
                                name="fifo"/>
                              <dir
                                name="lru"/>
                              <dir
                                name="mru"/>
                              <dir
                                name="shrinking"/>
                              <dir
                                name="soft"/>
                              <dir
                                name="util"/>
                            </dir>
                            <dir
                              name="stats">
                              <dir
                                name="behavior"/>
                            </dir>
                          </dir>
                          <dir
                            name="io"/>
                          <dir
                            name="log"/>
                          <dir
                            name="utils">
                            <dir
                              name="access"/>
                            <dir
                              name="config"/>
                            <dir
                              name="discovery">
                              <dir
                                name="behavior"/>
                            </dir>
                            <dir
                              name="net"/>
                            <dir
                              name="serialization"/>
                            <dir
                              name="servlet"/>
                            <dir
                              name="struct"/>
                            <dir
                              name="threadpool"/>
                            <dir
                              name="timing"/>
                            <dir
                              name="zip"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="commons">
                        <dir
                          name="jcs3">
                          <dir
                            name="access"/>
                          <dir
                            name="admin"/>
                          <dir
                            name="auxiliary">
                            <dir
                              name="disk">
                              <dir
                                name="block"/>
                              <dir
                                name="indexed"/>
                              <dir
                                name="jdbc">
                                <dir
                                  name="hsql"/>
                                <dir
                                  name="mysql">
                                  <dir
                                    name="util"/>
                                </dir>
                              </dir>
                            </dir>
                            <dir
                              name="lateral">
                              <dir
                                name="socket">
                                <dir
                                  name="tcp"/>
                              </dir>
                            </dir>
                            <dir
                              name="remote">
                              <dir
                                name="http">
                                <dir
                                  name="client"/>
                                <dir
                                  name="server"/>
                              </dir>
                              <dir
                                name="server"/>
                              <dir
                                name="util"/>
                            </dir>
                          </dir>
                          <dir
                            name="engine">
                            <dir
                              name="control">
                              <dir
                                name="event"/>
                            </dir>
                            <dir
                              name="logging"/>
                            <dir
                              name="match"/>
                            <dir
                              name="memory">
                              <dir
                                name="fifo"/>
                              <dir
                                name="lru"/>
                              <dir
                                name="mru"/>
                              <dir
                                name="shrinking"/>
                              <dir
                                name="soft"/>
                            </dir>
                          </dir>
                          <dir
                            name="utils">
                            <dir
                              name="access"/>
                            <dir
                              name="config"/>
                            <dir
                              name="discovery"/>
                            <dir
                              name="net"/>
                            <dir
                              name="props"/>
                            <dir
                              name="serialization"/>
                            <dir
                              name="struct"/>
                            <dir
                              name="threadpool"/>
                            <dir
                              name="timing"/>
                            <dir
                              name="zip"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="commons-jcs-jcache">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="commons">
                        <dir
                          name="jcs3">
                          <dir
                            name="jcache">
                            <dir
                              name="cdi"/>
                            <dir
                              name="jmx"/>
                            <dir
                              name="lang"/>
                            <dir
                              name="proxy"/>
                            <dir
                              name="serialization"/>
                            <dir
                              name="thread"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="commons">
                        <dir
                          name="jcs3">
                          <dir
                            name="jcache">
                            <dir
                              name="cdi"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="commons-jcs-jcache-extras">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="commons">
                        <dir
                          name="jcs3">
                          <dir
                            name="jcache">
                            <dir
                              name="extras">
                              <dir
                                name="cdi"/>
                              <dir
                                name="closeable"/>
                              <dir
                                name="loader"/>
                              <dir
                                name="web"/>
                              <dir
                                name="writer"/>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="commons">
                        <dir
                          name="jcs3">
                          <dir
                            name="jcache">
                            <dir
                              name="extras">
                              <dir
                                name="cdi"/>
                              <dir
                                name="loader"/>
                              <dir
                                name="web"/>
                              <dir
                                name="writer"/>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="commons-jcs-jcache-openjpa">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="commons">
                        <dir
                          name="jcs3">
                          <dir
                            name="jcache">
                            <dir
                              name="openjpa"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="commons">
                        <dir
                          name="jcs3">
                          <dir
                            name="jcache">
                            <dir
                              name="openjpa"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="commons-jcs-sandbox">
            <dir
              name="filecache">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="commons">
                          <dir
                            name="jcs">
                            <dir
                              name="auxiliary">
                              <dir
                                name="disk">
                                <dir
                                  name="file"/>
                              </dir>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
                <dir
                  name="test">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="commons">
                          <dir
                            name="jcs">
                            <dir
                              name="auxiliary">
                              <dir
                                name="disk">
                                <dir
                                  name="file"/>
                              </dir>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="partitioned">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="commons">
                          <dir
                            name="jcs">
                            <dir
                              name="access"/>
                            <dir
                              name="utils">
                              <dir
                                name="props"/>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="yajcache">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="commons">
                          <dir
                            name="jcs">
                            <dir
                              name="yajcache">
                              <dir
                                name="beans"/>
                              <dir
                                name="config"/>
                              <dir
                                name="core"/>
                              <dir
                                name="file"/>
                              <dir
                                name="lang">
                                <dir
                                  name="annotation"/>
                                <dir
                                  name="ref"/>
                              </dir>
                              <dir
                                name="soft"/>
                              <dir
                                name="util">
                                <dir
                                  name="concurrent">
                                  <dir
                                    name="locks"/>
                                </dir>
                              </dir>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
                <dir
                  name="test">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="commons">
                          <dir
                            name="jcs">
                            <dir
                              name="yajcache">
                              <dir
                                name="core"/>
                              <dir
                                name="file"/>
                              <dir
                                name="lang">
                                <dir
                                  name="annotation"/>
                              </dir>
                              <dir
                                name="soft"/>
                              <dir
                                name="util"/>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="commons-jcs-tck-tests">
            <dir
              name="src">
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="commons">
                        <dir
                          name="jcs3">
                          <dir
                            name="jcache"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="src">
            <dir
              name="experimental">
              <dir
                name="org">
                <dir
                  name="apache">
                  <dir
                    name="commons">
                    <dir
                      name="jcs">
                      <dir
                        name="auxiliary">
                        <dir
                          name="lateral">
                          <dir
                            name="http">
                            <dir
                              name="broadcast"/>
                            <dir
                              name="remove"/>
                            <dir
                              name="server"/>
                          </dir>
                          <dir
                            name="socket">
                            <dir
                              name="udp"/>
                          </dir>
                          <dir
                            name="xmlrpc">
                            <dir
                              name="behavior"/>
                            <dir
                              name="utils"/>
                          </dir>
                        </dir>
                      </dir>
                      <dir
                        name="engine">
                        <dir
                          name="memory">
                          <dir
                            name="arc"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
        </dir>
      </dir>
    </dir>
  </files>
  <languages>
    <language
      name="Java"/>
  </languages>
  <file_types/>
  <annotations_options/>
  <comparison_options
    comparison_db=""
    git_repo=""
    git_commit=""/>
  <imports/>
  <java_options
    count_javadoc_in_metrics="true"
    count_standard_in_max_inheritance="false"
    jni_kni_include_package_name="true"
    jni_kni_linkage_prepend_text="Java_"
    save_comments_associated_with_entities="true"
    version="Java10">
    <class_paths>
      <class_path
        path="C:/Program Files/Java/jdk-18.0.1.1/lib/src.zip"/>
      <class_path
        path="C:/Program Files/Java/jdk-18.0.1.1/jmods/java.base.jmod"/>
    </class_paths>
  </java_options>
</project>
