<project>
  <files
    portability_mode="relative"
    default_encoding="System"
    readonly="false"
    maxfilesize="10485760"
    enforce_portability="false">
    <dir
      name=".">
      <dir
        name="..">
        <dir
          name="ofbiz-framework">
          <watched
            subdirs="true">
            <filter
              name="Java"/>
          </watched>
          <dir
            name="applications">
            <dir
              name="accounting">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="ofbiz">
                          <dir
                            name="accounting">
                            <dir
                              name="agreement"/>
                            <dir
                              name="finaccount"/>
                            <dir
                              name="invoice"/>
                            <dir
                              name="ledger"/>
                            <dir
                              name="payment"/>
                            <dir
                              name="period"/>
                            <dir
                              name="tax"/>
                            <dir
                              name="test"/>
                            <dir
                              name="thirdparty">
                              <dir
                                name="authorizedotnet"/>
                              <dir
                                name="clearcommerce"/>
                              <dir
                                name="cybersource"/>
                              <dir
                                name="eway"/>
                              <dir
                                name="gosoftware"/>
                              <dir
                                name="orbital"/>
                              <dir
                                name="paypal"/>
                              <dir
                                name="sagepay"/>
                              <dir
                                name="securepay"/>
                              <dir
                                name="valuelink"/>
                              <dir
                                name="verisign"/>
                              <dir
                                name="worldpay"/>
                            </dir>
                            <dir
                              name="util"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="content">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="ofbiz">
                          <dir
                            name="content">
                            <dir
                              name="blog"/>
                            <dir
                              name="cms"/>
                            <dir
                              name="content"/>
                            <dir
                              name="data"/>
                            <dir
                              name="ftp"/>
                            <dir
                              name="layout"/>
                            <dir
                              name="output"/>
                            <dir
                              name="survey"/>
                            <dir
                              name="view"/>
                            <dir
                              name="webapp">
                              <dir
                                name="ftl"/>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="humanres">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="ofbiz">
                          <dir
                            name="humanres"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="manufacturing">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="ofbiz">
                          <dir
                            name="manufacturing">
                            <dir
                              name="bom"/>
                            <dir
                              name="jobshopmgt"/>
                            <dir
                              name="mrp"/>
                            <dir
                              name="routing"/>
                            <dir
                              name="techdata"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="marketing">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="ofbiz">
                          <dir
                            name="marketing">
                            <dir
                              name="marketing"/>
                            <dir
                              name="report"/>
                            <dir
                              name="tracking"/>
                          </dir>
                          <dir
                            name="sfa">
                            <dir
                              name="vcard"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="order">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="ofbiz">
                          <dir
                            name="order">
                            <dir
                              name="finaccount"/>
                            <dir
                              name="order"/>
                            <dir
                              name="quote"/>
                            <dir
                              name="requirement"/>
                            <dir
                              name="shoppingcart">
                              <dir
                                name="product"/>
                              <dir
                                name="shipping"/>
                            </dir>
                            <dir
                              name="shoppinglist"/>
                            <dir
                              name="task"/>
                            <dir
                              name="test"/>
                            <dir
                              name="thirdparty">
                              <dir
                                name="paypal"/>
                              <dir
                                name="taxware"/>
                              <dir
                                name="zipsales"/>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="party">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="ofbiz">
                          <dir
                            name="party">
                            <dir
                              name="communication"/>
                            <dir
                              name="contact"/>
                            <dir
                              name="content"/>
                            <dir
                              name="party"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="product">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="ofbiz">
                          <dir
                            name="product">
                            <dir
                              name="catalog"/>
                            <dir
                              name="category">
                              <dir
                                name="ftl"/>
                            </dir>
                            <dir
                              name="config"/>
                            <dir
                              name="feature"/>
                            <dir
                              name="image"/>
                            <dir
                              name="imagemanagement"/>
                            <dir
                              name="inventory"/>
                            <dir
                              name="migrate"/>
                            <dir
                              name="price"/>
                            <dir
                              name="product"/>
                            <dir
                              name="promo"/>
                            <dir
                              name="spreadsheetimport"/>
                            <dir
                              name="store"/>
                            <dir
                              name="subscription"/>
                            <dir
                              name="supplier"/>
                            <dir
                              name="test"/>
                          </dir>
                          <dir
                            name="shipment">
                            <dir
                              name="packing"/>
                            <dir
                              name="picklist"/>
                            <dir
                              name="shipment"/>
                            <dir
                              name="test"/>
                            <dir
                              name="thirdparty">
                              <dir
                                name="dhl"/>
                              <dir
                                name="fedex"/>
                              <dir
                                name="ups"/>
                              <dir
                                name="usps"/>
                            </dir>
                            <dir
                              name="verify"/>
                            <dir
                              name="weightPackage"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="securityext">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="ofbiz">
                          <dir
                            name="securityext">
                            <dir
                              name="cert"/>
                            <dir
                              name="login"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="workeffort">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="ofbiz">
                          <dir
                            name="workeffort">
                            <dir
                              name="content"/>
                            <dir
                              name="workeffort"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="docs">
            <dir
              name="asciidoc">
              <dir
                name="resource"/>
            </dir>
          </dir>
          <dir
            name="framework">
            <dir
              name="base">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="ofbiz">
                          <dir
                            name="base">
                            <dir
                              name="component"/>
                            <dir
                              name="concurrent"/>
                            <dir
                              name="config"/>
                            <dir
                              name="container"/>
                            <dir
                              name="conversion"/>
                            <dir
                              name="crypto"/>
                            <dir
                              name="html"/>
                            <dir
                              name="lang"/>
                            <dir
                              name="location"/>
                            <dir
                              name="log4j"/>
                            <dir
                              name="metrics"/>
                            <dir
                              name="test"/>
                            <dir
                              name="util">
                              <dir
                                name="cache"/>
                              <dir
                                name="collections">
                                <dir
                                  name="test"/>
                              </dir>
                              <dir
                                name="string">
                                <dir
                                  name="test"/>
                              </dir>
                              <dir
                                name="template"/>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
                <dir
                  name="test">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="ofbiz">
                          <dir
                            name="base">
                            <dir
                              name="collections"/>
                            <dir
                              name="container"/>
                            <dir
                              name="conversion"/>
                            <dir
                              name="lang"/>
                            <dir
                              name="test"/>
                            <dir
                              name="util">
                              <dir
                                name="cache"/>
                              <dir
                                name="collections"/>
                              <dir
                                name="template"/>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="catalina">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="ofbiz">
                          <dir
                            name="catalina">
                            <dir
                              name="container"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="common">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="ofbiz">
                          <dir
                            name="common">
                            <dir
                              name="authentication">
                              <dir
                                name="api"/>
                              <dir
                                name="example"/>
                            </dir>
                            <dir
                              name="email"/>
                            <dir
                              name="geo"/>
                            <dir
                              name="image"/>
                            <dir
                              name="login"/>
                            <dir
                              name="period"/>
                            <dir
                              name="preferences"/>
                            <dir
                              name="qrcode"/>
                            <dir
                              name="scripting"/>
                            <dir
                              name="status"/>
                            <dir
                              name="telecom"/>
                            <dir
                              name="test"/>
                            <dir
                              name="uom"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
                <dir
                  name="test">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="ofbiz">
                          <dir
                            name="common"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="datafile">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="ofbiz">
                          <dir
                            name="datafile"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="entity">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="ofbiz">
                          <dir
                            name="entity">
                            <dir
                              name="cache"/>
                            <dir
                              name="condition"/>
                            <dir
                              name="config">
                              <dir
                                name="model"/>
                            </dir>
                            <dir
                              name="connection"/>
                            <dir
                              name="datasource"/>
                            <dir
                              name="eca"/>
                            <dir
                              name="finder"/>
                            <dir
                              name="jdbc"/>
                            <dir
                              name="model"/>
                            <dir
                              name="serialize"/>
                            <dir
                              name="test"/>
                            <dir
                              name="testtools"/>
                            <dir
                              name="transaction"/>
                            <dir
                              name="util"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
                <dir
                  name="test">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="ofbiz">
                          <dir
                            name="entity">
                            <dir
                              name="util"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="entityext">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="ofbiz">
                          <dir
                            name="entityext">
                            <dir
                              name="cache"/>
                            <dir
                              name="data"/>
                            <dir
                              name="eca"/>
                            <dir
                              name="permission"/>
                            <dir
                              name="synchronization"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="minilang">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="ofbiz">
                          <dir
                            name="minilang">
                            <dir
                              name="artifact"/>
                            <dir
                              name="method">
                              <dir
                                name="callops"/>
                              <dir
                                name="conditional"/>
                              <dir
                                name="entityops"/>
                              <dir
                                name="envops"/>
                              <dir
                                name="eventops"/>
                              <dir
                                name="ifops"/>
                              <dir
                                name="otherops"/>
                              <dir
                                name="serviceops"/>
                            </dir>
                            <dir
                              name="operation"/>
                            <dir
                              name="test"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="security">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="ofbiz">
                          <dir
                            name="security"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
                <dir
                  name="test">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="ofbiz">
                          <dir
                            name="security"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="service">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="ofbiz">
                          <dir
                            name="service">
                            <dir
                              name="calendar"/>
                            <dir
                              name="config">
                              <dir
                                name="model"/>
                            </dir>
                            <dir
                              name="eca"/>
                            <dir
                              name="engine"/>
                            <dir
                              name="group"/>
                            <dir
                              name="jms"/>
                            <dir
                              name="job"/>
                            <dir
                              name="mail"/>
                            <dir
                              name="rmi">
                              <dir
                                name="socket">
                                <dir
                                  name="ssl"/>
                              </dir>
                            </dir>
                            <dir
                              name="semaphore"/>
                            <dir
                              name="test"/>
                            <dir
                              name="testtools"/>
                            <dir
                              name="xmlrpc"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="start">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="ofbiz">
                          <dir
                            name="base">
                            <dir
                              name="start"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
                <dir
                  name="test">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="ofbiz">
                          <dir
                            name="base">
                            <dir
                              name="start"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="testtools">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="ofbiz">
                          <dir
                            name="testtools"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="webapp">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="ofbiz">
                          <dir
                            name="webapp">
                            <dir
                              name="control"/>
                            <dir
                              name="event"/>
                            <dir
                              name="ftl"/>
                            <dir
                              name="stats"/>
                            <dir
                              name="taglib"/>
                            <dir
                              name="view"/>
                            <dir
                              name="webdav"/>
                            <dir
                              name="website"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
                <dir
                  name="test">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="ofbiz">
                          <dir
                            name="webapp">
                            <dir
                              name="control"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="webtools">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="ofbiz">
                          <dir
                            name="webtools">
                            <dir
                              name="artifactinfo"/>
                            <dir
                              name="labelmanager"/>
                            <dir
                              name="print"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="widget">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="ofbiz">
                          <dir
                            name="widget">
                            <dir
                              name="artifact"/>
                            <dir
                              name="cache"/>
                            <dir
                              name="content"/>
                            <dir
                              name="model"/>
                            <dir
                              name="portal"/>
                            <dir
                              name="renderer">
                              <dir
                                name="fo"/>
                              <dir
                                name="html"/>
                              <dir
                                name="macro">
                                <dir
                                  name="renderable"/>
                              </dir>
                            </dir>
                            <dir
                              name="test"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
                <dir
                  name="test">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="ofbiz">
                          <dir
                            name="widget">
                            <dir
                              name="model"/>
                            <dir
                              name="renderer">
                              <dir
                                name="macro"/>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
        </dir>
      </dir>
    </dir>
  </files>
  <languages>
    <language
      name="Java"/>
  </languages>
  <file_types/>
  <annotations_options/>
  <comparison_options
    comparison_db=""
    git_repo=""
    git_commit=""/>
  <imports/>
  <java_options
    count_javadoc_in_metrics="true"
    count_standard_in_max_inheritance="false"
    jni_kni_include_package_name="true"
    jni_kni_linkage_prepend_text="Java_"
    save_comments_associated_with_entities="true"
    version="Java10">
    <class_paths>
      <class_path
        path="C:/Program Files/Java/jdk-18.0.1.1/lib/src.zip"/>
      <class_path
        path="C:/Program Files/Java/jdk-18.0.1.1/jmods/java.base.jmod"/>
    </class_paths>
  </java_options>
</project>
