<project>
  <files
    portability_mode="relative"
    default_encoding="System"
    readonly="false"
    maxfilesize="10485760"
    enforce_portability="false">
    <dir
      name=".">
      <dir
        name="..">
        <dir
          name="giraph">
          <watched
            subdirs="true">
            <filter
              name="Java"/>
          </watched>
          <dir
            name="giraph-block-app">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="giraph">
                        <dir
                          name="block_app">
                          <dir
                            name="framework">
                            <dir
                              name="api">
                              <dir
                                name="giraph"/>
                              <dir
                                name="local"/>
                            </dir>
                            <dir
                              name="block"/>
                            <dir
                              name="internal"/>
                            <dir
                              name="output"/>
                            <dir
                              name="piece">
                              <dir
                                name="delegate"/>
                              <dir
                                name="global_comm">
                                <dir
                                  name="array"/>
                                <dir
                                  name="internal"/>
                                <dir
                                  name="map"/>
                              </dir>
                              <dir
                                name="interfaces"/>
                              <dir
                                name="messages"/>
                            </dir>
                          </dir>
                          <dir
                            name="library">
                            <dir
                              name="gc"/>
                            <dir
                              name="internal"/>
                            <dir
                              name="iteration"/>
                            <dir
                              name="striping"/>
                          </dir>
                          <dir
                            name="migration"/>
                          <dir
                            name="reducers">
                            <dir
                              name="array"/>
                            <dir
                              name="collect"/>
                            <dir
                              name="map"/>
                          </dir>
                          <dir
                            name="test_setup">
                            <dir
                              name="graphs"/>
                          </dir>
                        </dir>
                        <dir
                          name="object"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="giraph">
                        <dir
                          name="block_app">
                          <dir
                            name="framework">
                            <dir
                              name="block"/>
                          </dir>
                          <dir
                            name="reducers">
                            <dir
                              name="array"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="giraph-block-app-8">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="giraph">
                        <dir
                          name="block_app">
                          <dir
                            name="library">
                            <dir
                              name="algo"/>
                            <dir
                              name="coarsening"/>
                            <dir
                              name="connected_components"/>
                            <dir
                              name="pagerank"/>
                            <dir
                              name="prepare_graph">
                              <dir
                                name="vertex"/>
                            </dir>
                            <dir
                              name="stats"/>
                            <dir
                              name="triangles"/>
                          </dir>
                        </dir>
                        <dir
                          name="compiling"/>
                        <dir
                          name="function">
                          <dir
                            name="primitive">
                            <dir
                              name="comparators"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="giraph">
                        <dir
                          name="block_app">
                          <dir
                            name="examples">
                            <dir
                              name="pagerank"/>
                          </dir>
                          <dir
                            name="framework">
                            <dir
                              name="api">
                              <dir
                                name="local"/>
                            </dir>
                            <dir
                              name="no_vtx"/>
                          </dir>
                          <dir
                            name="library">
                            <dir
                              name="algo"/>
                            <dir
                              name="coarsening"/>
                            <dir
                              name="connected_components"/>
                            <dir
                              name="pagerank"/>
                            <dir
                              name="prepare_graph"/>
                            <dir
                              name="triangles"/>
                          </dir>
                        </dir>
                        <dir
                          name="compiling"/>
                        <dir
                          name="writable">
                          <dir
                            name="kryo"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="giraph-core">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="com">
                    <dir
                      name="yammer">
                      <dir
                        name="metrics">
                        <dir
                          name="core"/>
                      </dir>
                    </dir>
                  </dir>
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="giraph">
                        <dir
                          name="aggregators">
                          <dir
                            name="matrix">
                            <dir
                              name="dense"/>
                            <dir
                              name="sparse"/>
                          </dir>
                        </dir>
                        <dir
                          name="benchmark"/>
                        <dir
                          name="bsp">
                          <dir
                            name="checkpoints"/>
                        </dir>
                        <dir
                          name="combiner"/>
                        <dir
                          name="comm">
                          <dir
                            name="aggregators"/>
                          <dir
                            name="flow_control"/>
                          <dir
                            name="messages">
                            <dir
                              name="primitives">
                              <dir
                                name="long_id"/>
                            </dir>
                            <dir
                              name="queue"/>
                          </dir>
                          <dir
                            name="netty">
                            <dir
                              name="handler"/>
                          </dir>
                          <dir
                            name="requests"/>
                        </dir>
                        <dir
                          name="conf"/>
                        <dir
                          name="counters"/>
                        <dir
                          name="edge">
                          <dir
                            name="primitives"/>
                        </dir>
                        <dir
                          name="factories"/>
                        <dir
                          name="function">
                          <dir
                            name="primitive">
                            <dir
                              name="pairs"/>
                          </dir>
                          <dir
                            name="vertex"/>
                        </dir>
                        <dir
                          name="graph"/>
                        <dir
                          name="io">
                          <dir
                            name="filters"/>
                          <dir
                            name="formats">
                            <dir
                              name="multi"/>
                          </dir>
                          <dir
                            name="internal"/>
                          <dir
                            name="iterables"/>
                          <dir
                            name="superstep_output"/>
                        </dir>
                        <dir
                          name="job"/>
                        <dir
                          name="jython">
                          <dir
                            name="factories"/>
                          <dir
                            name="wrappers"/>
                        </dir>
                        <dir
                          name="mapping">
                          <dir
                            name="translate"/>
                        </dir>
                        <dir
                          name="master">
                          <dir
                            name="input"/>
                        </dir>
                        <dir
                          name="metrics"/>
                        <dir
                          name="ooc">
                          <dir
                            name="command"/>
                          <dir
                            name="data"/>
                          <dir
                            name="persistence"/>
                          <dir
                            name="policy"/>
                        </dir>
                        <dir
                          name="partition"/>
                        <dir
                          name="reducers">
                          <dir
                            name="impl"/>
                        </dir>
                        <dir
                          name="scripting"/>
                        <dir
                          name="time"/>
                        <dir
                          name="types">
                          <dir
                            name="heaps"/>
                          <dir
                            name="ops">
                            <dir
                              name="collections">
                              <dir
                                name="array"/>
                            </dir>
                          </dir>
                        </dir>
                        <dir
                          name="utils">
                          <dir
                            name="hashing"/>
                          <dir
                            name="io"/>
                        </dir>
                        <dir
                          name="worker"/>
                        <dir
                          name="writable">
                          <dir
                            name="kryo">
                            <dir
                              name="markers"/>
                            <dir
                              name="serializers"/>
                          </dir>
                          <dir
                            name="tuple"/>
                        </dir>
                        <dir
                          name="yarn"/>
                        <dir
                          name="zk"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="giraph">
                        <dir
                          name="aggregators">
                          <dir
                            name="matrix">
                            <dir
                              name="dense"/>
                            <dir
                              name="sparse"/>
                          </dir>
                        </dir>
                        <dir
                          name="comm">
                          <dir
                            name="messages">
                            <dir
                              name="queue"/>
                          </dir>
                        </dir>
                        <dir
                          name="conf"/>
                        <dir
                          name="edge"/>
                        <dir
                          name="generate"/>
                        <dir
                          name="graph"/>
                        <dir
                          name="io"/>
                        <dir
                          name="jython"/>
                        <dir
                          name="master"/>
                        <dir
                          name="partition"/>
                        <dir
                          name="reducers">
                          <dir
                            name="impl"/>
                        </dir>
                        <dir
                          name="types">
                          <dir
                            name="heaps"/>
                        </dir>
                        <dir
                          name="utils">
                          <dir
                            name="hashing"/>
                          <dir
                            name="io"/>
                        </dir>
                        <dir
                          name="writable">
                          <dir
                            name="kryo"/>
                        </dir>
                        <dir
                          name="yarn"/>
                        <dir
                          name="zk"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="templates"/>
          </dir>
          <dir
            name="giraph-debugger">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="giraph">
                        <dir
                          name="debugger">
                          <dir
                            name="examples">
                            <dir
                              name="bipartitematching"/>
                            <dir
                              name="exceptiondebug"/>
                            <dir
                              name="graphcoloring"/>
                            <dir
                              name="instrumented"/>
                            <dir
                              name="integrity"/>
                            <dir
                              name="mwm"/>
                            <dir
                              name="pagerank"/>
                            <dir
                              name="randomwalk"/>
                            <dir
                              name="simpledebug"/>
                          </dir>
                          <dir
                            name="gui"/>
                          <dir
                            name="instrumenter"/>
                          <dir
                            name="mock"/>
                          <dir
                            name="utils"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="giraph">
                        <dir
                          name="debugger">
                          <dir
                            name="instrumenter">
                            <dir
                              name="test">
                              <dir
                                name="basecompute"/>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="giraph-examples">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="giraph">
                        <dir
                          name="examples">
                          <dir
                            name="block_app"/>
                          <dir
                            name="io">
                            <dir
                              name="formats"/>
                          </dir>
                          <dir
                            name="scc"/>
                          <dir
                            name="utils"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="giraph">
                        <dir
                          name="aggregators"/>
                        <dir
                          name="examples">
                          <dir
                            name="block_app"/>
                          <dir
                            name="scc"/>
                        </dir>
                        <dir
                          name="vertex"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
        </dir>
      </dir>
    </dir>
  </files>
  <languages>
    <language
      name="Java"/>
  </languages>
  <file_types/>
  <annotations_options/>
  <comparison_options
    comparison_db=""
    git_repo=""
    git_commit=""/>
  <imports/>
  <java_options
    count_javadoc_in_metrics="true"
    count_standard_in_max_inheritance="false"
    jni_kni_include_package_name="true"
    jni_kni_linkage_prepend_text="Java_"
    save_comments_associated_with_entities="true"
    version="Java10">
    <class_paths>
      <class_path
        path="C:/Program Files/Java/jdk-18.0.1.1/lib/src.zip"/>
      <class_path
        path="C:/Program Files/Java/jdk-18.0.1.1/jmods/java.base.jmod"/>
    </class_paths>
  </java_options>
</project>
