<project>
  <files
    portability_mode="relative"
    default_encoding="System"
    readonly="false"
    maxfilesize="10485760"
    enforce_portability="false">
    <dir
      name=".">
      <dir
        name="..">
        <dir
          name="ant-ivy">
          <watched
            subdirs="true">
            <filter
              name="Java"/>
          </watched>
          <dir
            name="asciidoc">
            <dir
              name="templates">
              <dir
                name="extensions">
                <dir
                  name="src">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="ivy">
                        <dir
                          name="asciidoc"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="src">
            <dir
              name="example">
              <dir
                name="chained-resolvers">
                <dir
                  name="chainedresolvers-project">
                  <dir
                    name="src">
                    <dir
                      name="example"/>
                  </dir>
                </dir>
              </dir>
              <dir
                name="configurations">
                <dir
                  name="jdbc-example">
                  <dir
                    name="src">
                    <dir
                      name="example"/>
                  </dir>
                </dir>
                <dir
                  name="multi-projects">
                  <dir
                    name="filter-framework">
                    <dir
                      name="src">
                      <dir
                        name="filter">
                        <dir
                          name="ccimpl"/>
                        <dir
                          name="hmimpl"/>
                      </dir>
                    </dir>
                    <dir
                      name="test">
                      <dir
                        name="filter">
                        <dir
                          name="ccimpl"/>
                        <dir
                          name="hmimpl"/>
                      </dir>
                    </dir>
                  </dir>
                  <dir
                    name="myapp">
                    <dir
                      name="src">
                      <dir
                        name="myapp"/>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="dependence">
                <dir
                  name="dependee">
                  <dir
                    name="src">
                    <dir
                      name="standalone"/>
                  </dir>
                </dir>
                <dir
                  name="depender">
                  <dir
                    name="src">
                    <dir
                      name="depending"/>
                  </dir>
                </dir>
              </dir>
              <dir
                name="dual">
                <dir
                  name="project">
                  <dir
                    name="src">
                    <dir
                      name="example"/>
                  </dir>
                </dir>
              </dir>
              <dir
                name="hello-ivy">
                <dir
                  name="src">
                  <dir
                    name="example"/>
                </dir>
              </dir>
              <dir
                name="multi-project">
                <dir
                  name="projects">
                  <dir
                    name="console">
                    <dir
                      name="src">
                      <dir
                        name="console"/>
                    </dir>
                  </dir>
                  <dir
                    name="find">
                    <dir
                      name="src">
                      <dir
                        name="find"/>
                    </dir>
                  </dir>
                  <dir
                    name="list">
                    <dir
                      name="src">
                      <dir
                        name="list"/>
                    </dir>
                  </dir>
                  <dir
                    name="size">
                    <dir
                      name="src">
                      <dir
                        name="size"/>
                    </dir>
                  </dir>
                  <dir
                    name="sizewhere">
                    <dir
                      name="src">
                      <dir
                        name="sizewhere"/>
                    </dir>
                  </dir>
                  <dir
                    name="version">
                    <dir
                      name="src">
                      <dir
                        name="version"/>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="java">
              <dir
                name="org">
                <dir
                  name="apache">
                  <dir
                    name="ivy">
                    <dir
                      name="ant"/>
                    <dir
                      name="core">
                      <dir
                        name="cache"/>
                      <dir
                        name="check"/>
                      <dir
                        name="deliver"/>
                      <dir
                        name="event">
                        <dir
                          name="download"/>
                        <dir
                          name="publish"/>
                        <dir
                          name="resolve"/>
                        <dir
                          name="retrieve"/>
                      </dir>
                      <dir
                        name="install"/>
                      <dir
                        name="module">
                        <dir
                          name="descriptor"/>
                        <dir
                          name="id"/>
                        <dir
                          name="status"/>
                      </dir>
                      <dir
                        name="pack"/>
                      <dir
                        name="publish"/>
                      <dir
                        name="report"/>
                      <dir
                        name="repository"/>
                      <dir
                        name="resolve"/>
                      <dir
                        name="retrieve"/>
                      <dir
                        name="search"/>
                      <dir
                        name="settings"/>
                      <dir
                        name="sort"/>
                    </dir>
                    <dir
                      name="osgi">
                      <dir
                        name="core"/>
                      <dir
                        name="filter"/>
                      <dir
                        name="obr">
                        <dir
                          name="xml"/>
                      </dir>
                      <dir
                        name="p2"/>
                      <dir
                        name="repo"/>
                      <dir
                        name="updatesite">
                        <dir
                          name="xml"/>
                      </dir>
                      <dir
                        name="util"/>
                    </dir>
                    <dir
                      name="plugins">
                      <dir
                        name="circular"/>
                      <dir
                        name="conflict"/>
                      <dir
                        name="latest"/>
                      <dir
                        name="lock"/>
                      <dir
                        name="matcher"/>
                      <dir
                        name="namespace"/>
                      <dir
                        name="parser">
                        <dir
                          name="m2"/>
                        <dir
                          name="xml"/>
                      </dir>
                      <dir
                        name="report"/>
                      <dir
                        name="repository">
                        <dir
                          name="file"/>
                        <dir
                          name="jar"/>
                        <dir
                          name="sftp"/>
                        <dir
                          name="ssh"/>
                        <dir
                          name="url"/>
                        <dir
                          name="vfs"/>
                        <dir
                          name="vsftp"/>
                      </dir>
                      <dir
                        name="resolver">
                        <dir
                          name="packager"/>
                        <dir
                          name="util"/>
                      </dir>
                      <dir
                        name="signer">
                        <dir
                          name="bouncycastle"/>
                      </dir>
                      <dir
                        name="trigger"/>
                      <dir
                        name="version"/>
                    </dir>
                    <dir
                      name="tools">
                      <dir
                        name="analyser"/>
                    </dir>
                    <dir
                      name="util">
                      <dir
                        name="cli"/>
                      <dir
                        name="extendable"/>
                      <dir
                        name="filter"/>
                      <dir
                        name="url"/>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="test">
            <dir
              name="custom-classpath">
              <dir
                name="org">
                <dir
                  name="apache">
                  <dir
                    name="ivy">
                    <dir
                      name="plugins">
                      <dir
                        name="resolver"/>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="java">
              <dir
                name="org">
                <dir
                  name="apache">
                  <dir
                    name="ivy">
                    <dir
                      name="ant">
                      <dir
                        name="testutil"/>
                    </dir>
                    <dir
                      name="core">
                      <dir
                        name="cache"/>
                      <dir
                        name="deliver"/>
                      <dir
                        name="event"/>
                      <dir
                        name="install"/>
                      <dir
                        name="module">
                        <dir
                          name="descriptor"/>
                        <dir
                          name="id"/>
                      </dir>
                      <dir
                        name="publish"/>
                      <dir
                        name="report"/>
                      <dir
                        name="repository"/>
                      <dir
                        name="resolve"/>
                      <dir
                        name="retrieve"/>
                      <dir
                        name="search"/>
                      <dir
                        name="settings"/>
                      <dir
                        name="sort"/>
                    </dir>
                    <dir
                      name="osgi">
                      <dir
                        name="core"/>
                      <dir
                        name="filter"/>
                      <dir
                        name="obr"/>
                      <dir
                        name="p2"/>
                      <dir
                        name="repo"/>
                      <dir
                        name="updatesite"/>
                      <dir
                        name="util"/>
                    </dir>
                    <dir
                      name="plugins">
                      <dir
                        name="circular"/>
                      <dir
                        name="conflict"/>
                      <dir
                        name="latest"/>
                      <dir
                        name="lock"/>
                      <dir
                        name="matcher"/>
                      <dir
                        name="namespace"/>
                      <dir
                        name="parser">
                        <dir
                          name="m2"/>
                        <dir
                          name="xml"/>
                      </dir>
                      <dir
                        name="report"/>
                      <dir
                        name="repository">
                        <dir
                          name="vfs"/>
                      </dir>
                      <dir
                        name="resolver">
                        <dir
                          name="util"/>
                      </dir>
                      <dir
                        name="trigger"/>
                      <dir
                        name="version"/>
                    </dir>
                    <dir
                      name="util">
                      <dir
                        name="url"/>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
        </dir>
      </dir>
    </dir>
  </files>
  <languages>
    <language
      name="Java"/>
  </languages>
  <file_types/>
  <annotations_options/>
  <comparison_options
    comparison_db=""
    git_repo=""
    git_commit=""/>
  <imports/>
  <java_options
    count_javadoc_in_metrics="true"
    count_standard_in_max_inheritance="false"
    jni_kni_include_package_name="true"
    jni_kni_linkage_prepend_text="Java_"
    save_comments_associated_with_entities="true"
    version="Java10">
    <class_paths>
      <class_path
        path="C:/Program Files/Java/jdk-18.0.1.1/lib/src.zip"/>
      <class_path
        path="C:/Program Files/Java/jdk-18.0.1.1/jmods/java.base.jmod"/>
    </class_paths>
  </java_options>
</project>
