<project>
  <files
    portability_mode="relative"
    default_encoding="System"
    readonly="false"
    maxfilesize="10485760"
    enforce_portability="false">
    <dir
      name=".">
      <dir
        name="..">
        <dir
          name="jspwiki">
          <watched
            subdirs="true">
            <filter
              name="Java"/>
          </watched>
          <dir
            name="jspwiki-210-adapters">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="wiki">
                        <dir
                          name="api">
                          <dir
                            name="filters"/>
                          <dir
                            name="plugin"/>
                        </dir>
                        <dir
                          name="providers"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="wiki">
                        <dir
                          name="filters"/>
                        <dir
                          name="plugin"/>
                        <dir
                          name="providers"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="jspwiki-210-test-adaptees">
            <dir
              name="src">
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="com">
                    <dir
                      name="example">
                      <dir
                        name="filters"/>
                      <dir
                        name="plugins"/>
                      <dir
                        name="providers"/>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="jspwiki-api">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="wiki">
                        <dir
                          name="api">
                          <dir
                            name="core"/>
                          <dir
                            name="engine"/>
                          <dir
                            name="exceptions"/>
                          <dir
                            name="filters"/>
                          <dir
                            name="plugin"/>
                          <dir
                            name="providers"/>
                          <dir
                            name="search"/>
                          <dir
                            name="spi"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="wiki">
                        <dir
                          name="api">
                          <dir
                            name="core"/>
                          <dir
                            name="engine"/>
                          <dir
                            name="filters"/>
                          <dir
                            name="spi"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="jspwiki-bootstrap">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="wiki">
                        <dir
                          name="bootstrap"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="wiki">
                        <dir
                          name="bootstrap">
                          <dir
                            name="spi"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="jspwiki-cache">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="wiki">
                        <dir
                          name="cache"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="wiki">
                        <dir
                          name="cache"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="jspwiki-event">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="wiki">
                        <dir
                          name="event"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="wiki">
                        <dir
                          name="event"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="jspwiki-http">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="wiki">
                        <dir
                          name="http">
                          <dir
                            name="filter"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="jspwiki-it-tests">
            <dir
              name="jspwiki-selenide-tests">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="wiki">
                          <dir
                            name="its">
                            <dir
                              name="environment"/>
                          </dir>
                          <dir
                            name="pages">
                            <dir
                              name="haddock"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="jspwiki-kendra-searchprovider">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="wiki">
                        <dir
                          name="search">
                          <dir
                            name="kendra"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="wiki">
                        <dir
                          name="search">
                          <dir
                            name="kendra"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="jspwiki-main">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="wiki">
                        <dir
                          name="ajax"/>
                        <dir
                          name="attachment"/>
                        <dir
                          name="auth">
                          <dir
                            name="acl"/>
                          <dir
                            name="authorize"/>
                          <dir
                            name="login"/>
                          <dir
                            name="permissions"/>
                          <dir
                            name="user"/>
                        </dir>
                        <dir
                          name="content"/>
                        <dir
                          name="diff"/>
                        <dir
                          name="filters"/>
                        <dir
                          name="forms"/>
                        <dir
                          name="i18n"/>
                        <dir
                          name="management"/>
                        <dir
                          name="modules"/>
                        <dir
                          name="pages"/>
                        <dir
                          name="parser"/>
                        <dir
                          name="plugin"/>
                        <dir
                          name="preferences"/>
                        <dir
                          name="providers"/>
                        <dir
                          name="references"/>
                        <dir
                          name="render"/>
                        <dir
                          name="rpc">
                          <dir
                            name="atom"/>
                        </dir>
                        <dir
                          name="rss"/>
                        <dir
                          name="search"/>
                        <dir
                          name="spi"/>
                        <dir
                          name="tags"/>
                        <dir
                          name="tasks">
                          <dir
                            name="auth"/>
                          <dir
                            name="pages"/>
                        </dir>
                        <dir
                          name="ui">
                          <dir
                            name="admin">
                            <dir
                              name="beans"/>
                          </dir>
                          <dir
                            name="progress"/>
                        </dir>
                        <dir
                          name="url"/>
                        <dir
                          name="variables"/>
                        <dir
                          name="workflow"/>
                        <dir
                          name="xmlrpc"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="wiki">
                        <dir
                          name="ajax"/>
                        <dir
                          name="attachment"/>
                        <dir
                          name="auth">
                          <dir
                            name="acl"/>
                          <dir
                            name="authorize"/>
                          <dir
                            name="login"/>
                          <dir
                            name="permissions"/>
                          <dir
                            name="user"/>
                        </dir>
                        <dir
                          name="content"/>
                        <dir
                          name="diff"/>
                        <dir
                          name="filters"/>
                        <dir
                          name="i18n"/>
                        <dir
                          name="pages"/>
                        <dir
                          name="parser"/>
                        <dir
                          name="plugin"/>
                        <dir
                          name="providers"/>
                        <dir
                          name="references"/>
                        <dir
                          name="render"/>
                        <dir
                          name="rss"/>
                        <dir
                          name="search"/>
                        <dir
                          name="stress"/>
                        <dir
                          name="tasks">
                          <dir
                            name="pages"/>
                        </dir>
                        <dir
                          name="ui">
                          <dir
                            name="admin">
                            <dir
                              name="beans"/>
                          </dir>
                        </dir>
                        <dir
                          name="url"/>
                        <dir
                          name="variables"/>
                        <dir
                          name="web"/>
                        <dir
                          name="workflow"/>
                        <dir
                          name="xmlrpc"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="jspwiki-markdown">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="wiki">
                        <dir
                          name="htmltowiki">
                          <dir
                            name="syntax">
                            <dir
                              name="markdown"/>
                          </dir>
                        </dir>
                        <dir
                          name="markdown">
                          <dir
                            name="extensions">
                            <dir
                              name="jspwikilinks">
                              <dir
                                name="attributeprovider"/>
                              <dir
                                name="postprocessor"/>
                            </dir>
                          </dir>
                          <dir
                            name="nodes"/>
                          <dir
                            name="renderer"/>
                        </dir>
                        <dir
                          name="parser">
                          <dir
                            name="markdown"/>
                        </dir>
                        <dir
                          name="render">
                          <dir
                            name="markdown"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="wiki">
                        <dir
                          name="htmltowiki">
                          <dir
                            name="syntax">
                            <dir
                              name="markdown"/>
                          </dir>
                        </dir>
                        <dir
                          name="markdown">
                          <dir
                            name="migration">
                            <dir
                              name="filters"/>
                            <dir
                              name="parser"/>
                          </dir>
                        </dir>
                        <dir
                          name="render">
                          <dir
                            name="markdown"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="jspwiki-tika-searchprovider">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="wiki">
                        <dir
                          name="search">
                          <dir
                            name="tika"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="wiki">
                        <dir
                          name="search">
                          <dir
                            name="tika"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="jspwiki-util">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="wiki">
                        <dir
                          name="util">
                          <dir
                            name="comparators"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="wiki">
                        <dir
                          name="util">
                          <dir
                            name="comparators"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="jspwiki-wysiwyg">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="wiki">
                        <dir
                          name="htmltowiki">
                          <dir
                            name="syntax">
                            <dir
                              name="jspwiki"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="wiki">
                        <dir
                          name="htmltowiki"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
        </dir>
      </dir>
    </dir>
  </files>
  <languages>
    <language
      name="Java"/>
  </languages>
  <file_types/>
  <annotations_options/>
  <comparison_options
    comparison_db=""
    git_repo=""
    git_commit=""/>
  <imports/>
  <java_options
    count_javadoc_in_metrics="true"
    count_standard_in_max_inheritance="false"
    jni_kni_include_package_name="true"
    jni_kni_linkage_prepend_text="Java_"
    save_comments_associated_with_entities="true"
    version="Java10">
    <class_paths>
      <class_path
        path="C:/Program Files/Java/jdk-18.0.1.1/lib/src.zip"/>
      <class_path
        path="C:/Program Files/Java/jdk-18.0.1.1/jmods/java.base.jmod"/>
    </class_paths>
  </java_options>
</project>
