<project>
  <files
    portability_mode="relative"
    default_encoding="System"
    readonly="false"
    maxfilesize="10485760"
    enforce_portability="false">
    <dir
      name=".">
      <dir
        name="..">
        <dir
          name="tajo">
          <watched
            subdirs="true">
            <filter
              name="Java"/>
          </watched>
          <dir
            name="tajo-algebra">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="tajo">
                        <dir
                          name="algebra"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="tajo">
                        <dir
                          name="algebra"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="tajo-catalog">
            <dir
              name="tajo-catalog-client">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="tajo">
                          <dir
                            name="catalog"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="tajo-catalog-common">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="tajo">
                          <dir
                            name="catalog">
                            <dir
                              name="json"/>
                            <dir
                              name="partition"/>
                            <dir
                              name="statistics"/>
                          </dir>
                          <dir
                            name="function"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
                <dir
                  name="test">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="tajo">
                          <dir
                            name="catalog">
                            <dir
                              name="statistics"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="tajo-catalog-drivers">
              <dir
                name="tajo-hive">
                <dir
                  name="src">
                  <dir
                    name="main">
                    <dir
                      name="java">
                      <dir
                        name="org">
                        <dir
                          name="apache">
                          <dir
                            name="tajo">
                            <dir
                              name="catalog">
                              <dir
                                name="store"/>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                  <dir
                    name="test">
                    <dir
                      name="java">
                      <dir
                        name="org">
                        <dir
                          name="apache">
                          <dir
                            name="tajo">
                            <dir
                              name="catalog">
                              <dir
                                name="store"/>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="tajo-catalog-server">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="tajo">
                          <dir
                            name="catalog">
                            <dir
                              name="dictionary"/>
                            <dir
                              name="store">
                              <dir
                                name="object"/>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
                <dir
                  name="test">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="tajo">
                          <dir
                            name="catalog">
                            <dir
                              name="store"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="tajo-cli">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="tajo">
                        <dir
                          name="cli">
                          <dir
                            name="tools"/>
                          <dir
                            name="tsql">
                            <dir
                              name="commands"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="tajo-client">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="tajo">
                        <dir
                          name="client">
                          <dir
                            name="v2">
                            <dir
                              name="exception"/>
                          </dir>
                        </dir>
                        <dir
                          name="jdbc"/>
                        <dir
                          name="storage"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="tajo-client-example">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="tajo">
                        <dir
                          name="client">
                          <dir
                            name="v1">
                            <dir
                              name="example"/>
                          </dir>
                          <dir
                            name="v2">
                            <dir
                              name="example"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="tajo-cluster-tests">
            <dir
              name="src">
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="tajo"/>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="tajo-common">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="tajo">
                        <dir
                          name="annotation"/>
                        <dir
                          name="auth"/>
                        <dir
                          name="common">
                          <dir
                            name="type"/>
                        </dir>
                        <dir
                          name="conf"/>
                        <dir
                          name="datum">
                          <dir
                            name="protobuf"/>
                        </dir>
                        <dir
                          name="exception"/>
                        <dir
                          name="ha"/>
                        <dir
                          name="json"/>
                        <dir
                          name="rule">
                          <dir
                            name="base"/>
                        </dir>
                        <dir
                          name="schema"/>
                        <dir
                          name="service"/>
                        <dir
                          name="storage"/>
                        <dir
                          name="tuple">
                          <dir
                            name="memory"/>
                        </dir>
                        <dir
                          name="type"/>
                        <dir
                          name="unit"/>
                        <dir
                          name="util">
                          <dir
                            name="datetime"/>
                          <dir
                            name="graph"/>
                        </dir>
                        <dir
                          name="validation"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="tajo">
                        <dir
                          name="common">
                          <dir
                            name="type"/>
                        </dir>
                        <dir
                          name="datum">
                          <dir
                            name="protobuf"/>
                        </dir>
                        <dir
                          name="rule"/>
                        <dir
                          name="schema"/>
                        <dir
                          name="tuple">
                          <dir
                            name="memory"/>
                        </dir>
                        <dir
                          name="type"/>
                        <dir
                          name="util">
                          <dir
                            name="graph"/>
                        </dir>
                        <dir
                          name="validation"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="tajo-core">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="tajo">
                        <dir
                          name="benchmark"/>
                        <dir
                          name="engine">
                          <dir
                            name="codegen"/>
                          <dir
                            name="exception"/>
                          <dir
                            name="function">
                            <dir
                              name="annotation"/>
                            <dir
                              name="builtin"/>
                            <dir
                              name="datetime"/>
                            <dir
                              name="geoip"/>
                            <dir
                              name="hiveudf"/>
                            <dir
                              name="json"/>
                            <dir
                              name="math"/>
                            <dir
                              name="string"/>
                            <dir
                              name="window"/>
                          </dir>
                          <dir
                            name="json"/>
                          <dir
                            name="planner">
                            <dir
                              name="enforce"/>
                            <dir
                              name="global">
                              <dir
                                name="builder"/>
                              <dir
                                name="rewriter">
                                <dir
                                  name="rules"/>
                              </dir>
                            </dir>
                            <dir
                              name="physical"/>
                          </dir>
                          <dir
                            name="query"/>
                          <dir
                            name="utils">
                            <dir
                              name="test"/>
                          </dir>
                        </dir>
                        <dir
                          name="ha"/>
                        <dir
                          name="io"/>
                        <dir
                          name="master">
                          <dir
                            name="cluster"/>
                          <dir
                            name="event"/>
                          <dir
                            name="exec">
                            <dir
                              name="prehook"/>
                          </dir>
                          <dir
                            name="rm"/>
                          <dir
                            name="rule"/>
                          <dir
                            name="scheduler">
                            <dir
                              name="event"/>
                          </dir>
                        </dir>
                        <dir
                          name="metrics"/>
                        <dir
                          name="parser">
                          <dir
                            name="sql"/>
                        </dir>
                        <dir
                          name="querymaster"/>
                        <dir
                          name="resource"/>
                        <dir
                          name="session"/>
                        <dir
                          name="util">
                          <dir
                            name="history"/>
                          <dir
                            name="metrics">
                            <dir
                              name="reporter"/>
                          </dir>
                        </dir>
                        <dir
                          name="webapp"/>
                        <dir
                          name="worker">
                          <dir
                            name="event"/>
                          <dir
                            name="rule"/>
                        </dir>
                        <dir
                          name="ws">
                          <dir
                            name="rs">
                            <dir
                              name="annotation"/>
                            <dir
                              name="requests"/>
                            <dir
                              name="resources">
                              <dir
                                name="outputs"/>
                            </dir>
                            <dir
                              name="responses"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="tajo-core-tests">
            <dir
              name="src">
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="tajo">
                        <dir
                          name="benchmark"/>
                        <dir
                          name="cli">
                          <dir
                            name="tools"/>
                          <dir
                            name="tsql">
                            <dir
                              name="commands"/>
                          </dir>
                        </dir>
                        <dir
                          name="client">
                          <dir
                            name="v2"/>
                        </dir>
                        <dir
                          name="cluster"/>
                        <dir
                          name="engine">
                          <dir
                            name="codegen"/>
                          <dir
                            name="eval"/>
                          <dir
                            name="function">
                            <dir
                              name="hiveudf"/>
                          </dir>
                          <dir
                            name="planner">
                            <dir
                              name="global"/>
                            <dir
                              name="physical"/>
                          </dir>
                          <dir
                            name="query"/>
                          <dir
                            name="util"/>
                        </dir>
                        <dir
                          name="ha"/>
                        <dir
                          name="master">
                          <dir
                            name="rule"/>
                          <dir
                            name="scheduler"/>
                        </dir>
                        <dir
                          name="parser">
                          <dir
                            name="sql"/>
                        </dir>
                        <dir
                          name="querymaster"/>
                        <dir
                          name="resource"/>
                        <dir
                          name="storage"/>
                        <dir
                          name="util">
                          <dir
                            name="history"/>
                          <dir
                            name="metrics"/>
                        </dir>
                        <dir
                          name="worker"/>
                        <dir
                          name="ws">
                          <dir
                            name="rs">
                            <dir
                              name="resources"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="tajo-jdbc">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="tajo">
                        <dir
                          name="jdbc">
                          <dir
                            name="util"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="tajo">
                        <dir
                          name="jdbc">
                          <dir
                            name="util"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="tajo-maven-plugins">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="tajo">
                        <dir
                          name="maven">
                          <dir
                            name="plugin">
                            <dir
                              name="protoc"/>
                            <dir
                              name="util"/>
                            <dir
                              name="versioninfo"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="tajo-metrics">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="tajo">
                        <dir
                          name="metrics"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="tajo">
                        <dir
                          name="metrics"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="tajo-plan">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="tajo">
                        <dir
                          name="plan">
                          <dir
                            name="algebra"/>
                          <dir
                            name="annotator"/>
                          <dir
                            name="expr"/>
                          <dir
                            name="exprrewrite">
                            <dir
                              name="rules"/>
                          </dir>
                          <dir
                            name="function">
                            <dir
                              name="python"/>
                            <dir
                              name="stream"/>
                          </dir>
                          <dir
                            name="joinorder"/>
                          <dir
                            name="logical"/>
                          <dir
                            name="nameresolver"/>
                          <dir
                            name="rewrite">
                            <dir
                              name="rules"/>
                          </dir>
                          <dir
                            name="serder"/>
                          <dir
                            name="util"/>
                          <dir
                            name="verifier"/>
                          <dir
                            name="visitor"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="tajo">
                        <dir
                          name="plan">
                          <dir
                            name="util"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="tajo-pullserver">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="tajo">
                        <dir
                          name="pullserver">
                          <dir
                            name="retriever"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="tajo-rpc">
            <dir
              name="tajo-rpc-common">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="tajo">
                          <dir
                            name="rpc"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="tajo-rpc-protobuf">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="tajo">
                          <dir
                            name="rpc"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
                <dir
                  name="test">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="tajo">
                          <dir
                            name="rpc">
                            <dir
                              name="test">
                              <dir
                                name="impl"/>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="tajo-ws-rs">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="tajo">
                          <dir
                            name="ws">
                            <dir
                              name="rs">
                              <dir
                                name="netty">
                                <dir
                                  name="gson"/>
                              </dir>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
                <dir
                  name="test">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="tajo">
                          <dir
                            name="ws">
                            <dir
                              name="rs">
                              <dir
                                name="netty">
                                <dir
                                  name="testapp1"/>
                                <dir
                                  name="testapp2"/>
                              </dir>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="tajo-storage">
            <dir
              name="tajo-storage-common">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="tajo">
                          <dir
                            name="storage">
                            <dir
                              name="annotation"/>
                            <dir
                              name="compress"/>
                            <dir
                              name="exception"/>
                            <dir
                              name="fragment"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
                <dir
                  name="test">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="tajo">
                          <dir
                            name="storage"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="tajo-storage-hbase">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="tajo">
                          <dir
                            name="storage">
                            <dir
                              name="hbase"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
                <dir
                  name="test">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="tajo">
                          <dir
                            name="storage">
                            <dir
                              name="hbase"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="tajo-storage-hdfs">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="tajo">
                          <dir
                            name="storage">
                            <dir
                              name="avro"/>
                            <dir
                              name="fragment"/>
                            <dir
                              name="index">
                              <dir
                                name="bst"/>
                            </dir>
                            <dir
                              name="json"/>
                            <dir
                              name="orc"/>
                            <dir
                              name="parquet"/>
                            <dir
                              name="rawfile"/>
                            <dir
                              name="rcfile"/>
                            <dir
                              name="regex"/>
                            <dir
                              name="sequencefile"/>
                            <dir
                              name="text"/>
                            <dir
                              name="thirdparty">
                              <dir
                                name="orc">
                                <dir
                                  name="util"/>
                              </dir>
                              <dir
                                name="parquet"/>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
                <dir
                  name="test">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="tajo">
                          <dir
                            name="storage">
                            <dir
                              name="avro"/>
                            <dir
                              name="index"/>
                            <dir
                              name="json"/>
                            <dir
                              name="parquet"/>
                            <dir
                              name="raw"/>
                            <dir
                              name="regex"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="tajo-storage-jdbc">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="tajo">
                          <dir
                            name="storage">
                            <dir
                              name="jdbc"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                  <dir
                    name="test">
                    <dir
                      name="java">
                      <dir
                        name="org">
                        <dir
                          name="apache">
                          <dir
                            name="tajo">
                            <dir
                              name="storage">
                              <dir
                                name="jdbc"/>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="tajo-storage-kafka">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="tajo">
                          <dir
                            name="storage">
                            <dir
                              name="kafka"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
                <dir
                  name="test">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="tajo">
                          <dir
                            name="storage">
                            <dir
                              name="kafka">
                              <dir
                                name="server"/>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="tajo-storage-pgsql">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="tajo">
                          <dir
                            name="storage">
                            <dir
                              name="pgsql"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
                <dir
                  name="test">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="tajo">
                          <dir
                            name="storage">
                            <dir
                              name="pgsql"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="tajo-storage-s3">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="tajo">
                          <dir
                            name="storage">
                            <dir
                              name="s3"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
                <dir
                  name="test">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="tajo">
                          <dir
                            name="storage">
                            <dir
                              name="s3"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="tajo-tablespace-example">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="tajo">
                        <dir
                          name="storage">
                          <dir
                            name="http"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="tajo">
                        <dir
                          name="storage">
                          <dir
                            name="http"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="tajo-thirdparty">
            <dir
              name="asm">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="tajo">
                          <dir
                            name="org">
                            <dir
                              name="objectweb">
                              <dir
                                name="asm">
                                <dir
                                  name="commons"/>
                                <dir
                                  name="optimizer"/>
                                <dir
                                  name="signature"/>
                                <dir
                                  name="tree">
                                  <dir
                                    name="analysis"/>
                                </dir>
                                <dir
                                  name="util"/>
                                <dir
                                  name="xml"/>
                              </dir>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="tajo-yarn">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="tajo">
                        <dir
                          name="yarn"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
        </dir>
      </dir>
    </dir>
  </files>
  <languages>
    <language
      name="Java"/>
  </languages>
  <file_types/>
  <annotations_options/>
  <comparison_options
    comparison_db=""
    git_repo=""
    git_commit=""/>
  <imports/>
  <java_options
    count_javadoc_in_metrics="true"
    count_standard_in_max_inheritance="false"
    jni_kni_include_package_name="true"
    jni_kni_linkage_prepend_text="Java_"
    save_comments_associated_with_entities="true"
    version="Java10">
    <class_paths>
      <class_path
        path="C:/Program Files/Java/jdk-18.0.1.1/lib/src.zip"/>
      <class_path
        path="C:/Program Files/Java/jdk-18.0.1.1/jmods/java.base.jmod"/>
    </class_paths>
  </java_options>
</project>
