<project>
  <files
    portability_mode="relative"
    default_encoding="System"
    readonly="false"
    maxfilesize="10485760"
    enforce_portability="false">
    <dir
      name=".">
      <dir
        name="..">
        <dir
          name="forrest">
          <watched
            subdirs="true">
            <filter
              name="Java"/>
          </watched>
          <dir
            name="etc">
            <dir
              name="test-whitespace"/>
          </dir>
          <dir
            name="main">
            <dir
              name="java">
              <dir
                name="org">
                <dir
                  name="apache">
                  <dir
                    name="forrest">
                    <dir
                      name="conf"/>
                    <dir
                      name="generation"/>
                    <dir
                      name="locationmap">
                      <dir
                        name="lm"/>
                      <dir
                        name="source">
                        <dir
                          name="impl"/>
                      </dir>
                    </dir>
                    <dir
                      name="log"/>
                    <dir
                      name="sourceexists"/>
                    <dir
                      name="sourcetype"/>
                    <dir
                      name="util"/>
                    <dir
                      name="xni"/>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="tasks">
              <dir
                name="org">
                <dir
                  name="apache">
                  <dir
                    name="forrest"/>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="plugins">
            <dir
              name="org.apache.forrest.plugin.input.PhotoGallery">
              <dir
                name="src">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="forrest">
                        <dir
                          name="reading"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="tools">
            <dir
              name="eclipse">
              <dir
                name="plugins">
                <dir
                  name="org.apache.forrest">
                  <dir
                    name="src">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="forrest">
                          <dir
                            name="eclipse">
                            <dir
                              name="actions"/>
                            <dir
                              name="job"/>
                            <dir
                              name="popup">
                              <dir
                                name="actions"/>
                            </dir>
                            <dir
                              name="preference"/>
                            <dir
                              name="views"/>
                            <dir
                              name="wizards"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
                <dir
                  name="org.apache.forrest.eclipse.servletEngine">
                  <dir
                    name="src">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="forrest">
                          <dir
                            name="eclipse">
                            <dir
                              name="servletEngine"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
                <dir
                  name="org.apache.forrest.repository.daisy">
                  <dir
                    name="src">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="forrest">
                          <dir
                            name="repository">
                            <dir
                              name="daisy">
                              <dir
                                name="preferences"/>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
                <dir
                  name="org.apache.forrest.repository.ui">
                  <dir
                    name="src">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="forrest">
                          <dir
                            name="repository">
                            <dir
                              name="ui">
                              <dir
                                name="views"/>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                  <dir
                    name="views"/>
                </dir>
              </dir>
            </dir>
            <dir
              name="forrestbot">
              <dir
                name="webapp">
                <dir
                  name="src">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="forrest">
                          <dir
                            name="forrestbot">
                            <dir
                              name="webapp">
                              <dir
                                name="action"/>
                              <dir
                                name="dto"/>
                              <dir
                                name="form"/>
                              <dir
                                name="util"/>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="whiteboard">
            <dir
              name="cocoon-2.2-blocks">
              <dir
                name="locationmap">
                <dir
                  name="src">
                  <dir
                    name="main">
                    <dir
                      name="java">
                      <dir
                        name="org">
                        <dir
                          name="apache">
                          <dir
                            name="forrest">
                            <dir
                              name="locationmap">
                              <dir
                                name="lm"/>
                              <dir
                                name="source">
                                <dir
                                  name="impl"/>
                              </dir>
                            </dir>
                            <dir
                              name="sourceexists"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="propertiesGenerator">
                <dir
                  name="src">
                  <dir
                    name="main">
                    <dir
                      name="java">
                      <dir
                        name="org">
                        <dir
                          name="apache">
                          <dir
                            name="forrest">
                            <dir
                              name="generation"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="forrest-osgi">
              <dir
                name="main">
                <dir
                  name="src">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="forrest"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="org.apache.forrest.log">
                <dir
                  name="src">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="forrest">
                          <dir
                            name="log">
                            <dir
                              name="service"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="org.apache.forrest.log.servlet">
                <dir
                  name="src">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="forrest">
                          <dir
                            name="log">
                            <dir
                              name="servlet">
                              <dir
                                name="service"/>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="org.apache.forrest.plugin.api">
                <dir
                  name="src">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="forrest">
                          <dir
                            name="plugin">
                            <dir
                              name="api"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="org.apache.forrest.plugin.input.xdoc">
                <dir
                  name="src">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="forrest">
                          <dir
                            name="plugin">
                            <dir
                              name="input">
                              <dir
                                name="xdoc">
                                <dir
                                  name="service"/>
                              </dir>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="org.apache.forrest.plugin.output.html">
                <dir
                  name="src">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="forrest">
                          <dir
                            name="plugin">
                            <dir
                              name="output">
                              <dir
                                name="html">
                                <dir
                                  name="service"/>
                              </dir>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="org.apache.forrest.plugin.output.pdf">
                <dir
                  name="src">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="forrest">
                          <dir
                            name="plugin">
                            <dir
                              name="output">
                              <dir
                                name="pdf">
                                <dir
                                  name="service"/>
                              </dir>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="org.apache.forrest.servlet">
                <dir
                  name="src">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="forrest">
                          <dir
                            name="http"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="org.apache.forrest.util">
                <dir
                  name="src">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="forrest">
                          <dir
                            name="util"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                  <dir
                    name="test">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="forrest">
                          <dir
                            name="util">
                            <dir
                              name="test"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="forrest2">
              <dir
                name="core">
                <dir
                  name="src">
                  <dir
                    name="examples">
                    <dir
                      name="forrest1SeedSite">
                      <dir
                        name="src">
                        <dir
                          name="org">
                          <dir
                            name="apache">
                            <dir
                              name="forrest">
                              <dir
                                name="reader"/>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                  <dir
                    name="main">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="forrest">
                          <dir
                            name="cli"/>
                          <dir
                            name="core">
                            <dir
                              name="document"/>
                            <dir
                              name="exception"/>
                            <dir
                              name="locationMap"/>
                            <dir
                              name="matcher"/>
                            <dir
                              name="plugin"/>
                            <dir
                              name="reader"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                  <dir
                    name="test">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="forrest">
                          <dir
                            name="test">
                            <dir
                              name="core">
                              <dir
                                name="plugins">
                                <dir
                                  name="input"/>
                              </dir>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="forrest2-webapp">
                <dir
                  name="src">
                  <dir
                    name="main">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="forrest">
                          <dir
                            name="webapp"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="wicket-demo">
                <dir
                  name="src">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="forrest">
                          <dir
                            name="examples">
                            <dir
                              name="reader"/>
                            <dir
                              name="wicket"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                  <dir
                    name="test">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="forrest">
                          <dir
                            name="examples">
                            <dir
                              name="wicket"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="plugins">
              <dir
                name="org.apache.forrest.plugin.Database">
                <dir
                  name="src">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="cocoon">
                          <dir
                            name="transformation"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                  <dir
                    name="mocks">
                    <dir
                      name="com">
                      <dir
                        name="informix">
                        <dir
                          name="jdbc"/>
                      </dir>
                    </dir>
                    <dir
                      name="oracle">
                      <dir
                        name="jdbc"/>
                      <dir
                        name="sql"/>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="org.apache.forrest.plugin.input.Resume">
                <dir
                  name="src">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="forrest">
                          <dir
                            name="generation"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="org.apache.forrest.plugin.internal.DevTools">
                <dir
                  name="src">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="forrest">
                          <dir
                            name="actions"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="org.apache.forrest.plugin.internal.dispatcher">
                <dir
                  name="src">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="forrest">
                          <dir
                            name="dispatcher">
                            <dir
                              name="acting"/>
                            <dir
                              name="api"/>
                            <dir
                              name="config"/>
                            <dir
                              name="exception"/>
                            <dir
                              name="factories"/>
                            <dir
                              name="impl">
                              <dir
                                name="helper"/>
                            </dir>
                            <dir
                              name="transformation"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                  <dir
                    name="testing">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="forrest">
                          <dir
                            name="dispatcher"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="org.apache.forrest.plugin.internal.xhtml2">
                <dir
                  name="src">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="forrest">
                          <dir
                            name="acting"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="org.apache.forrest.plugin.output.solr">
                <dir
                  name="src">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="forrest">
                          <dir
                            name="http">
                            <dir
                              name="client"/>
                          </dir>
                          <dir
                            name="solr">
                            <dir
                              name="client"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
        </dir>
      </dir>
    </dir>
  </files>
  <languages>
    <language
      name="Java"/>
  </languages>
  <file_types/>
  <annotations_options/>
  <comparison_options
    comparison_db=""
    git_repo=""
    git_commit=""/>
  <imports/>
  <java_options
    count_javadoc_in_metrics="true"
    count_standard_in_max_inheritance="false"
    jni_kni_include_package_name="true"
    jni_kni_linkage_prepend_text="Java_"
    save_comments_associated_with_entities="true"
    version="Java10">
    <class_paths>
      <class_path
        path="C:/Program Files/Java/jdk-18.0.1.1/lib/src.zip"/>
      <class_path
        path="C:/Program Files/Java/jdk-18.0.1.1/jmods/java.base.jmod"/>
    </class_paths>
  </java_options>
</project>
