<project>
  <files
    portability_mode="relative"
    default_encoding="System"
    readonly="false"
    maxfilesize="10485760"
    enforce_portability="false">
    <dir
      name=".">
      <dir
        name="..">
        <dir
          name="maven-doxia">
          <watched
            subdirs="true">
            <filter
              name="Java"/>
          </watched>
          <dir
            name="doxia-core">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="maven">
                        <dir
                          name="doxia">
                          <dir
                            name="index"/>
                          <dir
                            name="macro">
                            <dir
                              name="manager"/>
                            <dir
                              name="snippet"/>
                            <dir
                              name="toc"/>
                          </dir>
                          <dir
                            name="markup"/>
                          <dir
                            name="parser">
                            <dir
                              name="manager"/>
                            <dir
                              name="module"/>
                          </dir>
                          <dir
                            name="sink">
                            <dir
                              name="impl"/>
                          </dir>
                          <dir
                            name="util"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="maven">
                        <dir
                          name="doxia">
                          <dir
                            name="index"/>
                          <dir
                            name="macro">
                            <dir
                              name="manager"/>
                            <dir
                              name="snippet"/>
                            <dir
                              name="toc"/>
                          </dir>
                          <dir
                            name="module"/>
                          <dir
                            name="parser"/>
                          <dir
                            name="sink">
                            <dir
                              name="impl"/>
                          </dir>
                          <dir
                            name="util"/>
                          <dir
                            name="xsd"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="doxia-modules">
            <dir
              name="doxia-module-apt">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="maven">
                          <dir
                            name="doxia">
                            <dir
                              name="module">
                              <dir
                                name="apt"/>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
                <dir
                  name="test">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="maven">
                          <dir
                            name="doxia">
                            <dir
                              name="module">
                              <dir
                                name="apt"/>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="doxia-module-fml">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="maven">
                          <dir
                            name="doxia">
                            <dir
                              name="module">
                              <dir
                                name="fml"/>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
                <dir
                  name="test">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="maven">
                          <dir
                            name="doxia">
                            <dir
                              name="module">
                              <dir
                                name="fml"/>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="doxia-module-markdown">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="maven">
                          <dir
                            name="doxia">
                            <dir
                              name="module">
                              <dir
                                name="markdown"/>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
                <dir
                  name="test">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="maven">
                          <dir
                            name="doxia">
                            <dir
                              name="module">
                              <dir
                                name="markdown"/>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="doxia-module-xdoc">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="maven">
                          <dir
                            name="doxia">
                            <dir
                              name="module">
                              <dir
                                name="xdoc"/>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
                <dir
                  name="test">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="maven">
                          <dir
                            name="doxia">
                            <dir
                              name="module">
                              <dir
                                name="xdoc"/>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="doxia-module-xhtml5">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="maven">
                          <dir
                            name="doxia">
                            <dir
                              name="module">
                              <dir
                                name="xhtml5"/>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
                <dir
                  name="test">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="maven">
                          <dir
                            name="doxia">
                            <dir
                              name="module">
                              <dir
                                name="xhtml5"/>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="doxia-sink-api">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="maven">
                        <dir
                          name="doxia">
                          <dir
                            name="sink"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
        </dir>
      </dir>
    </dir>
  </files>
  <languages>
    <language
      name="Java"/>
  </languages>
  <file_types/>
  <annotations_options/>
  <comparison_options
    comparison_db=""
    git_repo=""
    git_commit=""/>
  <imports/>
  <java_options
    count_javadoc_in_metrics="true"
    count_standard_in_max_inheritance="false"
    jni_kni_include_package_name="true"
    jni_kni_linkage_prepend_text="Java_"
    save_comments_associated_with_entities="true"
    version="Java10">
    <class_paths>
      <class_path
        path="C:/Program Files/Java/jdk-18.0.1.1/lib/src.zip"/>
      <class_path
        path="C:/Program Files/Java/jdk-18.0.1.1/jmods/java.base.jmod"/>
    </class_paths>
  </java_options>
</project>
