<project>
  <files
    portability_mode="relative"
    default_encoding="System"
    readonly="false"
    maxfilesize="10485760"
    enforce_portability="false">
    <dir
      name=".">
      <dir
        name="..">
        <dir
          name="xmlgraphics-fop">
          <watched
            subdirs="true">
            <filter
              name="Java"/>
          </watched>
          <dir
            name="fop">
            <dir
              name="examples">
              <dir
                name="embedding">
                <dir
                  name="java">
                  <dir
                    name="embedding">
                    <dir
                      name="atxml"/>
                    <dir
                      name="events"/>
                    <dir
                      name="intermediate"/>
                    <dir
                      name="model"/>
                    <dir
                      name="tools"/>
                  </dir>
                </dir>
              </dir>
              <dir
                name="hyphenation">
                <dir
                  name="src">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="fop">
                        <dir
                          name="hyphenation"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="plan">
                <dir
                  name="src">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="fop">
                        <dir
                          name="plan"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="fop-core">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="codegen">
                  <dir
                    name="unicode">
                    <dir
                      name="java">
                      <dir
                        name="org">
                        <dir
                          name="apache">
                          <dir
                            name="fop">
                            <dir
                              name="complexscripts">
                              <dir
                                name="bidi"/>
                            </dir>
                            <dir
                              name="hyphenation"/>
                            <dir
                              name="text">
                              <dir
                                name="linebreak"/>
                            </dir>
                            <dir
                              name="util"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="fop">
                        <dir
                          name="accessibility">
                          <dir
                            name="fo"/>
                        </dir>
                        <dir
                          name="activity"/>
                        <dir
                          name="afp">
                          <dir
                            name="apps"/>
                          <dir
                            name="fonts"/>
                          <dir
                            name="goca"/>
                          <dir
                            name="ioca"/>
                          <dir
                            name="modca">
                            <dir
                              name="triplets"/>
                          </dir>
                          <dir
                            name="parser"/>
                          <dir
                            name="ptoca"/>
                          <dir
                            name="svg"/>
                          <dir
                            name="util"/>
                        </dir>
                        <dir
                          name="apps">
                          <dir
                            name="io"/>
                        </dir>
                        <dir
                          name="area">
                          <dir
                            name="inline"/>
                        </dir>
                        <dir
                          name="cli"/>
                        <dir
                          name="complexscripts">
                          <dir
                            name="bidi"/>
                          <dir
                            name="fonts"/>
                          <dir
                            name="scripts"/>
                          <dir
                            name="util"/>
                        </dir>
                        <dir
                          name="configuration"/>
                        <dir
                          name="datatypes"/>
                        <dir
                          name="events"/>
                        <dir
                          name="fo">
                          <dir
                            name="expr"/>
                          <dir
                            name="extensions">
                            <dir
                              name="destination"/>
                            <dir
                              name="svg"/>
                            <dir
                              name="xmp"/>
                          </dir>
                          <dir
                            name="flow">
                            <dir
                              name="table"/>
                          </dir>
                          <dir
                            name="pagination">
                            <dir
                              name="bookmarks"/>
                          </dir>
                          <dir
                            name="properties"/>
                        </dir>
                        <dir
                          name="fonts">
                          <dir
                            name="apps"/>
                          <dir
                            name="autodetect"/>
                          <dir
                            name="base14"/>
                          <dir
                            name="cff"/>
                          <dir
                            name="substitute"/>
                          <dir
                            name="truetype"/>
                          <dir
                            name="type1"/>
                        </dir>
                        <dir
                          name="hyphenation"/>
                        <dir
                          name="image">
                          <dir
                            name="loader">
                            <dir
                              name="batik"/>
                          </dir>
                        </dir>
                        <dir
                          name="layoutmgr">
                          <dir
                            name="inline"/>
                          <dir
                            name="list"/>
                          <dir
                            name="table"/>
                        </dir>
                        <dir
                          name="pdf">
                          <dir
                            name="xref"/>
                        </dir>
                        <dir
                          name="render">
                          <dir
                            name="afp">
                            <dir
                              name="exceptions"/>
                            <dir
                              name="extensions"/>
                          </dir>
                          <dir
                            name="awt">
                            <dir
                              name="viewer"/>
                          </dir>
                          <dir
                            name="bitmap"/>
                          <dir
                            name="extensions">
                            <dir
                              name="prepress"/>
                          </dir>
                          <dir
                            name="gradient"/>
                          <dir
                            name="intermediate">
                            <dir
                              name="extensions"/>
                            <dir
                              name="util"/>
                          </dir>
                          <dir
                            name="java2d"/>
                          <dir
                            name="pcl">
                            <dir
                              name="extensions"/>
                            <dir
                              name="fonts">
                              <dir
                                name="truetype"/>
                            </dir>
                          </dir>
                          <dir
                            name="pdf">
                            <dir
                              name="extensions"/>
                          </dir>
                          <dir
                            name="print"/>
                          <dir
                            name="ps">
                            <dir
                              name="extensions"/>
                            <dir
                              name="fonts"/>
                            <dir
                              name="svg"/>
                          </dir>
                          <dir
                            name="rtf">
                            <dir
                              name="rtflib">
                              <dir
                                name="exceptions"/>
                              <dir
                                name="rtfdoc"/>
                              <dir
                                name="tools"/>
                            </dir>
                          </dir>
                          <dir
                            name="txt">
                            <dir
                              name="border"/>
                          </dir>
                          <dir
                            name="xml"/>
                        </dir>
                        <dir
                          name="servlet"/>
                        <dir
                          name="svg">
                          <dir
                            name="font"/>
                          <dir
                            name="text"/>
                        </dir>
                        <dir
                          name="text">
                          <dir
                            name="linebreak"/>
                        </dir>
                        <dir
                          name="tools">
                          <dir
                            name="anttasks"/>
                          <dir
                            name="fontlist"/>
                        </dir>
                        <dir
                          name="traits"/>
                        <dir
                          name="util">
                          <dir
                            name="bitmap"/>
                          <dir
                            name="text"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="fop">
                        <dir
                          name="accessibility">
                          <dir
                            name="fo"/>
                          <dir
                            name="pdf"/>
                        </dir>
                        <dir
                          name="afp">
                          <dir
                            name="fonts"/>
                          <dir
                            name="goca"/>
                          <dir
                            name="modca"/>
                          <dir
                            name="parser"/>
                          <dir
                            name="ptoca"/>
                          <dir
                            name="util"/>
                        </dir>
                        <dir
                          name="apps">
                          <dir
                            name="io"/>
                        </dir>
                        <dir
                          name="area">
                          <dir
                            name="inline"/>
                        </dir>
                        <dir
                          name="check"/>
                        <dir
                          name="cli"/>
                        <dir
                          name="complexscripts">
                          <dir
                            name="bidi"/>
                          <dir
                            name="fonts">
                            <dir
                              name="ttx"/>
                          </dir>
                          <dir
                            name="layout"/>
                          <dir
                            name="scripts">
                            <dir
                              name="arabic"/>
                          </dir>
                          <dir
                            name="util"/>
                        </dir>
                        <dir
                          name="config"/>
                        <dir
                          name="configuration"/>
                        <dir
                          name="datatypes"/>
                        <dir
                          name="events"/>
                        <dir
                          name="fo">
                          <dir
                            name="flow">
                            <dir
                              name="table"/>
                          </dir>
                          <dir
                            name="pagination"/>
                          <dir
                            name="properties"/>
                        </dir>
                        <dir
                          name="fonts">
                          <dir
                            name="cff"/>
                          <dir
                            name="truetype"/>
                          <dir
                            name="type1"/>
                        </dir>
                        <dir
                          name="fotreetest">
                          <dir
                            name="ext"/>
                        </dir>
                        <dir
                          name="image">
                          <dir
                            name="loader">
                            <dir
                              name="batik"/>
                          </dir>
                        </dir>
                        <dir
                          name="intermediate"/>
                        <dir
                          name="layoutengine"/>
                        <dir
                          name="layoutmgr">
                          <dir
                            name="table"/>
                        </dir>
                        <dir
                          name="logging"/>
                        <dir
                          name="memory"/>
                        <dir
                          name="pdf">
                          <dir
                            name="xref"/>
                        </dir>
                        <dir
                          name="render">
                          <dir
                            name="afp"/>
                          <dir
                            name="bitmap"/>
                          <dir
                            name="extensions">
                            <dir
                              name="prepress"/>
                          </dir>
                          <dir
                            name="gradient"/>
                          <dir
                            name="intermediate"/>
                          <dir
                            name="java2d"/>
                          <dir
                            name="pcl">
                            <dir
                              name="fonts">
                              <dir
                                name="truetype"/>
                            </dir>
                          </dir>
                          <dir
                            name="pdf">
                            <dir
                              name="extensions"/>
                          </dir>
                          <dir
                            name="ps">
                            <dir
                              name="fonts"/>
                            <dir
                              name="svg"/>
                          </dir>
                          <dir
                            name="rtf">
                            <dir
                              name="rtflib">
                              <dir
                                name="testdocs"/>
                            </dir>
                          </dir>
                          <dir
                            name="txt"/>
                        </dir>
                        <dir
                          name="svg">
                          <dir
                            name="font"/>
                        </dir>
                        <dir
                          name="text">
                          <dir
                            name="linebreak"/>
                        </dir>
                        <dir
                          name="threading"/>
                        <dir
                          name="traits"/>
                        <dir
                          name="util"/>
                        <dir
                          name="visual"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="fop-events">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="fop">
                        <dir
                          name="events">
                          <dir
                            name="model"/>
                        </dir>
                        <dir
                          name="tools"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="fop">
                        <dir
                          name="events"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="fop-sandbox">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="fop">
                        <dir
                          name="render">
                          <dir
                            name="mif"/>
                          <dir
                            name="svg"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="fop-util">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="fop">
                        <dir
                          name="util">
                          <dir
                            name="text"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
        </dir>
      </dir>
    </dir>
  </files>
  <languages>
    <language
      name="Java"/>
  </languages>
  <file_types/>
  <annotations_options/>
  <comparison_options
    comparison_db=""
    git_repo=""
    git_commit=""/>
  <imports/>
  <java_options
    count_javadoc_in_metrics="true"
    count_standard_in_max_inheritance="false"
    jni_kni_include_package_name="true"
    jni_kni_linkage_prepend_text="Java_"
    save_comments_associated_with_entities="true"
    version="Java10">
    <class_paths>
      <class_path
        path="C:/Program Files/Java/jdk-18.0.1.1/lib/src.zip"/>
      <class_path
        path="C:/Program Files/Java/jdk-18.0.1.1/jmods/java.base.jmod"/>
    </class_paths>
  </java_options>
</project>
