<project>
  <files
    portability_mode="relative"
    default_encoding="System"
    readonly="false"
    maxfilesize="10485760"
    enforce_portability="false">
    <dir
      name=".">
      <dir
        name="..">
        <dir
          name="commons-imaging">
          <watched
            subdirs="true">
            <filter
              name="Java"/>
          </watched>
          <dir
            name="src">
            <dir
              name="main">
              <dir
                name="java">
                <dir
                  name="org">
                  <dir
                    name="apache">
                    <dir
                      name="commons">
                      <dir
                        name="imaging">
                        <dir
                          name="color"/>
                        <dir
                          name="common">
                          <dir
                            name="bytesource"/>
                          <dir
                            name="itu_t4"/>
                          <dir
                            name="mylzw"/>
                        </dir>
                        <dir
                          name="formats">
                          <dir
                            name="bmp"/>
                          <dir
                            name="dcx"/>
                          <dir
                            name="gif"/>
                          <dir
                            name="icns"/>
                          <dir
                            name="ico"/>
                          <dir
                            name="jpeg">
                            <dir
                              name="decoder"/>
                            <dir
                              name="exif"/>
                            <dir
                              name="iptc"/>
                            <dir
                              name="segments"/>
                            <dir
                              name="xmp"/>
                          </dir>
                          <dir
                            name="pcx"/>
                          <dir
                            name="png">
                            <dir
                              name="chunks"/>
                            <dir
                              name="scanlinefilters"/>
                            <dir
                              name="transparencyfilters"/>
                          </dir>
                          <dir
                            name="pnm"/>
                          <dir
                            name="psd">
                            <dir
                              name="dataparsers"/>
                            <dir
                              name="datareaders"/>
                          </dir>
                          <dir
                            name="rgbe"/>
                          <dir
                            name="tiff">
                            <dir
                              name="constants"/>
                            <dir
                              name="datareaders"/>
                            <dir
                              name="fieldtypes"/>
                            <dir
                              name="photometricinterpreters">
                              <dir
                                name="floatingpoint"/>
                            </dir>
                            <dir
                              name="taginfos"/>
                            <dir
                              name="write"/>
                          </dir>
                          <dir
                            name="wbmp"/>
                          <dir
                            name="xbm"/>
                          <dir
                            name="xpm"/>
                        </dir>
                        <dir
                          name="icc"/>
                        <dir
                          name="internal"/>
                        <dir
                          name="palette"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="test">
              <dir
                name="java">
                <dir
                  name="org">
                  <dir
                    name="apache">
                    <dir
                      name="commons">
                      <dir
                        name="imaging">
                        <dir
                          name="color"/>
                        <dir
                          name="common">
                          <dir
                            name="bytesource"/>
                          <dir
                            name="itu_t4"/>
                        </dir>
                        <dir
                          name="examples">
                          <dir
                            name="tiff"/>
                        </dir>
                        <dir
                          name="formats">
                          <dir
                            name="bmp"/>
                          <dir
                            name="dcx"/>
                          <dir
                            name="gif"/>
                          <dir
                            name="icns"/>
                          <dir
                            name="ico"/>
                          <dir
                            name="jpeg">
                            <dir
                              name="decoder"/>
                            <dir
                              name="exif"/>
                            <dir
                              name="iptc"/>
                            <dir
                              name="segments"/>
                            <dir
                              name="specific"/>
                            <dir
                              name="xmp"/>
                          </dir>
                          <dir
                            name="pam"/>
                          <dir
                            name="pcx"/>
                          <dir
                            name="png">
                            <dir
                              name="chunks"/>
                            <dir
                              name="scanlinefilters"/>
                            <dir
                              name="transparencyfilters"/>
                          </dir>
                          <dir
                            name="pnm"/>
                          <dir
                            name="psd">
                            <dir
                              name="dataparsers"/>
                          </dir>
                          <dir
                            name="rgbe"/>
                          <dir
                            name="tiff">
                            <dir
                              name="datareaders"/>
                            <dir
                              name="fieldtypes"/>
                            <dir
                              name="photometricinterpreters">
                              <dir
                                name="floatingpoint"/>
                            </dir>
                            <dir
                              name="taginfos"/>
                            <dir
                              name="write"/>
                          </dir>
                          <dir
                            name="wbmp"/>
                          <dir
                            name="xbm"/>
                          <dir
                            name="xmp"/>
                          <dir
                            name="xpm"/>
                        </dir>
                        <dir
                          name="palette"/>
                        <dir
                          name="roundtrip"/>
                        <dir
                          name="test">
                          <dir
                            name="util"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
        </dir>
      </dir>
    </dir>
  </files>
  <languages>
    <language
      name="Java"/>
  </languages>
  <file_types/>
  <annotations_options/>
  <comparison_options
    comparison_db=""
    git_repo=""
    git_commit=""/>
  <imports/>
  <java_options
    count_javadoc_in_metrics="true"
    count_standard_in_max_inheritance="false"
    jni_kni_include_package_name="true"
    jni_kni_linkage_prepend_text="Java_"
    save_comments_associated_with_entities="true"
    version="Java10">
    <class_paths>
      <class_path
        path="C:/Program Files/Java/jdk-18.0.1.1/lib/src.zip"/>
      <class_path
        path="C:/Program Files/Java/jdk-18.0.1.1/jmods/java.base.jmod"/>
    </class_paths>
  </java_options>
</project>
