<project>
  <files
    portability_mode="relative"
    default_encoding="System"
    readonly="false"
    maxfilesize="10485760"
    enforce_portability="false">
    <dir
      name=".">
      <dir
        name="..">
        <dir
          name="empire-db">
          <watched
            subdirs="true">
            <filter
              name="Java"/>
          </watched>
          <dir
            name="empire-db">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="empire">
                        <dir
                          name="commons"/>
                        <dir
                          name="data">
                          <dir
                            name="bean"/>
                          <dir
                            name="list"/>
                        </dir>
                        <dir
                          name="db">
                          <dir
                            name="context"/>
                          <dir
                            name="exceptions"/>
                          <dir
                            name="expr">
                            <dir
                              name="column"/>
                            <dir
                              name="compare"/>
                            <dir
                              name="join"/>
                            <dir
                              name="order"/>
                            <dir
                              name="set"/>
                          </dir>
                          <dir
                            name="generic"/>
                          <dir
                            name="list"/>
                          <dir
                            name="validation"/>
                        </dir>
                        <dir
                          name="dbms">
                          <dir
                            name="derby"/>
                          <dir
                            name="h2"/>
                          <dir
                            name="hsql"/>
                          <dir
                            name="mysql"/>
                          <dir
                            name="oracle"/>
                          <dir
                            name="postgresql"/>
                          <dir
                            name="sqlite"/>
                          <dir
                            name="sqlserver"/>
                        </dir>
                        <dir
                          name="exceptions"/>
                        <dir
                          name="xml"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="empire">
                        <dir
                          name="commons"/>
                        <dir
                          name="db">
                          <dir
                            name="expr">
                            <dir
                              name="set"/>
                          </dir>
                        </dir>
                        <dir
                          name="dbms">
                          <dir
                            name="hsql"/>
                          <dir
                            name="mssql"/>
                          <dir
                            name="mysql"/>
                          <dir
                            name="postgresql"/>
                          <dir
                            name="sqlite"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="empire-db-codegen">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="empire">
                        <dir
                          name="db">
                          <dir
                            name="codegen">
                            <dir
                              name="util"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="empire">
                        <dir
                          name="db">
                          <dir
                            name="codegen">
                            <dir
                              name="util"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="empire-db-examples">
            <dir
              name="empire-db-example-advanced">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="empire">
                          <dir
                            name="samples">
                            <dir
                              name="db">
                              <dir
                                name="advanced">
                                <dir
                                  name="db"/>
                                <dir
                                  name="records"/>
                              </dir>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="empire-db-example-basic">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="empire">
                          <dir
                            name="samples">
                            <dir
                              name="db">
                              <dir
                                name="beans"/>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="empire-db-example-codegen">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="example"/>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="empire-db-example-jsf2">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="empire">
                          <dir
                            name="jsf2">
                            <dir
                              name="custom">
                              <dir
                                name="controls"/>
                            </dir>
                            <dir
                              name="websample">
                              <dir
                                name="db">
                                <dir
                                  name="records"/>
                              </dir>
                              <dir
                                name="web">
                                <dir
                                  name="objects"/>
                                <dir
                                  name="pages"/>
                              </dir>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="empire-db-example-spring-boot">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="empire">
                          <dir
                            name="samples">
                            <dir
                              name="db">
                              <dir
                                name="beans"/>
                            </dir>
                            <dir
                              name="springboot"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="empire-db-example-vue">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="empire">
                          <dir
                            name="rest">
                            <dir
                              name="app"/>
                            <dir
                              name="json"/>
                            <dir
                              name="service">
                              <dir
                                name="filter"/>
                            </dir>
                          </dir>
                          <dir
                            name="vue">
                            <dir
                              name="sample">
                              <dir
                                name="db">
                                <dir
                                  name="records"/>
                              </dir>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="empire-db-jsf2">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="empire">
                        <dir
                          name="jsf2">
                          <dir
                            name="app"/>
                          <dir
                            name="components"/>
                          <dir
                            name="controls"/>
                          <dir
                            name="impl"/>
                          <dir
                            name="pageelements"/>
                          <dir
                            name="pages"/>
                          <dir
                            name="utils"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="empire-db-maven-plugin">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="empire">
                        <dir
                          name="db">
                          <dir
                            name="maven"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
        </dir>
      </dir>
    </dir>
  </files>
  <languages>
    <language
      name="Java"/>
  </languages>
  <file_types/>
  <annotations_options/>
  <comparison_options
    comparison_db=""
    git_repo=""
    git_commit=""/>
  <imports/>
  <java_options
    count_javadoc_in_metrics="true"
    count_standard_in_max_inheritance="false"
    jni_kni_include_package_name="true"
    jni_kni_linkage_prepend_text="Java_"
    save_comments_associated_with_entities="true"
    version="Java10">
    <class_paths>
      <class_path
        path="C:/Program Files/Java/jdk-18.0.1.1/lib/src.zip"/>
      <class_path
        path="C:/Program Files/Java/jdk-18.0.1.1/jmods/java.base.jmod"/>
    </class_paths>
  </java_options>
</project>
