<project>
  <files
    portability_mode="relative"
    default_encoding="System"
    readonly="false"
    maxfilesize="10485760"
    enforce_portability="false">
    <dir
      name=".">
      <dir
        name="..">
        <dir
          name="httpcomponents-client">
          <watched
            subdirs="true">
            <filter
              name="Java"/>
          </watched>
          <dir
            name="httpclient5">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="hc">
                        <dir
                          name="client5">
                          <dir
                            name="http">
                            <dir
                              name="async">
                              <dir
                                name="methods"/>
                            </dir>
                            <dir
                              name="auth"/>
                            <dir
                              name="classic">
                              <dir
                                name="methods"/>
                            </dir>
                            <dir
                              name="config"/>
                            <dir
                              name="cookie"/>
                            <dir
                              name="entity">
                              <dir
                                name="mime"/>
                            </dir>
                            <dir
                              name="impl">
                              <dir
                                name="async"/>
                              <dir
                                name="auth"/>
                              <dir
                                name="classic"/>
                              <dir
                                name="cookie"/>
                              <dir
                                name="io"/>
                              <dir
                                name="nio"/>
                              <dir
                                name="routing"/>
                            </dir>
                            <dir
                              name="io"/>
                            <dir
                              name="nio"/>
                            <dir
                              name="protocol"/>
                            <dir
                              name="psl"/>
                            <dir
                              name="routing"/>
                            <dir
                              name="socket"/>
                            <dir
                              name="ssl"/>
                            <dir
                              name="utils"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="hc">
                        <dir
                          name="client5">
                          <dir
                            name="http">
                            <dir
                              name="async">
                              <dir
                                name="methods"/>
                            </dir>
                            <dir
                              name="auth"/>
                            <dir
                              name="classic">
                              <dir
                                name="methods"/>
                            </dir>
                            <dir
                              name="config"/>
                            <dir
                              name="cookie"/>
                            <dir
                              name="entity">
                              <dir
                                name="mime"/>
                            </dir>
                            <dir
                              name="examples"/>
                            <dir
                              name="impl">
                              <dir
                                name="auth"/>
                              <dir
                                name="classic"/>
                              <dir
                                name="cookie"/>
                              <dir
                                name="io"/>
                              <dir
                                name="routing"/>
                            </dir>
                            <dir
                              name="protocol"/>
                            <dir
                              name="psl"/>
                            <dir
                              name="routing"/>
                            <dir
                              name="ssl"/>
                            <dir
                              name="utils"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="httpclient5-cache">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="hc">
                        <dir
                          name="client5">
                          <dir
                            name="http">
                            <dir
                              name="cache"/>
                            <dir
                              name="impl">
                              <dir
                                name="cache">
                                <dir
                                  name="ehcache"/>
                                <dir
                                  name="memcached"/>
                              </dir>
                              <dir
                                name="schedule"/>
                            </dir>
                            <dir
                              name="schedule"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="hc">
                        <dir
                          name="client5">
                          <dir
                            name="http">
                            <dir
                              name="cache"/>
                            <dir
                              name="impl">
                              <dir
                                name="cache">
                                <dir
                                  name="memcached"/>
                              </dir>
                              <dir
                                name="schedule"/>
                            </dir>
                            <dir
                              name="schedule"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="httpclient5-fluent">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="hc">
                        <dir
                          name="client5">
                          <dir
                            name="http">
                            <dir
                              name="fluent"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="hc">
                        <dir
                          name="client5">
                          <dir
                            name="http">
                            <dir
                              name="examples">
                              <dir
                                name="fluent"/>
                            </dir>
                            <dir
                              name="fluent"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="httpclient5-testing">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="hc">
                        <dir
                          name="client5">
                          <dir
                            name="testing">
                            <dir
                              name="async"/>
                            <dir
                              name="auth"/>
                            <dir
                              name="classic"/>
                            <dir
                              name="redirect"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="hc">
                        <dir
                          name="client5">
                          <dir
                            name="http">
                            <dir
                              name="impl">
                              <dir
                                name="win"/>
                            </dir>
                          </dir>
                          <dir
                            name="testing">
                            <dir
                              name="async"/>
                            <dir
                              name="external"/>
                            <dir
                              name="fluent"/>
                            <dir
                              name="sync"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="httpclient5-win">
            <dir
              name="src">
              <dir
                name="examples">
                <dir
                  name="org">
                  <dir
                    name="apache">
                    <dir
                      name="hc">
                      <dir
                        name="client5">
                        <dir
                          name="http">
                          <dir
                            name="examples">
                            <dir
                              name="client">
                              <dir
                                name="win"/>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="hc">
                        <dir
                          name="client5">
                          <dir
                            name="http">
                            <dir
                              name="impl">
                              <dir
                                name="win"/>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
        </dir>
      </dir>
    </dir>
  </files>
  <languages>
    <language
      name="Java"/>
  </languages>
  <file_types/>
  <annotations_options/>
  <comparison_options
    comparison_db=""
    git_repo=""
    git_commit=""/>
  <imports/>
  <java_options
    count_javadoc_in_metrics="true"
    count_standard_in_max_inheritance="false"
    jni_kni_include_package_name="true"
    jni_kni_linkage_prepend_text="Java_"
    save_comments_associated_with_entities="true"
    version="Java10">
    <class_paths>
      <class_path
        path="C:/Program Files/Java/jdk-18.0.1.1/lib/src.zip"/>
      <class_path
        path="C:/Program Files/Java/jdk-18.0.1.1/jmods/java.base.jmod"/>
    </class_paths>
  </java_options>
</project>
