<project>
  <files
    portability_mode="relative"
    default_encoding="System"
    readonly="false"
    maxfilesize="10485760"
    enforce_portability="false">
    <dir
      name=".">
      <dir
        name="..">
        <dir
          name="opennlp">
          <watched
            subdirs="true">
            <filter
              name="Java"/>
          </watched>
          <dir
            name="opennlp-brat-annotator">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="opennlp">
                    <dir
                      name="bratann"/>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="opennlp-dl">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="opennlp">
                    <dir
                      name="dl">
                      <dir
                        name="doccat">
                        <dir
                          name="scoring"/>
                      </dir>
                      <dir
                        name="namefinder"/>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="opennlp">
                    <dir
                      name="dl">
                      <dir
                        name="doccat">
                        <dir
                          name="scoring"/>
                      </dir>
                      <dir
                        name="namefinder"/>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="opennlp-morfologik-addon">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="opennlp">
                    <dir
                      name="morfologik">
                      <dir
                        name="builder"/>
                      <dir
                        name="cmdline">
                        <dir
                          name="builder"/>
                      </dir>
                      <dir
                        name="lemmatizer"/>
                      <dir
                        name="tagdict"/>
                      <dir
                        name="util"/>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="opennlp">
                    <dir
                      name="morfologik">
                      <dir
                        name="builder"/>
                      <dir
                        name="lemmatizer"/>
                      <dir
                        name="tagdict"/>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="opennlp-tools">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="opennlp">
                    <dir
                      name="tools">
                      <dir
                        name="chunker"/>
                      <dir
                        name="cmdline">
                        <dir
                          name="chunker"/>
                        <dir
                          name="dictionary"/>
                        <dir
                          name="doccat"/>
                        <dir
                          name="entitylinker"/>
                        <dir
                          name="langdetect"/>
                        <dir
                          name="languagemodel"/>
                        <dir
                          name="lemmatizer"/>
                        <dir
                          name="namefind"/>
                        <dir
                          name="params"/>
                        <dir
                          name="parser"/>
                        <dir
                          name="postag"/>
                        <dir
                          name="sentdetect"/>
                        <dir
                          name="tokenizer"/>
                      </dir>
                      <dir
                        name="dictionary">
                        <dir
                          name="serializer"/>
                      </dir>
                      <dir
                        name="doccat"/>
                      <dir
                        name="entitylinker"/>
                      <dir
                        name="formats">
                        <dir
                          name="ad"/>
                        <dir
                          name="brat"/>
                        <dir
                          name="conllu"/>
                        <dir
                          name="convert"/>
                        <dir
                          name="frenchtreebank"/>
                        <dir
                          name="irishsentencebank"/>
                        <dir
                          name="leipzig"/>
                        <dir
                          name="letsmt"/>
                        <dir
                          name="masc"/>
                        <dir
                          name="moses"/>
                        <dir
                          name="muc"/>
                        <dir
                          name="nkjp"/>
                        <dir
                          name="ontonotes"/>
                      </dir>
                      <dir
                        name="langdetect"/>
                      <dir
                        name="languagemodel"/>
                      <dir
                        name="lemmatizer"/>
                      <dir
                        name="ml">
                        <dir
                          name="maxent">
                          <dir
                            name="io"/>
                          <dir
                            name="quasinewton"/>
                        </dir>
                        <dir
                          name="model"/>
                        <dir
                          name="naivebayes"/>
                        <dir
                          name="perceptron"/>
                      </dir>
                      <dir
                        name="namefind"/>
                      <dir
                        name="ngram"/>
                      <dir
                        name="parser">
                        <dir
                          name="chunking"/>
                        <dir
                          name="lang">
                          <dir
                            name="en"/>
                          <dir
                            name="es"/>
                        </dir>
                        <dir
                          name="treeinsert"/>
                      </dir>
                      <dir
                        name="postag"/>
                      <dir
                        name="sentdetect">
                        <dir
                          name="lang">
                          <dir
                            name="th"/>
                        </dir>
                      </dir>
                      <dir
                        name="stemmer">
                        <dir
                          name="snowball"/>
                      </dir>
                      <dir
                        name="tokenize">
                        <dir
                          name="lang">
                          <dir
                            name="en"/>
                        </dir>
                      </dir>
                      <dir
                        name="util">
                        <dir
                          name="eval"/>
                        <dir
                          name="ext"/>
                        <dir
                          name="featuregen"/>
                        <dir
                          name="java"/>
                        <dir
                          name="model"/>
                        <dir
                          name="normalizer"/>
                        <dir
                          name="wordvector"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="opennlp">
                    <dir
                      name="tools">
                      <dir
                        name="chunker"/>
                      <dir
                        name="cmdline"/>
                      <dir
                        name="convert"/>
                      <dir
                        name="dictionary"/>
                      <dir
                        name="doccat"/>
                      <dir
                        name="eval"/>
                      <dir
                        name="formats">
                        <dir
                          name="ad"/>
                        <dir
                          name="brat"/>
                        <dir
                          name="conllu"/>
                        <dir
                          name="frenchtreebank"/>
                        <dir
                          name="irishsentencebank"/>
                        <dir
                          name="leipzig"/>
                        <dir
                          name="letsmt"/>
                        <dir
                          name="masc"/>
                        <dir
                          name="muc"/>
                        <dir
                          name="nkjp"/>
                      </dir>
                      <dir
                        name="langdetect"/>
                      <dir
                        name="languagemodel"/>
                      <dir
                        name="lemmatizer"/>
                      <dir
                        name="ml">
                        <dir
                          name="maxent">
                          <dir
                            name="io"/>
                          <dir
                            name="quasinewton"/>
                        </dir>
                        <dir
                          name="model"/>
                        <dir
                          name="naivebayes"/>
                        <dir
                          name="perceptron"/>
                      </dir>
                      <dir
                        name="namefind"/>
                      <dir
                        name="ngram"/>
                      <dir
                        name="parser">
                        <dir
                          name="chunking"/>
                        <dir
                          name="lang">
                          <dir
                            name="en"/>
                        </dir>
                        <dir
                          name="treeinsert"/>
                      </dir>
                      <dir
                        name="postag"/>
                      <dir
                        name="sentdetect"/>
                      <dir
                        name="stemmer"/>
                      <dir
                        name="tokenize"/>
                      <dir
                        name="util">
                        <dir
                          name="eval"/>
                        <dir
                          name="ext"/>
                        <dir
                          name="featuregen"/>
                        <dir
                          name="model"/>
                        <dir
                          name="normalizer"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="opennlp-uima">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="opennlp">
                    <dir
                      name="uima">
                      <dir
                        name="chunker"/>
                      <dir
                        name="dictionary"/>
                      <dir
                        name="doccat"/>
                      <dir
                        name="namefind"/>
                      <dir
                        name="normalizer"/>
                      <dir
                        name="parser"/>
                      <dir
                        name="postag"/>
                      <dir
                        name="sentdetect"/>
                      <dir
                        name="tokenize"/>
                      <dir
                        name="util"/>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="opennlp">
                    <dir
                      name="uima">
                      <dir
                        name="dictionary"/>
                      <dir
                        name="util"/>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
        </dir>
      </dir>
    </dir>
  </files>
  <languages>
    <language
      name="Java"/>
  </languages>
  <file_types/>
  <annotations_options/>
  <comparison_options
    comparison_db=""
    git_repo=""
    git_commit=""/>
  <imports/>
  <java_options
    count_javadoc_in_metrics="true"
    count_standard_in_max_inheritance="false"
    jni_kni_include_package_name="true"
    jni_kni_linkage_prepend_text="Java_"
    save_comments_associated_with_entities="true"
    version="Java10">
    <class_paths>
      <class_path
        path="C:/Program Files/Java/jdk-18.0.1.1/lib/src.zip"/>
      <class_path
        path="C:/Program Files/Java/jdk-18.0.1.1/jmods/java.base.jmod"/>
    </class_paths>
  </java_options>
</project>
