<project>
  <files
    portability_mode="relative"
    default_encoding="System"
    readonly="false"
    maxfilesize="10485760"
    enforce_portability="false">
    <dir
      name=".">
      <dir
        name="..">
        <dir
          name="xmlbeans">
          <watched
            subdirs="true">
            <filter
              name="Java"/>
          </watched>
          <dir
            name="samples">
            <dir
              name="AbstractTypes">
              <dir
                name="src">
                <dir
                  name="org">
                  <dir
                    name="apache">
                    <dir
                      name="xmlbeans">
                      <dir
                        name="samples">
                        <dir
                          name="abstracttypes"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="Any">
              <dir
                name="src">
                <dir
                  name="org">
                  <dir
                    name="apache">
                    <dir
                      name="xmlbeans">
                      <dir
                        name="samples">
                        <dir
                          name="anytype"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="DateTime">
              <dir
                name="src">
                <dir
                  name="org">
                  <dir
                    name="apache">
                    <dir
                      name="xmlbeans">
                      <dir
                        name="samples">
                        <dir
                          name="datetime"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="MixedContent">
              <dir
                name="src">
                <dir
                  name="org">
                  <dir
                    name="apache">
                    <dir
                      name="xmlbeans">
                      <dir
                        name="samples">
                        <dir
                          name="cursor"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="OrderMatters">
              <dir
                name="src">
                <dir
                  name="org">
                  <dir
                    name="apache">
                    <dir
                      name="xmlbeans">
                      <dir
                        name="samples">
                        <dir
                          name="cursor"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="SampleTemplate">
              <dir
                name="src">
                <dir
                  name="org">
                  <dir
                    name="apache">
                    <dir
                      name="xmlbeans">
                      <dir
                        name="samples">
                        <dir
                          name="template"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="SchemaEnum">
              <dir
                name="src">
                <dir
                  name="org">
                  <dir
                    name="apache">
                    <dir
                      name="xmlbeans">
                      <dir
                        name="samples">
                        <dir
                          name="enumeration"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="SubstitutionGroup">
              <dir
                name="src">
                <dir
                  name="org">
                  <dir
                    name="apache">
                    <dir
                      name="xmlbeans">
                      <dir
                        name="samples">
                        <dir
                          name="substitutiongroup"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="Validation">
              <dir
                name="src">
                <dir
                  name="org">
                  <dir
                    name="apache">
                    <dir
                      name="xmlbeans">
                      <dir
                        name="samples">
                        <dir
                          name="validation"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="XQueryXPath">
              <dir
                name="src">
                <dir
                  name="org">
                  <dir
                    name="apache">
                    <dir
                      name="xmlbeans">
                      <dir
                        name="samples">
                        <dir
                          name="xquery"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="XmlSort">
              <dir
                name="src">
                <dir
                  name="org">
                  <dir
                    name="apache">
                    <dir
                      name="xmlbeans">
                      <dir
                        name="samples">
                        <dir
                          name="cursor"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="XmlTree">
              <dir
                name="src">
                <dir
                  name="org">
                  <dir
                    name="apache">
                    <dir
                      name="xmlbeans">
                      <dir
                        name="samples">
                        <dir
                          name="xmltree"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="XsdConfig">
              <dir
                name="src">
                <dir
                  name="org">
                  <dir
                    name="apache">
                    <dir
                      name="xmlbeans">
                      <dir
                        name="samples">
                        <dir
                          name="xsdconfig"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="vxsdb">
              <dir
                name="src">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="xmlbeans">
                        <dir
                          name="samples">
                          <dir
                            name="vxsdb"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="src">
            <dir
              name="main">
              <dir
                name="java">
                <dir
                  name="org">
                  <dir
                    name="apache">
                    <dir
                      name="xmlbeans">
                      <dir
                        name="impl">
                        <dir
                          name="common"/>
                        <dir
                          name="config"/>
                        <dir
                          name="inst2xsd">
                          <dir
                            name="util"/>
                        </dir>
                        <dir
                          name="regex"/>
                        <dir
                          name="repackage"/>
                        <dir
                          name="richParser"/>
                        <dir
                          name="schema"/>
                        <dir
                          name="soap"/>
                        <dir
                          name="store"/>
                        <dir
                          name="tool"/>
                        <dir
                          name="util"/>
                        <dir
                          name="validator"/>
                        <dir
                          name="values"/>
                        <dir
                          name="xpath">
                          <dir
                            name="saxon"/>
                          <dir
                            name="xmlbeans"/>
                        </dir>
                        <dir
                          name="xpathgen"/>
                        <dir
                          name="xsd2inst"/>
                      </dir>
                      <dir
                        name="soap"/>
                      <dir
                        name="xml">
                        <dir
                          name="stream">
                          <dir
                            name="events"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="java9">
                <dir
                  name="org">
                  <dir
                    name="apache">
                    <dir
                      name="xmlbeans">
                      <dir
                        name="impl">
                        <dir
                          name="tool"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="test">
              <dir
                name="java">
                <dir
                  name="ValidatingXSRTests">
                  <dir
                    name="checkin"/>
                  <dir
                    name="common"/>
                  <dir
                    name="detailed"/>
                </dir>
                <dir
                  name="common"/>
                <dir
                  name="compile">
                  <dir
                    name="scomp">
                    <dir
                      name="checkin"/>
                    <dir
                      name="common">
                      <dir
                        name="mockobj"/>
                    </dir>
                    <dir
                      name="detailed"/>
                    <dir
                      name="incr">
                      <dir
                        name="schemaCompile">
                        <dir
                          name="detailed"/>
                      </dir>
                    </dir>
                    <dir
                      name="som">
                      <dir
                        name="checkin"/>
                      <dir
                        name="common"/>
                      <dir
                        name="detailed"/>
                    </dir>
                  </dir>
                </dir>
                <dir
                  name="dom">
                  <dir
                    name="checkin"/>
                  <dir
                    name="common"/>
                  <dir
                    name="detailed"/>
                </dir>
                <dir
                  name="misc">
                  <dir
                    name="checkin"/>
                  <dir
                    name="common"/>
                  <dir
                    name="detailed"/>
                </dir>
                <dir
                  name="org">
                  <dir
                    name="apache">
                    <dir
                      name="xmlbeans">
                      <dir
                        name="impl">
                        <dir
                          name="tool"/>
                      </dir>
                    </dir>
                  </dir>
                  <dir
                    name="w3c">
                    <dir
                      name="domts">
                      <dir
                        name="level2">
                        <dir
                          name="core"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
                <dir
                  name="random">
                  <dir
                    name="checkin"/>
                  <dir
                    name="common"/>
                </dir>
                <dir
                  name="scomp">
                  <dir
                    name="attributes">
                    <dir
                      name="detailed"/>
                  </dir>
                  <dir
                    name="common"/>
                  <dir
                    name="contentType">
                    <dir
                      name="complex">
                      <dir
                        name="detailed"/>
                      <dir
                        name="modelGroup">
                        <dir
                          name="detailed"/>
                      </dir>
                    </dir>
                    <dir
                      name="simple">
                      <dir
                        name="detailed"/>
                    </dir>
                  </dir>
                  <dir
                    name="derivation">
                    <dir
                      name="detailed"/>
                    <dir
                      name="extension">
                      <dir
                        name="detailed"/>
                    </dir>
                    <dir
                      name="restriction">
                      <dir
                        name="detailed"/>
                      <dir
                        name="facets">
                        <dir
                          name="detailed"/>
                      </dir>
                    </dir>
                  </dir>
                  <dir
                    name="elements">
                    <dir
                      name="detailed"/>
                  </dir>
                  <dir
                    name="idConstraint">
                    <dir
                      name="detailed"/>
                  </dir>
                  <dir
                    name="namespace">
                    <dir
                      name="checkin"/>
                    <dir
                      name="detailed"/>
                  </dir>
                  <dir
                    name="redefine">
                    <dir
                      name="detailed"/>
                  </dir>
                  <dir
                    name="simple"/>
                  <dir
                    name="substGroup">
                    <dir
                      name="detailed"/>
                    <dir
                      name="restriction">
                      <dir
                        name="detailed"/>
                    </dir>
                  </dir>
                  <dir
                    name="xmlbeans583">
                    <dir
                      name="detailed"/>
                  </dir>
                </dir>
                <dir
                  name="tools">
                  <dir
                    name="inst2xsd">
                    <dir
                      name="checkin"/>
                    <dir
                      name="common"/>
                    <dir
                      name="detailed"/>
                  </dir>
                  <dir
                    name="util"/>
                  <dir
                    name="xml"/>
                  <dir
                    name="xsd2inst">
                    <dir
                      name="checkin"/>
                  </dir>
                </dir>
                <dir
                  name="xmlcursor">
                  <dir
                    name="checkin"/>
                  <dir
                    name="common"/>
                  <dir
                    name="detailed"/>
                  <dir
                    name="jsr173">
                    <dir
                      name="common"/>
                  </dir>
                  <dir
                    name="xpath">
                    <dir
                      name="common"/>
                    <dir
                      name="complex">
                      <dir
                        name="checkin"/>
                      <dir
                        name="detailed"/>
                    </dir>
                    <dir
                      name="xbean_xpath">
                      <dir
                        name="detailed"/>
                    </dir>
                  </dir>
                  <dir
                    name="xquery">
                    <dir
                      name="checkin"/>
                    <dir
                      name="detailed"/>
                  </dir>
                </dir>
                <dir
                  name="xmlobject">
                  <dir
                    name="checkin"/>
                  <dir
                    name="detailed"/>
                  <dir
                    name="extensions">
                    <dir
                      name="interfaceFeature">
                      <dir
                        name="averageCase">
                        <dir
                          name="checkin"/>
                        <dir
                          name="existing"/>
                      </dir>
                      <dir
                        name="methodNameCollision">
                        <dir
                          name="checkin"/>
                        <dir
                          name="existing"/>
                      </dir>
                      <dir
                        name="multInterfaces">
                        <dir
                          name="checkin"/>
                        <dir
                          name="existing"/>
                      </dir>
                      <dir
                        name="readOnlyBean">
                        <dir
                          name="checkin"/>
                        <dir
                          name="existing"/>
                      </dir>
                    </dir>
                    <dir
                      name="prePostFeature">
                      <dir
                        name="ValueRestriction">
                        <dir
                          name="checkin"/>
                        <dir
                          name="existing"/>
                      </dir>
                      <dir
                        name="readOnlyBean">
                        <dir
                          name="checkin"/>
                        <dir
                          name="existing"/>
                      </dir>
                    </dir>
                  </dir>
                  <dir
                    name="schematypes">
                    <dir
                      name="checkin"/>
                    <dir
                      name="detailed"/>
                  </dir>
                  <dir
                    name="usertype">
                    <dir
                      name="averageCase">
                      <dir
                        name="checkin"/>
                      <dir
                        name="existing"/>
                    </dir>
                    <dir
                      name="multipleItems">
                      <dir
                        name="checkin"/>
                      <dir
                        name="existing"/>
                    </dir>
                  </dir>
                  <dir
                    name="xmlloader">
                    <dir
                      name="detailed"/>
                  </dir>
                </dir>
                <dir
                  name="xmltokensource">
                  <dir
                    name="detailed"/>
                </dir>
              </dir>
              <dir
                name="java.ignore">
                <dir
                  name="drt">
                  <dir
                    name="drtcases"/>
                </dir>
              </dir>
              <dir
                name="resources">
                <dir
                  name="xbean">
                  <dir
                    name="compile">
                    <dir
                      name="scomp">
                      <dir
                        name="partials">
                        <dir
                          name="impl"/>
                      </dir>
                      <dir
                        name="schemacompiler">
                        <dir
                          name="ext"/>
                      </dir>
                    </dir>
                  </dir>
                  <dir
                    name="marshal">
                    <dir
                      name="com">
                      <dir
                        name="mytest"/>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="test">
            <dir
              name="perf">
              <dir
                name="src">
                <dir
                  name="org">
                  <dir
                    name="apache">
                    <dir
                      name="xmlbeans">
                      <dir
                        name="test">
                        <dir
                          name="performance">
                          <dir
                            name="castor"/>
                          <dir
                            name="jaxb"/>
                          <dir
                            name="jaxb2"/>
                          <dir
                            name="jibx">
                            <dir
                              name="binding"/>
                          </dir>
                          <dir
                            name="parsers"/>
                          <dir
                            name="svn"/>
                          <dir
                            name="utils"/>
                          <dir
                            name="v1"/>
                          <dir
                            name="v2"/>
                          <dir
                            name="xerces"/>
                        </dir>
                        <dir
                          name="tools"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
        </dir>
      </dir>
    </dir>
  </files>
  <languages>
    <language
      name="Java"/>
  </languages>
  <file_types/>
  <annotations_options/>
  <comparison_options
    comparison_db=""
    git_repo=""
    git_commit=""/>
  <imports/>
  <java_options
    count_javadoc_in_metrics="true"
    count_standard_in_max_inheritance="false"
    jni_kni_include_package_name="true"
    jni_kni_linkage_prepend_text="Java_"
    save_comments_associated_with_entities="true"
    version="Java10">
    <class_paths>
      <class_path
        path="C:/Program Files/Java/jdk-18.0.1.1/lib/src.zip"/>
      <class_path
        path="C:/Program Files/Java/jdk-18.0.1.1/jmods/java.base.jmod"/>
    </class_paths>
  </java_options>
</project>
