<project>
  <files
    portability_mode="relative"
    default_encoding="System"
    readonly="false"
    maxfilesize="10485760"
    enforce_portability="false">
    <dir
      name=".">
      <dir
        name="..">
        <dir
          name="directory-studio">
          <watched
            subdirs="true">
            <filter
              name="Java"/>
          </watched>
          <dir
            name="plugins">
            <dir
              name="aciitemeditor">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="directory">
                          <dir
                            name="studio">
                            <dir
                              name="aciitemeditor">
                              <dir
                                name="dialogs"/>
                              <dir
                                name="model"/>
                              <dir
                                name="sourceeditor"/>
                              <dir
                                name="valueeditors"/>
                              <dir
                                name="widgets"/>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="apacheds.configuration">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="directory">
                          <dir
                            name="studio">
                            <dir
                              name="apacheds">
                              <dir
                                name="configuration">
                                <dir
                                  name="actions"/>
                                <dir
                                  name="dialogs"/>
                                <dir
                                  name="editor"/>
                                <dir
                                  name="jobs"/>
                                <dir
                                  name="wizards"/>
                              </dir>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="combinededitor">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="directory">
                          <dir
                            name="studio">
                            <dir
                              name="combinededitor">
                              <dir
                                name="actions"/>
                              <dir
                                name="editor"/>
                              <dir
                                name="preferences"/>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="common.core">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="directory">
                          <dir
                            name="studio">
                            <dir
                              name="common">
                              <dir
                                name="core">
                                <dir
                                  name="jobs"/>
                              </dir>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="common.ui">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="directory">
                          <dir
                            name="studio">
                            <dir
                              name="common">
                              <dir
                                name="ui">
                                <dir
                                  name="dialogs"/>
                                <dir
                                  name="filesystem"/>
                                <dir
                                  name="widgets"/>
                                <dir
                                  name="wrappers"/>
                              </dir>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="connection.core">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="directory">
                          <dir
                            name="studio">
                            <dir
                              name="connection">
                              <dir
                                name="core">
                                <dir
                                  name="event"/>
                                <dir
                                  name="io">
                                  <dir
                                    name="api"/>
                                </dir>
                                <dir
                                  name="jobs"/>
                              </dir>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="connection.ui">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="directory">
                          <dir
                            name="studio">
                            <dir
                              name="connection">
                              <dir
                                name="ui">
                                <dir
                                  name="actions"/>
                                <dir
                                  name="dialogs"/>
                                <dir
                                  name="dnd"/>
                                <dir
                                  name="preferences"/>
                                <dir
                                  name="properties"/>
                                <dir
                                  name="widgets"/>
                                <dir
                                  name="wizards"/>
                              </dir>
                            </dir>
                            <dir
                              name="utils"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="edirectory">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="directory">
                          <dir
                            name="studio">
                            <dir
                              name="edirectory"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="ldapbrowser.common">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="directory">
                          <dir
                            name="studio">
                            <dir
                              name="ldapbrowser">
                              <dir
                                name="common">
                                <dir
                                  name="actions">
                                  <dir
                                    name="proxy"/>
                                </dir>
                                <dir
                                  name="dialogs">
                                  <dir
                                    name="preferences"/>
                                </dir>
                                <dir
                                  name="dnd"/>
                                <dir
                                  name="filtereditor"/>
                                <dir
                                  name="widgets">
                                  <dir
                                    name="browser"/>
                                  <dir
                                    name="connection"/>
                                  <dir
                                    name="entryeditor"/>
                                  <dir
                                    name="search"/>
                                </dir>
                                <dir
                                  name="wizards"/>
                              </dir>
                            </dir>
                            <dir
                              name="valueeditors"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
                <dir
                  name="test">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="directory">
                          <dir
                            name="studio">
                            <dir
                              name="ldapbrowser">
                              <dir
                                name="common">
                                <dir
                                  name="widgets">
                                  <dir
                                    name="entryeditor"/>
                                  <dir
                                    name="search"/>
                                </dir>
                              </dir>
                            </dir>
                            <dir
                              name="valueeditors"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="ldapbrowser.core">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="directory">
                          <dir
                            name="studio">
                            <dir
                              name="ldapbrowser">
                              <dir
                                name="core">
                                <dir
                                  name="events"/>
                                <dir
                                  name="internal">
                                  <dir
                                    name="search"/>
                                </dir>
                                <dir
                                  name="jobs"/>
                                <dir
                                  name="model">
                                  <dir
                                    name="filter">
                                    <dir
                                      name="parser"/>
                                  </dir>
                                  <dir
                                    name="impl"/>
                                  <dir
                                    name="schema"/>
                                </dir>
                                <dir
                                  name="propertypageproviders"/>
                                <dir
                                  name="utils"/>
                              </dir>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
                <dir
                  name="test">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="directory">
                          <dir
                            name="studio">
                            <dir
                              name="ldapbrowser">
                              <dir
                                name="core">
                                <dir
                                  name="model"/>
                                <dir
                                  name="utils"/>
                              </dir>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="ldapbrowser.ui">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="directory">
                          <dir
                            name="studio">
                            <dir
                              name="entryeditors"/>
                            <dir
                              name="ldapbrowser">
                              <dir
                                name="ui">
                                <dir
                                  name="actions">
                                  <dir
                                    name="proxy"/>
                                </dir>
                                <dir
                                  name="dialogs">
                                  <dir
                                    name="preferences"/>
                                  <dir
                                    name="properties"/>
                                </dir>
                                <dir
                                  name="editors">
                                  <dir
                                    name="entry"/>
                                  <dir
                                    name="schemabrowser"/>
                                  <dir
                                    name="searchresult"/>
                                </dir>
                                <dir
                                  name="perspective"/>
                                <dir
                                  name="search"/>
                                <dir
                                  name="views">
                                  <dir
                                    name="browser"/>
                                  <dir
                                    name="connection"/>
                                  <dir
                                    name="modificationlogs"/>
                                  <dir
                                    name="searchlogs"/>
                                </dir>
                                <dir
                                  name="wizards"/>
                              </dir>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="ldapservers">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="directory">
                          <dir
                            name="studio">
                            <dir
                              name="ldapservers">
                              <dir
                                name="actions"/>
                              <dir
                                name="dialogs"/>
                              <dir
                                name="jobs"/>
                              <dir
                                name="model"/>
                              <dir
                                name="properties"/>
                              <dir
                                name="views"/>
                              <dir
                                name="wizards"/>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="ldapservers.apacheds">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="directory">
                          <dir
                            name="studio">
                            <dir
                              name="ldapservers">
                              <dir
                                name="apacheds"/>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="ldifeditor">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="directory">
                          <dir
                            name="studio">
                            <dir
                              name="ldifeditor">
                              <dir
                                name="dialogs">
                                <dir
                                  name="preferences"/>
                              </dir>
                              <dir
                                name="editor">
                                <dir
                                  name="actions"/>
                                <dir
                                  name="reconciler"/>
                                <dir
                                  name="text"/>
                              </dir>
                              <dir
                                name="widgets"/>
                              <dir
                                name="wizards"/>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="ldifparser">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="directory">
                          <dir
                            name="studio">
                            <dir
                              name="ldifparser">
                              <dir
                                name="model">
                                <dir
                                  name="container"/>
                                <dir
                                  name="lines"/>
                              </dir>
                              <dir
                                name="parser"/>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
                <dir
                  name="test">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="directory">
                          <dir
                            name="studio">
                            <dir
                              name="ldifparser">
                              <dir
                                name="model">
                                <dir
                                  name="lines"/>
                              </dir>
                              <dir
                                name="parser"/>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="openldap.acl.editor">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="directory">
                          <dir
                            name="studio">
                            <dir
                              name="openldap">
                              <dir
                                name="config">
                                <dir
                                  name="acl">
                                  <dir
                                    name="dialogs"/>
                                  <dir
                                    name="editor"/>
                                  <dir
                                    name="model"/>
                                  <dir
                                    name="sourceeditor"/>
                                  <dir
                                    name="widgets">
                                    <dir
                                      name="composites"/>
                                  </dir>
                                  <dir
                                    name="wrapper"/>
                                </dir>
                              </dir>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
                <dir
                  name="test">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="directory">
                          <dir
                            name="studio">
                            <dir
                              name="openldap">
                              <dir
                                name="config">
                                <dir
                                  name="acl">
                                  <dir
                                    name="model"/>
                                </dir>
                              </dir>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="openldap.common.ui">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="directory">
                          <dir
                            name="studio">
                            <dir
                              name="openldap">
                              <dir
                                name="common">
                                <dir
                                  name="ui">
                                  <dir
                                    name="dialogs"/>
                                  <dir
                                    name="model"/>
                                  <dir
                                    name="widgets"/>
                                </dir>
                              </dir>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
                <dir
                  name="test">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="directory">
                          <dir
                            name="studio">
                            <dir
                              name="openldap">
                              <dir
                                name="common">
                                <dir
                                  name="ui">
                                  <dir
                                    name="dialogs"/>
                                </dir>
                              </dir>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="openldap.config.editor">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="directory">
                          <dir
                            name="studio">
                            <dir
                              name="openldap">
                              <dir
                                name="config">
                                <dir
                                  name="actions"/>
                                <dir
                                  name="editor">
                                  <dir
                                    name="databases"/>
                                  <dir
                                    name="dialogs">
                                    <dir
                                      name="overlays"/>
                                  </dir>
                                  <dir
                                    name="overlays"/>
                                  <dir
                                    name="pages"/>
                                  <dir
                                    name="wrappers"/>
                                </dir>
                                <dir
                                  name="jobs"/>
                                <dir
                                  name="model">
                                  <dir
                                    name="database"/>
                                  <dir
                                    name="io"/>
                                  <dir
                                    name="overlay"/>
                                  <dir
                                    name="widgets"/>
                                </dir>
                                <dir
                                  name="wizards"/>
                              </dir>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
                <dir
                  name="test">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="directory">
                          <dir
                            name="studio">
                            <dir
                              name="openldap">
                              <dir
                                name="config">
                                <dir
                                  name="editor">
                                  <dir
                                    name="dialogs"/>
                                </dir>
                                <dir
                                  name="model">
                                  <dir
                                    name="overlay"/>
                                </dir>
                                <dir
                                  name="wrappers"/>
                              </dir>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="openldap.syncrepl">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="directory">
                          <dir
                            name="studio">
                            <dir
                              name="openldap">
                              <dir
                                name="syncrepl"/>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
                <dir
                  name="test">
                  <dir
                    name="java">
                    <dir
                      name="com">
                      <dir
                        name="iktek">
                        <dir
                          name="studio">
                          <dir
                            name="openldap">
                            <dir
                              name="syncrepl"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="rcp">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="directory">
                          <dir
                            name="studio">
                            <dir
                              name="actions"/>
                            <dir
                              name="preferences"/>
                            <dir
                              name="view"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="schemaeditor">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="directory">
                          <dir
                            name="studio">
                            <dir
                              name="schemaeditor">
                              <dir
                                name="controller">
                                <dir
                                  name="actions"/>
                              </dir>
                              <dir
                                name="model">
                                <dir
                                  name="alias"/>
                                <dir
                                  name="difference"/>
                                <dir
                                  name="hierarchy"/>
                                <dir
                                  name="io"/>
                                <dir
                                  name="schemachecker"/>
                                <dir
                                  name="schemamanager"/>
                              </dir>
                              <dir
                                name="view">
                                <dir
                                  name="dialogs"/>
                                <dir
                                  name="editors">
                                  <dir
                                    name="attributetype"/>
                                  <dir
                                    name="objectclass"/>
                                  <dir
                                    name="schema"/>
                                </dir>
                                <dir
                                  name="preferences"/>
                                <dir
                                  name="search"/>
                                <dir
                                  name="views"/>
                                <dir
                                  name="widget"/>
                                <dir
                                  name="wizards"/>
                                <dir
                                  name="wrappers">
                                  <dir
                                    name="difference"/>
                                </dir>
                              </dir>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
                <dir
                  name="test">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="directory">
                          <dir
                            name="studio">
                            <dir
                              name="schemaeditor">
                              <dir
                                name="model">
                                <dir
                                  name="alias"/>
                                <dir
                                  name="difference"/>
                                <dir
                                  name="io"/>
                              </dir>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="slf4j-eclipselog">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="slf4j">
                        <dir
                          name="impl"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="templateeditor">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="directory">
                          <dir
                            name="studio">
                            <dir
                              name="templateeditor">
                              <dir
                                name="actions"/>
                              <dir
                                name="editor">
                                <dir
                                  name="widgets"/>
                              </dir>
                              <dir
                                name="model">
                                <dir
                                  name="parser"/>
                                <dir
                                  name="widgets"/>
                              </dir>
                              <dir
                                name="view">
                                <dir
                                  name="preferences"/>
                                <dir
                                  name="wizards"/>
                              </dir>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
                <dir
                  name="test">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="directory">
                          <dir
                            name="studio">
                            <dir
                              name="templateeditor">
                              <dir
                                name="model">
                                <dir
                                  name="parser"/>
                              </dir>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="valueeditors">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="directory">
                          <dir
                            name="studio">
                            <dir
                              name="valueeditors">
                              <dir
                                name="address"/>
                              <dir
                                name="administrativerole"/>
                              <dir
                                name="adtime"/>
                              <dir
                                name="bool"/>
                              <dir
                                name="certificate"/>
                              <dir
                                name="dn"/>
                              <dir
                                name="image"/>
                              <dir
                                name="integer"/>
                              <dir
                                name="msad"/>
                              <dir
                                name="objectclass"/>
                              <dir
                                name="oid"/>
                              <dir
                                name="password"/>
                              <dir
                                name="time"/>
                              <dir
                                name="uuid"/>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
                <dir
                  name="test">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="directory">
                          <dir
                            name="studio">
                            <dir
                              name="valueeditors">
                              <dir
                                name="msad"/>
                              <dir
                                name="uuid"/>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="tests">
            <dir
              name="test.integration.core">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="directory">
                          <dir
                            name="studio">
                            <dir
                              name="test">
                              <dir
                                name="integration">
                                <dir
                                  name="core"/>
                                <dir
                                  name="junit5"/>
                              </dir>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="test.integration.ui">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="directory">
                          <dir
                            name="studio">
                            <dir
                              name="test">
                              <dir
                                name="integration">
                                <dir
                                  name="ui">
                                  <dir
                                    name="bots"/>
                                  <dir
                                    name="utils"/>
                                </dir>
                              </dir>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
        </dir>
      </dir>
    </dir>
  </files>
  <languages>
    <language
      name="Java"/>
  </languages>
  <file_types/>
  <annotations_options/>
  <comparison_options
    comparison_db=""
    git_repo=""
    git_commit=""/>
  <imports/>
  <java_options
    count_javadoc_in_metrics="true"
    count_standard_in_max_inheritance="false"
    jni_kni_include_package_name="true"
    jni_kni_linkage_prepend_text="Java_"
    save_comments_associated_with_entities="true"
    version="Java10">
    <class_paths>
      <class_path
        path="C:/Program Files/Java/jdk-18.0.1.1/lib/src.zip"/>
      <class_path
        path="C:/Program Files/Java/jdk-18.0.1.1/jmods/java.base.jmod"/>
    </class_paths>
  </java_options>
</project>
