<project>
  <files
    portability_mode="relative"
    default_encoding="System"
    readonly="false"
    maxfilesize="10485760"
    enforce_portability="false">
    <dir
      name=".">
      <dir
        name="..">
        <dir
          name="mahout">
          <watched
            subdirs="true">
            <filter
              name="Java"/>
          </watched>
          <dir
            name="community">
            <dir
              name="community-engines">
              <dir
                name="h2o">
                <dir
                  name="src">
                  <dir
                    name="main">
                    <dir
                      name="java">
                      <dir
                        name="org">
                        <dir
                          name="apache">
                          <dir
                            name="mahout">
                            <dir
                              name="h2obindings">
                              <dir
                                name="drm"/>
                              <dir
                                name="ops"/>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="mahout-mr">
              <dir
                name="integration">
                <dir
                  name="src">
                  <dir
                    name="main">
                    <dir
                      name="java">
                      <dir
                        name="org">
                        <dir
                          name="apache">
                          <dir
                            name="mahout">
                            <dir
                              name="benchmark"/>
                            <dir
                              name="cf">
                              <dir
                                name="taste">
                                <dir
                                  name="impl">
                                  <dir
                                    name="model">
                                    <dir
                                      name="cassandra"/>
                                    <dir
                                      name="hbase"/>
                                    <dir
                                      name="jdbc"/>
                                    <dir
                                      name="mongodb"/>
                                  </dir>
                                  <dir
                                    name="similarity">
                                    <dir
                                      name="jdbc"/>
                                  </dir>
                                </dir>
                                <dir
                                  name="web"/>
                              </dir>
                            </dir>
                            <dir
                              name="classifier"/>
                            <dir
                              name="clustering">
                              <dir
                                name="cdbw"/>
                              <dir
                                name="conversion"/>
                              <dir
                                name="evaluation"/>
                              <dir
                                name="lda"/>
                            </dir>
                            <dir
                              name="text">
                              <dir
                                name="wikipedia"/>
                            </dir>
                            <dir
                              name="utils">
                              <dir
                                name="clustering"/>
                              <dir
                                name="email"/>
                              <dir
                                name="io"/>
                              <dir
                                name="nlp">
                                <dir
                                  name="collocations">
                                  <dir
                                    name="llr"/>
                                </dir>
                              </dir>
                              <dir
                                name="regex"/>
                              <dir
                                name="vectors">
                                <dir
                                  name="arff"/>
                                <dir
                                  name="csv"/>
                                <dir
                                  name="io"/>
                                <dir
                                  name="lucene"/>
                              </dir>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                  <dir
                    name="test">
                    <dir
                      name="java">
                      <dir
                        name="org">
                        <dir
                          name="apache">
                          <dir
                            name="mahout">
                            <dir
                              name="cf">
                              <dir
                                name="taste">
                                <dir
                                  name="impl">
                                  <dir
                                    name="similarity">
                                    <dir
                                      name="jdbc"/>
                                  </dir>
                                </dir>
                              </dir>
                            </dir>
                            <dir
                              name="clustering">
                              <dir
                                name="cdbw"/>
                            </dir>
                            <dir
                              name="text">
                              <dir
                                name="doc"/>
                            </dir>
                            <dir
                              name="utils">
                              <dir
                                name="email"/>
                              <dir
                                name="nlp">
                                <dir
                                  name="collocations">
                                  <dir
                                    name="llr"/>
                                </dir>
                              </dir>
                              <dir
                                name="regex"/>
                              <dir
                                name="vectors">
                                <dir
                                  name="arff"/>
                                <dir
                                  name="csv"/>
                                <dir
                                  name="io"/>
                                <dir
                                  name="lucene"/>
                              </dir>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="mr">
                <dir
                  name="src">
                  <dir
                    name="main">
                    <dir
                      name="java">
                      <dir
                        name="org">
                        <dir
                          name="apache">
                          <dir
                            name="mahout">
                            <dir
                              name="cf">
                              <dir
                                name="taste">
                                <dir
                                  name="common"/>
                                <dir
                                  name="eval"/>
                                <dir
                                  name="hadoop">
                                  <dir
                                    name="als"/>
                                  <dir
                                    name="item"/>
                                  <dir
                                    name="preparation"/>
                                  <dir
                                    name="similarity">
                                    <dir
                                      name="item"/>
                                  </dir>
                                </dir>
                                <dir
                                  name="impl">
                                  <dir
                                    name="common">
                                    <dir
                                      name="jdbc"/>
                                  </dir>
                                  <dir
                                    name="eval"/>
                                  <dir
                                    name="model">
                                    <dir
                                      name="file"/>
                                  </dir>
                                  <dir
                                    name="neighborhood"/>
                                  <dir
                                    name="recommender">
                                    <dir
                                      name="svd"/>
                                  </dir>
                                  <dir
                                    name="similarity">
                                    <dir
                                      name="file"/>
                                    <dir
                                      name="precompute"/>
                                  </dir>
                                </dir>
                                <dir
                                  name="model"/>
                                <dir
                                  name="neighborhood"/>
                                <dir
                                  name="recommender"/>
                                <dir
                                  name="similarity">
                                  <dir
                                    name="precompute"/>
                                </dir>
                              </dir>
                            </dir>
                            <dir
                              name="classifier">
                              <dir
                                name="df">
                                <dir
                                  name="builder"/>
                                <dir
                                  name="data">
                                  <dir
                                    name="conditions"/>
                                </dir>
                                <dir
                                  name="mapreduce">
                                  <dir
                                    name="inmem"/>
                                  <dir
                                    name="partial"/>
                                </dir>
                                <dir
                                  name="node"/>
                                <dir
                                  name="ref"/>
                                <dir
                                  name="split"/>
                                <dir
                                  name="tools"/>
                              </dir>
                              <dir
                                name="evaluation"/>
                              <dir
                                name="naivebayes">
                                <dir
                                  name="test"/>
                                <dir
                                  name="training"/>
                              </dir>
                              <dir
                                name="sequencelearning">
                                <dir
                                  name="hmm"/>
                              </dir>
                              <dir
                                name="sgd"/>
                            </dir>
                            <dir
                              name="clustering">
                              <dir
                                name="canopy"/>
                              <dir
                                name="classify"/>
                              <dir
                                name="fuzzykmeans"/>
                              <dir
                                name="iterator"/>
                              <dir
                                name="kernel"/>
                              <dir
                                name="kmeans"/>
                              <dir
                                name="lda">
                                <dir
                                  name="cvb"/>
                              </dir>
                              <dir
                                name="spectral">
                                <dir
                                  name="kmeans"/>
                              </dir>
                              <dir
                                name="streaming">
                                <dir
                                  name="cluster"/>
                                <dir
                                  name="mapreduce"/>
                                <dir
                                  name="tools"/>
                              </dir>
                              <dir
                                name="topdown">
                                <dir
                                  name="postprocessor"/>
                              </dir>
                            </dir>
                            <dir
                              name="common">
                              <dir
                                name="commandline"/>
                              <dir
                                name="distance"/>
                              <dir
                                name="iterator">
                                <dir
                                  name="sequencefile"/>
                              </dir>
                              <dir
                                name="lucene"/>
                              <dir
                                name="mapreduce"/>
                              <dir
                                name="nlp"/>
                              <dir
                                name="parameters"/>
                            </dir>
                            <dir
                              name="driver"/>
                            <dir
                              name="ep"/>
                            <dir
                              name="math">
                              <dir
                                name="als"/>
                              <dir
                                name="decomposer">
                                <dir
                                  name="hebbian"/>
                                <dir
                                  name="lanczos"/>
                              </dir>
                              <dir
                                name="hadoop">
                                <dir
                                  name="decomposer"/>
                                <dir
                                  name="similarity">
                                  <dir
                                    name="cooccurrence">
                                    <dir
                                      name="measures"/>
                                  </dir>
                                </dir>
                                <dir
                                  name="solver"/>
                                <dir
                                  name="stats"/>
                                <dir
                                  name="stochasticsvd">
                                  <dir
                                    name="qr"/>
                                </dir>
                              </dir>
                              <dir
                                name="neighborhood"/>
                              <dir
                                name="random"/>
                              <dir
                                name="ssvd"/>
                              <dir
                                name="stats"/>
                            </dir>
                            <dir
                              name="vectorizer">
                              <dir
                                name="collocations">
                                <dir
                                  name="llr"/>
                              </dir>
                              <dir
                                name="common"/>
                              <dir
                                name="document"/>
                              <dir
                                name="encoders"/>
                              <dir
                                name="pruner"/>
                              <dir
                                name="term"/>
                              <dir
                                name="tfidf"/>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                  <dir
                    name="test">
                    <dir
                      name="java">
                      <dir
                        name="org">
                        <dir
                          name="apache">
                          <dir
                            name="mahout">
                            <dir
                              name="cf">
                              <dir
                                name="taste">
                                <dir
                                  name="common"/>
                                <dir
                                  name="hadoop">
                                  <dir
                                    name="als"/>
                                  <dir
                                    name="item"/>
                                  <dir
                                    name="similarity">
                                    <dir
                                      name="item"/>
                                  </dir>
                                </dir>
                                <dir
                                  name="impl">
                                  <dir
                                    name="common"/>
                                  <dir
                                    name="eval"/>
                                  <dir
                                    name="model">
                                    <dir
                                      name="file"/>
                                  </dir>
                                  <dir
                                    name="neighborhood"/>
                                  <dir
                                    name="recommender">
                                    <dir
                                      name="svd"/>
                                  </dir>
                                  <dir
                                    name="similarity">
                                    <dir
                                      name="file"/>
                                    <dir
                                      name="precompute"/>
                                  </dir>
                                </dir>
                                <dir
                                  name="similarity">
                                  <dir
                                    name="precompute"/>
                                </dir>
                              </dir>
                            </dir>
                            <dir
                              name="classifier">
                              <dir
                                name="df">
                                <dir
                                  name="builder"/>
                                <dir
                                  name="data"/>
                                <dir
                                  name="mapreduce">
                                  <dir
                                    name="inmem"/>
                                  <dir
                                    name="partial"/>
                                </dir>
                                <dir
                                  name="node"/>
                                <dir
                                  name="split"/>
                                <dir
                                  name="tools"/>
                              </dir>
                              <dir
                                name="evaluation"/>
                              <dir
                                name="naivebayes">
                                <dir
                                  name="training"/>
                              </dir>
                              <dir
                                name="sequencelearning">
                                <dir
                                  name="hmm"/>
                              </dir>
                              <dir
                                name="sgd"/>
                            </dir>
                            <dir
                              name="clustering">
                              <dir
                                name="canopy"/>
                              <dir
                                name="classify"/>
                              <dir
                                name="fuzzykmeans"/>
                              <dir
                                name="iterator"/>
                              <dir
                                name="kmeans"/>
                              <dir
                                name="lda">
                                <dir
                                  name="cvb"/>
                              </dir>
                              <dir
                                name="spectral">
                                <dir
                                  name="kmeans"/>
                              </dir>
                              <dir
                                name="streaming">
                                <dir
                                  name="cluster"/>
                                <dir
                                  name="mapreduce"/>
                                <dir
                                  name="tools"/>
                              </dir>
                              <dir
                                name="topdown">
                                <dir
                                  name="postprocessor"/>
                              </dir>
                            </dir>
                            <dir
                              name="common">
                              <dir
                                name="distance"/>
                              <dir
                                name="iterator"/>
                              <dir
                                name="lucene"/>
                            </dir>
                            <dir
                              name="driver"/>
                            <dir
                              name="ep"/>
                            <dir
                              name="math">
                              <dir
                                name="hadoop">
                                <dir
                                  name="decomposer"/>
                                <dir
                                  name="similarity">
                                  <dir
                                    name="cooccurrence">
                                    <dir
                                      name="measures"/>
                                  </dir>
                                </dir>
                                <dir
                                  name="solver"/>
                                <dir
                                  name="stats"/>
                                <dir
                                  name="stochasticsvd"/>
                              </dir>
                              <dir
                                name="neighborhood"/>
                              <dir
                                name="ssvd"/>
                              <dir
                                name="stats"/>
                            </dir>
                            <dir
                              name="vectorizer">
                              <dir
                                name="collocations">
                                <dir
                                  name="llr"/>
                              </dir>
                              <dir
                                name="encoders"/>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="mr-examples">
                <dir
                  name="src">
                  <dir
                    name="main">
                    <dir
                      name="java">
                      <dir
                        name="org">
                        <dir
                          name="apache">
                          <dir
                            name="mahout">
                            <dir
                              name="cf">
                              <dir
                                name="taste">
                                <dir
                                  name="example">
                                  <dir
                                    name="bookcrossing"/>
                                  <dir
                                    name="email"/>
                                  <dir
                                    name="kddcup">
                                    <dir
                                      name="track1">
                                      <dir
                                        name="svd"/>
                                    </dir>
                                    <dir
                                      name="track2"/>
                                  </dir>
                                </dir>
                                <dir
                                  name="hadoop">
                                  <dir
                                    name="example">
                                    <dir
                                      name="als">
                                      <dir
                                        name="netflix"/>
                                    </dir>
                                  </dir>
                                </dir>
                                <dir
                                  name="similarity">
                                  <dir
                                    name="precompute">
                                    <dir
                                      name="example"/>
                                  </dir>
                                </dir>
                              </dir>
                            </dir>
                            <dir
                              name="classifier">
                              <dir
                                name="email"/>
                              <dir
                                name="sequencelearning">
                                <dir
                                  name="hmm"/>
                              </dir>
                              <dir
                                name="sgd">
                                <dir
                                  name="bankmarketing"/>
                              </dir>
                            </dir>
                            <dir
                              name="clustering">
                              <dir
                                name="display"/>
                              <dir
                                name="streaming">
                                <dir
                                  name="tools"/>
                              </dir>
                              <dir
                                name="syntheticcontrol">
                                <dir
                                  name="canopy"/>
                                <dir
                                  name="fuzzykmeans"/>
                                <dir
                                  name="kmeans"/>
                              </dir>
                            </dir>
                            <dir
                              name="fpm">
                              <dir
                                name="pfpgrowth">
                                <dir
                                  name="dataset"/>
                              </dir>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                  <dir
                    name="test">
                    <dir
                      name="java">
                      <dir
                        name="org">
                        <dir
                          name="apache">
                          <dir
                            name="mahout">
                            <dir
                              name="classifier">
                              <dir
                                name="sgd"/>
                            </dir>
                            <dir
                              name="clustering">
                              <dir
                                name="display"/>
                            </dir>
                            <dir
                              name="examples"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="core">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="mahout">
                        <dir
                          name="collections"/>
                        <dir
                          name="common"/>
                        <dir
                          name="math">
                          <dir
                            name="als"/>
                          <dir
                            name="decomposer">
                            <dir
                              name="hebbian"/>
                            <dir
                              name="lanczos"/>
                          </dir>
                          <dir
                            name="flavor"/>
                          <dir
                            name="function"/>
                          <dir
                            name="jet">
                            <dir
                              name="math"/>
                            <dir
                              name="random">
                              <dir
                                name="engine"/>
                              <dir
                                name="sampling"/>
                            </dir>
                            <dir
                              name="stat"/>
                          </dir>
                          <dir
                            name="list"/>
                          <dir
                            name="map"/>
                          <dir
                            name="random"/>
                          <dir
                            name="set"/>
                          <dir
                            name="solver"/>
                          <dir
                            name="ssvd"/>
                          <dir
                            name="stats"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="mahout">
                        <dir
                          name="common"/>
                        <dir
                          name="math">
                          <dir
                            name="als"/>
                          <dir
                            name="decomposer">
                            <dir
                              name="hebbian"/>
                            <dir
                              name="lanczos"/>
                          </dir>
                          <dir
                            name="jet">
                            <dir
                              name="random">
                              <dir
                                name="engine"/>
                            </dir>
                            <dir
                              name="stat"/>
                          </dir>
                          <dir
                            name="list"/>
                          <dir
                            name="random"/>
                          <dir
                            name="randomized"/>
                          <dir
                            name="set"/>
                          <dir
                            name="solver"/>
                          <dir
                            name="ssvd"/>
                          <dir
                            name="stats"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="engine">
            <dir
              name="hdfs">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="mahout">
                          <dir
                            name="common"/>
                          <dir
                            name="math"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
                <dir
                  name="test">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="mahout">
                          <dir
                            name="math"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="experimental">
            <dir
              name="viennacl">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="mahout">
                          <dir
                            name="viennacl">
                            <dir
                              name="opencl">
                              <dir
                                name="javacpp"/>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="viennacl-omp">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="mahout">
                          <dir
                            name="viennacl">
                            <dir
                              name="openmp">
                              <dir
                                name="javacpp"/>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
        </dir>
      </dir>
    </dir>
  </files>
  <languages>
    <language
      name="Java"/>
  </languages>
  <file_types/>
  <annotations_options/>
  <comparison_options
    comparison_db=""
    git_repo=""
    git_commit=""/>
  <imports/>
  <java_options
    count_javadoc_in_metrics="true"
    count_standard_in_max_inheritance="false"
    jni_kni_include_package_name="true"
    jni_kni_linkage_prepend_text="Java_"
    save_comments_associated_with_entities="true"
    version="Java10">
    <class_paths>
      <class_path
        path="C:/Program Files/Java/jdk-18.0.1.1/lib/src.zip"/>
      <class_path
        path="C:/Program Files/Java/jdk-18.0.1.1/jmods/java.base.jmod"/>
    </class_paths>
  </java_options>
</project>
