<project>
  <files
    portability_mode="relative"
    default_encoding="System"
    readonly="false"
    maxfilesize="10485760"
    enforce_portability="false">
    <dir
      name=".">
      <dir
        name="..">
        <dir
          name="gora">
          <watched
            subdirs="true">
            <filter
              name="Java"/>
          </watched>
          <dir
            name="gora-accumulo">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="gora">
                        <dir
                          name="accumulo">
                          <dir
                            name="encoders"/>
                          <dir
                            name="query"/>
                          <dir
                            name="store"/>
                          <dir
                            name="util"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="gora">
                        <dir
                          name="accumulo">
                          <dir
                            name="store"/>
                          <dir
                            name="util"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="gora-aerospike">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="gora">
                        <dir
                          name="aerospike">
                          <dir
                            name="query"/>
                          <dir
                            name="store"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="gora">
                        <dir
                          name="aerospike">
                          <dir
                            name="mapreduce"/>
                          <dir
                            name="store"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="gora-benchmark">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="gora">
                        <dir
                          name="benchmark">
                          <dir
                            name="generated"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="gora">
                        <dir
                          name="benchmark"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="gora-cassandra">
            <dir
              name="src">
              <dir
                name="examples">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="gora">
                        <dir
                          name="cassandra">
                          <dir
                            name="example">
                            <dir
                              name="generated">
                              <dir
                                name="AvroSerialization"/>
                              <dir
                                name="nativeSerialization"/>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="gora">
                        <dir
                          name="cassandra">
                          <dir
                            name="bean"/>
                          <dir
                            name="compiler"/>
                          <dir
                            name="query"/>
                          <dir
                            name="serializers"/>
                          <dir
                            name="store"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="gora">
                        <dir
                          name="cassandra">
                          <dir
                            name="store"/>
                          <dir
                            name="test">
                            <dir
                              name="nativeSerialization"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="gora-compiler">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="gora">
                        <dir
                          name="compiler">
                          <dir
                            name="utils"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="gora-compiler-cli">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="gora">
                        <dir
                          name="compiler">
                          <dir
                            name="cli"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="gora-core">
            <dir
              name="src">
              <dir
                name="examples">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="gora">
                        <dir
                          name="examples">
                          <dir
                            name="flink"/>
                          <dir
                            name="generated"/>
                          <dir
                            name="mapreduce"/>
                          <dir
                            name="spark"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="gora">
                        <dir
                          name="avro">
                          <dir
                            name="query"/>
                          <dir
                            name="store"/>
                        </dir>
                        <dir
                          name="filter"/>
                        <dir
                          name="flink"/>
                        <dir
                          name="mapreduce"/>
                        <dir
                          name="memory">
                          <dir
                            name="store"/>
                        </dir>
                        <dir
                          name="persistency">
                          <dir
                            name="impl"/>
                          <dir
                            name="ws">
                            <dir
                              name="impl"/>
                          </dir>
                        </dir>
                        <dir
                          name="query">
                          <dir
                            name="impl"/>
                          <dir
                            name="ws">
                            <dir
                              name="impl"/>
                          </dir>
                        </dir>
                        <dir
                          name="spark"/>
                        <dir
                          name="store">
                          <dir
                            name="impl"/>
                          <dir
                            name="ws">
                            <dir
                              name="impl"/>
                          </dir>
                        </dir>
                        <dir
                          name="util"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="gora">
                        <dir
                          name="avro">
                          <dir
                            name="mapreduce"/>
                          <dir
                            name="store"/>
                        </dir>
                        <dir
                          name="examples"/>
                        <dir
                          name="filter"/>
                        <dir
                          name="mapreduce"/>
                        <dir
                          name="memory">
                          <dir
                            name="store"/>
                        </dir>
                        <dir
                          name="mock">
                          <dir
                            name="persistency"/>
                          <dir
                            name="query"/>
                          <dir
                            name="store"/>
                        </dir>
                        <dir
                          name="persistency">
                          <dir
                            name="impl"/>
                        </dir>
                        <dir
                          name="query">
                          <dir
                            name="impl"/>
                        </dir>
                        <dir
                          name="store"/>
                        <dir
                          name="util"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="gora-couchdb">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="gora">
                        <dir
                          name="couchdb">
                          <dir
                            name="query"/>
                          <dir
                            name="store"/>
                          <dir
                            name="util"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="gora">
                        <dir
                          name="couchdb">
                          <dir
                            name="store"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="gora-dynamodb">
            <dir
              name="src">
              <dir
                name="examples">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="gora">
                        <dir
                          name="dynamodb">
                          <dir
                            name="example">
                            <dir
                              name="generated"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="gora">
                        <dir
                          name="dynamodb">
                          <dir
                            name="compiler"/>
                          <dir
                            name="query"/>
                          <dir
                            name="store"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="gora">
                        <dir
                          name="dynamodb"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="gora-elasticsearch">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="gora">
                        <dir
                          name="elasticsearch">
                          <dir
                            name="mapping"/>
                          <dir
                            name="query"/>
                          <dir
                            name="store"/>
                          <dir
                            name="utils"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="gora">
                        <dir
                          name="elasticsearch">
                          <dir
                            name="mapreduce"/>
                          <dir
                            name="store"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="gora-goraci">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="gora">
                        <dir
                          name="goraci">
                          <dir
                            name="chef"/>
                          <dir
                            name="generated"/>
                          <dir
                            name="rackspace"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="gora-gradle-plugin">
            <dir
              name="examples">
              <dir
                name="simple">
                <dir
                  name="src">
                  <dir
                    name="main">
                    <dir
                      name="java">
                      <dir
                        name="test"/>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="gora-hbase">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="gora">
                        <dir
                          name="hbase">
                          <dir
                            name="query"/>
                          <dir
                            name="store"/>
                          <dir
                            name="util"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="gora">
                        <dir
                          name="hbase">
                          <dir
                            name="mapreduce"/>
                          <dir
                            name="store"/>
                          <dir
                            name="util"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="gora-hive">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="gora">
                        <dir
                          name="hive">
                          <dir
                            name="query"/>
                          <dir
                            name="store"/>
                          <dir
                            name="util"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="gora">
                        <dir
                          name="hive">
                          <dir
                            name="store"/>
                          <dir
                            name="util"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="gora-ignite">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="gora">
                        <dir
                          name="ignite">
                          <dir
                            name="query"/>
                          <dir
                            name="store"/>
                          <dir
                            name="utils"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="gora">
                        <dir
                          name="ignite">
                          <dir
                            name="mapreduce"/>
                          <dir
                            name="store"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="gora-infinispan">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="gora">
                        <dir
                          name="infinispan">
                          <dir
                            name="query"/>
                          <dir
                            name="store"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="gora">
                        <dir
                          name="infinispan">
                          <dir
                            name="mapreduce"/>
                          <dir
                            name="store"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="gora-jcache">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="gora">
                        <dir
                          name="jcache">
                          <dir
                            name="query"/>
                          <dir
                            name="store"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="gora">
                        <dir
                          name="jcache">
                          <dir
                            name="mapreduce"/>
                          <dir
                            name="store"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="gora-jet">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="gora">
                        <dir
                          name="jet"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="gora">
                        <dir
                          name="jet">
                          <dir
                            name="generated"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="gora-kudu">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="gora">
                        <dir
                          name="kudu">
                          <dir
                            name="mapping"/>
                          <dir
                            name="query"/>
                          <dir
                            name="store"/>
                          <dir
                            name="utils"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="gora">
                        <dir
                          name="kudu">
                          <dir
                            name="mapreduce"/>
                          <dir
                            name="store"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="gora-lucene">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="gora">
                        <dir
                          name="lucene">
                          <dir
                            name="query"/>
                          <dir
                            name="store"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="gora">
                        <dir
                          name="lucene">
                          <dir
                            name="store"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="gora-maven-plugin">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="gora">
                        <dir
                          name="maven">
                          <dir
                            name="plugin"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="gora-mongodb">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="gora">
                        <dir
                          name="mongodb">
                          <dir
                            name="filters"/>
                          <dir
                            name="query"/>
                          <dir
                            name="store"/>
                          <dir
                            name="utils"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="gora">
                        <dir
                          name="mongodb">
                          <dir
                            name="authentications"/>
                          <dir
                            name="filters"/>
                          <dir
                            name="mapreduce"/>
                          <dir
                            name="store"/>
                          <dir
                            name="utils"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="gora-orientdb">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="gora">
                        <dir
                          name="orientdb">
                          <dir
                            name="query"/>
                          <dir
                            name="store"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="gora">
                        <dir
                          name="orientdb">
                          <dir
                            name="mapreduce"/>
                          <dir
                            name="store"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="gora-pig">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="gora">
                        <dir
                          name="pig">
                          <dir
                            name="mapreduce"/>
                          <dir
                            name="udf"/>
                          <dir
                            name="util"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="gora-redis">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="gora">
                        <dir
                          name="redis">
                          <dir
                            name="query"/>
                          <dir
                            name="store"/>
                          <dir
                            name="util"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="gora">
                        <dir
                          name="redis">
                          <dir
                            name="mapreduce"/>
                          <dir
                            name="store"/>
                          <dir
                            name="util"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="gora-rethinkdb">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="gora">
                        <dir
                          name="rethinkdb">
                          <dir
                            name="query"/>
                          <dir
                            name="store"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="gora">
                        <dir
                          name="rethinkdb">
                          <dir
                            name="store"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="gora-solr">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="gora">
                        <dir
                          name="solr">
                          <dir
                            name="query"/>
                          <dir
                            name="store"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="gora">
                        <dir
                          name="solr">
                          <dir
                            name="store"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="gora-sql">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="gora">
                        <dir
                          name="sql">
                          <dir
                            name="query"/>
                          <dir
                            name="statement"/>
                          <dir
                            name="store"/>
                          <dir
                            name="util"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="gora">
                        <dir
                          name="sql">
                          <dir
                            name="store"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="gora-tutorial">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="gora">
                        <dir
                          name="tutorial">
                          <dir
                            name="log">
                            <dir
                              name="generated"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
        </dir>
      </dir>
    </dir>
  </files>
  <languages>
    <language
      name="Java"/>
  </languages>
  <file_types/>
  <annotations_options/>
  <comparison_options
    comparison_db=""
    git_repo=""
    git_commit=""/>
  <imports/>
  <java_options
    count_javadoc_in_metrics="true"
    count_standard_in_max_inheritance="false"
    jni_kni_include_package_name="true"
    jni_kni_linkage_prepend_text="Java_"
    save_comments_associated_with_entities="true"
    version="Java10">
    <class_paths>
      <class_path
        path="C:/Program Files/Java/jdk-18.0.1.1/lib/src.zip"/>
      <class_path
        path="C:/Program Files/Java/jdk-18.0.1.1/jmods/java.base.jmod"/>
    </class_paths>
  </java_options>
</project>
