<project>
  <files
    portability_mode="relative"
    default_encoding="System"
    readonly="false"
    maxfilesize="10485760"
    enforce_portability="false">
    <dir
      name=".">
      <dir
        name="..">
        <dir
          name="abdera">
          <watched
            subdirs="true">
            <filter
              name="Java"/>
          </watched>
          <dir
            name="adapters">
            <dir
              name="filesystem">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="abdera">
                          <dir
                            name="protocol">
                            <dir
                              name="server">
                              <dir
                                name="adapters">
                                <dir
                                  name="filesystem"/>
                              </dir>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
                <dir
                  name="test">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="abdera">
                          <dir
                            name="protocol">
                            <dir
                              name="server">
                              <dir
                                name="test">
                                <dir
                                  name="filesystem"/>
                              </dir>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="hibernate">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="abdera">
                          <dir
                            name="protocol">
                            <dir
                              name="server">
                              <dir
                                name="adapters">
                                <dir
                                  name="hibernate"/>
                              </dir>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
                <dir
                  name="test">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="abdera">
                          <dir
                            name="protocol">
                            <dir
                              name="server">
                              <dir
                                name="adapters">
                                <dir
                                  name="hibernate"/>
                              </dir>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="jcr">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="abdera">
                          <dir
                            name="protocol">
                            <dir
                              name="server">
                              <dir
                                name="adapters">
                                <dir
                                  name="jcr"/>
                              </dir>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
                <dir
                  name="test">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="abdera">
                          <dir
                            name="jcr"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="jdbc">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="abdera">
                          <dir
                            name="protocol">
                            <dir
                              name="server">
                              <dir
                                name="adapters">
                                <dir
                                  name="ibatis"/>
                              </dir>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="client">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="abdera">
                        <dir
                          name="protocol">
                          <dir
                            name="client">
                            <dir
                              name="cache"/>
                            <dir
                              name="util"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="abdera">
                        <dir
                          name="test">
                          <dir
                            name="client">
                            <dir
                              name="app"/>
                            <dir
                              name="cache"/>
                            <dir
                              name="util"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="core">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="abdera">
                        <dir
                          name="factory"/>
                        <dir
                          name="filter"/>
                        <dir
                          name="model"/>
                        <dir
                          name="parser"/>
                        <dir
                          name="protocol">
                          <dir
                            name="error"/>
                          <dir
                            name="util"/>
                        </dir>
                        <dir
                          name="util">
                          <dir
                            name="filter"/>
                        </dir>
                        <dir
                          name="writer"/>
                        <dir
                          name="xpath"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="abdera">
                        <dir
                          name="model"/>
                        <dir
                          name="test">
                          <dir
                            name="core"/>
                        </dir>
                        <dir
                          name="util">
                          <dir
                            name="filter"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="dependencies">
            <dir
              name="i18n">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="abdera">
                          <dir
                            name="i18n">
                            <dir
                              name="iri"/>
                            <dir
                              name="lang"/>
                            <dir
                              name="rfc4646">
                              <dir
                                name="enums"/>
                            </dir>
                            <dir
                              name="templates"/>
                            <dir
                              name="text">
                              <dir
                                name="data"/>
                              <dir
                                name="io"/>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
                <dir
                  name="test">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="abdera">
                          <dir
                            name="i18n">
                            <dir
                              name="test">
                              <dir
                                name="iri"/>
                              <dir
                                name="templates"/>
                            </dir>
                            <dir
                              name="text">
                              <dir
                                name="io"/>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="examples">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="abdera">
                        <dir
                          name="examples">
                          <dir
                            name="appclient"/>
                          <dir
                            name="appserver">
                            <dir
                              name="custom"/>
                            <dir
                              name="employee"/>
                          </dir>
                          <dir
                            name="ext"/>
                          <dir
                            name="extension"/>
                          <dir
                            name="html"/>
                          <dir
                            name="security"/>
                          <dir
                            name="simple"/>
                          <dir
                            name="unicode"/>
                          <dir
                            name="uritemplates"/>
                          <dir
                            name="xsltxpath"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="extensions">
            <dir
              name="features">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="abdera">
                          <dir
                            name="ext">
                            <dir
                              name="features"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
                <dir
                  name="test">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="abdera">
                          <dir
                            name="test">
                            <dir
                              name="ext">
                              <dir
                                name="features"/>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="gdata">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="abdera">
                          <dir
                            name="ext">
                            <dir
                              name="gdata"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="geo">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="abdera">
                          <dir
                            name="ext">
                            <dir
                              name="geo"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="html">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="abdera">
                          <dir
                            name="ext">
                            <dir
                              name="html"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="json">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="abdera">
                          <dir
                            name="ext">
                            <dir
                              name="json"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
                <dir
                  name="test">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="abdera">
                          <dir
                            name="ext">
                            <dir
                              name="json"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="main">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="abdera">
                          <dir
                            name="ext">
                            <dir
                              name="bidi"/>
                            <dir
                              name="history"/>
                            <dir
                              name="license"/>
                            <dir
                              name="thread"/>
                            <dir
                              name="tombstones"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
                <dir
                  name="test">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="abdera">
                          <dir
                            name="test">
                            <dir
                              name="ext">
                              <dir
                                name="bidi"/>
                              <dir
                                name="history"/>
                              <dir
                                name="license"/>
                              <dir
                                name="main"/>
                              <dir
                                name="thread"/>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="media">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="abdera">
                          <dir
                            name="ext">
                            <dir
                              name="media"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
                <dir
                  name="test">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="abdera">
                          <dir
                            name="test">
                            <dir
                              name="ext">
                              <dir
                                name="media"/>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="oauth">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="abdera">
                          <dir
                            name="ext">
                            <dir
                              name="oauth"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
                <dir
                  name="test">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="abdera">
                          <dir
                            name="ext">
                            <dir
                              name="oauth"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="opensearch">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="abdera">
                          <dir
                            name="ext">
                            <dir
                              name="opensearch">
                              <dir
                                name="model"/>
                              <dir
                                name="server">
                                <dir
                                  name="impl"/>
                                <dir
                                  name="processors"/>
                              </dir>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
                <dir
                  name="test">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="abdera">
                          <dir
                            name="test">
                            <dir
                              name="ext">
                              <dir
                                name="opensearch">
                                <dir
                                  name="model"/>
                                <dir
                                  name="server">
                                  <dir
                                    name="impl"/>
                                  <dir
                                    name="processors"/>
                                </dir>
                              </dir>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="rss">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="abdera">
                          <dir
                            name="ext">
                            <dir
                              name="rss"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
                <dir
                  name="test">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="abdera">
                          <dir
                            name="test">
                            <dir
                              name="ext">
                              <dir
                                name="rss"/>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="serializer">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="abdera">
                          <dir
                            name="ext">
                            <dir
                              name="serializer">
                              <dir
                                name="annotation"/>
                              <dir
                                name="impl"/>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
                <dir
                  name="test">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="abdera">
                          <dir
                            name="test">
                            <dir
                              name="ext">
                              <dir
                                name="serializer"/>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="sharing">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="abdera">
                          <dir
                            name="ext">
                            <dir
                              name="sharing"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
                <dir
                  name="test">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="abdera">
                          <dir
                            name="test">
                            <dir
                              name="ext">
                              <dir
                                name="sharing"/>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="wsse">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="abdera">
                          <dir
                            name="ext">
                            <dir
                              name="wsse"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="parser">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="abdera">
                        <dir
                          name="parser">
                          <dir
                            name="stax">
                            <dir
                              name="util"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="abdera">
                        <dir
                          name="test">
                          <dir
                            name="parser">
                            <dir
                              name="stax"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="security">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="abdera">
                        <dir
                          name="security">
                          <dir
                            name="util">
                            <dir
                              name="filters"/>
                          </dir>
                          <dir
                            name="xmlsec"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="abdera">
                        <dir
                          name="test">
                          <dir
                            name="security">
                            <dir
                              name="filter"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="server">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="abdera">
                        <dir
                          name="protocol">
                          <dir
                            name="server">
                            <dir
                              name="context"/>
                            <dir
                              name="filters"/>
                            <dir
                              name="impl"/>
                            <dir
                              name="multipart"/>
                            <dir
                              name="processors"/>
                            <dir
                              name="provider">
                              <dir
                                name="basic"/>
                              <dir
                                name="managed"/>
                            </dir>
                            <dir
                              name="servlet"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="abdera">
                        <dir
                          name="protocol">
                          <dir
                            name="server">
                            <dir
                              name="processors"/>
                            <dir
                              name="test">
                              <dir
                                name="basic"/>
                              <dir
                                name="custom"/>
                              <dir
                                name="customer"/>
                              <dir
                                name="multipart"/>
                              <dir
                                name="route"/>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="spring">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="abdera">
                        <dir
                          name="spring"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="abdera">
                        <dir
                          name="spring"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
        </dir>
      </dir>
    </dir>
  </files>
  <languages>
    <language
      name="Java"/>
  </languages>
  <file_types/>
  <annotations_options/>
  <comparison_options
    comparison_db=""
    git_repo=""
    git_commit=""/>
  <imports/>
  <java_options
    count_javadoc_in_metrics="true"
    count_standard_in_max_inheritance="false"
    jni_kni_include_package_name="true"
    jni_kni_linkage_prepend_text="Java_"
    save_comments_associated_with_entities="true"
    version="Java10">
    <class_paths>
      <class_path
        path="C:/Program Files/Java/jdk-18.0.1.1/lib/src.zip"/>
      <class_path
        path="C:/Program Files/Java/jdk-18.0.1.1/jmods/java.base.jmod"/>
    </class_paths>
  </java_options>
</project>
