<project>
  <files
    portability_mode="relative"
    default_encoding="System"
    readonly="false"
    maxfilesize="10485760"
    enforce_portability="false">
    <dir
      name=".">
      <dir
        name="..">
        <dir
          name="shiro">
          <watched
            subdirs="true">
            <filter
              name="Java"/>
          </watched>
          <dir
            name="cache">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="shiro">
                        <dir
                          name="cache"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="config">
            <dir
              name="core">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="shiro">
                          <dir
                            name="config"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="ogdl">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="shiro">
                          <dir
                            name="config">
                            <dir
                              name="ogdl">
                              <dir
                                name="event"/>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
                <dir
                  name="test">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="shiro">
                          <dir
                            name="config">
                            <dir
                              name="ogdl">
                              <dir
                                name="beans"/>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="core">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="shiro">
                        <dir
                          name="aop"/>
                        <dir
                          name="authc">
                          <dir
                            name="credential"/>
                          <dir
                            name="pam"/>
                        </dir>
                        <dir
                          name="authz">
                          <dir
                            name="annotation"/>
                          <dir
                            name="aop"/>
                          <dir
                            name="permission"/>
                        </dir>
                        <dir
                          name="concurrent"/>
                        <dir
                          name="dao"/>
                        <dir
                          name="env"/>
                        <dir
                          name="ini"/>
                        <dir
                          name="jndi"/>
                        <dir
                          name="ldap"/>
                        <dir
                          name="mgt"/>
                        <dir
                          name="realm">
                          <dir
                            name="activedirectory"/>
                          <dir
                            name="jdbc"/>
                          <dir
                            name="jndi"/>
                          <dir
                            name="ldap"/>
                          <dir
                            name="text"/>
                        </dir>
                        <dir
                          name="session">
                          <dir
                            name="mgt">
                            <dir
                              name="eis"/>
                          </dir>
                        </dir>
                        <dir
                          name="subject">
                          <dir
                            name="support"/>
                        </dir>
                        <dir
                          name="util"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="shiro">
                        <dir
                          name="aop"/>
                        <dir
                          name="authc">
                          <dir
                            name="credential"/>
                          <dir
                            name="pam"/>
                        </dir>
                        <dir
                          name="authz">
                          <dir
                            name="aop"/>
                          <dir
                            name="permission"/>
                        </dir>
                        <dir
                          name="concurrent"/>
                        <dir
                          name="config"/>
                        <dir
                          name="jndi"/>
                        <dir
                          name="lang">
                          <dir
                            name="io"/>
                        </dir>
                        <dir
                          name="mgt"/>
                        <dir
                          name="realm">
                          <dir
                            name="activedirectory"/>
                          <dir
                            name="jdbc"/>
                          <dir
                            name="ldap"/>
                          <dir
                            name="text"/>
                        </dir>
                        <dir
                          name="session">
                          <dir
                            name="mgt"/>
                        </dir>
                        <dir
                          name="subject"/>
                        <dir
                          name="test"/>
                        <dir
                          name="util"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="crypto">
            <dir
              name="cipher">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="shiro">
                          <dir
                            name="crypto">
                            <dir
                              name="cipher"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="core">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="shiro">
                          <dir
                            name="crypto"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="hash">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="shiro">
                          <dir
                            name="crypto">
                            <dir
                              name="hash">
                              <dir
                                name="format"/>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="support">
              <dir
                name="hashes">
                <dir
                  name="argon2">
                  <dir
                    name="src">
                    <dir
                      name="main">
                      <dir
                        name="java">
                        <dir
                          name="org">
                          <dir
                            name="apache">
                            <dir
                              name="shiro">
                              <dir
                                name="crypto">
                                <dir
                                  name="support">
                                  <dir
                                    name="hashes">
                                    <dir
                                      name="argon2"/>
                                  </dir>
                                </dir>
                              </dir>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
                <dir
                  name="bcrypt">
                  <dir
                    name="src">
                    <dir
                      name="main">
                      <dir
                        name="java">
                        <dir
                          name="org">
                          <dir
                            name="apache">
                            <dir
                              name="shiro">
                              <dir
                                name="crypto">
                                <dir
                                  name="support">
                                  <dir
                                    name="hashes">
                                    <dir
                                      name="bcrypt"/>
                                  </dir>
                                </dir>
                              </dir>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="event">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="shiro">
                        <dir
                          name="event">
                          <dir
                            name="support"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="integration-tests">
            <dir
              name="guice3">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="shiro">
                          <dir
                            name="samples">
                            <dir
                              name="guice"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
                <dir
                  name="test">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="shiro">
                          <dir
                            name="samples">
                            <dir
                              name="guice"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="guice4">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="shiro">
                          <dir
                            name="samples">
                            <dir
                              name="guice"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
                <dir
                  name="test">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="shiro">
                          <dir
                            name="samples">
                            <dir
                              name="guice"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="jaxrs">
              <dir
                name="app">
                <dir
                  name="src">
                  <dir
                    name="main">
                    <dir
                      name="java">
                      <dir
                        name="org">
                        <dir
                          name="apache">
                          <dir
                            name="shiro">
                            <dir
                              name="testing">
                              <dir
                                name="jaxrs">
                                <dir
                                  name="app">
                                  <dir
                                    name="config"/>
                                  <dir
                                    name="dao"/>
                                  <dir
                                    name="json"/>
                                  <dir
                                    name="model"/>
                                  <dir
                                    name="resources"/>
                                </dir>
                              </dir>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="meecrowave">
                <dir
                  name="src">
                  <dir
                    name="test">
                    <dir
                      name="java">
                      <dir
                        name="org">
                        <dir
                          name="apache">
                          <dir
                            name="shiro">
                            <dir
                              name="testing">
                              <dir
                                name="jaxrs">
                                <dir
                                  name="meecrowave"/>
                              </dir>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="openliberty">
                <dir
                  name="src">
                  <dir
                    name="test">
                    <dir
                      name="java">
                      <dir
                        name="org">
                        <dir
                          name="apache">
                          <dir
                            name="shiro">
                            <dir
                              name="testing">
                              <dir
                                name="jaxrs">
                                <dir
                                  name="openliberty"/>
                              </dir>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="tests">
                <dir
                  name="src">
                  <dir
                    name="main">
                    <dir
                      name="java">
                      <dir
                        name="org">
                        <dir
                          name="apache">
                          <dir
                            name="shiro">
                            <dir
                              name="testing">
                              <dir
                                name="jaxrs">
                                <dir
                                  name="tests"/>
                              </dir>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="support">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="shiro">
                          <dir
                            name="testing">
                            <dir
                              name="web"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="lang">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="shiro">
                        <dir
                          name="lang">
                          <dir
                            name="codec"/>
                          <dir
                            name="io"/>
                          <dir
                            name="util"/>
                        </dir>
                        <dir
                          name="util"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="shiro">
                        <dir
                          name="lang">
                          <dir
                            name="util"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="samples">
            <dir
              name="aspectj">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="shiro">
                          <dir
                            name="samples">
                            <dir
                              name="aspectj">
                              <dir
                                name="bank"/>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
                <dir
                  name="test">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="shiro">
                          <dir
                            name="samples">
                            <dir
                              name="aspectj">
                              <dir
                                name="bank"/>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="guice">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="shiro">
                          <dir
                            name="samples">
                            <dir
                              name="guice"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
                <dir
                  name="test">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="shiro">
                          <dir
                            name="samples">
                            <dir
                              name="guice"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="quickstart">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java"/>
                </dir>
              </dir>
            </dir>
            <dir
              name="quickstart-guice">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java"/>
                </dir>
              </dir>
            </dir>
            <dir
              name="servlet-plugin">
              <dir
                name="src">
                <dir
                  name="test">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="shiro">
                          <dir
                            name="test"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="spring">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="shiro">
                          <dir
                            name="samples">
                            <dir
                              name="spring"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="spring-boot">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="shiro">
                          <dir
                            name="samples"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="spring-boot-web">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="shiro">
                          <dir
                            name="samples"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="spring-hibernate">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="shiro">
                          <dir
                            name="samples">
                            <dir
                              name="sprhib">
                              <dir
                                name="dao"/>
                              <dir
                                name="model"/>
                              <dir
                                name="security"/>
                              <dir
                                name="service"/>
                              <dir
                                name="web"/>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
                <dir
                  name="test">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="shiro">
                          <dir
                            name="samples"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="spring-mvc">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="shiro">
                          <dir
                            name="samples">
                            <dir
                              name="spring">
                              <dir
                                name="config"/>
                              <dir
                                name="realm"/>
                              <dir
                                name="web"/>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="web">
              <dir
                name="src">
                <dir
                  name="test">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="shiro">
                          <dir
                            name="test"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="support">
            <dir
              name="aspectj">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="aspect">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="shiro">
                          <dir
                            name="aspectj"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="shiro">
                          <dir
                            name="aspectj"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
                <dir
                  name="test">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="shiro">
                          <dir
                            name="aspectj"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="ehcache">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="shiro">
                          <dir
                            name="cache">
                            <dir
                              name="ehcache"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
                <dir
                  name="test">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="shiro">
                          <dir
                            name="cache">
                            <dir
                              name="ehcache"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="guice">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="shiro">
                          <dir
                            name="guice">
                            <dir
                              name="aop"/>
                            <dir
                              name="web"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
                <dir
                  name="test">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="shiro">
                          <dir
                            name="guice">
                            <dir
                              name="aop"/>
                            <dir
                              name="web"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="hazelcast">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="shiro">
                          <dir
                            name="hazelcast">
                            <dir
                              name="cache"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="jaxrs">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="shiro">
                          <dir
                            name="web">
                            <dir
                              name="jaxrs"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="quartz">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="shiro">
                          <dir
                            name="session">
                            <dir
                              name="mgt">
                              <dir
                                name="quartz"/>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="spring">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="shiro">
                          <dir
                            name="spring">
                            <dir
                              name="aop"/>
                            <dir
                              name="config"/>
                            <dir
                              name="remoting"/>
                            <dir
                              name="security">
                              <dir
                                name="interceptor"/>
                            </dir>
                            <dir
                              name="web">
                              <dir
                                name="config"/>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
                <dir
                  name="test">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="shiro">
                          <dir
                            name="spring">
                            <dir
                              name="remoting"/>
                            <dir
                              name="security">
                              <dir
                                name="interceptor"/>
                            </dir>
                            <dir
                              name="testconfig"/>
                            <dir
                              name="web">
                              <dir
                                name="config"/>
                              <dir
                                name="testconfig"/>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="spring-boot">
              <dir
                name="spring-boot-starter">
                <dir
                  name="src">
                  <dir
                    name="main">
                    <dir
                      name="java">
                      <dir
                        name="org">
                        <dir
                          name="apache">
                          <dir
                            name="shiro">
                            <dir
                              name="spring">
                              <dir
                                name="boot">
                                <dir
                                  name="autoconfigure">
                                  <dir
                                    name="exception"/>
                                </dir>
                              </dir>
                              <dir
                                name="config">
                                <dir
                                  name="web">
                                  <dir
                                    name="autoconfigure"/>
                                </dir>
                              </dir>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                  <dir
                    name="test">
                    <dir
                      name="java">
                      <dir
                        name="org">
                        <dir
                          name="apache">
                          <dir
                            name="shiro">
                            <dir
                              name="spring">
                              <dir
                                name="boot">
                                <dir
                                  name="autoconfigure">
                                  <dir
                                    name="application"/>
                                  <dir
                                    name="web">
                                    <dir
                                      name="application"/>
                                  </dir>
                                </dir>
                              </dir>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="tools">
            <dir
              name="hasher">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="shiro">
                          <dir
                            name="tools">
                            <dir
                              name="hasher"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
                <dir
                  name="test">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="shiro">
                          <dir
                            name="tools">
                            <dir
                              name="hasher"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="web">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="shiro">
                        <dir
                          name="web">
                          <dir
                            name="config"/>
                          <dir
                            name="env"/>
                          <dir
                            name="filter">
                            <dir
                              name="authc"/>
                            <dir
                              name="authz"/>
                            <dir
                              name="mgt"/>
                            <dir
                              name="session"/>
                          </dir>
                          <dir
                            name="mgt"/>
                          <dir
                            name="servlet"/>
                          <dir
                            name="session">
                            <dir
                              name="mgt"/>
                          </dir>
                          <dir
                            name="subject">
                            <dir
                              name="support"/>
                          </dir>
                          <dir
                            name="tags"/>
                          <dir
                            name="util"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="shiro">
                        <dir
                          name="web">
                          <dir
                            name="config"/>
                          <dir
                            name="env"/>
                          <dir
                            name="filter">
                            <dir
                              name="authc"/>
                            <dir
                              name="authz"/>
                            <dir
                              name="mgt"/>
                          </dir>
                          <dir
                            name="mgt"/>
                          <dir
                            name="servlet"/>
                          <dir
                            name="session"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
        </dir>
      </dir>
    </dir>
  </files>
  <languages>
    <language
      name="Java"/>
  </languages>
  <file_types/>
  <annotations_options/>
  <comparison_options
    comparison_db=""
    git_repo=""
    git_commit=""/>
  <imports/>
  <java_options
    count_javadoc_in_metrics="true"
    count_standard_in_max_inheritance="false"
    jni_kni_include_package_name="true"
    jni_kni_linkage_prepend_text="Java_"
    save_comments_associated_with_entities="true"
    version="Java10">
    <class_paths>
      <class_path
        path="C:/Program Files/Java/jdk-18.0.1.1/lib/src.zip"/>
      <class_path
        path="C:/Program Files/Java/jdk-18.0.1.1/jmods/java.base.jmod"/>
    </class_paths>
  </java_options>
</project>
