<project>
  <files
    portability_mode="relative"
    default_encoding="System"
    readonly="false"
    maxfilesize="10485760"
    enforce_portability="false">
    <dir
      name=".">
      <dir
        name="..">
        <dir
          name="mina-sshd">
          <watched
            subdirs="true">
            <filter
              name="Java"/>
          </watched>
          <dir
            name="sshd-cli">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="sshd">
                        <dir
                          name="cli">
                          <dir
                            name="client">
                            <dir
                              name="helper"/>
                          </dir>
                          <dir
                            name="server">
                            <dir
                              name="helper"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="sshd">
                        <dir
                          name="cli">
                          <dir
                            name="client"/>
                          <dir
                            name="server"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="sshd-common">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="sshd">
                        <dir
                          name="client">
                          <dir
                            name="auth">
                            <dir
                              name="hostbased"/>
                            <dir
                              name="password"/>
                            <dir
                              name="pubkey"/>
                          </dir>
                          <dir
                            name="config">
                            <dir
                              name="hosts"/>
                            <dir
                              name="keys"/>
                          </dir>
                        </dir>
                        <dir
                          name="common">
                          <dir
                            name="auth"/>
                          <dir
                            name="channel"/>
                          <dir
                            name="cipher"/>
                          <dir
                            name="compression"/>
                          <dir
                            name="config">
                            <dir
                              name="keys">
                              <dir
                                name="impl"/>
                              <dir
                                name="loader">
                                <dir
                                  name="openssh">
                                  <dir
                                    name="kdf"/>
                                </dir>
                                <dir
                                  name="pem"/>
                                <dir
                                  name="ssh2"/>
                              </dir>
                              <dir
                                name="u2f"/>
                              <dir
                                name="writer">
                                <dir
                                  name="openssh"/>
                              </dir>
                            </dir>
                          </dir>
                          <dir
                            name="digest"/>
                          <dir
                            name="file">
                            <dir
                              name="nativefs"/>
                            <dir
                              name="nonefs"/>
                            <dir
                              name="root"/>
                            <dir
                              name="util"/>
                            <dir
                              name="virtualfs"/>
                          </dir>
                          <dir
                            name="future"/>
                          <dir
                            name="io"/>
                          <dir
                            name="kex">
                            <dir
                              name="extension">
                              <dir
                                name="parser"/>
                            </dir>
                          </dir>
                          <dir
                            name="keyprovider"/>
                          <dir
                            name="mac"/>
                          <dir
                            name="random"/>
                          <dir
                            name="session">
                            <dir
                              name="helpers"/>
                          </dir>
                          <dir
                            name="signature"/>
                          <dir
                            name="util">
                            <dir
                              name="buffer">
                              <dir
                                name="keys"/>
                            </dir>
                            <dir
                              name="closeable"/>
                            <dir
                              name="functors"/>
                            <dir
                              name="helper"/>
                            <dir
                              name="io">
                              <dir
                                name="der"/>
                              <dir
                                name="functors"/>
                              <dir
                                name="input"/>
                              <dir
                                name="output"/>
                              <dir
                                name="resource"/>
                            </dir>
                            <dir
                              name="logging"/>
                            <dir
                              name="net"/>
                            <dir
                              name="security">
                              <dir
                                name="bouncycastle"/>
                              <dir
                                name="eddsa"/>
                            </dir>
                            <dir
                              name="threads"/>
                          </dir>
                        </dir>
                        <dir
                          name="server">
                          <dir
                            name="keyprovider"/>
                          <dir
                            name="shell"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="sshd">
                        <dir
                          name="client">
                          <dir
                            name="auth">
                            <dir
                              name="password"/>
                          </dir>
                          <dir
                            name="config">
                            <dir
                              name="hosts"/>
                            <dir
                              name="keys"/>
                          </dir>
                        </dir>
                        <dir
                          name="common">
                          <dir
                            name="channel"/>
                          <dir
                            name="cipher"/>
                          <dir
                            name="compression"/>
                          <dir
                            name="config">
                            <dir
                              name="keys">
                              <dir
                                name="loader">
                                <dir
                                  name="openssh"/>
                                <dir
                                  name="pem"/>
                                <dir
                                  name="ssh2"/>
                              </dir>
                              <dir
                                name="writer">
                                <dir
                                  name="openssh"/>
                              </dir>
                            </dir>
                          </dir>
                          <dir
                            name="digest"/>
                          <dir
                            name="file">
                            <dir
                              name="nonefs"/>
                            <dir
                              name="root"/>
                            <dir
                              name="util"/>
                          </dir>
                          <dir
                            name="future"/>
                          <dir
                            name="kex"/>
                          <dir
                            name="keyprovider"/>
                          <dir
                            name="mac"/>
                          <dir
                            name="random"/>
                          <dir
                            name="signature"/>
                          <dir
                            name="util">
                            <dir
                              name="buffer"/>
                            <dir
                              name="closeable"/>
                            <dir
                              name="helper"/>
                            <dir
                              name="io">
                              <dir
                                name="der"/>
                              <dir
                                name="input"/>
                              <dir
                                name="output"/>
                            </dir>
                            <dir
                              name="net"/>
                            <dir
                              name="security">
                              <dir
                                name="bouncycastle"/>
                              <dir
                                name="eddsa"/>
                            </dir>
                          </dir>
                        </dir>
                        <dir
                          name="server">
                          <dir
                            name="keyprovider"/>
                          <dir
                            name="shell"/>
                        </dir>
                        <dir
                          name="util">
                          <dir
                            name="test"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="sshd-contrib">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="sshd">
                        <dir
                          name="contrib">
                          <dir
                            name="client">
                            <dir
                              name="auth">
                              <dir
                                name="password"/>
                            </dir>
                          </dir>
                          <dir
                            name="common">
                            <dir
                              name="channel">
                              <dir
                                name="throttle"/>
                            </dir>
                            <dir
                              name="compression"/>
                            <dir
                              name="io"/>
                            <dir
                              name="session">
                              <dir
                                name="helpers"/>
                            </dir>
                            <dir
                              name="signature"/>
                            <dir
                              name="util">
                              <dir
                                name="io"/>
                              <dir
                                name="security">
                                <dir
                                  name="androidopenssl"/>
                              </dir>
                            </dir>
                          </dir>
                          <dir
                            name="server">
                            <dir
                              name="scp"/>
                            <dir
                              name="session">
                              <dir
                                name="proxyprotocol"/>
                            </dir>
                            <dir
                              name="subsystem">
                              <dir
                                name="sftp"/>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="sshd">
                        <dir
                          name="contrib">
                          <dir
                            name="client">
                            <dir
                              name="auth">
                              <dir
                                name="password"/>
                            </dir>
                          </dir>
                          <dir
                            name="common">
                            <dir
                              name="channel">
                              <dir
                                name="throttle"/>
                            </dir>
                            <dir
                              name="signature"/>
                          </dir>
                          <dir
                            name="server">
                            <dir
                              name="scp"/>
                            <dir
                              name="session"/>
                            <dir
                              name="subsystem">
                              <dir
                                name="sftp"/>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="sshd-core">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="sshd">
                        <dir
                          name="agent">
                          <dir
                            name="common"/>
                          <dir
                            name="local"/>
                          <dir
                            name="unix"/>
                        </dir>
                        <dir
                          name="certificate"/>
                        <dir
                          name="client">
                          <dir
                            name="auth">
                            <dir
                              name="hostbased"/>
                            <dir
                              name="keyboard"/>
                            <dir
                              name="password"/>
                            <dir
                              name="pubkey"/>
                          </dir>
                          <dir
                            name="channel">
                            <dir
                              name="exit"/>
                          </dir>
                          <dir
                            name="config"/>
                          <dir
                            name="future"/>
                          <dir
                            name="global"/>
                          <dir
                            name="kex"/>
                          <dir
                            name="keyverifier"/>
                          <dir
                            name="session">
                            <dir
                              name="forward"/>
                          </dir>
                          <dir
                            name="simple"/>
                          <dir
                            name="subsystem"/>
                        </dir>
                        <dir
                          name="common">
                          <dir
                            name="auth"/>
                          <dir
                            name="channel">
                            <dir
                              name="exception"/>
                            <dir
                              name="throttle"/>
                          </dir>
                          <dir
                            name="config"/>
                          <dir
                            name="forward"/>
                          <dir
                            name="future"/>
                          <dir
                            name="global"/>
                          <dir
                            name="helpers"/>
                          <dir
                            name="io">
                            <dir
                              name="nio2"/>
                          </dir>
                          <dir
                            name="kex">
                            <dir
                              name="dh"/>
                            <dir
                              name="extension"/>
                          </dir>
                          <dir
                            name="session">
                            <dir
                              name="helpers"/>
                          </dir>
                        </dir>
                        <dir
                          name="core"/>
                        <dir
                          name="server">
                          <dir
                            name="auth">
                            <dir
                              name="gss"/>
                            <dir
                              name="hostbased"/>
                            <dir
                              name="keyboard"/>
                            <dir
                              name="password"/>
                            <dir
                              name="pubkey"/>
                          </dir>
                          <dir
                            name="channel"/>
                          <dir
                            name="command"/>
                          <dir
                            name="config">
                            <dir
                              name="keys"/>
                          </dir>
                          <dir
                            name="forward"/>
                          <dir
                            name="global"/>
                          <dir
                            name="jaas"/>
                          <dir
                            name="kex"/>
                          <dir
                            name="session"/>
                          <dir
                            name="shell"/>
                          <dir
                            name="subsystem"/>
                          <dir
                            name="x11"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="sshd">
                        <dir
                          name="agent"/>
                        <dir
                          name="certificates"/>
                        <dir
                          name="client">
                          <dir
                            name="auth">
                            <dir
                              name="pubkey"/>
                          </dir>
                          <dir
                            name="channel"/>
                          <dir
                            name="config">
                            <dir
                              name="hosts"/>
                          </dir>
                          <dir
                            name="kex"/>
                          <dir
                            name="keyverifier"/>
                          <dir
                            name="opensshcerts"/>
                          <dir
                            name="session"/>
                          <dir
                            name="simple"/>
                        </dir>
                        <dir
                          name="common">
                          <dir
                            name="auth"/>
                          <dir
                            name="channel"/>
                          <dir
                            name="cipher"/>
                          <dir
                            name="compression"/>
                          <dir
                            name="config">
                            <dir
                              name="keys"/>
                          </dir>
                          <dir
                            name="forward"/>
                          <dir
                            name="io">
                            <dir
                              name="nio2"/>
                          </dir>
                          <dir
                            name="kex">
                            <dir
                              name="extension"/>
                          </dir>
                          <dir
                            name="keyprovider"/>
                          <dir
                            name="mac"/>
                          <dir
                            name="session">
                            <dir
                              name="helpers"/>
                          </dir>
                          <dir
                            name="signature"/>
                        </dir>
                        <dir
                          name="deprecated"/>
                        <dir
                          name="server">
                          <dir
                            name="auth"/>
                          <dir
                            name="channel"/>
                          <dir
                            name="command"/>
                          <dir
                            name="config">
                            <dir
                              name="keys"/>
                          </dir>
                          <dir
                            name="forward"/>
                          <dir
                            name="jaas"/>
                          <dir
                            name="kex"/>
                          <dir
                            name="shell"/>
                        </dir>
                        <dir
                          name="spring"/>
                        <dir
                          name="util">
                          <dir
                            name="test">
                            <dir
                              name="client">
                              <dir
                                name="simple"/>
                            </dir>
                            <dir
                              name="server"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="sshd-git">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="sshd">
                        <dir
                          name="git">
                          <dir
                            name="pack"/>
                          <dir
                            name="pgm"/>
                          <dir
                            name="transport"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="sshd">
                        <dir
                          name="git">
                          <dir
                            name="pack"/>
                          <dir
                            name="pgm"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="sshd-ldap">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="sshd">
                        <dir
                          name="ldap"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="sshd">
                        <dir
                          name="ldap"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="sshd-mina">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="sshd">
                        <dir
                          name="mina"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="sshd-netty">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="sshd">
                        <dir
                          name="netty"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="sshd-openpgp">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="sshd">
                        <dir
                          name="openpgp"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="sshd">
                        <dir
                          name="openpgp"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="sshd-putty">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="sshd">
                        <dir
                          name="putty"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="sshd">
                        <dir
                          name="putty"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="sshd-scp">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="sshd">
                        <dir
                          name="scp">
                          <dir
                            name="client"/>
                          <dir
                            name="common">
                            <dir
                              name="helpers"/>
                          </dir>
                          <dir
                            name="server"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="sshd">
                        <dir
                          name="scp">
                          <dir
                            name="client"/>
                          <dir
                            name="common">
                            <dir
                              name="helpers"/>
                          </dir>
                          <dir
                            name="server"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="sshd-sftp">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="sshd">
                        <dir
                          name="sftp">
                          <dir
                            name="client">
                            <dir
                              name="extensions">
                              <dir
                                name="helpers"/>
                              <dir
                                name="openssh">
                                <dir
                                  name="helpers"/>
                              </dir>
                            </dir>
                            <dir
                              name="fs"/>
                            <dir
                              name="impl"/>
                          </dir>
                          <dir
                            name="common">
                            <dir
                              name="extensions">
                              <dir
                                name="openssh"/>
                            </dir>
                          </dir>
                          <dir
                            name="server"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="sshd">
                        <dir
                          name="sftp">
                          <dir
                            name="client">
                            <dir
                              name="extensions">
                              <dir
                                name="helpers"/>
                              <dir
                                name="openssh">
                                <dir
                                  name="helpers"/>
                              </dir>
                            </dir>
                            <dir
                              name="fs"/>
                            <dir
                              name="impl"/>
                          </dir>
                          <dir
                            name="common"/>
                          <dir
                            name="server"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="sshd-sources">
            <dir
              name="tomcat-apr-5.5.23-sources">
              <dir
                name="org">
                <dir
                  name="apache">
                  <dir
                    name="tomcat">
                    <dir
                      name="jni"/>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="sshd-spring-sftp">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="sshd">
                        <dir
                          name="sftp">
                          <dir
                            name="spring">
                            <dir
                              name="integration"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="sshd">
                        <dir
                          name="sftp">
                          <dir
                            name="spring">
                            <dir
                              name="integration"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
        </dir>
      </dir>
    </dir>
  </files>
  <languages>
    <language
      name="Java"/>
  </languages>
  <file_types/>
  <annotations_options/>
  <comparison_options
    comparison_db=""
    git_repo=""
    git_commit=""/>
  <imports/>
  <java_options
    count_javadoc_in_metrics="true"
    count_standard_in_max_inheritance="false"
    jni_kni_include_package_name="true"
    jni_kni_linkage_prepend_text="Java_"
    save_comments_associated_with_entities="true"
    version="Java10">
    <class_paths>
      <class_path
        path="C:/Program Files/Java/jdk-18.0.1.1/lib/src.zip"/>
      <class_path
        path="C:/Program Files/Java/jdk-18.0.1.1/jmods/java.base.jmod"/>
    </class_paths>
  </java_options>
</project>
