<project>
  <files
    portability_mode="relative"
    default_encoding="System"
    readonly="false"
    maxfilesize="10485760"
    enforce_portability="false">
    <dir
      name=".">
      <dir
        name="..">
        <dir
          name="helix">
          <watched
            subdirs="true">
            <filter
              name="Java"/>
          </watched>
          <dir
            name="helix-admin-webapp">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="helix">
                        <dir
                          name="webapp">
                          <dir
                            name="resources"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="helix">
                        <dir
                          name="webapp">
                          <dir
                            name="resources"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="helix-agent">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="helix">
                        <dir
                          name="agent"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="helix">
                        <dir
                          name="agent"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="helix-common">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="helix">
                        <dir
                          name="constants"/>
                        <dir
                          name="datamodel"/>
                        <dir
                          name="manager">
                          <dir
                            name="zk">
                            <dir
                              name="serializer"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="helix-core">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="helix">
                        <dir
                          name="api">
                          <dir
                            name="cloud"/>
                          <dir
                            name="config"/>
                          <dir
                            name="exceptions"/>
                          <dir
                            name="listeners"/>
                          <dir
                            name="rebalancer">
                            <dir
                              name="constraint">
                              <dir
                                name="dataprovider"/>
                            </dir>
                          </dir>
                          <dir
                            name="status"/>
                          <dir
                            name="topology"/>
                        </dir>
                        <dir
                          name="cloud">
                          <dir
                            name="azure"/>
                          <dir
                            name="constants"/>
                          <dir
                            name="event">
                            <dir
                              name="helix"/>
                          </dir>
                          <dir
                            name="topology"/>
                        </dir>
                        <dir
                          name="common">
                          <dir
                            name="caches"/>
                          <dir
                            name="controllers"/>
                        </dir>
                        <dir
                          name="controller">
                          <dir
                            name="changedetector">
                            <dir
                              name="trimmer"/>
                          </dir>
                          <dir
                            name="common"/>
                          <dir
                            name="dataproviders"/>
                          <dir
                            name="pipeline"/>
                          <dir
                            name="rebalancer">
                            <dir
                              name="constraint">
                              <dir
                                name="dataprovider"/>
                            </dir>
                            <dir
                              name="internal"/>
                            <dir
                              name="strategy">
                              <dir
                                name="crushMapping"/>
                            </dir>
                            <dir
                              name="topology"/>
                            <dir
                              name="util"/>
                            <dir
                              name="waged">
                              <dir
                                name="constraints"/>
                              <dir
                                name="model"/>
                            </dir>
                          </dir>
                          <dir
                            name="stages">
                            <dir
                              name="resource"/>
                            <dir
                              name="task"/>
                          </dir>
                          <dir
                            name="strategy"/>
                        </dir>
                        <dir
                          name="customizedstate"/>
                        <dir
                          name="examples"/>
                        <dir
                          name="healthcheck"/>
                        <dir
                          name="manager">
                          <dir
                            name="zk">
                            <dir
                              name="client"/>
                            <dir
                              name="zookeeper"/>
                          </dir>
                        </dir>
                        <dir
                          name="messaging">
                          <dir
                            name="handling"/>
                        </dir>
                        <dir
                          name="model">
                          <dir
                            name="builder"/>
                          <dir
                            name="util"/>
                        </dir>
                        <dir
                          name="monitoring">
                          <dir
                            name="mbeans"/>
                          <dir
                            name="metrics">
                            <dir
                              name="implementation"/>
                            <dir
                              name="model"/>
                          </dir>
                        </dir>
                        <dir
                          name="participant">
                          <dir
                            name="statemachine"/>
                        </dir>
                        <dir
                          name="spectator"/>
                        <dir
                          name="store">
                          <dir
                            name="zk"/>
                        </dir>
                        <dir
                          name="task">
                          <dir
                            name="assigner"/>
                          <dir
                            name="beans"/>
                        </dir>
                        <dir
                          name="tools">
                          <dir
                            name="ClusterVerifiers"/>
                          <dir
                            name="commandtools"/>
                        </dir>
                        <dir
                          name="util"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="helix">
                        <dir
                          name="cloud">
                          <dir
                            name="event"/>
                          <dir
                            name="virtualTopologyGroup"/>
                        </dir>
                        <dir
                          name="common">
                          <dir
                            name="caches"/>
                        </dir>
                        <dir
                          name="controller">
                          <dir
                            name="changedetector">
                            <dir
                              name="trimmer"/>
                          </dir>
                          <dir
                            name="dataproviders"/>
                          <dir
                            name="rebalancer">
                            <dir
                              name="constraint">
                              <dir
                                name="dataprovider"/>
                            </dir>
                            <dir
                              name="util"/>
                            <dir
                              name="waged">
                              <dir
                                name="constraints"/>
                              <dir
                                name="model"/>
                            </dir>
                          </dir>
                          <dir
                            name="stages"/>
                          <dir
                            name="strategy">
                            <dir
                              name="crushMapping"/>
                          </dir>
                        </dir>
                        <dir
                          name="healthcheck"/>
                        <dir
                          name="integration">
                          <dir
                            name="common"/>
                          <dir
                            name="controller"/>
                          <dir
                            name="manager"/>
                          <dir
                            name="messaging"/>
                          <dir
                            name="multizk"/>
                          <dir
                            name="paticipant"/>
                          <dir
                            name="rebalancer">
                            <dir
                              name="CrushRebalancers"/>
                            <dir
                              name="DelayedAutoRebalancer"/>
                            <dir
                              name="PartitionMigration"/>
                            <dir
                              name="WagedRebalancer"/>
                          </dir>
                          <dir
                            name="spectator"/>
                          <dir
                            name="task"/>
                        </dir>
                        <dir
                          name="manager">
                          <dir
                            name="zk">
                            <dir
                              name="client"/>
                            <dir
                              name="serializer"/>
                          </dir>
                        </dir>
                        <dir
                          name="messaging">
                          <dir
                            name="handling"/>
                          <dir
                            name="p2pMessage"/>
                        </dir>
                        <dir
                          name="mock">
                          <dir
                            name="controller"/>
                          <dir
                            name="participant"/>
                          <dir
                            name="spectator"/>
                          <dir
                            name="statemodel"/>
                        </dir>
                        <dir
                          name="model">
                          <dir
                            name="builder"/>
                          <dir
                            name="cloud"/>
                        </dir>
                        <dir
                          name="monitoring">
                          <dir
                            name="mbeans"/>
                        </dir>
                        <dir
                          name="participant">
                          <dir
                            name="statemachine"/>
                        </dir>
                        <dir
                          name="spectator"/>
                        <dir
                          name="store">
                          <dir
                            name="zk"/>
                        </dir>
                        <dir
                          name="task">
                          <dir
                            name="assigner"/>
                        </dir>
                        <dir
                          name="tools">
                          <dir
                            name="ClusterVerifiers"/>
                        </dir>
                        <dir
                          name="util"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="helix-lock">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="helix">
                        <dir
                          name="lock">
                          <dir
                            name="helix"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="helix">
                        <dir
                          name="lock">
                          <dir
                            name="helix"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="helix-rest">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="helix">
                        <dir
                          name="rest">
                          <dir
                            name="acl"/>
                          <dir
                            name="client"/>
                          <dir
                            name="clusterMaintenanceService">
                            <dir
                              name="api"/>
                          </dir>
                          <dir
                            name="common">
                            <dir
                              name="datamodel"/>
                          </dir>
                          <dir
                            name="metadatastore">
                            <dir
                              name="accessor"/>
                            <dir
                              name="concurrency"/>
                            <dir
                              name="datamodel"/>
                          </dir>
                          <dir
                            name="server">
                            <dir
                              name="auditlog">
                              <dir
                                name="auditloggers"/>
                            </dir>
                            <dir
                              name="authValidator"/>
                            <dir
                              name="filters"/>
                            <dir
                              name="json">
                              <dir
                                name="cluster"/>
                              <dir
                                name="instance"/>
                            </dir>
                            <dir
                              name="resources">
                              <dir
                                name="exceptions"/>
                              <dir
                                name="helix"/>
                              <dir
                                name="metadata"/>
                              <dir
                                name="metadatastore"/>
                              <dir
                                name="zookeeper"/>
                            </dir>
                            <dir
                              name="service"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="helix">
                        <dir
                          name="rest">
                          <dir
                            name="client"/>
                          <dir
                            name="clusterMaintenanceService"/>
                          <dir
                            name="common"/>
                          <dir
                            name="metadatastore">
                            <dir
                              name="accessor"/>
                            <dir
                              name="integration"/>
                          </dir>
                          <dir
                            name="server">
                            <dir
                              name="json">
                              <dir
                                name="cluster"/>
                              <dir
                                name="instance"/>
                            </dir>
                            <dir
                              name="mock"/>
                            <dir
                              name="service"/>
                            <dir
                              name="util"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="helix-view-aggregator">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="helix">
                        <dir
                          name="view">
                          <dir
                            name="aggregator"/>
                          <dir
                            name="common"/>
                          <dir
                            name="dataprovider"/>
                          <dir
                            name="monitoring"/>
                          <dir
                            name="statemodel"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="helix">
                        <dir
                          name="view">
                          <dir
                            name="aggregator"/>
                          <dir
                            name="dataprovider"/>
                          <dir
                            name="integration"/>
                          <dir
                            name="mock"/>
                          <dir
                            name="monitoring"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="metadata-store-directory-common">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="helix">
                        <dir
                          name="msdcommon">
                          <dir
                            name="callback"/>
                          <dir
                            name="constant"/>
                          <dir
                            name="datamodel"/>
                          <dir
                            name="exception"/>
                          <dir
                            name="mock"/>
                          <dir
                            name="util"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="helix">
                        <dir
                          name="msdcommon">
                          <dir
                            name="constant"/>
                          <dir
                            name="datamodel"/>
                          <dir
                            name="mock"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="metrics-common">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="helix">
                        <dir
                          name="monitoring">
                          <dir
                            name="mbeans">
                            <dir
                              name="dynamicMBeans"/>
                            <dir
                              name="exception"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="recipes">
            <dir
              name="distributed-lock-manager">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="helix">
                          <dir
                            name="lockmanager"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="rabbitmq-consumer-group">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="helix">
                          <dir
                            name="recipes">
                            <dir
                              name="rabbitmq"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="rsync-replicated-file-system">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="helix">
                          <dir
                            name="filestore"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="service-discovery">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="helix">
                          <dir
                            name="servicediscovery"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="task-execution">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="helix">
                          <dir
                            name="taskexecution"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="zookeeper-api">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="helix">
                        <dir
                          name="zookeeper">
                          <dir
                            name="api">
                            <dir
                              name="client"/>
                            <dir
                              name="factory"/>
                          </dir>
                          <dir
                            name="constant"/>
                          <dir
                            name="datamodel">
                            <dir
                              name="serializer"/>
                          </dir>
                          <dir
                            name="exception"/>
                          <dir
                            name="impl">
                            <dir
                              name="client"/>
                            <dir
                              name="factory"/>
                          </dir>
                          <dir
                            name="introspect"/>
                          <dir
                            name="routing"/>
                          <dir
                            name="util"/>
                          <dir
                            name="zkclient">
                            <dir
                              name="annotation"/>
                            <dir
                              name="callback"/>
                            <dir
                              name="deprecated"/>
                            <dir
                              name="exception"/>
                            <dir
                              name="metric"/>
                            <dir
                              name="serialize"/>
                            <dir
                              name="util"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="helix">
                        <dir
                          name="zookeeper">
                          <dir
                            name="constant"/>
                          <dir
                            name="datamodel">
                            <dir
                              name="serializer"/>
                          </dir>
                          <dir
                            name="impl">
                            <dir
                              name="client"/>
                          </dir>
                          <dir
                            name="routing"/>
                          <dir
                            name="util"/>
                          <dir
                            name="zkclient"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
        </dir>
      </dir>
    </dir>
  </files>
  <languages>
    <language
      name="Java"/>
  </languages>
  <file_types/>
  <annotations_options/>
  <comparison_options
    comparison_db=""
    git_repo=""
    git_commit=""/>
  <imports/>
  <java_options
    count_javadoc_in_metrics="true"
    count_standard_in_max_inheritance="false"
    jni_kni_include_package_name="true"
    jni_kni_linkage_prepend_text="Java_"
    save_comments_associated_with_entities="true"
    version="Java10">
    <class_paths>
      <class_path
        path="C:/Program Files/Java/jdk-18.0.1.1/lib/src.zip"/>
      <class_path
        path="C:/Program Files/Java/jdk-18.0.1.1/jmods/java.base.jmod"/>
    </class_paths>
  </java_options>
</project>
