<project>
  <files
    portability_mode="relative"
    default_encoding="System"
    readonly="false"
    maxfilesize="10485760"
    enforce_portability="false">
    <dir
      name=".">
      <dir
        name="..">
        <dir
          name="falcon">
          <watched
            subdirs="true">
            <filter
              name="Java"/>
          </watched>
          <dir
            name="addons">
            <dir
              name="adf">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="falcon">
                          <dir
                            name="adfservice">
                            <dir
                              name="util"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="designer">
              <dir
                name="actions">
                <dir
                  name="src">
                  <dir
                    name="main">
                    <dir
                      name="java">
                      <dir
                        name="org">
                        <dir
                          name="apache">
                          <dir
                            name="falcon">
                            <dir
                              name="designer">
                              <dir
                                name="action">
                                <dir
                                  name="configuration"/>
                              </dir>
                              <dir
                                name="primitive">
                                <dir
                                  name="action"/>
                              </dir>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="core">
                <dir
                  name="src">
                  <dir
                    name="main">
                    <dir
                      name="java">
                      <dir
                        name="org">
                        <dir
                          name="apache">
                          <dir
                            name="falcon">
                            <dir
                              name="designer">
                              <dir
                                name="configuration"/>
                              <dir
                                name="primitive"/>
                              <dir
                                name="schema"/>
                              <dir
                                name="source"/>
                              <dir
                                name="storage">
                                <dir
                                  name="impl"/>
                              </dir>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                  <dir
                    name="test">
                    <dir
                      name="java">
                      <dir
                        name="org">
                        <dir
                          name="apache">
                          <dir
                            name="falcon">
                            <dir
                              name="designer">
                              <dir
                                name="storage">
                                <dir
                                  name="impl"/>
                              </dir>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="flows">
                <dir
                  name="src">
                  <dir
                    name="main">
                    <dir
                      name="java">
                      <dir
                        name="org">
                        <dir
                          name="apache">
                          <dir
                            name="falcon">
                            <dir
                              name="designer">
                              <dir
                                name="primitive"/>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="hdfs-snapshot-mirroring">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="falcon">
                          <dir
                            name="snapshots">
                            <dir
                              name="replication"/>
                            <dir
                              name="retention"/>
                            <dir
                              name="util"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
                <dir
                  name="test">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="falcon">
                          <dir
                            name="snapshots">
                            <dir
                              name="replication"/>
                            <dir
                              name="retention"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="hivedr">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="falcon">
                          <dir
                            name="hive">
                            <dir
                              name="exception"/>
                            <dir
                              name="mapreduce"/>
                            <dir
                              name="util"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
                <dir
                  name="test">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="falcon">
                          <dir
                            name="hive">
                            <dir
                              name="util"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="cli">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="falcon">
                        <dir
                          name="cli"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="falcon">
                        <dir
                          name="cli">
                          <dir
                            name="commands"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="client">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="falcon">
                        <dir
                          name="client"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="falcon">
                        <dir
                          name="resource"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="common">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="falcon">
                        <dir
                          name="catalog"/>
                        <dir
                          name="cleanup"/>
                        <dir
                          name="cliParser"/>
                        <dir
                          name="entity">
                          <dir
                            name="common"/>
                          <dir
                            name="lock"/>
                          <dir
                            name="parser"/>
                          <dir
                            name="store"/>
                          <dir
                            name="v0"/>
                        </dir>
                        <dir
                          name="expression"/>
                        <dir
                          name="group"/>
                        <dir
                          name="hadoop"/>
                        <dir
                          name="lifecycle">
                          <dir
                            name="retention"/>
                        </dir>
                        <dir
                          name="metadata"/>
                        <dir
                          name="metrics"/>
                        <dir
                          name="persistence"/>
                        <dir
                          name="retention"/>
                        <dir
                          name="security"/>
                        <dir
                          name="service"/>
                        <dir
                          name="tools"/>
                        <dir
                          name="update"/>
                        <dir
                          name="util"/>
                        <dir
                          name="workflow">
                          <dir
                            name="engine"/>
                          <dir
                            name="util"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="cli"/>
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="falcon">
                        <dir
                          name="cleanup"/>
                        <dir
                          name="entity">
                          <dir
                            name="lock"/>
                          <dir
                            name="parser"/>
                          <dir
                            name="store"/>
                          <dir
                            name="v0"/>
                        </dir>
                        <dir
                          name="expression"/>
                        <dir
                          name="group"/>
                        <dir
                          name="hadoop"/>
                        <dir
                          name="metadata"/>
                        <dir
                          name="retention"/>
                        <dir
                          name="security"/>
                        <dir
                          name="service"/>
                        <dir
                          name="update"/>
                        <dir
                          name="util"/>
                        <dir
                          name="workflow"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="common-types">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="falcon">
                        <dir
                          name="entity">
                          <dir
                            name="v0"/>
                        </dir>
                        <dir
                          name="extensions"/>
                        <dir
                          name="metadata"/>
                        <dir
                          name="resource"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="falcon">
                        <dir
                          name="entity">
                          <dir
                            name="v0"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="examples">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="falcon">
                        <dir
                          name="example">
                          <dir
                            name="spark"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="extensions">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="falcon">
                        <dir
                          name="extensions">
                          <dir
                            name="jdbc"/>
                          <dir
                            name="mirroring">
                            <dir
                              name="hdfs"/>
                            <dir
                              name="hdfsSnapshot"/>
                            <dir
                              name="hive"/>
                          </dir>
                          <dir
                            name="store"/>
                          <dir
                            name="util"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="falcon">
                        <dir
                          name="extensions">
                          <dir
                            name="jdbc"/>
                          <dir
                            name="store"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="falcon-regression">
            <dir
              name="merlin">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="falcon">
                          <dir
                            name="regression">
                            <dir
                              name="testHelper"/>
                            <dir
                              name="ui">
                              <dir
                                name="pages"/>
                              <dir
                                name="search"/>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
                <dir
                  name="test">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="falcon">
                          <dir
                            name="regression">
                            <dir
                              name="SLA"/>
                            <dir
                              name="entity"/>
                            <dir
                              name="hcat"/>
                            <dir
                              name="lineage"/>
                            <dir
                              name="nativeScheduler"/>
                            <dir
                              name="prism"/>
                            <dir
                              name="searchUI"/>
                            <dir
                              name="security"/>
                            <dir
                              name="triage"/>
                            <dir
                              name="ui"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="merlin-core">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="falcon">
                          <dir
                            name="regression">
                            <dir
                              name="Entities"/>
                            <dir
                              name="core">
                              <dir
                                name="bundle"/>
                              <dir
                                name="enumsAndConstants"/>
                              <dir
                                name="helpers">
                                <dir
                                  name="entity"/>
                              </dir>
                              <dir
                                name="response">
                                <dir
                                  name="lineage"/>
                              </dir>
                              <dir
                                name="supportClasses"/>
                              <dir
                                name="util"/>
                            </dir>
                          </dir>
                          <dir
                            name="request"/>
                          <dir
                            name="security"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="hadoop-dependencies">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="falcon">
                        <dir
                          name="hadoop"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="versioned-src">
                <dir
                  name="v2">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="hadoop">
                          <dir
                            name="mapred"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="lifecycle">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="falcon">
                        <dir
                          name="lifecycle">
                          <dir
                            name="engine">
                            <dir
                              name="oozie">
                              <dir
                                name="retention"/>
                              <dir
                                name="utils"/>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="falcon">
                        <dir
                          name="lifecycle">
                          <dir
                            name="retention"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="messaging">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="falcon">
                        <dir
                          name="messaging">
                          <dir
                            name="util"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="falcon">
                        <dir
                          name="messaging"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="metrics">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="falcon">
                        <dir
                          name="aspect"/>
                        <dir
                          name="job"/>
                        <dir
                          name="monitors"/>
                        <dir
                          name="plugin"/>
                        <dir
                          name="util"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="falcon">
                        <dir
                          name="aspect"/>
                        <dir
                          name="job"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="oozie">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="falcon">
                        <dir
                          name="logging"/>
                        <dir
                          name="oozie">
                          <dir
                            name="feed"/>
                          <dir
                            name="process"/>
                        </dir>
                        <dir
                          name="service"/>
                        <dir
                          name="util"/>
                        <dir
                          name="workflow">
                          <dir
                            name="engine"/>
                        </dir>
                      </dir>
                      <dir
                        name="oozie">
                        <dir
                          name="client"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="falcon">
                        <dir
                          name="oozie">
                          <dir
                            name="bundle"/>
                          <dir
                            name="coordinator"/>
                          <dir
                            name="feed"/>
                          <dir
                            name="logging"/>
                          <dir
                            name="process"/>
                          <dir
                            name="workflow"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="oozie-el-extensions">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="oozie">
                        <dir
                          name="extensions"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="oozie">
                        <dir
                          name="extensions"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="prism">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="falcon">
                        <dir
                          name="handler"/>
                        <dir
                          name="jdbc"/>
                        <dir
                          name="listener"/>
                        <dir
                          name="plugin"/>
                        <dir
                          name="resource">
                          <dir
                            name="admin"/>
                          <dir
                            name="channel"/>
                          <dir
                            name="metadata"/>
                          <dir
                            name="provider"/>
                          <dir
                            name="proxy"/>
                        </dir>
                        <dir
                          name="security"/>
                        <dir
                          name="service"/>
                        <dir
                          name="util"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="falcon">
                        <dir
                          name="aspect"/>
                        <dir
                          name="jdbc"/>
                        <dir
                          name="plugin"/>
                        <dir
                          name="resource">
                          <dir
                            name="admin"/>
                          <dir
                            name="metadata"/>
                        </dir>
                        <dir
                          name="security"/>
                        <dir
                          name="service"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="replication">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="falcon">
                        <dir
                          name="replication"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="falcon">
                        <dir
                          name="replication"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="rerun">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="falcon">
                        <dir
                          name="rerun">
                          <dir
                            name="event"/>
                          <dir
                            name="handler"/>
                          <dir
                            name="policy"/>
                          <dir
                            name="queue"/>
                          <dir
                            name="service"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="falcon">
                        <dir
                          name="rerun">
                          <dir
                            name="handler"/>
                          <dir
                            name="queue"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="retention">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="falcon">
                        <dir
                          name="retention"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="falcon">
                        <dir
                          name="retention"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="scheduler">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="falcon">
                        <dir
                          name="exception"/>
                        <dir
                          name="execution"/>
                        <dir
                          name="notification">
                          <dir
                            name="service">
                            <dir
                              name="event"/>
                            <dir
                              name="impl"/>
                            <dir
                              name="request"/>
                          </dir>
                        </dir>
                        <dir
                          name="predicate"/>
                        <dir
                          name="state">
                          <dir
                            name="store">
                            <dir
                              name="jdbc"/>
                          </dir>
                        </dir>
                        <dir
                          name="workflow">
                          <dir
                            name="engine"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="falcon">
                        <dir
                          name="execution"/>
                        <dir
                          name="notification">
                          <dir
                            name="service"/>
                        </dir>
                        <dir
                          name="predicate"/>
                        <dir
                          name="state">
                          <dir
                            name="service">
                            <dir
                              name="store"/>
                          </dir>
                        </dir>
                        <dir
                          name="tools"/>
                        <dir
                          name="workflow">
                          <dir
                            name="engine"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="shell">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="falcon">
                        <dir
                          name="shell">
                          <dir
                            name="commands"/>
                          <dir
                            name="skel"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test"/>
            </dir>
          </dir>
          <dir
            name="test-tools">
            <dir
              name="hadoop-webapp">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="falcon">
                          <dir
                            name="listener"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
                <dir
                  name="test">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="hadoop">
                          <dir
                            name="mapred"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
                <dir
                  name="versioned-src">
                  <dir
                    name="v2">
                    <dir
                      name="java">
                      <dir
                        name="org">
                        <dir
                          name="apache">
                          <dir
                            name="hadoop">
                            <dir
                              name="mapred"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="test-util">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="falcon">
                        <dir
                          name="cluster">
                          <dir
                            name="util"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="titan">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="com">
                    <dir
                      name="thinkaurelius">
                      <dir
                        name="titan">
                        <dir
                          name="diskstorage">
                          <dir
                            name="hbase"/>
                          <dir
                            name="locking"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="com">
                    <dir
                      name="thinkaurelius">
                      <dir
                        name="titan">
                        <dir
                          name="diskstorage">
                          <dir
                            name="locking"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="unit">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="falcon">
                        <dir
                          name="unit"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="falcon">
                        <dir
                          name="unit">
                          <dir
                            name="examples"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="webapp">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="falcon">
                        <dir
                          name="resource"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="falcon">
                        <dir
                          name="catalog"/>
                        <dir
                          name="cli"/>
                        <dir
                          name="late"/>
                        <dir
                          name="lifecycle"/>
                        <dir
                          name="process"/>
                        <dir
                          name="resource"/>
                        <dir
                          name="util"/>
                        <dir
                          name="validation"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
        </dir>
      </dir>
    </dir>
  </files>
  <languages>
    <language
      name="Java"/>
  </languages>
  <file_types/>
  <annotations_options/>
  <comparison_options
    comparison_db=""
    git_repo=""
    git_commit=""/>
  <imports/>
  <java_options
    count_javadoc_in_metrics="true"
    count_standard_in_max_inheritance="false"
    jni_kni_include_package_name="true"
    jni_kni_linkage_prepend_text="Java_"
    save_comments_associated_with_entities="true"
    version="Java10">
    <class_paths>
      <class_path
        path="C:/Program Files/Java/jdk-18.0.1.1/lib/src.zip"/>
      <class_path
        path="C:/Program Files/Java/jdk-18.0.1.1/jmods/java.base.jmod"/>
    </class_paths>
  </java_options>
</project>
