<project>
  <files
    portability_mode="relative"
    default_encoding="System"
    readonly="false"
    maxfilesize="10485760"
    enforce_portability="false">
    <dir
      name=".">
      <dir
        name="..">
        <dir
          name="ode">
          <watched
            subdirs="true">
            <filter
              name="Java"/>
          </watched>
          <dir
            name="agents">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="ode">
                        <dir
                          name="agents">
                          <dir
                            name="memory"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="axis2">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="ode">
                        <dir
                          name="axis2">
                          <dir
                            name="deploy"/>
                          <dir
                            name="hooks"/>
                          <dir
                            name="httpbinding"/>
                          <dir
                            name="service"/>
                          <dir
                            name="util"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="ode">
                        <dir
                          name="axis2">
                          <dir
                            name="httpbinding"/>
                          <dir
                            name="management"/>
                          <dir
                            name="util"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="axis2-bundle">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="ode">
                        <dir
                          name="axis2">
                          <dir
                            name="osgi"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="axis2-war">
            <dir
              name="src">
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="com">
                    <dir
                      name="intalio">
                      <dir
                        name="ws">
                        <dir
                          name="timeservice"/>
                      </dir>
                    </dir>
                  </dir>
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="ode">
                        <dir
                          name="axis2">
                          <dir
                            name="correlation"/>
                          <dir
                            name="httpbinding"/>
                          <dir
                            name="hydration"/>
                          <dir
                            name="instancecleanup"/>
                          <dir
                            name="management"/>
                          <dir
                            name="rampart">
                            <dir
                              name="basic"/>
                            <dir
                              name="policy"/>
                          </dir>
                        </dir>
                        <dir
                          name="bpel">
                          <dir
                            name="dao"/>
                        </dir>
                        <dir
                          name="dao">
                          <dir
                            name="jpa"/>
                        </dir>
                        <dir
                          name="daohib">
                          <dir
                            name="bpel"/>
                        </dir>
                      </dir>
                      <dir
                        name="rampart">
                        <dir
                          name="samples">
                          <dir
                            name="policy">
                            <dir
                              name="sample01"/>
                            <dir
                              name="sample02"/>
                            <dir
                              name="sample03"/>
                            <dir
                              name="sample04"/>
                            <dir
                              name="sample05"/>
                          </dir>
                          <dir
                            name="sample02"/>
                          <dir
                            name="sample03"/>
                          <dir
                            name="sample04"/>
                          <dir
                            name="sample05"/>
                          <dir
                            name="sample06"/>
                          <dir
                            name="sample07"/>
                          <dir
                            name="sample08"/>
                          <dir
                            name="sample09"/>
                          <dir
                            name="sample10"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="bpel-api">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="ode">
                        <dir
                          name="bpel">
                          <dir
                            name="bdi">
                            <dir
                              name="breaks"/>
                          </dir>
                          <dir
                            name="clapi"/>
                          <dir
                            name="common"/>
                          <dir
                            name="eapi"/>
                          <dir
                            name="evar"/>
                          <dir
                            name="evt"/>
                          <dir
                            name="explang"/>
                          <dir
                            name="iapi"/>
                          <dir
                            name="jmx"/>
                          <dir
                            name="pmapi"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="ode">
                        <dir
                          name="bpel">
                          <dir
                            name="common"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="bpel-api-jca">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="ode">
                        <dir
                          name="bpel">
                          <dir
                            name="jca">
                            <dir
                              name="clientapi"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="bpel-compiler">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="ode">
                        <dir
                          name="bpel">
                          <dir
                            name="compiler">
                            <dir
                              name="api"/>
                            <dir
                              name="bom"/>
                            <dir
                              name="wsdl"/>
                          </dir>
                          <dir
                            name="elang">
                            <dir
                              name="xpath10">
                              <dir
                                name="compiler"/>
                            </dir>
                            <dir
                              name="xpath20">
                              <dir
                                name="compiler"/>
                            </dir>
                            <dir
                              name="xquery10">
                              <dir
                                name="compiler"/>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="ode">
                        <dir
                          name="bpel">
                          <dir
                            name="compiler"/>
                          <dir
                            name="compiler_2_0"/>
                          <dir
                            name="elang">
                            <dir
                              name="xpath20">
                              <dir
                                name="compiler"/>
                            </dir>
                            <dir
                              name="xquery10">
                              <dir
                                name="compiler"/>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="bpel-connector">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="ode">
                        <dir
                          name="bpel">
                          <dir
                            name="connector"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="bpel-dao">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="ode">
                        <dir
                          name="bpel">
                          <dir
                            name="dao"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="bpel-epr">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="ode">
                        <dir
                          name="bpel">
                          <dir
                            name="common">
                            <dir
                              name="evt"/>
                          </dir>
                          <dir
                            name="epr"/>
                        </dir>
                        <dir
                          name="il">
                          <dir
                            name="config"/>
                          <dir
                            name="dbutil"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="ode">
                        <dir
                          name="bpel">
                          <dir
                            name="epr"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="bpel-nobj">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="ode">
                        <dir
                          name="bpel">
                          <dir
                            name="elang">
                            <dir
                              name="xpath10">
                              <dir
                                name="obj"/>
                            </dir>
                            <dir
                              name="xpath20">
                              <dir
                                name="obj"/>
                            </dir>
                            <dir
                              name="xquery10">
                              <dir
                                name="obj"/>
                            </dir>
                          </dir>
                          <dir
                            name="obj">
                            <dir
                              name="migrate"/>
                            <dir
                              name="serde">
                              <dir
                                name="jacksonhack"/>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="ode">
                        <dir
                          name="bpel">
                          <dir
                            name="obj">
                            <dir
                              name="migrate"/>
                            <dir
                              name="serde">
                              <dir
                                name="jacksonhack"/>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="bpel-obj">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="ode">
                        <dir
                          name="bpel">
                          <dir
                            name="elang">
                            <dir
                              name="xpath10">
                              <dir
                                name="o"/>
                            </dir>
                            <dir
                              name="xpath20">
                              <dir
                                name="o"/>
                            </dir>
                            <dir
                              name="xquery10">
                              <dir
                                name="o"/>
                            </dir>
                          </dir>
                          <dir
                            name="o"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="ode">
                        <dir
                          name="bpel">
                          <dir
                            name="o"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="bpel-ql">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="ode">
                        <dir
                          name="ql">
                          <dir
                            name="eval">
                            <dir
                              name="skel"/>
                          </dir>
                          <dir
                            name="jcc"/>
                          <dir
                            name="tree">
                            <dir
                              name="nodes"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="ode">
                        <dir
                          name="ql"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="bpel-rest-extensions">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="ode">
                        <dir
                          name="bpel">
                          <dir
                            name="extension">
                            <dir
                              name="bpel4restlight">
                              <dir
                                name="http"/>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="bpel-runtime">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="ode">
                        <dir
                          name="bpel">
                          <dir
                            name="elang">
                            <dir
                              name="xpath10">
                              <dir
                                name="runtime"/>
                            </dir>
                            <dir
                              name="xpath20">
                              <dir
                                name="runtime"/>
                            </dir>
                            <dir
                              name="xquery10">
                              <dir
                                name="runtime"/>
                            </dir>
                          </dir>
                          <dir
                            name="engine">
                            <dir
                              name="cron"/>
                            <dir
                              name="extvar"/>
                            <dir
                              name="migration"/>
                            <dir
                              name="replayer"/>
                          </dir>
                          <dir
                            name="evtproc"/>
                          <dir
                            name="extvar">
                            <dir
                              name="jdbc"/>
                          </dir>
                          <dir
                            name="intercept"/>
                          <dir
                            name="memdao"/>
                          <dir
                            name="runtime">
                            <dir
                              name="breaks"/>
                            <dir
                              name="channels"/>
                            <dir
                              name="explang">
                              <dir
                                name="konst"/>
                            </dir>
                            <dir
                              name="extension"/>
                            <dir
                              name="monitor"/>
                            <dir
                              name="msgs"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="ode">
                        <dir
                          name="bpel">
                          <dir
                            name="elang">
                            <dir
                              name="xpath10">
                              <dir
                                name="runtime"/>
                            </dir>
                            <dir
                              name="xpath20">
                              <dir
                                name="runtime"/>
                            </dir>
                          </dir>
                          <dir
                            name="engine">
                            <dir
                              name="cron"/>
                          </dir>
                          <dir
                            name="extvar">
                            <dir
                              name="jdbc"/>
                          </dir>
                          <dir
                            name="runtime"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="bpel-store">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="ode">
                        <dir
                          name="store">
                          <dir
                            name="hib"/>
                          <dir
                            name="jpa"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="ode">
                        <dir
                          name="store">
                          <dir
                            name="hib"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="bpel-test">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="ode">
                        <dir
                          name="test"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="ode">
                        <dir
                          name="test"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="clustering">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="ode">
                        <dir
                          name="clustering">
                          <dir
                            name="hazelcast"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="dao-hibernate">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="ode">
                        <dir
                          name="daohib">
                          <dir
                            name="bpel">
                            <dir
                              name="hobj"/>
                            <dir
                              name="ql"/>
                          </dir>
                          <dir
                            name="dialect"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="ode">
                        <dir
                          name="daohib">
                          <dir
                            name="bpel"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="dao-jpa">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="ode">
                        <dir
                          name="dao">
                          <dir
                            name="jpa"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="dao-jpa-ojpa-derby">
            <dir
              name="src">
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="ode">
                        <dir
                          name="dao">
                          <dir
                            name="jpa">
                            <dir
                              name="test"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="distro">
            <dir
              name="src">
              <dir
                name="examples-jbi">
                <dir
                  name="maven2">
                  <dir
                    name="ping-pong">
                    <dir
                      name="ode-su">
                      <dir
                        name="src">
                        <dir
                          name="main">
                          <dir
                            name="java">
                            <dir
                              name="org">
                              <dir
                                name="apache">
                                <dir
                                  name="ode">
                                  <dir
                                    name="ping"/>
                                </dir>
                              </dir>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                  <dir
                    name="ping-pong-osgi">
                    <dir
                      name="src">
                      <dir
                        name="main">
                        <dir
                          name="java">
                          <dir
                            name="org">
                            <dir
                              name="apache">
                              <dir
                                name="ode">
                                <dir
                                  name="ping"/>
                              </dir>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="jbi">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="ode">
                        <dir
                          name="jbi">
                          <dir
                            name="msgmap"/>
                          <dir
                            name="util"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="ode">
                        <dir
                          name="jbi">
                          <dir
                            name="msgmap"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="jbi-bundle">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="ode">
                        <dir
                          name="jbi">
                          <dir
                            name="osgi">
                            <dir
                              name="deployer"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="jbi-karaf-commands">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="ode">
                        <dir
                          name="karaf">
                          <dir
                            name="commands"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="jca-ra">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="ode">
                        <dir
                          name="ra">
                          <dir
                            name="transports">
                            <dir
                              name="rmi"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="jca-server">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="ode">
                        <dir
                          name="jca">
                          <dir
                            name="server">
                            <dir
                              name="rmi"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="scheduler-simple">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="ode">
                        <dir
                          name="scheduler">
                          <dir
                            name="simple"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="ode">
                        <dir
                          name="scheduler">
                          <dir
                            name="simple"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="tomee">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="ode">
                        <dir
                          name="tomee"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="tools">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="ode">
                        <dir
                          name="tools">
                          <dir
                            name="bpelc">
                            <dir
                              name="ant"/>
                            <dir
                              name="cline"/>
                          </dir>
                          <dir
                            name="sendsoap">
                            <dir
                              name="cline"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="utils">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="ode">
                        <dir
                          name="utils">
                          <dir
                            name="cli"/>
                          <dir
                            name="fs"/>
                          <dir
                            name="http"/>
                          <dir
                            name="jmx"/>
                          <dir
                            name="msg"/>
                          <dir
                            name="rmi"/>
                          <dir
                            name="sax"/>
                          <dir
                            name="stl"/>
                          <dir
                            name="trax"/>
                          <dir
                            name="uuid"/>
                          <dir
                            name="wsdl"/>
                          <dir
                            name="xml">
                            <dir
                              name="capture"/>
                          </dir>
                          <dir
                            name="xsd"/>
                          <dir
                            name="xsl"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="ode">
                        <dir
                          name="utils">
                          <dir
                            name="cli"/>
                          <dir
                            name="fs"/>
                          <dir
                            name="msg"/>
                          <dir
                            name="stl"/>
                          <dir
                            name="wsdl"/>
                          <dir
                            name="xsd"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
        </dir>
      </dir>
    </dir>
  </files>
  <languages>
    <language
      name="Java"/>
  </languages>
  <file_types/>
  <annotations_options/>
  <comparison_options
    comparison_db=""
    git_repo=""
    git_commit=""/>
  <imports/>
  <java_options
    count_javadoc_in_metrics="true"
    count_standard_in_max_inheritance="false"
    jni_kni_include_package_name="true"
    jni_kni_linkage_prepend_text="Java_"
    save_comments_associated_with_entities="true"
    version="Java10">
    <class_paths>
      <class_path
        path="C:/Program Files/Java/jdk-18.0.1.1/lib/src.zip"/>
      <class_path
        path="C:/Program Files/Java/jdk-18.0.1.1/jmods/java.base.jmod"/>
    </class_paths>
  </java_options>
</project>
