<project>
  <files
    portability_mode="relative"
    default_encoding="System"
    readonly="false"
    maxfilesize="10485760"
    enforce_portability="false">
    <dir
      name=".">
      <dir
        name="..">
        <dir
          name="hama">
          <watched
            subdirs="true">
            <filter
              name="Java"/>
          </watched>
          <dir
            name="commons">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="hama">
                        <dir
                          name="commons">
                          <dir
                            name="io"/>
                          <dir
                            name="math"/>
                          <dir
                            name="util"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="hama">
                        <dir
                          name="commons">
                          <dir
                            name="math"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="contrib">
            <dir
              name="avro-rpc">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="hama">
                          <dir
                            name="avro"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="monitor-plugin">
              <dir
                name="jvm-metrics">
                <dir
                  name="src">
                  <dir
                    name="main">
                    <dir
                      name="java">
                      <dir
                        name="org">
                        <dir
                          name="apache">
                          <dir
                            name="hama">
                            <dir
                              name="monitor">
                              <dir
                                name="plugin"/>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="core">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="hama">
                        <dir
                          name="bsp">
                          <dir
                            name="ft"/>
                          <dir
                            name="join"/>
                          <dir
                            name="message">
                            <dir
                              name="compress"/>
                            <dir
                              name="queue"/>
                          </dir>
                          <dir
                            name="sync"/>
                          <dir
                            name="taskallocation"/>
                        </dir>
                        <dir
                          name="http"/>
                        <dir
                          name="ipc"/>
                        <dir
                          name="manager">
                          <dir
                            name="util"/>
                        </dir>
                        <dir
                          name="monitor">
                          <dir
                            name="fd"/>
                        </dir>
                        <dir
                          name="pipes">
                          <dir
                            name="protocol"/>
                          <dir
                            name="util"/>
                        </dir>
                        <dir
                          name="util"/>
                        <dir
                          name="zookeeper"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="hama">
                        <dir
                          name="bsp">
                          <dir
                            name="message">
                            <dir
                              name="compress"/>
                          </dir>
                          <dir
                            name="sync"/>
                        </dir>
                        <dir
                          name="examples"/>
                        <dir
                          name="ipc"/>
                        <dir
                          name="manager">
                          <dir
                            name="util"/>
                        </dir>
                        <dir
                          name="monitor">
                          <dir
                            name="fd"/>
                        </dir>
                        <dir
                          name="pipes"/>
                        <dir
                          name="util"/>
                        <dir
                          name="zookeeper"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="examples">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="hama">
                        <dir
                          name="examples">
                          <dir
                            name="util"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="hama">
                        <dir
                          name="examples"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="graph">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="hama">
                        <dir
                          name="graph"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="hama">
                        <dir
                          name="graph">
                          <dir
                            name="example"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="mesos">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="hama">
                        <dir
                          name="bsp"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="ml">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="hama">
                        <dir
                          name="ml">
                          <dir
                            name="classification"/>
                          <dir
                            name="distance"/>
                          <dir
                            name="kcore"/>
                          <dir
                            name="kmeans"/>
                          <dir
                            name="recommendation">
                            <dir
                              name="cf">
                              <dir
                                name="function"/>
                            </dir>
                          </dir>
                          <dir
                            name="regression"/>
                          <dir
                            name="semiclustering"/>
                          <dir
                            name="util"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="hama">
                        <dir
                          name="ml">
                          <dir
                            name="kmeans"/>
                          <dir
                            name="recommendation"/>
                          <dir
                            name="regression"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="yarn">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="hama">
                        <dir
                          name="bsp"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
        </dir>
      </dir>
    </dir>
  </files>
  <languages>
    <language
      name="Java"/>
  </languages>
  <file_types/>
  <annotations_options/>
  <comparison_options
    comparison_db=""
    git_repo=""
    git_commit=""/>
  <imports/>
  <java_options
    count_javadoc_in_metrics="true"
    count_standard_in_max_inheritance="false"
    jni_kni_include_package_name="true"
    jni_kni_linkage_prepend_text="Java_"
    save_comments_associated_with_entities="true"
    version="Java10">
    <class_paths>
      <class_path
        path="C:/Program Files/Java/jdk-18.0.1.1/lib/src.zip"/>
      <class_path
        path="C:/Program Files/Java/jdk-18.0.1.1/jmods/java.base.jmod"/>
    </class_paths>
  </java_options>
</project>
