<project>
  <files
    portability_mode="relative"
    default_encoding="System"
    readonly="false"
    maxfilesize="10485760"
    enforce_portability="false">
    <dir
      name=".">
      <dir
        name="..">
        <dir
          name="commons-digester">
          <watched
            subdirs="true">
            <filter
              name="Java"/>
          </watched>
          <dir
            name="core">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="commons">
                        <dir
                          name="digester3">
                          <dir
                            name="annotations">
                            <dir
                              name="handlers"/>
                            <dir
                              name="reflect"/>
                            <dir
                              name="rules"/>
                            <dir
                              name="utils"/>
                          </dir>
                          <dir
                            name="binder"/>
                          <dir
                            name="plugins">
                            <dir
                              name="strategies"/>
                          </dir>
                          <dir
                            name="substitution"/>
                          <dir
                            name="xmlrules"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="commons">
                        <dir
                          name="digester3">
                          <dir
                            name="annotations">
                            <dir
                              name="addressbook"/>
                            <dir
                              name="catalog"/>
                            <dir
                              name="employee"/>
                            <dir
                              name="failingtests"/>
                            <dir
                              name="person"/>
                            <dir
                              name="rss"/>
                            <dir
                              name="servletbean"/>
                          </dir>
                          <dir
                            name="binder"/>
                          <dir
                            name="plugins"/>
                          <dir
                            name="substitution"/>
                          <dir
                            name="xmlrules"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="examples">
            <dir
              name="annotations">
              <dir
                name="atom">
                <dir
                  name="src">
                  <dir
                    name="main">
                    <dir
                      name="java">
                      <dir
                        name="org">
                        <dir
                          name="apache">
                          <dir
                            name="commons">
                            <dir
                              name="digester3">
                              <dir
                                name="annotations">
                                <dir
                                  name="atom"/>
                              </dir>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="api">
              <dir
                name="addressbook">
                <dir
                  name="src">
                  <dir
                    name="main">
                    <dir
                      name="java">
                      <dir
                        name="org">
                        <dir
                          name="apache">
                          <dir
                            name="commons">
                            <dir
                              name="digester3">
                              <dir
                                name="examples">
                                <dir
                                  name="api">
                                  <dir
                                    name="addressbook"/>
                                </dir>
                              </dir>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="catalog">
                <dir
                  name="src">
                  <dir
                    name="main">
                    <dir
                      name="java">
                      <dir
                        name="org">
                        <dir
                          name="apache">
                          <dir
                            name="commons">
                            <dir
                              name="digester3">
                              <dir
                                name="examples">
                                <dir
                                  name="api">
                                  <dir
                                    name="catalog"/>
                                </dir>
                              </dir>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="dbinsert">
                <dir
                  name="src">
                  <dir
                    name="main">
                    <dir
                      name="java">
                      <dir
                        name="org">
                        <dir
                          name="apache">
                          <dir
                            name="commons">
                            <dir
                              name="digester3">
                              <dir
                                name="examples">
                                <dir
                                  name="api">
                                  <dir
                                    name="dbinsert"/>
                                </dir>
                              </dir>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="document-markup">
                <dir
                  name="src">
                  <dir
                    name="main">
                    <dir
                      name="java">
                      <dir
                        name="org">
                        <dir
                          name="apache">
                          <dir
                            name="commons">
                            <dir
                              name="digester3">
                              <dir
                                name="examples">
                                <dir
                                  name="api">
                                  <dir
                                    name="documentmarkup"/>
                                </dir>
                              </dir>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="edsl">
              <dir
                name="atom">
                <dir
                  name="src">
                  <dir
                    name="main">
                    <dir
                      name="java">
                      <dir
                        name="org">
                        <dir
                          name="apache">
                          <dir
                            name="commons">
                            <dir
                              name="digester3">
                              <dir
                                name="edsl">
                                <dir
                                  name="atom"/>
                              </dir>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="plugins">
              <dir
                name="pipeline">
                <dir
                  name="src">
                  <dir
                    name="main">
                    <dir
                      name="java">
                      <dir
                        name="org">
                        <dir
                          name="apache">
                          <dir
                            name="commons">
                            <dir
                              name="digester3">
                              <dir
                                name="examples">
                                <dir
                                  name="plugins">
                                  <dir
                                    name="pipeline"/>
                                </dir>
                              </dir>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="rss">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="commons">
                          <dir
                            name="digester3">
                            <dir
                              name="rss"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="xmlrules">
              <dir
                name="addressbook">
                <dir
                  name="src">
                  <dir
                    name="main">
                    <dir
                      name="java">
                      <dir
                        name="org">
                        <dir
                          name="apache">
                          <dir
                            name="commons">
                            <dir
                              name="digester3">
                              <dir
                                name="examples">
                                <dir
                                  name="xmlrules">
                                  <dir
                                    name="addressbook"/>
                                </dir>
                              </dir>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
        </dir>
      </dir>
    </dir>
  </files>
  <languages>
    <language
      name="Java"/>
  </languages>
  <file_types/>
  <annotations_options/>
  <comparison_options
    comparison_db=""
    git_repo=""
    git_commit=""/>
  <imports/>
  <java_options
    count_javadoc_in_metrics="true"
    count_standard_in_max_inheritance="false"
    jni_kni_include_package_name="true"
    jni_kni_linkage_prepend_text="Java_"
    save_comments_associated_with_entities="true"
    version="Java10">
    <class_paths>
      <class_path
        path="C:/Program Files/Java/jdk-18.0.1.1/lib/src.zip"/>
      <class_path
        path="C:/Program Files/Java/jdk-18.0.1.1/jmods/java.base.jmod"/>
    </class_paths>
  </java_options>
</project>
