<project>
  <files
    portability_mode="relative"
    default_encoding="System"
    readonly="false"
    maxfilesize="10485760"
    enforce_portability="false">
    <dir
      name=".">
      <dir
        name="..">
        <dir
          name="maven">
          <watched
            subdirs="true">
            <filter
              name="Java"/>
          </watched>
          <dir
            name="apache-maven">
            <dir
              name="src">
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="maven">
                        <dir
                          name="settings"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="maven-artifact">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="maven">
                        <dir
                          name="artifact">
                          <dir
                            name="handler"/>
                          <dir
                            name="metadata"/>
                          <dir
                            name="repository">
                            <dir
                              name="layout"/>
                            <dir
                              name="metadata"/>
                          </dir>
                          <dir
                            name="resolver">
                            <dir
                              name="filter"/>
                          </dir>
                          <dir
                            name="versioning"/>
                        </dir>
                        <dir
                          name="repository">
                          <dir
                            name="legacy">
                            <dir
                              name="metadata"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="maven">
                        <dir
                          name="artifact">
                          <dir
                            name="handler"/>
                          <dir
                            name="versioning"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="maven-builder-support">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="maven">
                        <dir
                          name="building"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="maven">
                        <dir
                          name="building"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="maven-compat">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="maven">
                        <dir
                          name="artifact">
                          <dir
                            name="deployer"/>
                          <dir
                            name="installer"/>
                          <dir
                            name="manager"/>
                          <dir
                            name="repository">
                            <dir
                              name="layout"/>
                            <dir
                              name="metadata"/>
                          </dir>
                          <dir
                            name="resolver">
                            <dir
                              name="filter"/>
                          </dir>
                          <dir
                            name="versioning"/>
                        </dir>
                        <dir
                          name="execution"/>
                        <dir
                          name="profiles">
                          <dir
                            name="activation"/>
                        </dir>
                        <dir
                          name="project">
                          <dir
                            name="inheritance"/>
                          <dir
                            name="interpolation"/>
                          <dir
                            name="path"/>
                          <dir
                            name="validation"/>
                        </dir>
                        <dir
                          name="reporting"/>
                        <dir
                          name="repository">
                          <dir
                            name="legacy">
                            <dir
                              name="repository"/>
                            <dir
                              name="resolver">
                              <dir
                                name="conflict"/>
                              <dir
                                name="transform"/>
                            </dir>
                          </dir>
                          <dir
                            name="metadata"/>
                        </dir>
                        <dir
                          name="usability">
                          <dir
                            name="plugin"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="maven">
                        <dir
                          name="artifact">
                          <dir
                            name="deployer"/>
                          <dir
                            name="factory"/>
                          <dir
                            name="installer"/>
                          <dir
                            name="metadata"/>
                          <dir
                            name="repository"/>
                          <dir
                            name="resolver">
                            <dir
                              name="filter"/>
                          </dir>
                          <dir
                            name="testutils"/>
                          <dir
                            name="transform"/>
                        </dir>
                        <dir
                          name="profiles">
                          <dir
                            name="manager"/>
                        </dir>
                        <dir
                          name="project">
                          <dir
                            name="inheritance">
                            <dir
                              name="t00"/>
                            <dir
                              name="t01"/>
                            <dir
                              name="t02"/>
                            <dir
                              name="t03"/>
                            <dir
                              name="t04"/>
                            <dir
                              name="t05"/>
                            <dir
                              name="t06"/>
                            <dir
                              name="t07"/>
                            <dir
                              name="t08"/>
                            <dir
                              name="t09"/>
                            <dir
                              name="t10"/>
                            <dir
                              name="t11"/>
                            <dir
                              name="t12"/>
                            <dir
                              name="t12scm"/>
                          </dir>
                          <dir
                            name="path"/>
                        </dir>
                        <dir
                          name="repository">
                          <dir
                            name="legacy">
                            <dir
                              name="resolver">
                              <dir
                                name="conflict"/>
                            </dir>
                          </dir>
                          <dir
                            name="metadata"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="maven-core">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="maven">
                        <dir
                          name="artifact">
                          <dir
                            name="factory"/>
                          <dir
                            name="handler">
                            <dir
                              name="manager"/>
                            <dir
                              name="providers"/>
                          </dir>
                          <dir
                            name="metadata"/>
                          <dir
                            name="repository">
                            <dir
                              name="layout"/>
                            <dir
                              name="metadata">
                              <dir
                                name="io"/>
                            </dir>
                          </dir>
                          <dir
                            name="resolver">
                            <dir
                              name="filter"/>
                          </dir>
                        </dir>
                        <dir
                          name="bridge"/>
                        <dir
                          name="classrealm"/>
                        <dir
                          name="configuration">
                          <dir
                            name="internal"/>
                        </dir>
                        <dir
                          name="eventspy">
                          <dir
                            name="internal"/>
                        </dir>
                        <dir
                          name="exception"/>
                        <dir
                          name="execution">
                          <dir
                            name="infoproviders"/>
                          <dir
                            name="scope">
                            <dir
                              name="internal"/>
                          </dir>
                        </dir>
                        <dir
                          name="extension">
                          <dir
                            name="internal"/>
                        </dir>
                        <dir
                          name="graph"/>
                        <dir
                          name="internal">
                          <dir
                            name="aether"/>
                        </dir>
                        <dir
                          name="lifecycle">
                          <dir
                            name="internal">
                            <dir
                              name="builder">
                              <dir
                                name="multithreaded"/>
                              <dir
                                name="singlethreaded"/>
                            </dir>
                          </dir>
                          <dir
                            name="mapping"/>
                          <dir
                            name="providers">
                            <dir
                              name="packaging"/>
                          </dir>
                        </dir>
                        <dir
                          name="model">
                          <dir
                            name="plugin"/>
                        </dir>
                        <dir
                          name="monitor">
                          <dir
                            name="event"/>
                        </dir>
                        <dir
                          name="plugin">
                          <dir
                            name="internal"/>
                          <dir
                            name="prefix">
                            <dir
                              name="internal"/>
                          </dir>
                          <dir
                            name="version">
                            <dir
                              name="internal"/>
                          </dir>
                        </dir>
                        <dir
                          name="project">
                          <dir
                            name="artifact"/>
                          <dir
                            name="collector"/>
                          <dir
                            name="path"/>
                        </dir>
                        <dir
                          name="properties">
                          <dir
                            name="internal"/>
                        </dir>
                        <dir
                          name="repository">
                          <dir
                            name="legacy">
                            <dir
                              name="metadata"/>
                          </dir>
                        </dir>
                        <dir
                          name="rtinfo">
                          <dir
                            name="internal"/>
                        </dir>
                        <dir
                          name="session">
                          <dir
                            name="scope">
                            <dir
                              name="internal"/>
                          </dir>
                        </dir>
                        <dir
                          name="settings"/>
                        <dir
                          name="toolchain">
                          <dir
                            name="java"/>
                        </dir>
                        <dir
                          name="xml">
                          <dir
                            name="internal"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="maven">
                        <dir
                          name="artifact">
                          <dir
                            name="handler"/>
                          <dir
                            name="resolver">
                            <dir
                              name="filter"/>
                          </dir>
                        </dir>
                        <dir
                          name="configuration"/>
                        <dir
                          name="exception"/>
                        <dir
                          name="execution">
                          <dir
                            name="scope">
                            <dir
                              name="internal"/>
                          </dir>
                        </dir>
                        <dir
                          name="graph"/>
                        <dir
                          name="internal">
                          <dir
                            name="aether"/>
                        </dir>
                        <dir
                          name="lifecycle">
                          <dir
                            name="internal">
                            <dir
                              name="builder">
                              <dir
                                name="multithreaded"/>
                            </dir>
                            <dir
                              name="stub"/>
                          </dir>
                          <dir
                            name="mapping"/>
                        </dir>
                        <dir
                          name="plugin">
                          <dir
                            name="internal"/>
                        </dir>
                        <dir
                          name="project">
                          <dir
                            name="artifact"/>
                          <dir
                            name="canonical"/>
                          <dir
                            name="harness"/>
                        </dir>
                        <dir
                          name="repository"/>
                        <dir
                          name="rtinfo">
                          <dir
                            name="internal"/>
                        </dir>
                        <dir
                          name="settings"/>
                        <dir
                          name="toolchain"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
                <dir
                  name="projects">
                  <dir
                    name="lifecycle-executor">
                    <dir
                      name="project-with-additional-lifecycle-elements">
                      <dir
                        name="src">
                        <dir
                          name="main">
                          <dir
                            name="java">
                            <dir
                              name="org">
                              <dir
                                name="apache">
                                <dir
                                  name="maven">
                                  <dir
                                    name="lifecycle">
                                    <dir
                                      name="test"/>
                                  </dir>
                                </dir>
                              </dir>
                            </dir>
                          </dir>
                        </dir>
                        <dir
                          name="test">
                          <dir
                            name="java">
                            <dir
                              name="org">
                              <dir
                                name="apache">
                                <dir
                                  name="maven">
                                  <dir
                                    name="lifecycle">
                                    <dir
                                      name="test"/>
                                  </dir>
                                </dir>
                              </dir>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="maven-embedder">
            <dir
              name="src">
              <dir
                name="examples">
                <dir
                  name="simple-project">
                  <dir
                    name="src">
                    <dir
                      name="main">
                      <dir
                        name="java">
                        <dir
                          name="org">
                          <dir
                            name="apache">
                            <dir
                              name="maven">
                              <dir
                                name="embedder"/>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                    <dir
                      name="test">
                      <dir
                        name="java">
                        <dir
                          name="org">
                          <dir
                            name="apache">
                            <dir
                              name="maven">
                              <dir
                                name="embedder"/>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="maven">
                        <dir
                          name="cli">
                          <dir
                            name="configuration"/>
                          <dir
                            name="event"/>
                          <dir
                            name="internal"/>
                          <dir
                            name="logging">
                            <dir
                              name="impl"/>
                          </dir>
                          <dir
                            name="transfer"/>
                        </dir>
                      </dir>
                    </dir>
                    <dir
                      name="slf4j">
                      <dir
                        name="impl"/>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="maven">
                        <dir
                          name="cli">
                          <dir
                            name="event"/>
                          <dir
                            name="transfer"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="maven-model">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="maven">
                        <dir
                          name="model">
                          <dir
                            name="io">
                            <dir
                              name="xpp3"/>
                          </dir>
                          <dir
                            name="merge"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="maven">
                        <dir
                          name="model">
                          <dir
                            name="merge"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="maven-model-builder">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="maven">
                        <dir
                          name="feature"/>
                        <dir
                          name="model">
                          <dir
                            name="building"/>
                          <dir
                            name="composition"/>
                          <dir
                            name="inheritance"/>
                          <dir
                            name="interpolation"/>
                          <dir
                            name="io"/>
                          <dir
                            name="locator"/>
                          <dir
                            name="management"/>
                          <dir
                            name="merge"/>
                          <dir
                            name="normalization"/>
                          <dir
                            name="path"/>
                          <dir
                            name="plugin"/>
                          <dir
                            name="profile">
                            <dir
                              name="activation"/>
                          </dir>
                          <dir
                            name="resolution"/>
                          <dir
                            name="superpom"/>
                          <dir
                            name="validation"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="maven">
                        <dir
                          name="model">
                          <dir
                            name="building"/>
                          <dir
                            name="inheritance"/>
                          <dir
                            name="interpolation"/>
                          <dir
                            name="merge"/>
                          <dir
                            name="path"/>
                          <dir
                            name="profile">
                            <dir
                              name="activation"/>
                          </dir>
                          <dir
                            name="validation"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="maven-model-transform">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="maven">
                        <dir
                          name="model">
                          <dir
                            name="transform">
                            <dir
                              name="pull"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="maven">
                        <dir
                          name="model">
                          <dir
                            name="transform"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="maven-plugin-api">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="maven">
                        <dir
                          name="plugin">
                          <dir
                            name="descriptor"/>
                          <dir
                            name="logging"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="maven">
                        <dir
                          name="plugin">
                          <dir
                            name="descriptor"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="maven-repository-metadata">
            <dir
              name="src">
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="maven">
                        <dir
                          name="artifact">
                          <dir
                            name="repository">
                            <dir
                              name="metadata"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="maven-resolver-provider">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="maven">
                        <dir
                          name="repository">
                          <dir
                            name="internal"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="maven">
                        <dir
                          name="repository">
                          <dir
                            name="internal">
                            <dir
                              name="util"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="maven-settings">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="maven">
                        <dir
                          name="settings"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="maven-settings-builder">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="maven">
                        <dir
                          name="settings">
                          <dir
                            name="building"/>
                          <dir
                            name="crypto"/>
                          <dir
                            name="io"/>
                          <dir
                            name="merge"/>
                          <dir
                            name="validation"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="maven">
                        <dir
                          name="settings">
                          <dir
                            name="building"/>
                          <dir
                            name="validation"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="maven-slf4j-provider">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="slf4j">
                      <dir
                        name="impl"/>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="slf4j">
                      <dir
                        name="impl"/>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="maven-slf4j-wrapper">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="maven">
                        <dir
                          name="logwrapper"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="maven">
                        <dir
                          name="logwrapper"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="maven-toolchain-builder">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="maven">
                        <dir
                          name="toolchain">
                          <dir
                            name="building"/>
                          <dir
                            name="io"/>
                          <dir
                            name="merge"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="maven">
                        <dir
                          name="toolchain">
                          <dir
                            name="building"/>
                          <dir
                            name="merge"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
        </dir>
      </dir>
    </dir>
  </files>
  <languages>
    <language
      name="Java"/>
  </languages>
  <file_types/>
  <annotations_options/>
  <comparison_options
    comparison_db=""
    git_repo=""
    git_commit=""/>
  <imports/>
  <java_options
    count_javadoc_in_metrics="true"
    count_standard_in_max_inheritance="false"
    jni_kni_include_package_name="true"
    jni_kni_linkage_prepend_text="Java_"
    save_comments_associated_with_entities="true"
    version="Java10">
    <class_paths>
      <class_path
        path="C:/Program Files/Java/jdk-18.0.1.1/lib/src.zip"/>
      <class_path
        path="C:/Program Files/Java/jdk-18.0.1.1/jmods/java.base.jmod"/>
    </class_paths>
  </java_options>
</project>
