<project>
  <files
    portability_mode="relative"
    default_encoding="System"
    readonly="false"
    maxfilesize="10485760"
    enforce_portability="false">
    <dir
      name=".">
      <dir
        name="..">
        <dir
          name="commons-geometry">
          <watched
            subdirs="true">
            <filter
              name="Java"/>
          </watched>
          <dir
            name="commons-geometry-core">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="commons">
                        <dir
                          name="geometry">
                          <dir
                            name="core">
                            <dir
                              name="collection"/>
                            <dir
                              name="internal"/>
                            <dir
                              name="partitioning">
                              <dir
                                name="bsp"/>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="commons">
                        <dir
                          name="geometry">
                          <dir
                            name="core">
                            <dir
                              name="collection"/>
                            <dir
                              name="internal"/>
                            <dir
                              name="partitioning">
                              <dir
                                name="bsp"/>
                              <dir
                                name="test"/>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="commons-geometry-enclosing">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="commons">
                        <dir
                          name="geometry">
                          <dir
                            name="enclosing">
                            <dir
                              name="euclidean">
                              <dir
                                name="threed"/>
                              <dir
                                name="twod"/>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="commons">
                        <dir
                          name="geometry">
                          <dir
                            name="enclosing">
                            <dir
                              name="euclidean">
                              <dir
                                name="threed"/>
                              <dir
                                name="twod"/>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="commons-geometry-euclidean">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="commons">
                        <dir
                          name="geometry">
                          <dir
                            name="euclidean">
                            <dir
                              name="internal"/>
                            <dir
                              name="oned"/>
                            <dir
                              name="threed">
                              <dir
                                name="line"/>
                              <dir
                                name="mesh"/>
                              <dir
                                name="rotation"/>
                              <dir
                                name="shape"/>
                            </dir>
                            <dir
                              name="twod">
                              <dir
                                name="path"/>
                              <dir
                                name="rotation"/>
                              <dir
                                name="shape"/>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="commons">
                        <dir
                          name="geometry">
                          <dir
                            name="euclidean">
                            <dir
                              name="internal"/>
                            <dir
                              name="oned"/>
                            <dir
                              name="threed">
                              <dir
                                name="line"/>
                              <dir
                                name="mesh"/>
                              <dir
                                name="rotation"/>
                              <dir
                                name="shape"/>
                            </dir>
                            <dir
                              name="twod">
                              <dir
                                name="path"/>
                              <dir
                                name="rotation"/>
                              <dir
                                name="shape"/>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="commons-geometry-examples">
            <dir
              name="examples-jmh">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="commons">
                          <dir
                            name="geometry">
                            <dir
                              name="examples">
                              <dir
                                name="jmh">
                                <dir
                                  name="euclidean">
                                  <dir
                                    name="pointmap"/>
                                </dir>
                              </dir>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
                <dir
                  name="test">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="commons">
                          <dir
                            name="geometry">
                            <dir
                              name="examples">
                              <dir
                                name="jmh">
                                <dir
                                  name="euclidean">
                                  <dir
                                    name="pointmap"/>
                                </dir>
                              </dir>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="examples-tutorials">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="commons">
                          <dir
                            name="geometry">
                            <dir
                              name="examples">
                              <dir
                                name="tutorials">
                                <dir
                                  name="bsp"/>
                                <dir
                                  name="teapot"/>
                              </dir>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
                <dir
                  name="test">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="commons">
                          <dir
                            name="geometry">
                            <dir
                              name="examples">
                              <dir
                                name="tutorials">
                                <dir
                                  name="bsp"/>
                                <dir
                                  name="teapot"/>
                              </dir>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="commons-geometry-hull">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="commons">
                        <dir
                          name="geometry">
                          <dir
                            name="hull">
                            <dir
                              name="euclidean">
                              <dir
                                name="twod"/>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="commons">
                        <dir
                          name="geometry">
                          <dir
                            name="hull">
                            <dir
                              name="euclidean">
                              <dir
                                name="twod"/>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="commons-geometry-io-core">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="commons">
                        <dir
                          name="geometry">
                          <dir
                            name="io">
                            <dir
                              name="core">
                              <dir
                                name="input"/>
                              <dir
                                name="internal"/>
                              <dir
                                name="output"/>
                              <dir
                                name="utils"/>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="commons">
                        <dir
                          name="geometry">
                          <dir
                            name="io">
                            <dir
                              name="core">
                              <dir
                                name="input"/>
                              <dir
                                name="internal"/>
                              <dir
                                name="output"/>
                              <dir
                                name="test"/>
                              <dir
                                name="utils"/>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="commons-geometry-io-euclidean">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="commons">
                        <dir
                          name="geometry">
                          <dir
                            name="io">
                            <dir
                              name="euclidean">
                              <dir
                                name="threed">
                                <dir
                                  name="obj"/>
                                <dir
                                  name="stl"/>
                                <dir
                                  name="txt"/>
                              </dir>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="commons">
                        <dir
                          name="geometry">
                          <dir
                            name="io">
                            <dir
                              name="euclidean">
                              <dir
                                name="threed">
                                <dir
                                  name="obj"/>
                                <dir
                                  name="stl"/>
                                <dir
                                  name="txt"/>
                              </dir>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="commons-geometry-spherical">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="commons">
                        <dir
                          name="geometry">
                          <dir
                            name="spherical">
                            <dir
                              name="oned"/>
                            <dir
                              name="twod"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="commons">
                        <dir
                          name="geometry">
                          <dir
                            name="spherical">
                            <dir
                              name="oned"/>
                            <dir
                              name="twod"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
        </dir>
      </dir>
    </dir>
  </files>
  <languages>
    <language
      name="Java"/>
  </languages>
  <file_types/>
  <annotations_options/>
  <comparison_options
    comparison_db=""
    git_repo=""
    git_commit=""/>
  <imports/>
  <java_options
    count_javadoc_in_metrics="true"
    count_standard_in_max_inheritance="false"
    jni_kni_include_package_name="true"
    jni_kni_linkage_prepend_text="Java_"
    save_comments_associated_with_entities="true"
    version="Java10">
    <class_paths>
      <class_path
        path="C:/Program Files/Java/jdk-18.0.1.1/lib/src.zip"/>
      <class_path
        path="C:/Program Files/Java/jdk-18.0.1.1/jmods/java.base.jmod"/>
    </class_paths>
  </java_options>
</project>
