<project>
  <files
    portability_mode="relative"
    default_encoding="System"
    readonly="false"
    maxfilesize="10485760"
    enforce_portability="false">
    <dir
      name=".">
      <dir
        name="..">
        <dir
          name="mina">
          <watched
            subdirs="true">
            <filter
              name="Java"/>
          </watched>
          <dir
            name="avro">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="mina">
                        <dir
                          name="avro">
                          <dir
                            name="codec">
                            <dir
                              name="serialization"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="mina">
                        <dir
                          name="avro">
                          <dir
                            name="codec">
                            <dir
                              name="serialization"/>
                          </dir>
                          <dir
                            name="generated"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="benchmarks">
            <dir
              name="common">
              <dir
                name="src">
                <dir
                  name="test">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="mina">
                          <dir
                            name="core">
                            <dir
                              name="bio">
                              <dir
                                name="udp"/>
                            </dir>
                            <dir
                              name="nio">
                              <dir
                                name="tcp"/>
                              <dir
                                name="udp"/>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="netty3">
              <dir
                name="src">
                <dir
                  name="test">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="mina">
                          <dir
                            name="core">
                            <dir
                              name="nio">
                              <dir
                                name="tcp"/>
                              <dir
                                name="udp"/>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="netty4">
              <dir
                name="src">
                <dir
                  name="test">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="mina">
                          <dir
                            name="core">
                            <dir
                              name="nio">
                              <dir
                                name="tcp"/>
                              <dir
                                name="udp"/>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="coap">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="mina">
                        <dir
                          name="coap">
                          <dir
                            name="codec"/>
                          <dir
                            name="resource"/>
                          <dir
                            name="retry"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="mina">
                        <dir
                          name="coap">
                          <dir
                            name="codec"/>
                          <dir
                            name="resource"/>
                          <dir
                            name="retry"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="codec">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="mina">
                        <dir
                          name="codec">
                          <dir
                            name="delimited">
                            <dir
                              name="ints"/>
                            <dir
                              name="serialization"/>
                          </dir>
                          <dir
                            name="textline"/>
                        </dir>
                        <dir
                          name="util"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="mina">
                        <dir
                          name="codec">
                          <dir
                            name="delimited">
                            <dir
                              name="ints"/>
                            <dir
                              name="serialization"/>
                          </dir>
                          <dir
                            name="textline"/>
                        </dir>
                        <dir
                          name="util"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="core">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="mina">
                        <dir
                          name="api"/>
                        <dir
                          name="filter">
                          <dir
                            name="codec"/>
                          <dir
                            name="logging"/>
                          <dir
                            name="query"/>
                        </dir>
                        <dir
                          name="filterchain"/>
                        <dir
                          name="service">
                          <dir
                            name="client"/>
                          <dir
                            name="executor"/>
                          <dir
                            name="idlechecker"/>
                          <dir
                            name="server"/>
                        </dir>
                        <dir
                          name="session"/>
                        <dir
                          name="transport">
                          <dir
                            name="bio"/>
                          <dir
                            name="nio"/>
                          <dir
                            name="tcp"/>
                          <dir
                            name="udp"/>
                        </dir>
                        <dir
                          name="util"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="mina">
                        <dir
                          name="filter">
                          <dir
                            name="codec"/>
                          <dir
                            name="query"/>
                        </dir>
                        <dir
                          name="service">
                          <dir
                            name="executor"/>
                          <dir
                            name="idlecheker"/>
                        </dir>
                        <dir
                          name="session"/>
                        <dir
                          name="transport">
                          <dir
                            name="bio"/>
                          <dir
                            name="nio"/>
                        </dir>
                        <dir
                          name="util"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="examples">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="mina">
                        <dir
                          name="examples">
                          <dir
                            name="coap"/>
                          <dir
                            name="echoclient"/>
                          <dir
                            name="echoserver"/>
                          <dir
                            name="http"/>
                          <dir
                            name="udpecho"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="http">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="mina">
                        <dir
                          name="http">
                          <dir
                            name="api"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="mina">
                        <dir
                          name="http"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="http2">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="mina">
                        <dir
                          name="http2">
                          <dir
                            name="api"/>
                          <dir
                            name="codec"/>
                          <dir
                            name="impl"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="mina">
                        <dir
                          name="http2">
                          <dir
                            name="api"/>
                          <dir
                            name="codec"/>
                          <dir
                            name="impl"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="monitoring">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="mina">
                        <dir
                          name="monitoring"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="mina">
                        <dir
                          name="monitoring"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="protobuf">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="mina">
                        <dir
                          name="codec">
                          <dir
                            name="delimited">
                            <dir
                              name="serialization"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="mina">
                        <dir
                          name="codec">
                          <dir
                            name="delimited">
                            <dir
                              name="serialization"/>
                          </dir>
                        </dir>
                        <dir
                          name="generated">
                          <dir
                            name="protoc"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="thrift">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="mina">
                        <dir
                          name="codec">
                          <dir
                            name="delimited">
                            <dir
                              name="serialization"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="mina">
                        <dir
                          name="codec">
                          <dir
                            name="delimited">
                            <dir
                              name="serialization"/>
                          </dir>
                        </dir>
                        <dir
                          name="generated">
                          <dir
                            name="thrift"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
        </dir>
      </dir>
    </dir>
  </files>
  <languages>
    <language
      name="Java"/>
  </languages>
  <file_types/>
  <annotations_options/>
  <comparison_options
    comparison_db=""
    git_repo=""
    git_commit=""/>
  <imports/>
  <java_options
    count_javadoc_in_metrics="true"
    count_standard_in_max_inheritance="false"
    jni_kni_include_package_name="true"
    jni_kni_linkage_prepend_text="Java_"
    save_comments_associated_with_entities="true"
    version="Java10">
    <class_paths>
      <class_path
        path="C:/Program Files/Java/jdk-18.0.1.1/lib/src.zip"/>
      <class_path
        path="C:/Program Files/Java/jdk-18.0.1.1/jmods/java.base.jmod"/>
    </class_paths>
  </java_options>
</project>
