<project>
  <files
    portability_mode="relative"
    default_encoding="System"
    readonly="false"
    maxfilesize="10485760"
    enforce_portability="false">
    <dir
      name=".">
      <dir
        name="..">
        <dir
          name="calcite">
          <watched
            subdirs="true">
            <filter
              name="Java"/>
          </watched>
          <dir
            name="babel">
            <dir
              name="build">
              <dir
                name="javacc">
                <dir
                  name="javaCCMain">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="calcite">
                        <dir
                          name="sql">
                          <dir
                            name="parser">
                            <dir
                              name="babel"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="calcite">
                        <dir
                          name="sql">
                          <dir
                            name="babel"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="calcite">
                        <dir
                          name="test"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="cassandra">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="calcite">
                        <dir
                          name="adapter">
                          <dir
                            name="cassandra"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="calcite">
                        <dir
                          name="test"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="core">
            <dir
              name="build">
              <dir
                name="generated">
                <dir
                  name="sources">
                  <dir
                    name="version">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="calcite">
                          <dir
                            name="jdbc"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="javacc">
                <dir
                  name="javaCCMain">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="calcite">
                        <dir
                          name="sql">
                          <dir
                            name="parser">
                            <dir
                              name="impl"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
                <dir
                  name="javaCCTest">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="calcite">
                        <dir
                          name="sql">
                          <dir
                            name="parser">
                            <dir
                              name="parserextensiontesting"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="calcite">
                        <dir
                          name="adapter">
                          <dir
                            name="clone"/>
                          <dir
                            name="enumerable">
                            <dir
                              name="impl"/>
                          </dir>
                          <dir
                            name="java"/>
                          <dir
                            name="jdbc"/>
                        </dir>
                        <dir
                          name="config"/>
                        <dir
                          name="interpreter"/>
                        <dir
                          name="jdbc"/>
                        <dir
                          name="materialize"/>
                        <dir
                          name="model"/>
                        <dir
                          name="plan">
                          <dir
                            name="hep"/>
                          <dir
                            name="visualizer"/>
                          <dir
                            name="volcano"/>
                        </dir>
                        <dir
                          name="prepare"/>
                        <dir
                          name="profile"/>
                        <dir
                          name="rel">
                          <dir
                            name="convert"/>
                          <dir
                            name="core"/>
                          <dir
                            name="externalize"/>
                          <dir
                            name="hint"/>
                          <dir
                            name="logical"/>
                          <dir
                            name="metadata">
                            <dir
                              name="janino"/>
                          </dir>
                          <dir
                            name="mutable"/>
                          <dir
                            name="rel2sql"/>
                          <dir
                            name="rules">
                            <dir
                              name="materialize"/>
                          </dir>
                          <dir
                            name="stream"/>
                          <dir
                            name="type"/>
                        </dir>
                        <dir
                          name="rex"/>
                        <dir
                          name="runtime"/>
                        <dir
                          name="schema">
                          <dir
                            name="impl"/>
                        </dir>
                        <dir
                          name="server"/>
                        <dir
                          name="sql">
                          <dir
                            name="advise"/>
                          <dir
                            name="ddl"/>
                          <dir
                            name="dialect"/>
                          <dir
                            name="fun"/>
                          <dir
                            name="parser">
                            <dir
                              name="impl"/>
                          </dir>
                          <dir
                            name="pretty"/>
                          <dir
                            name="type"/>
                          <dir
                            name="util"/>
                          <dir
                            name="validate">
                            <dir
                              name="implicit"/>
                          </dir>
                        </dir>
                        <dir
                          name="sql2rel"/>
                        <dir
                          name="statistic"/>
                        <dir
                          name="tools"/>
                        <dir
                          name="util">
                          <dir
                            name="graph"/>
                          <dir
                            name="javac"/>
                          <dir
                            name="mapping"/>
                          <dir
                            name="trace"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
                <dir
                  name="version">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="calcite">
                        <dir
                          name="jdbc"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="calcite">
                        <dir
                          name="adapter">
                          <dir
                            name="clone"/>
                          <dir
                            name="enumerable"/>
                          <dir
                            name="generate"/>
                        </dir>
                        <dir
                          name="examples">
                          <dir
                            name="foodmart">
                            <dir
                              name="java"/>
                          </dir>
                        </dir>
                        <dir
                          name="jdbc"/>
                        <dir
                          name="materialize"/>
                        <dir
                          name="plan">
                          <dir
                            name="volcano"/>
                        </dir>
                        <dir
                          name="prepare"/>
                        <dir
                          name="profile"/>
                        <dir
                          name="rel">
                          <dir
                            name="logical"/>
                          <dir
                            name="metadata">
                            <dir
                              name="janino"/>
                          </dir>
                          <dir
                            name="rel2sql"/>
                          <dir
                            name="rules"/>
                        </dir>
                        <dir
                          name="rex"/>
                        <dir
                          name="runtime"/>
                        <dir
                          name="schemas"/>
                        <dir
                          name="sql">
                          <dir
                            name="parser">
                            <dir
                              name="parserextensiontesting"/>
                          </dir>
                          <dir
                            name="test"/>
                          <dir
                            name="type"/>
                          <dir
                            name="validate"/>
                        </dir>
                        <dir
                          name="sql2rel"/>
                        <dir
                          name="test">
                          <dir
                            name="concurrent"/>
                          <dir
                            name="enumerable"/>
                          <dir
                            name="fuzzer"/>
                        </dir>
                        <dir
                          name="tools"/>
                        <dir
                          name="util">
                          <dir
                            name="graph"/>
                          <dir
                            name="mapping"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
                <dir
                  name="resources">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="calcite">
                        <dir
                          name="rel">
                          <dir
                            name="metadata">
                            <dir
                              name="janino"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="druid">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="calcite">
                        <dir
                          name="adapter">
                          <dir
                            name="druid"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="calcite">
                        <dir
                          name="adapter">
                          <dir
                            name="druid"/>
                        </dir>
                        <dir
                          name="test"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="elasticsearch">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="calcite">
                        <dir
                          name="adapter">
                          <dir
                            name="elasticsearch"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="calcite">
                        <dir
                          name="adapter">
                          <dir
                            name="elasticsearch"/>
                        </dir>
                        <dir
                          name="test"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="example">
            <dir
              name="csv">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="calcite">
                          <dir
                            name="adapter">
                            <dir
                              name="csv"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
                <dir
                  name="test">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="calcite">
                          <dir
                            name="test"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="function">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="calcite">
                          <dir
                            name="example">
                            <dir
                              name="maze"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
                <dir
                  name="test">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="calcite">
                          <dir
                            name="test"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="file">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="calcite">
                        <dir
                          name="adapter">
                          <dir
                            name="file"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="calcite">
                        <dir
                          name="adapter">
                          <dir
                            name="file"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="geode">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="calcite">
                        <dir
                          name="adapter">
                          <dir
                            name="geode">
                            <dir
                              name="rel"/>
                            <dir
                              name="simple"/>
                            <dir
                              name="util"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="calcite">
                        <dir
                          name="adapter">
                          <dir
                            name="geode">
                            <dir
                              name="rel"/>
                            <dir
                              name="simple"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="innodb">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="calcite">
                        <dir
                          name="adapter">
                          <dir
                            name="innodb"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="calcite">
                        <dir
                          name="adapter">
                          <dir
                            name="innodb"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="kafka">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="calcite">
                        <dir
                          name="adapter">
                          <dir
                            name="kafka"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="calcite">
                        <dir
                          name="adapter">
                          <dir
                            name="kafka"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="linq4j">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="calcite">
                        <dir
                          name="linq4j">
                          <dir
                            name="function"/>
                          <dir
                            name="tree"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="com">
                    <dir
                      name="example"/>
                  </dir>
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="calcite">
                        <dir
                          name="linq4j">
                          <dir
                            name="function"/>
                          <dir
                            name="test"/>
                          <dir
                            name="tree"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="mongodb">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="calcite">
                        <dir
                          name="adapter">
                          <dir
                            name="mongodb"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="calcite">
                        <dir
                          name="adapter">
                          <dir
                            name="mongodb"/>
                        </dir>
                        <dir
                          name="test"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="pig">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="calcite">
                        <dir
                          name="adapter">
                          <dir
                            name="pig"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="calcite">
                        <dir
                          name="test"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="piglet">
            <dir
              name="build">
              <dir
                name="javacc">
                <dir
                  name="javaCCMain">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="calcite">
                        <dir
                          name="piglet">
                          <dir
                            name="parser"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="calcite">
                        <dir
                          name="piglet"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="calcite">
                        <dir
                          name="test"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="plus">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="calcite">
                        <dir
                          name="adapter">
                          <dir
                            name="os"/>
                          <dir
                            name="tpcds"/>
                          <dir
                            name="tpch"/>
                        </dir>
                        <dir
                          name="chinook"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="calcite">
                        <dir
                          name="adapter">
                          <dir
                            name="os"/>
                          <dir
                            name="tpcds"/>
                          <dir
                            name="tpch"/>
                        </dir>
                        <dir
                          name="chinook"/>
                        <dir
                          name="materialize"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="redis">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="calcite">
                        <dir
                          name="adapter">
                          <dir
                            name="redis"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="calcite">
                        <dir
                          name="adapter">
                          <dir
                            name="redis"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="server">
            <dir
              name="build">
              <dir
                name="javacc">
                <dir
                  name="javaCCMain">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="calcite">
                        <dir
                          name="sql">
                          <dir
                            name="parser">
                            <dir
                              name="ddl"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="calcite">
                        <dir
                          name="server"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="calcite">
                        <dir
                          name="test"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="spark">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="calcite">
                        <dir
                          name="adapter">
                          <dir
                            name="spark"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="calcite">
                        <dir
                          name="test"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="splunk">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="calcite">
                        <dir
                          name="adapter">
                          <dir
                            name="splunk">
                            <dir
                              name="search"/>
                            <dir
                              name="util"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="calcite">
                        <dir
                          name="test"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="testkit">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="calcite">
                        <dir
                          name="sql">
                          <dir
                            name="parser"/>
                          <dir
                            name="test"/>
                        </dir>
                        <dir
                          name="test">
                          <dir
                            name="catalog"/>
                          <dir
                            name="schemata">
                            <dir
                              name="bookstore"/>
                            <dir
                              name="catchall"/>
                            <dir
                              name="countries"/>
                            <dir
                              name="foodmart"/>
                            <dir
                              name="hr"/>
                            <dir
                              name="lingual"/>
                            <dir
                              name="orderstream"/>
                            <dir
                              name="tpch"/>
                          </dir>
                        </dir>
                        <dir
                          name="util"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="calcite">
                        <dir
                          name="test"/>
                        <dir
                          name="util"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="ubenchmark">
            <dir
              name="src">
              <dir
                name="jmh">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="calcite">
                        <dir
                          name="adapter">
                          <dir
                            name="enumerable"/>
                        </dir>
                        <dir
                          name="benchmarks"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
        </dir>
      </dir>
    </dir>
  </files>
  <languages>
    <language
      name="Java"/>
  </languages>
  <file_types/>
  <annotations_options/>
  <comparison_options
    comparison_db=""
    git_repo=""
    git_commit=""/>
  <imports/>
  <java_options
    count_javadoc_in_metrics="true"
    count_standard_in_max_inheritance="false"
    jni_kni_include_package_name="true"
    jni_kni_linkage_prepend_text="Java_"
    save_comments_associated_with_entities="true"
    version="Java10">
    <class_paths>
      <class_path
        path="C:/Program Files/Java/jdk-18.0.1.1/lib/src.zip"/>
      <class_path
        path="C:/Program Files/Java/jdk-18.0.1.1/jmods/java.base.jmod"/>
    </class_paths>
  </java_options>
</project>
