<project>
  <files
    portability_mode="relative"
    default_encoding="System"
    readonly="false"
    maxfilesize="10485760"
    enforce_portability="false">
    <dir
      name=".">
      <dir
        name="..">
        <dir
          name="openmeetings">
          <watched
            subdirs="true">
            <filter
              name="Java"/>
          </watched>
          <dir
            name="openmeetings-core">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="openmeetings">
                        <dir
                          name="core">
                          <dir
                            name="converter"/>
                          <dir
                            name="data">
                            <dir
                              name="file"/>
                          </dir>
                          <dir
                            name="documents"/>
                          <dir
                            name="ldap"/>
                          <dir
                            name="mail"/>
                          <dir
                            name="notifier"/>
                          <dir
                            name="rss"/>
                          <dir
                            name="sip"/>
                          <dir
                            name="util">
                            <dir
                              name="ws"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="openmeetings">
                        <dir
                          name="core">
                          <dir
                            name="mail"/>
                          <dir
                            name="util"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="openmeetings-db">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="openmeetings">
                        <dir
                          name="db">
                          <dir
                            name="bind">
                            <dir
                              name="adapter"/>
                          </dir>
                          <dir
                            name="dao">
                            <dir
                              name="basic"/>
                            <dir
                              name="calendar"/>
                            <dir
                              name="file"/>
                            <dir
                              name="label"/>
                            <dir
                              name="log"/>
                            <dir
                              name="record"/>
                            <dir
                              name="room"/>
                            <dir
                              name="server"/>
                            <dir
                              name="user"/>
                          </dir>
                          <dir
                            name="dto">
                            <dir
                              name="basic"/>
                            <dir
                              name="calendar"/>
                            <dir
                              name="file"/>
                            <dir
                              name="record"/>
                            <dir
                              name="room"/>
                            <dir
                              name="user"/>
                          </dir>
                          <dir
                            name="entity">
                            <dir
                              name="basic"/>
                            <dir
                              name="calendar"/>
                            <dir
                              name="file"/>
                            <dir
                              name="label"/>
                            <dir
                              name="log"/>
                            <dir
                              name="record"/>
                            <dir
                              name="room"/>
                            <dir
                              name="server"/>
                            <dir
                              name="user"/>
                          </dir>
                          <dir
                            name="manager"/>
                          <dir
                            name="mapper"/>
                          <dir
                            name="util">
                            <dir
                              name="ws"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="openmeetings">
                        <dir
                          name="db">
                          <dir
                            name="dto">
                            <dir
                              name="user"/>
                          </dir>
                          <dir
                            name="entity">
                            <dir
                              name="file"/>
                          </dir>
                          <dir
                            name="util"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="openmeetings-install">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="openmeetings">
                        <dir
                          name="backup">
                          <dir
                            name="converter"/>
                        </dir>
                        <dir
                          name="cli"/>
                        <dir
                          name="installation"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="openmeetings">
                        <dir
                          name="backup"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="openmeetings-mediaserver">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="openmeetings">
                        <dir
                          name="mediaserver"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="openmeetings">
                        <dir
                          name="mediaserver"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="openmeetings-screenshare">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="openmeetings">
                        <dir
                          name="screenshare"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="openmeetings-service">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="openmeetings">
                        <dir
                          name="service">
                          <dir
                            name="calendar">
                            <dir
                              name="caldav">
                              <dir
                                name="handler"/>
                              <dir
                                name="methods"/>
                            </dir>
                          </dir>
                          <dir
                            name="mail">
                            <dir
                              name="template">
                              <dir
                                name="subject"/>
                            </dir>
                          </dir>
                          <dir
                            name="notifier"/>
                          <dir
                            name="room"/>
                          <dir
                            name="scheduler"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="openmeetings-util">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="openmeetings">
                        <dir
                          name="util">
                          <dir
                            name="crypt"/>
                          <dir
                            name="logging"/>
                          <dir
                            name="mail"/>
                          <dir
                            name="process"/>
                          <dir
                            name="ws"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="openmeetings">
                        <dir
                          name="test"/>
                        <dir
                          name="util">
                          <dir
                            name="crypt"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="openmeetings-web">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="openmeetings">
                        <dir
                          name="web">
                          <dir
                            name="admin">
                            <dir
                              name="backup"/>
                            <dir
                              name="configurations"/>
                            <dir
                              name="connection"/>
                            <dir
                              name="email"/>
                            <dir
                              name="extra"/>
                            <dir
                              name="groups"/>
                            <dir
                              name="labels"/>
                            <dir
                              name="ldaps"/>
                            <dir
                              name="oauth"/>
                            <dir
                              name="rooms"/>
                            <dir
                              name="users"/>
                          </dir>
                          <dir
                            name="app"/>
                          <dir
                            name="common">
                            <dir
                              name="confirmation"/>
                            <dir
                              name="datetime"/>
                            <dir
                              name="menu"/>
                            <dir
                              name="tree"/>
                            <dir
                              name="upload"/>
                          </dir>
                          <dir
                            name="data"/>
                          <dir
                            name="pages">
                            <dir
                              name="auth"/>
                            <dir
                              name="install"/>
                          </dir>
                          <dir
                            name="room">
                            <dir
                              name="activities"/>
                            <dir
                              name="menu"/>
                            <dir
                              name="poll"/>
                            <dir
                              name="sidebar"/>
                            <dir
                              name="wb"/>
                          </dir>
                          <dir
                            name="user">
                            <dir
                              name="calendar"/>
                            <dir
                              name="chat"/>
                            <dir
                              name="dashboard">
                              <dir
                                name="admin"/>
                            </dir>
                            <dir
                              name="profile"/>
                            <dir
                              name="record"/>
                            <dir
                              name="rooms"/>
                          </dir>
                          <dir
                            name="util">
                            <dir
                              name="logging"/>
                            <dir
                              name="upload"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="openmeetings">
                        <dir
                          name="backup"/>
                        <dir
                          name="calendar"/>
                        <dir
                          name="cli"/>
                        <dir
                          name="config"/>
                        <dir
                          name="core">
                          <dir
                            name="file"/>
                        </dir>
                        <dir
                          name="db">
                          <dir
                            name="dao"/>
                        </dir>
                        <dir
                          name="domain"/>
                        <dir
                          name="invitiation"/>
                        <dir
                          name="ldap"/>
                        <dir
                          name="service">
                          <dir
                            name="mail">
                            <dir
                              name="template">
                              <dir
                                name="subject"/>
                            </dir>
                          </dir>
                          <dir
                            name="scheduler"/>
                        </dir>
                        <dir
                          name="smoke"/>
                        <dir
                          name="user"/>
                        <dir
                          name="userdata"/>
                        <dir
                          name="util"/>
                        <dir
                          name="web">
                          <dir
                            name="app"/>
                          <dir
                            name="pages">
                            <dir
                              name="auth"/>
                            <dir
                              name="install"/>
                          </dir>
                        </dir>
                        <dir
                          name="webservice"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="openmeetings-webservice">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="openmeetings">
                        <dir
                          name="webservice">
                          <dir
                            name="error"/>
                          <dir
                            name="schema"/>
                          <dir
                            name="util"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="openmeetings">
                        <dir
                          name="webservice"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
        </dir>
      </dir>
    </dir>
  </files>
  <languages>
    <language
      name="Java"/>
  </languages>
  <file_types/>
  <annotations_options/>
  <comparison_options
    comparison_db=""
    git_repo=""
    git_commit=""/>
  <imports/>
  <java_options
    count_javadoc_in_metrics="true"
    count_standard_in_max_inheritance="false"
    jni_kni_include_package_name="true"
    jni_kni_linkage_prepend_text="Java_"
    save_comments_associated_with_entities="true"
    version="Java10">
    <class_paths>
      <class_path
        path="C:/Program Files/Java/jdk-18.0.1.1/lib/src.zip"/>
      <class_path
        path="C:/Program Files/Java/jdk-18.0.1.1/jmods/java.base.jmod"/>
    </class_paths>
  </java_options>
</project>
