<project>
  <files
    portability_mode="relative"
    default_encoding="System"
    readonly="false"
    maxfilesize="10485760"
    enforce_portability="false">
    <dir
      name=".">
      <dir
        name="..">
        <dir
          name="chemistry-opencmis">
          <watched
            subdirs="true">
            <filter
              name="Java"/>
          </watched>
          <dir
            name="chemistry-opencmis-android">
            <dir
              name="chemistry-opencmis-android-client">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="chemistry">
                          <dir
                            name="opencmis">
                            <dir
                              name="client">
                              <dir
                                name="bindings">
                                <dir
                                  name="spi">
                                  <dir
                                    name="atompub">
                                    <dir
                                      name="objects"/>
                                  </dir>
                                  <dir
                                    name="http"/>
                                </dir>
                              </dir>
                            </dir>
                            <dir
                              name="commons">
                              <dir
                                name="impl"/>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="chemistry-opencmis-bridge">
            <dir
              name="chemistry-opencmis-bridge">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="chemistry">
                          <dir
                            name="opencmis">
                            <dir
                              name="bridge">
                              <dir
                                name="client"/>
                              <dir
                                name="httpsession">
                                <dir
                                  name="sample"/>
                              </dir>
                              <dir
                                name="lrucache"/>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="chemistry-opencmis-client">
            <dir
              name="chemistry-opencmis-client-api">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="chemistry">
                          <dir
                            name="opencmis">
                            <dir
                              name="client">
                              <dir
                                name="api"/>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
                <dir
                  name="test">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="chemistry">
                          <dir
                            name="opencmis">
                            <dir
                              name="client"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="chemistry-opencmis-client-bindings">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="chemistry">
                          <dir
                            name="opencmis">
                            <dir
                              name="client">
                              <dir
                                name="bindings">
                                <dir
                                  name="cache">
                                  <dir
                                    name="impl"/>
                                </dir>
                                <dir
                                  name="impl"/>
                                <dir
                                  name="spi">
                                  <dir
                                    name="atompub">
                                    <dir
                                      name="objects"/>
                                  </dir>
                                  <dir
                                    name="browser"/>
                                  <dir
                                    name="cookies"/>
                                  <dir
                                    name="http"/>
                                  <dir
                                    name="local"/>
                                  <dir
                                    name="webservices"/>
                                </dir>
                              </dir>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
                <dir
                  name="test">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="chemistry">
                          <dir
                            name="opencmis">
                            <dir
                              name="client">
                              <dir
                                name="bindings">
                                <dir
                                  name="atompub"/>
                                <dir
                                  name="cache"/>
                                <dir
                                  name="misc"/>
                              </dir>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="chemistry-opencmis-client-impl">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="chemistry">
                          <dir
                            name="opencmis">
                            <dir
                              name="client">
                              <dir
                                name="osgi"/>
                              <dir
                                name="runtime">
                                <dir
                                  name="async"/>
                                <dir
                                  name="cache"/>
                                <dir
                                  name="objecttype"/>
                                <dir
                                  name="repository"/>
                                <dir
                                  name="util"/>
                              </dir>
                              <dir
                                name="util"/>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
                <dir
                  name="test">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="chemistry">
                          <dir
                            name="opencmis">
                            <dir
                              name="client">
                              <dir
                                name="runtime"/>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="chemistry-opencmis-commons">
            <dir
              name="chemistry-opencmis-commons-api">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="chemistry">
                          <dir
                            name="opencmis">
                            <dir
                              name="commons">
                              <dir
                                name="data"/>
                              <dir
                                name="definitions"/>
                              <dir
                                name="endpoints"/>
                              <dir
                                name="enums"/>
                              <dir
                                name="exceptions"/>
                              <dir
                                name="server"/>
                              <dir
                                name="spi"/>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="chemistry-opencmis-commons-impl">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="chemistry">
                          <dir
                            name="opencmis">
                            <dir
                              name="commons">
                              <dir
                                name="impl">
                                <dir
                                  name="dataobjects"/>
                                <dir
                                  name="endpoints"/>
                                <dir
                                  name="json">
                                  <dir
                                    name="parser"/>
                                </dir>
                                <dir
                                  name="server"/>
                              </dir>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
                <dir
                  name="test">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="chemistry">
                          <dir
                            name="opencmis">
                            <dir
                              name="commons">
                              <dir
                                name="impl">
                                <dir
                                  name="endpoints"/>
                                <dir
                                  name="json"/>
                                <dir
                                  name="misc"/>
                                <dir
                                  name="xml"/>
                              </dir>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="chemistry-opencmis-server">
            <dir
              name="chemistry-opencmis-server-archetype">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="resources">
                    <dir
                      name="archetype-resources">
                      <dir
                        name="src">
                        <dir
                          name="main">
                          <dir
                            name="java"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="chemistry-opencmis-server-async">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="chemistry">
                          <dir
                            name="opencmis">
                            <dir
                              name="server">
                              <dir
                                name="async">
                                <dir
                                  name="impl">
                                  <dir
                                    name="atompub"/>
                                  <dir
                                    name="browser"/>
                                  <dir
                                    name="webservices"/>
                                </dir>
                              </dir>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="chemistry-opencmis-server-bindings">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="chemistry">
                          <dir
                            name="opencmis">
                            <dir
                              name="server">
                              <dir
                                name="filter"/>
                              <dir
                                name="impl">
                                <dir
                                  name="atompub"/>
                                <dir
                                  name="browser">
                                  <dir
                                    name="token"/>
                                </dir>
                                <dir
                                  name="dummy"/>
                                <dir
                                  name="endpoints"/>
                                <dir
                                  name="webservices"/>
                              </dir>
                              <dir
                                name="shared"/>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
                <dir
                  name="test">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="chemistry">
                          <dir
                            name="opencmis">
                            <dir
                              name="server">
                              <dir
                                name="impl"/>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="chemistry-opencmis-server-extension-archetype">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="resources">
                    <dir
                      name="archetype-resources">
                      <dir
                        name="src">
                        <dir
                          name="main">
                          <dir
                            name="java"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="chemistry-opencmis-server-fileshare">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="chemistry">
                          <dir
                            name="opencmis">
                            <dir
                              name="fileshare"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="chemistry-opencmis-server-inmemory">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="chemistry">
                          <dir
                            name="opencmis">
                            <dir
                              name="inmemory">
                              <dir
                                name="content">
                                <dir
                                  name="fractal"/>
                                <dir
                                  name="loremipsum"/>
                              </dir>
                              <dir
                                name="query"/>
                              <dir
                                name="server"/>
                              <dir
                                name="storedobj">
                                <dir
                                  name="api"/>
                                <dir
                                  name="impl"/>
                              </dir>
                              <dir
                                name="types"/>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
                <dir
                  name="test">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="chemistry">
                          <dir
                            name="opencmis">
                            <dir
                              name="inmemory">
                              <dir
                                name="content">
                                <dir
                                  name="loremipsum"/>
                              </dir>
                              <dir
                                name="query"/>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="chemistry-opencmis-server-support">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="chemistry">
                          <dir
                            name="opencmis">
                            <dir
                              name="server">
                              <dir
                                name="support">
                                <dir
                                  name="filter"/>
                                <dir
                                  name="query"/>
                                <dir
                                  name="wrapper"/>
                              </dir>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
                <dir
                  name="test">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="chemistry">
                          <dir
                            name="opencmis">
                            <dir
                              name="server">
                              <dir
                                name="support">
                                <dir
                                  name="query"/>
                                <dir
                                  name="wrapper"/>
                              </dir>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="chemistry-opencmis-test">
            <dir
              name="chemistry-opencmis-test-fit">
              <dir
                name="src">
                <dir
                  name="test">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="chemistry">
                          <dir
                            name="opencmis">
                            <dir
                              name="fit">
                              <dir
                                name="tck"/>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="chemistry-opencmis-test-tck">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="chemistry">
                          <dir
                            name="opencmis">
                            <dir
                              name="tck">
                              <dir
                                name="impl"/>
                              <dir
                                name="report"/>
                              <dir
                                name="runner"/>
                              <dir
                                name="tests">
                                <dir
                                  name="basics"/>
                                <dir
                                  name="control"/>
                                <dir
                                  name="crud"/>
                                <dir
                                  name="filing"/>
                                <dir
                                  name="query"/>
                                <dir
                                  name="types"/>
                                <dir
                                  name="versioning"/>
                              </dir>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="chemistry-opencmis-workbench">
            <dir
              name="chemistry-opencmis-workbench">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="chemistry">
                          <dir
                            name="opencmis">
                            <dir
                              name="script"/>
                            <dir
                              name="workbench">
                              <dir
                                name="actions"/>
                              <dir
                                name="checks"/>
                              <dir
                                name="details"/>
                              <dir
                                name="icons"/>
                              <dir
                                name="model"/>
                              <dir
                                name="swing"/>
                              <dir
                                name="types"/>
                              <dir
                                name="worker"/>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
        </dir>
      </dir>
    </dir>
  </files>
  <languages>
    <language
      name="Java"/>
  </languages>
  <file_types/>
  <annotations_options/>
  <comparison_options
    comparison_db=""
    git_repo=""
    git_commit=""/>
  <imports/>
  <java_options
    count_javadoc_in_metrics="true"
    count_standard_in_max_inheritance="false"
    jni_kni_include_package_name="true"
    jni_kni_linkage_prepend_text="Java_"
    save_comments_associated_with_entities="true"
    version="Java10">
    <class_paths>
      <class_path
        path="C:/Program Files/Java/jdk-18.0.1.1/lib/src.zip"/>
      <class_path
        path="C:/Program Files/Java/jdk-18.0.1.1/jmods/java.base.jmod"/>
    </class_paths>
  </java_options>
</project>
