<project>
  <files
    portability_mode="relative"
    default_encoding="System"
    readonly="false"
    maxfilesize="10485760"
    enforce_portability="false">
    <dir
      name=".">
      <dir
        name="..">
        <dir
          name="pdfbox">
          <watched
            subdirs="true">
            <filter
              name="Java"/>
          </watched>
          <dir
            name="benchmark">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="pdfbox">
                        <dir
                          name="benchmark"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="debugger">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="pdfbox">
                        <dir
                          name="debugger">
                          <dir
                            name="colorpane"/>
                          <dir
                            name="flagbitspane"/>
                          <dir
                            name="fontencodingpane"/>
                          <dir
                            name="hexviewer"/>
                          <dir
                            name="pagepane"/>
                          <dir
                            name="streampane">
                            <dir
                              name="tooltip"/>
                          </dir>
                          <dir
                            name="stringpane"/>
                          <dir
                            name="treestatus"/>
                          <dir
                            name="ui">
                            <dir
                              name="textsearcher"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="examples">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="pdfbox">
                        <dir
                          name="examples">
                          <dir
                            name="ant"/>
                          <dir
                            name="interactive">
                            <dir
                              name="form"/>
                          </dir>
                          <dir
                            name="lucene"/>
                          <dir
                            name="pdmodel"/>
                          <dir
                            name="printing"/>
                          <dir
                            name="rendering"/>
                          <dir
                            name="signature">
                            <dir
                              name="cert"/>
                            <dir
                              name="validation"/>
                          </dir>
                          <dir
                            name="util"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="pdfbox">
                        <dir
                          name="examples">
                          <dir
                            name="interactive">
                            <dir
                              name="form"/>
                          </dir>
                          <dir
                            name="pdfa"/>
                          <dir
                            name="pdmodel"/>
                        </dir>
                      </dir>
                      <dir
                        name="wink">
                        <dir
                          name="client"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="fontbox">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="fontbox">
                        <dir
                          name="afm"/>
                        <dir
                          name="cff"/>
                        <dir
                          name="cmap"/>
                        <dir
                          name="encoding"/>
                        <dir
                          name="pfb"/>
                        <dir
                          name="ttf">
                          <dir
                            name="gsub"/>
                          <dir
                            name="model"/>
                          <dir
                            name="table">
                            <dir
                              name="common"/>
                            <dir
                              name="gsub"/>
                          </dir>
                        </dir>
                        <dir
                          name="type1"/>
                        <dir
                          name="util">
                          <dir
                            name="autodetect"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="fontbox">
                        <dir
                          name="afm"/>
                        <dir
                          name="cff"/>
                        <dir
                          name="cmap"/>
                        <dir
                          name="encoding"/>
                        <dir
                          name="pfb"/>
                        <dir
                          name="ttf">
                          <dir
                            name="gsub"/>
                        </dir>
                        <dir
                          name="type1"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="io">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="pdfbox">
                        <dir
                          name="io"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="pdfbox">
                        <dir
                          name="io"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="pdfbox">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="pdfbox">
                        <dir
                          name="contentstream">
                          <dir
                            name="operator">
                            <dir
                              name="color"/>
                            <dir
                              name="graphics"/>
                            <dir
                              name="markedcontent"/>
                            <dir
                              name="state"/>
                            <dir
                              name="text"/>
                          </dir>
                        </dir>
                        <dir
                          name="cos"/>
                        <dir
                          name="filter"/>
                        <dir
                          name="multipdf"/>
                        <dir
                          name="pdfparser">
                          <dir
                            name="xref"/>
                        </dir>
                        <dir
                          name="pdfwriter">
                          <dir
                            name="compress"/>
                        </dir>
                        <dir
                          name="pdmodel">
                          <dir
                            name="common">
                            <dir
                              name="filespecification"/>
                            <dir
                              name="function">
                              <dir
                                name="type4"/>
                            </dir>
                          </dir>
                          <dir
                            name="documentinterchange">
                            <dir
                              name="logicalstructure"/>
                            <dir
                              name="markedcontent"/>
                            <dir
                              name="prepress"/>
                            <dir
                              name="taggedpdf"/>
                          </dir>
                          <dir
                            name="encryption"/>
                          <dir
                            name="fdf"/>
                          <dir
                            name="fixup">
                            <dir
                              name="processor"/>
                          </dir>
                          <dir
                            name="font">
                            <dir
                              name="encoding"/>
                          </dir>
                          <dir
                            name="graphics">
                            <dir
                              name="blend"/>
                            <dir
                              name="color"/>
                            <dir
                              name="form"/>
                            <dir
                              name="image"/>
                            <dir
                              name="optionalcontent"/>
                            <dir
                              name="pattern"/>
                            <dir
                              name="shading"/>
                            <dir
                              name="state"/>
                          </dir>
                          <dir
                            name="interactive">
                            <dir
                              name="action"/>
                            <dir
                              name="annotation">
                              <dir
                                name="handlers"/>
                              <dir
                                name="layout"/>
                            </dir>
                            <dir
                              name="digitalsignature">
                              <dir
                                name="visible"/>
                            </dir>
                            <dir
                              name="documentnavigation">
                              <dir
                                name="destination"/>
                              <dir
                                name="outline"/>
                            </dir>
                            <dir
                              name="form"/>
                            <dir
                              name="measurement"/>
                            <dir
                              name="pagenavigation"/>
                            <dir
                              name="viewerpreferences"/>
                          </dir>
                        </dir>
                        <dir
                          name="printing"/>
                        <dir
                          name="rendering"/>
                        <dir
                          name="text"/>
                        <dir
                          name="util">
                          <dir
                            name="filetypedetector"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="pdfbox">
                        <dir
                          name="cos"/>
                        <dir
                          name="encryption"/>
                        <dir
                          name="filter"/>
                        <dir
                          name="it">
                          <dir
                            name="gsub"/>
                        </dir>
                        <dir
                          name="multipdf"/>
                        <dir
                          name="pdfparser"/>
                        <dir
                          name="pdfwriter"/>
                        <dir
                          name="pdmodel">
                          <dir
                            name="common">
                            <dir
                              name="function">
                              <dir
                                name="type4"/>
                            </dir>
                          </dir>
                          <dir
                            name="documentinterchange">
                            <dir
                              name="logicalstructure"/>
                          </dir>
                          <dir
                            name="fdf"/>
                          <dir
                            name="font"/>
                          <dir
                            name="graphics">
                            <dir
                              name="blend"/>
                            <dir
                              name="color"/>
                            <dir
                              name="image"/>
                            <dir
                              name="optionalcontent"/>
                            <dir
                              name="state"/>
                          </dir>
                          <dir
                            name="interactive">
                            <dir
                              name="action"/>
                            <dir
                              name="annotation"/>
                            <dir
                              name="documentnavigation">
                              <dir
                                name="outline"/>
                            </dir>
                            <dir
                              name="form"/>
                            <dir
                              name="pagenavigation"/>
                          </dir>
                        </dir>
                        <dir
                          name="rendering"/>
                        <dir
                          name="text"/>
                        <dir
                          name="util"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="preflight">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="pdfbox">
                        <dir
                          name="preflight">
                          <dir
                            name="action"/>
                          <dir
                            name="annotation">
                            <dir
                              name="pdfa"/>
                          </dir>
                          <dir
                            name="content"/>
                          <dir
                            name="exception"/>
                          <dir
                            name="font">
                            <dir
                              name="container"/>
                            <dir
                              name="descriptor"/>
                            <dir
                              name="util"/>
                          </dir>
                          <dir
                            name="graphic"/>
                          <dir
                            name="metadata"/>
                          <dir
                            name="parser"/>
                          <dir
                            name="process">
                            <dir
                              name="reflect"/>
                          </dir>
                          <dir
                            name="utils"/>
                          <dir
                            name="xobject"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="pdfbox">
                        <dir
                          name="preflight">
                          <dir
                            name="action">
                            <dir
                              name="pdfa1b"/>
                          </dir>
                          <dir
                            name="integration"/>
                          <dir
                            name="metadata"/>
                          <dir
                            name="parser"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="tools">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="pdfbox">
                        <dir
                          name="tools">
                          <dir
                            name="imageio"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="pdfbox">
                        <dir
                          name="tools">
                          <dir
                            name="imageio"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="xmpbox">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="xmpbox">
                        <dir
                          name="schema"/>
                        <dir
                          name="type"/>
                        <dir
                          name="xml"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="xmpbox">
                        <dir
                          name="parser"/>
                        <dir
                          name="schema"/>
                        <dir
                          name="type"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
        </dir>
      </dir>
    </dir>
  </files>
  <languages>
    <language
      name="Java"/>
  </languages>
  <file_types/>
  <annotations_options/>
  <comparison_options
    comparison_db=""
    git_repo=""
    git_commit=""/>
  <imports/>
  <java_options
    count_javadoc_in_metrics="true"
    count_standard_in_max_inheritance="false"
    jni_kni_include_package_name="true"
    jni_kni_linkage_prepend_text="Java_"
    save_comments_associated_with_entities="true"
    version="Java10">
    <class_paths>
      <class_path
        path="C:/Program Files/Java/jdk-18.0.1.1/lib/src.zip"/>
      <class_path
        path="C:/Program Files/Java/jdk-18.0.1.1/jmods/java.base.jmod"/>
    </class_paths>
  </java_options>
</project>
