<project>
  <files
    portability_mode="relative"
    default_encoding="System"
    readonly="false"
    maxfilesize="10485760"
    enforce_portability="false">
    <dir
      name=".">
      <dir
        name="..">
        <dir
          name="wookie">
          <watched
            subdirs="true">
            <filter
              name="Java"/>
          </watched>
          <dir
            name="digsig-client">
            <dir
              name="java">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="wookie">
                          <dir
                            name="digsig">
                            <dir
                              name="client">
                              <dir
                                name="model"/>
                              <dir
                                name="ui"/>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="scratchpad">
            <dir
              name="modules">
              <dir
                name="jcr">
                <dir
                  name="src">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="wookie">
                        <dir
                          name="beans">
                          <dir
                            name="jcr">
                            <dir
                              name="impl"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
                <dir
                  name="src-tests">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="wookie">
                        <dir
                          name="beans">
                          <dir
                            name="jcr">
                            <dir
                              name="tests"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="wookie-connector">
            <dir
              name="java">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="wookie">
                          <dir
                            name="connector">
                            <dir
                              name="framework"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
                <dir
                  name="test">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="wookie">
                          <dir
                            name="tests">
                            <dir
                              name="connector">
                              <dir
                                name="framework">
                                <dir
                                  name="impl"/>
                              </dir>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="wookie-parser">
            <dir
              name="java">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="wookie">
                          <dir
                            name="w3c">
                            <dir
                              name="exceptions"/>
                            <dir
                              name="impl"/>
                            <dir
                              name="updates"/>
                            <dir
                              name="util"/>
                            <dir
                              name="xml"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
                <dir
                  name="test">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="wookie">
                          <dir
                            name="w3c">
                            <dir
                              name="test"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="wookie-server">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="wookie">
                        <dir
                          name="auth"/>
                        <dir
                          name="beans"/>
                        <dir
                          name="controller"/>
                        <dir
                          name="exceptions"/>
                        <dir
                          name="feature">
                          <dir
                            name="ext"/>
                          <dir
                            name="oauth"/>
                          <dir
                            name="wave"/>
                        </dir>
                        <dir
                          name="helpers"/>
                        <dir
                          name="proxy"/>
                        <dir
                          name="server">
                          <dir
                            name="security"/>
                        </dir>
                        <dir
                          name="updates"/>
                        <dir
                          name="util">
                          <dir
                            name="digitalsignature"/>
                          <dir
                            name="html"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="wookie">
                        <dir
                          name="auth"/>
                        <dir
                          name="tests">
                          <dir
                            name="conformance"/>
                          <dir
                            name="features"/>
                          <dir
                            name="functional"/>
                          <dir
                            name="helpers"/>
                          <dir
                            name="integration"/>
                          <dir
                            name="proxy"/>
                          <dir
                            name="server">
                            <dir
                              name="security"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="wookie-services">
            <dir
              name="wookie-jpa">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="wookie">
                          <dir
                            name="beans">
                            <dir
                              name="jpa">
                              <dir
                                name="impl"/>
                            </dir>
                            <dir
                              name="util"/>
                          </dir>
                          <dir
                            name="queues">
                            <dir
                              name="beans">
                              <dir
                                name="impl"/>
                            </dir>
                            <dir
                              name="impl"/>
                            <dir
                              name="util"/>
                          </dir>
                          <dir
                            name="services">
                            <dir
                              name="impl">
                              <dir
                                name="jpa"/>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="wookie-redis">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="wookie">
                          <dir
                            name="services">
                            <dir
                              name="redis"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
                <dir
                  name="test">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="wookie">
                          <dir
                            name="services">
                            <dir
                              name="redis"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="wookie-spi">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="wookie">
                          <dir
                            name="beans"/>
                          <dir
                            name="services">
                            <dir
                              name="impl"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
                <dir
                  name="test">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="wookie">
                          <dir
                            name="services">
                            <dir
                              name="impl"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
        </dir>
      </dir>
    </dir>
  </files>
  <languages>
    <language
      name="Java"/>
  </languages>
  <file_types/>
  <annotations_options/>
  <comparison_options
    comparison_db=""
    git_repo=""
    git_commit=""/>
  <imports/>
  <java_options
    count_javadoc_in_metrics="true"
    count_standard_in_max_inheritance="false"
    jni_kni_include_package_name="true"
    jni_kni_linkage_prepend_text="Java_"
    save_comments_associated_with_entities="true"
    version="Java10">
    <class_paths>
      <class_path
        path="C:/Program Files/Java/jdk-18.0.1.1/lib/src.zip"/>
      <class_path
        path="C:/Program Files/Java/jdk-18.0.1.1/jmods/java.base.jmod"/>
    </class_paths>
  </java_options>
</project>
