<project>
  <files
    portability_mode="relative"
    default_encoding="System"
    readonly="false"
    maxfilesize="10485760"
    enforce_portability="false">
    <dir
      name=".">
      <dir
        name="..">
        <dir
          name="ant">
          <watched
            subdirs="true">
            <filter
              name="Java"/>
          </watched>
          <dir
            name="src">
            <dir
              name="etc">
              <dir
                name="testcases">
                <dir
                  name="core">
                  <dir
                    name="containersrc">
                    <dir
                      name="test"/>
                  </dir>
                  <dir
                    name="loaderref">
                    <dir
                      name="src"/>
                  </dir>
                </dir>
                <dir
                  name="taskdefs">
                  <dir
                    name="javadoc">
                    <dir
                      name="java"/>
                  </dir>
                  <dir
                    name="manifestclasspath"/>
                  <dir
                    name="optional">
                    <dir
                      name="depend">
                      <dir
                        name="src1"/>
                      <dir
                        name="src2"/>
                      <dir
                        name="src3"/>
                      <dir
                        name="src4">
                        <dir
                          name="test"/>
                      </dir>
                      <dir
                        name="src5"/>
                      <dir
                        name="src6">
                        <dir
                          name="org.dummy"/>
                      </dir>
                    </dir>
                    <dir
                      name="javah">
                      <dir
                        name="input">
                        <dir
                          name="org">
                          <dir
                            name="example"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                  <dir
                    name="rmic">
                    <dir
                      name="src"/>
                  </dir>
                </dir>
                <dir
                  name="types">
                  <dir
                    name="assertions"/>
                </dir>
              </dir>
            </dir>
            <dir
              name="main">
              <dir
                name="org">
                <dir
                  name="apache">
                  <dir
                    name="tools">
                    <dir
                      name="ant">
                      <dir
                        name="attribute"/>
                      <dir
                        name="dispatch"/>
                      <dir
                        name="filters">
                        <dir
                          name="util"/>
                      </dir>
                      <dir
                        name="helper"/>
                      <dir
                        name="input"/>
                      <dir
                        name="launch"/>
                      <dir
                        name="listener"/>
                      <dir
                        name="loader"/>
                      <dir
                        name="property"/>
                      <dir
                        name="taskdefs">
                        <dir
                          name="compilers"/>
                        <dir
                          name="condition"/>
                        <dir
                          name="cvslib"/>
                        <dir
                          name="email"/>
                        <dir
                          name="launcher"/>
                        <dir
                          name="modules"/>
                        <dir
                          name="optional">
                          <dir
                            name="ccm"/>
                          <dir
                            name="clearcase"/>
                          <dir
                            name="depend">
                            <dir
                              name="constantpool"/>
                          </dir>
                          <dir
                            name="ejb"/>
                          <dir
                            name="extension">
                            <dir
                              name="resolvers"/>
                          </dir>
                          <dir
                            name="i18n"/>
                          <dir
                            name="image"/>
                          <dir
                            name="j2ee"/>
                          <dir
                            name="javacc"/>
                          <dir
                            name="javah"/>
                          <dir
                            name="jdepend"/>
                          <dir
                            name="jlink"/>
                          <dir
                            name="jsp">
                            <dir
                              name="compilers"/>
                          </dir>
                          <dir
                            name="junit"/>
                          <dir
                            name="junitlauncher">
                            <dir
                              name="confined"/>
                          </dir>
                          <dir
                            name="native2ascii"/>
                          <dir
                            name="net"/>
                          <dir
                            name="pvcs"/>
                          <dir
                            name="script"/>
                          <dir
                            name="sos"/>
                          <dir
                            name="sound"/>
                          <dir
                            name="splash"/>
                          <dir
                            name="ssh"/>
                          <dir
                            name="testing"/>
                          <dir
                            name="unix"/>
                          <dir
                            name="vss"/>
                          <dir
                            name="windows"/>
                          <dir
                            name="xz"/>
                        </dir>
                        <dir
                          name="rmic"/>
                      </dir>
                      <dir
                        name="types">
                        <dir
                          name="mappers"/>
                        <dir
                          name="optional">
                          <dir
                            name="depend"/>
                          <dir
                            name="image"/>
                          <dir
                            name="imageio"/>
                          <dir
                            name="xz"/>
                        </dir>
                        <dir
                          name="resolver"/>
                        <dir
                          name="resources">
                          <dir
                            name="comparators"/>
                          <dir
                            name="selectors"/>
                        </dir>
                        <dir
                          name="selectors">
                          <dir
                            name="modifiedselector"/>
                        </dir>
                        <dir
                          name="spi"/>
                      </dir>
                      <dir
                        name="util">
                        <dir
                          name="depend">
                          <dir
                            name="bcel"/>
                        </dir>
                        <dir
                          name="facade"/>
                        <dir
                          name="java15"/>
                        <dir
                          name="optional"/>
                        <dir
                          name="regexp"/>
                      </dir>
                    </dir>
                    <dir
                      name="bzip2"/>
                    <dir
                      name="mail"/>
                    <dir
                      name="tar"/>
                    <dir
                      name="zip"/>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="tests">
              <dir
                name="antunit">
                <dir
                  name="core">
                  <dir
                    name="location">
                    <dir
                      name="src">
                      <dir
                        name="task"/>
                    </dir>
                  </dir>
                  <dir
                    name="uuencode">
                    <dir
                      name="src">
                      <dir
                        name="task"/>
                    </dir>
                  </dir>
                </dir>
                <dir
                  name="taskdefs">
                  <dir
                    name="javac-dir">
                    <dir
                      name="bad-src"/>
                    <dir
                      name="good-src"/>
                  </dir>
                  <dir
                    name="optional">
                    <dir
                      name="junit">
                      <dir
                        name="src"/>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="junit">
                <dir
                  name="org">
                  <dir
                    name="apache">
                    <dir
                      name="tools">
                      <dir
                        name="ant">
                        <dir
                          name="filters"/>
                        <dir
                          name="launch"/>
                        <dir
                          name="taskdefs">
                          <dir
                            name="compilers"/>
                          <dir
                            name="condition"/>
                          <dir
                            name="cvslib"/>
                          <dir
                            name="dir1"/>
                          <dir
                            name="dir2"/>
                          <dir
                            name="email"/>
                          <dir
                            name="modules"/>
                          <dir
                            name="optional">
                            <dir
                              name="depend"/>
                            <dir
                              name="i18n"/>
                            <dir
                              name="image"/>
                            <dir
                              name="jdepend"/>
                            <dir
                              name="junit"/>
                            <dir
                              name="junitlauncher"/>
                            <dir
                              name="net"/>
                            <dir
                              name="script">
                              <dir
                                name="graal"/>
                            </dir>
                            <dir
                              name="sos"/>
                            <dir
                              name="splash"/>
                            <dir
                              name="ssh"/>
                            <dir
                              name="unix"/>
                            <dir
                              name="vss"/>
                          </dir>
                        </dir>
                        <dir
                          name="types">
                          <dir
                            name="mappers"/>
                          <dir
                            name="optional">
                            <dir
                              name="depend"/>
                          </dir>
                          <dir
                            name="resources"/>
                          <dir
                            name="selectors"/>
                        </dir>
                        <dir
                          name="util">
                          <dir
                            name="facade"/>
                          <dir
                            name="regexp"/>
                        </dir>
                      </dir>
                      <dir
                        name="bzip2"/>
                      <dir
                        name="mail"/>
                      <dir
                        name="tar"/>
                      <dir
                        name="zip"/>
                    </dir>
                  </dir>
                  <dir
                    name="example">
                    <dir
                      name="junit"/>
                    <dir
                      name="junitlauncher">
                      <dir
                        name="jupiter"/>
                      <dir
                        name="vintage"/>
                    </dir>
                    <dir
                      name="tasks"/>
                    <dir
                      name="types"/>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="tutorial">
              <dir
                name="hello-world">
                <dir
                  name="01-simple">
                  <dir
                    name="src">
                    <dir
                      name="oata"/>
                  </dir>
                </dir>
                <dir
                  name="02-logging">
                  <dir
                    name="src">
                    <dir
                      name="oata"/>
                  </dir>
                </dir>
                <dir
                  name="03-testing">
                  <dir
                    name="src">
                    <dir
                      name="oata"/>
                  </dir>
                </dir>
                <dir
                  name="final">
                  <dir
                    name="src">
                    <dir
                      name="oata"/>
                  </dir>
                </dir>
              </dir>
              <dir
                name="tasks-filesets-properties">
                <dir
                  name="01-propertyaccess">
                  <dir
                    name="src"/>
                </dir>
                <dir
                  name="02-fileset">
                  <dir
                    name="src"/>
                </dir>
                <dir
                  name="03-paths">
                  <dir
                    name="src"/>
                </dir>
                <dir
                  name="04-lists">
                  <dir
                    name="src"/>
                </dir>
                <dir
                  name="final">
                  <dir
                    name="src"/>
                </dir>
              </dir>
              <dir
                name="tasks-start-writing">
                <dir
                  name="src"/>
              </dir>
            </dir>
          </dir>
        </dir>
      </dir>
    </dir>
  </files>
  <languages>
    <language
      name="Java"/>
  </languages>
  <file_types/>
  <annotations_options/>
  <comparison_options
    comparison_db=""
    git_repo=""
    git_commit=""/>
  <imports/>
  <java_options
    count_javadoc_in_metrics="true"
    count_standard_in_max_inheritance="false"
    jni_kni_include_package_name="true"
    jni_kni_linkage_prepend_text="Java_"
    save_comments_associated_with_entities="true"
    version="Java10">
    <class_paths>
      <class_path
        path="C:/Program Files/Java/jdk-18.0.1.1/lib/src.zip"/>
      <class_path
        path="C:/Program Files/Java/jdk-18.0.1.1/jmods/java.base.jmod"/>
    </class_paths>
  </java_options>
</project>
