<project>
  <files
    portability_mode="relative"
    default_encoding="System"
    readonly="false"
    maxfilesize="10485760"
    enforce_portability="false">
    <dir
      name=".">
      <dir
        name="..">
        <dir
          name="chainsaw">
          <watched
            subdirs="true">
            <filter
              name="Java"/>
          </watched>
          <dir
            name="src">
            <dir
              name="main">
              <dir
                name="java">
                <dir
                  name="org">
                  <dir
                    name="apache">
                    <dir
                      name="log4j">
                      <dir
                        name="chainsaw">
                        <dir
                          name="color"/>
                        <dir
                          name="dnd"/>
                        <dir
                          name="filter"/>
                        <dir
                          name="help"/>
                        <dir
                          name="helper"/>
                        <dir
                          name="icons"/>
                        <dir
                          name="layout"/>
                        <dir
                          name="messages"/>
                        <dir
                          name="osx"/>
                        <dir
                          name="plugins"/>
                        <dir
                          name="prefs"/>
                        <dir
                          name="receivers"/>
                        <dir
                          name="version"/>
                        <dir
                          name="vfs"/>
                        <dir
                          name="xstream"/>
                        <dir
                          name="zeroconf"/>
                      </dir>
                      <dir
                        name="db">
                        <dir
                          name="dialect"/>
                      </dir>
                      <dir
                        name="helpers"/>
                      <dir
                        name="net"/>
                      <dir
                        name="plugins"/>
                      <dir
                        name="rewrite"/>
                      <dir
                        name="scheduler"/>
                      <dir
                        name="spi"/>
                      <dir
                        name="varia"/>
                      <dir
                        name="xml"/>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="test">
              <dir
                name="java">
                <dir
                  name="org">
                  <dir
                    name="apache">
                    <dir
                      name="log4j">
                      <dir
                        name="chainsaw">
                        <dir
                          name="receivers"/>
                      </dir>
                      <dir
                        name="db"/>
                      <dir
                        name="helpers"/>
                      <dir
                        name="rewrite"/>
                      <dir
                        name="util"/>
                      <dir
                        name="xml"/>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
        </dir>
      </dir>
    </dir>
  </files>
  <languages>
    <language
      name="Java"/>
  </languages>
  <file_types/>
  <annotations_options/>
  <comparison_options
    comparison_db=""
    git_repo=""
    git_commit=""/>
  <imports/>
  <java_options
    count_javadoc_in_metrics="true"
    count_standard_in_max_inheritance="false"
    jni_kni_include_package_name="true"
    jni_kni_linkage_prepend_text="Java_"
    save_comments_associated_with_entities="true"
    version="Java10">
    <class_paths>
      <class_path
        path="C:/Program Files/Java/jdk-18.0.1.1/lib/src.zip"/>
      <class_path
        path="C:/Program Files/Java/jdk-18.0.1.1/jmods/java.base.jmod"/>
    </class_paths>
  </java_options>
</project>
