<project>
  <files
    portability_mode="relative"
    default_encoding="System"
    readonly="false"
    maxfilesize="10485760"
    enforce_portability="false">
    <dir
      name=".">
      <dir
        name="..">
        <dir
          name="tiles">
          <watched
            subdirs="true">
            <filter
              name="Java"/>
          </watched>
          <dir
            name="tiles-api">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="tiles">
                        <dir
                          name="access"/>
                        <dir
                          name="mgmt"/>
                        <dir
                          name="preparer"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="tiles">
                        <dir
                          name="access"/>
                        <dir
                          name="preparer"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="tiles-compat">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="tiles">
                        <dir
                          name="beans"/>
                        <dir
                          name="compat">
                          <dir
                            name="definition">
                            <dir
                              name="digester"/>
                          </dir>
                          <dir
                            name="preparer"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="tiles">
                        <dir
                          name="beans"/>
                        <dir
                          name="compat">
                          <dir
                            name="definition">
                            <dir
                              name="digester"/>
                          </dir>
                          <dir
                            name="preparer"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="tiles-core">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="tiles">
                        <dir
                          name="awareness"/>
                        <dir
                          name="context"/>
                        <dir
                          name="definition">
                          <dir
                            name="dao"/>
                          <dir
                            name="digester"/>
                          <dir
                            name="pattern">
                            <dir
                              name="regexp"/>
                            <dir
                              name="wildcard"/>
                          </dir>
                        </dir>
                        <dir
                          name="evaluator">
                          <dir
                            name="impl"/>
                        </dir>
                        <dir
                          name="factory"/>
                        <dir
                          name="impl">
                          <dir
                            name="mgmt"/>
                        </dir>
                        <dir
                          name="locale">
                          <dir
                            name="impl"/>
                        </dir>
                        <dir
                          name="preparer">
                          <dir
                            name="factory"/>
                        </dir>
                        <dir
                          name="renderer"/>
                        <dir
                          name="startup"/>
                        <dir
                          name="util"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="tiles">
                        <dir
                          name="context"/>
                        <dir
                          name="definition">
                          <dir
                            name="dao"/>
                          <dir
                            name="digester"/>
                          <dir
                            name="pattern">
                            <dir
                              name="regexp"/>
                            <dir
                              name="wildcard"/>
                          </dir>
                        </dir>
                        <dir
                          name="evaluator">
                          <dir
                            name="impl"/>
                        </dir>
                        <dir
                          name="factory"/>
                        <dir
                          name="impl">
                          <dir
                            name="mgmt"/>
                        </dir>
                        <dir
                          name="locale">
                          <dir
                            name="impl"/>
                        </dir>
                        <dir
                          name="preparer">
                          <dir
                            name="factory"/>
                        </dir>
                        <dir
                          name="renderer"/>
                        <dir
                          name="startup"/>
                        <dir
                          name="util"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="tiles-el">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="tiles">
                        <dir
                          name="el"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="tiles">
                        <dir
                          name="el"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="tiles-extras">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="tiles">
                        <dir
                          name="extras">
                          <dir
                            name="complete"/>
                          <dir
                            name="module"/>
                          <dir
                            name="renderer"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="tiles">
                        <dir
                          name="extras">
                          <dir
                            name="complete"/>
                          <dir
                            name="module"/>
                          <dir
                            name="renderer"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="tiles-freemarker">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="tiles">
                        <dir
                          name="freemarker"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="tiles">
                        <dir
                          name="freemarker"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="tiles-jsp">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="tiles">
                        <dir
                          name="jsp">
                          <dir
                            name="taglib"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="tiles">
                        <dir
                          name="jsp">
                          <dir
                            name="taglib"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="tiles-mvel">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="tiles">
                        <dir
                          name="mvel"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="tiles">
                        <dir
                          name="mvel"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="tiles-ognl">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="tiles">
                        <dir
                          name="ognl"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="tiles">
                        <dir
                          name="ognl"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="tiles-servlet">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="tiles">
                        <dir
                          name="web">
                          <dir
                            name="startup">
                            <dir
                              name="simple"/>
                          </dir>
                          <dir
                            name="util"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="tiles">
                        <dir
                          name="web">
                          <dir
                            name="startup">
                            <dir
                              name="simple"/>
                          </dir>
                          <dir
                            name="util"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="tiles-template">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="tiles">
                        <dir
                          name="template"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="tiles">
                        <dir
                          name="template"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="tiles-test-pom">
            <dir
              name="tiles-test">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="tiles">
                          <dir
                            name="test">
                            <dir
                              name="exception"/>
                            <dir
                              name="filter"/>
                            <dir
                              name="init"/>
                            <dir
                              name="portlet"/>
                            <dir
                              name="preparer"/>
                            <dir
                              name="servlet"/>
                            <dir
                              name="velocity"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="tiles-test-alt">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="tiles">
                          <dir
                            name="test">
                            <dir
                              name="alt"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="tiles-test-common">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="tiles">
                          <dir
                            name="test">
                            <dir
                              name="factory"/>
                            <dir
                              name="renderer"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="tiles-test-db">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="tiles">
                          <dir
                            name="test">
                            <dir
                              name="db"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="tiles-velocity">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="tiles">
                        <dir
                          name="velocity">
                          <dir
                            name="template"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="tiles">
                        <dir
                          name="velocity">
                          <dir
                            name="template"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
        </dir>
      </dir>
    </dir>
  </files>
  <languages>
    <language
      name="Java"/>
  </languages>
  <file_types/>
  <annotations_options/>
  <comparison_options
    comparison_db=""
    git_repo=""
    git_commit=""/>
  <imports/>
  <java_options
    count_javadoc_in_metrics="true"
    count_standard_in_max_inheritance="false"
    jni_kni_include_package_name="true"
    jni_kni_linkage_prepend_text="Java_"
    save_comments_associated_with_entities="true"
    version="Java10">
    <class_paths>
      <class_path
        path="C:/Program Files/Java/jdk-18.0.1.1/lib/src.zip"/>
      <class_path
        path="C:/Program Files/Java/jdk-18.0.1.1/jmods/java.base.jmod"/>
    </class_paths>
  </java_options>
</project>
