<project>
  <files
    portability_mode="relative"
    default_encoding="System"
    readonly="false"
    maxfilesize="10485760"
    enforce_portability="false">
    <dir
      name=".">
      <dir
        name="..">
        <dir
          name="httpcomponents-core">
          <watched
            subdirs="true">
            <filter
              name="Java"/>
          </watched>
          <dir
            name="httpcore5">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="hc">
                        <dir
                          name="core5">
                          <dir
                            name="annotation"/>
                          <dir
                            name="concurrent"/>
                          <dir
                            name="function"/>
                          <dir
                            name="http">
                            <dir
                              name="config"/>
                            <dir
                              name="impl">
                              <dir
                                name="bootstrap"/>
                              <dir
                                name="io"/>
                              <dir
                                name="nio"/>
                            </dir>
                            <dir
                              name="io">
                              <dir
                                name="entity"/>
                              <dir
                                name="ssl"/>
                              <dir
                                name="support"/>
                            </dir>
                            <dir
                              name="message"/>
                            <dir
                              name="nio">
                              <dir
                                name="command"/>
                              <dir
                                name="entity"/>
                              <dir
                                name="ssl"/>
                              <dir
                                name="support">
                                <dir
                                  name="classic"/>
                              </dir>
                            </dir>
                            <dir
                              name="protocol"/>
                            <dir
                              name="ssl"/>
                            <dir
                              name="support"/>
                          </dir>
                          <dir
                            name="io"/>
                          <dir
                            name="net"/>
                          <dir
                            name="pool"/>
                          <dir
                            name="reactor">
                            <dir
                              name="ssl"/>
                          </dir>
                          <dir
                            name="ssl"/>
                          <dir
                            name="util"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="hc">
                        <dir
                          name="core5">
                          <dir
                            name="annotation"/>
                          <dir
                            name="concurrent"/>
                          <dir
                            name="http">
                            <dir
                              name="config"/>
                            <dir
                              name="examples"/>
                            <dir
                              name="impl">
                              <dir
                                name="io"/>
                              <dir
                                name="nio"/>
                            </dir>
                            <dir
                              name="io">
                              <dir
                                name="entity"/>
                              <dir
                                name="support"/>
                            </dir>
                            <dir
                              name="message"/>
                            <dir
                              name="nio">
                              <dir
                                name="entity"/>
                              <dir
                                name="ssl"/>
                              <dir
                                name="support">
                                <dir
                                  name="classic"/>
                              </dir>
                            </dir>
                            <dir
                              name="protocol"/>
                            <dir
                              name="ssl"/>
                            <dir
                              name="support"/>
                          </dir>
                          <dir
                            name="net"/>
                          <dir
                            name="pool"/>
                          <dir
                            name="reactor"/>
                          <dir
                            name="ssl"/>
                          <dir
                            name="util"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="httpcore5-h2">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="hc">
                        <dir
                          name="core5">
                          <dir
                            name="http2">
                            <dir
                              name="config"/>
                            <dir
                              name="frame"/>
                            <dir
                              name="hpack"/>
                            <dir
                              name="impl">
                              <dir
                                name="io"/>
                              <dir
                                name="nio">
                                <dir
                                  name="bootstrap"/>
                              </dir>
                            </dir>
                            <dir
                              name="nio">
                              <dir
                                name="command"/>
                              <dir
                                name="pool"/>
                              <dir
                                name="support"/>
                            </dir>
                            <dir
                              name="protocol"/>
                            <dir
                              name="ssl"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="hc">
                        <dir
                          name="core5">
                          <dir
                            name="http2">
                            <dir
                              name="config"/>
                            <dir
                              name="examples"/>
                            <dir
                              name="frame"/>
                            <dir
                              name="hpack"/>
                            <dir
                              name="impl">
                              <dir
                                name="io"/>
                              <dir
                                name="nio"/>
                            </dir>
                            <dir
                              name="ssl"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="httpcore5-reactive">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="hc">
                        <dir
                          name="core5">
                          <dir
                            name="reactive"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="hc">
                        <dir
                          name="core5">
                          <dir
                            name="reactive">
                            <dir
                              name="examples"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="httpcore5-testing">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="hc">
                        <dir
                          name="core5">
                          <dir
                            name="benchmark"/>
                          <dir
                            name="testing">
                            <dir
                              name="classic"/>
                            <dir
                              name="framework"/>
                            <dir
                              name="nio"/>
                            <dir
                              name="reactive"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="hc">
                        <dir
                          name="core5">
                          <dir
                            name="benchmark"/>
                          <dir
                            name="testing">
                            <dir
                              name="classic"/>
                            <dir
                              name="compatibility">
                              <dir
                                name="http2"/>
                            </dir>
                            <dir
                              name="framework"/>
                            <dir
                              name="nio"/>
                            <dir
                              name="reactive"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
        </dir>
      </dir>
    </dir>
  </files>
  <languages>
    <language
      name="Java"/>
  </languages>
  <file_types/>
  <annotations_options/>
  <comparison_options
    comparison_db=""
    git_repo=""
    git_commit=""/>
  <imports/>
  <java_options
    count_javadoc_in_metrics="true"
    count_standard_in_max_inheritance="false"
    jni_kni_include_package_name="true"
    jni_kni_linkage_prepend_text="Java_"
    save_comments_associated_with_entities="true"
    version="Java10">
    <class_paths>
      <class_path
        path="C:/Program Files/Java/jdk-18.0.1.1/lib/src.zip"/>
      <class_path
        path="C:/Program Files/Java/jdk-18.0.1.1/jmods/java.base.jmod"/>
    </class_paths>
  </java_options>
</project>
