<project>
  <files
    portability_mode="relative"
    default_encoding="System"
    readonly="false"
    maxfilesize="10485760"
    enforce_portability="false">
    <dir
      name=".">
      <dir
        name="..">
        <dir
          name="curator">
          <watched
            subdirs="true">
            <filter
              name="Java"/>
          </watched>
          <dir
            name="curator-client">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="curator">
                        <dir
                          name="connection"/>
                        <dir
                          name="drivers"/>
                        <dir
                          name="ensemble">
                          <dir
                            name="fixed"/>
                        </dir>
                        <dir
                          name="retry"/>
                        <dir
                          name="utils"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="curator">
                        <dir
                          name="utils"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="curator-examples">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="async"/>
                  <dir
                    name="cache"/>
                  <dir
                    name="discovery"/>
                  <dir
                    name="framework"/>
                  <dir
                    name="leader"/>
                  <dir
                    name="locking"/>
                  <dir
                    name="modeled"/>
                  <dir
                    name="pubsub">
                    <dir
                      name="messages"/>
                    <dir
                      name="models"/>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="curator-framework">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="curator">
                        <dir
                          name="framework">
                          <dir
                            name="api">
                            <dir
                              name="transaction"/>
                          </dir>
                          <dir
                            name="imps"/>
                          <dir
                            name="listen"/>
                          <dir
                            name="schema"/>
                          <dir
                            name="state"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="curator">
                        <dir
                          name="framework">
                          <dir
                            name="ensemble"/>
                          <dir
                            name="imps"/>
                          <dir
                            name="schema"/>
                          <dir
                            name="state"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="curator-recipes">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="curator">
                        <dir
                          name="framework">
                          <dir
                            name="recipes">
                            <dir
                              name="atomic"/>
                            <dir
                              name="barriers"/>
                            <dir
                              name="cache"/>
                            <dir
                              name="leader"/>
                            <dir
                              name="locks"/>
                            <dir
                              name="nodes"/>
                            <dir
                              name="queue"/>
                            <dir
                              name="shared"/>
                            <dir
                              name="watch"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="curator">
                        <dir
                          name="connection"/>
                        <dir
                          name="framework">
                          <dir
                            name="client"/>
                          <dir
                            name="recipes">
                            <dir
                              name="atomic"/>
                            <dir
                              name="barriers"/>
                            <dir
                              name="cache"/>
                            <dir
                              name="leader"/>
                            <dir
                              name="locks"/>
                            <dir
                              name="nodes"/>
                            <dir
                              name="queue"/>
                            <dir
                              name="shared"/>
                            <dir
                              name="watch"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="curator-test">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="curator">
                        <dir
                          name="test">
                          <dir
                            name="compatibility"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="curator">
                        <dir
                          name="test"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="curator-test-zk35">
            <dir
              name="src">
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="curator">
                        <dir
                          name="framework"/>
                        <dir
                          name="zk35"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="curator-test-zk36">
            <dir
              name="src">
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="curator">
                        <dir
                          name="zk36"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="curator-x-async">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="curator">
                        <dir
                          name="x">
                          <dir
                            name="async">
                            <dir
                              name="api"/>
                            <dir
                              name="details"/>
                            <dir
                              name="migrations"/>
                            <dir
                              name="modeled">
                              <dir
                                name="cached"/>
                              <dir
                                name="details"/>
                              <dir
                                name="typed"/>
                              <dir
                                name="versioned"/>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="curator">
                        <dir
                          name="framework">
                          <dir
                            name="imps"/>
                        </dir>
                        <dir
                          name="x">
                          <dir
                            name="async">
                            <dir
                              name="migrations">
                              <dir
                                name="models"/>
                            </dir>
                            <dir
                              name="modeled">
                              <dir
                                name="models"/>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="curator-x-discovery">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="curator">
                        <dir
                          name="x">
                          <dir
                            name="discovery">
                            <dir
                              name="details"/>
                            <dir
                              name="strategies"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="curator">
                        <dir
                          name="x">
                          <dir
                            name="discovery">
                            <dir
                              name="details"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="curator-x-discovery-server">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="curator">
                        <dir
                          name="x">
                          <dir
                            name="discovery">
                            <dir
                              name="server">
                              <dir
                                name="contexts"/>
                              <dir
                                name="entity"/>
                              <dir
                                name="rest"/>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="curator">
                        <dir
                          name="x">
                          <dir
                            name="discovery">
                            <dir
                              name="server">
                              <dir
                                name="jetty_jersey"/>
                              <dir
                                name="jetty_resteasy"/>
                              <dir
                                name="mocks"/>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
        </dir>
      </dir>
    </dir>
  </files>
  <languages>
    <language
      name="Java"/>
  </languages>
  <file_types/>
  <annotations_options/>
  <comparison_options
    comparison_db=""
    git_repo=""
    git_commit=""/>
  <imports/>
  <java_options
    count_javadoc_in_metrics="true"
    count_standard_in_max_inheritance="false"
    jni_kni_include_package_name="true"
    jni_kni_linkage_prepend_text="Java_"
    save_comments_associated_with_entities="true"
    version="Java10">
    <class_paths>
      <class_path
        path="C:/Program Files/Java/jdk-18.0.1.1/lib/src.zip"/>
      <class_path
        path="C:/Program Files/Java/jdk-18.0.1.1/jmods/java.base.jmod"/>
    </class_paths>
  </java_options>
</project>
