<project>
  <files
    portability_mode="relative"
    default_encoding="System"
    readonly="false"
    maxfilesize="10485760"
    enforce_portability="false">
    <dir
      name=".">
      <dir
        name="..">
        <dir
          name="oozie">
          <watched
            subdirs="true">
            <filter
              name="Java"/>
          </watched>
          <dir
            name="client">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="oozie">
                        <dir
                          name="cli"/>
                        <dir
                          name="client">
                          <dir
                            name="event">
                            <dir
                              name="jms"/>
                            <dir
                              name="message"/>
                          </dir>
                          <dir
                            name="rest"/>
                          <dir
                            name="retry"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="oozie">
                        <dir
                          name="cli"/>
                        <dir
                          name="client">
                          <dir
                            name="rest"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="core">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="oozie">
                        <dir
                          name="action">
                          <dir
                            name="control"/>
                          <dir
                            name="decision"/>
                          <dir
                            name="email"/>
                          <dir
                            name="hadoop"/>
                          <dir
                            name="oozie"/>
                          <dir
                            name="ssh"/>
                        </dir>
                        <dir
                          name="bundle"/>
                        <dir
                          name="client">
                          <dir
                            name="rest"/>
                        </dir>
                        <dir
                          name="command">
                          <dir
                            name="bundle"/>
                          <dir
                            name="coord"/>
                          <dir
                            name="sla"/>
                          <dir
                            name="wf"/>
                        </dir>
                        <dir
                          name="compression"/>
                        <dir
                          name="coord">
                          <dir
                            name="input">
                            <dir
                              name="dependency"/>
                            <dir
                              name="logic"/>
                          </dir>
                        </dir>
                        <dir
                          name="dependency">
                          <dir
                            name="hcat"/>
                        </dir>
                        <dir
                          name="event">
                          <dir
                            name="listener"/>
                          <dir
                            name="messaging"/>
                        </dir>
                        <dir
                          name="executor">
                          <dir
                            name="jpa">
                            <dir
                              name="sla"/>
                          </dir>
                        </dir>
                        <dir
                          name="jms"/>
                        <dir
                          name="local"/>
                        <dir
                          name="lock"/>
                        <dir
                          name="service"/>
                        <dir
                          name="servlet"/>
                        <dir
                          name="sla">
                          <dir
                            name="listener"/>
                          <dir
                            name="service"/>
                        </dir>
                        <dir
                          name="store"/>
                        <dir
                          name="test"/>
                        <dir
                          name="util">
                          <dir
                            name="db"/>
                          <dir
                            name="graph"/>
                          <dir
                            name="schema"/>
                        </dir>
                        <dir
                          name="workflow">
                          <dir
                            name="lite"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="hadoop">
                        <dir
                          name="examples"/>
                      </dir>
                      <dir
                        name="oozie">
                        <dir
                          name="action">
                          <dir
                            name="decision"/>
                          <dir
                            name="email"/>
                          <dir
                            name="hadoop"/>
                          <dir
                            name="oozie"/>
                          <dir
                            name="ssh"/>
                        </dir>
                        <dir
                          name="client">
                          <dir
                            name="rest"/>
                        </dir>
                        <dir
                          name="command">
                          <dir
                            name="bundle"/>
                          <dir
                            name="coord"/>
                          <dir
                            name="wf"/>
                        </dir>
                        <dir
                          name="compression"/>
                        <dir
                          name="coord">
                          <dir
                            name="input">
                            <dir
                              name="dependency"/>
                            <dir
                              name="logic"/>
                          </dir>
                        </dir>
                        <dir
                          name="dependency"/>
                        <dir
                          name="event"/>
                        <dir
                          name="executor">
                          <dir
                            name="jpa">
                            <dir
                              name="sla"/>
                          </dir>
                        </dir>
                        <dir
                          name="jms"/>
                        <dir
                          name="lock"/>
                        <dir
                          name="service"/>
                        <dir
                          name="servlet"/>
                        <dir
                          name="sla"/>
                        <dir
                          name="store"/>
                        <dir
                          name="test">
                          <dir
                            name="hive"/>
                        </dir>
                        <dir
                          name="util">
                          <dir
                            name="db"/>
                          <dir
                            name="graph"/>
                        </dir>
                        <dir
                          name="workflow">
                          <dir
                            name="lite"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="docs">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java"/>
              </dir>
            </dir>
          </dir>
          <dir
            name="examples">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="oozie">
                        <dir
                          name="example">
                          <dir
                            name="fluentjob"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="oozie">
                        <dir
                          name="example"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="fluent-job">
            <dir
              name="fluent-job-api">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="oozie">
                          <dir
                            name="fluentjob">
                            <dir
                              name="api">
                              <dir
                                name="action"/>
                              <dir
                                name="dag"/>
                              <dir
                                name="factory"/>
                              <dir
                                name="mapping"/>
                              <dir
                                name="serialization"/>
                              <dir
                                name="workflow"/>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
                <dir
                  name="test">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="oozie">
                          <dir
                            name="fluentjob">
                            <dir
                              name="api">
                              <dir
                                name="action"/>
                              <dir
                                name="dag"/>
                              <dir
                                name="factory"/>
                              <dir
                                name="mapping"/>
                              <dir
                                name="workflow"/>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="fluent-job-client">
              <dir
                name="src">
                <dir
                  name="test">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="oozie">
                          <dir
                            name="jobs">
                            <dir
                              name="client">
                              <dir
                                name="jaxb"/>
                              <dir
                                name="minitest"/>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="minitest">
            <dir
              name="src">
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="oozie">
                        <dir
                          name="test"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="server">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="oozie">
                        <dir
                          name="server">
                          <dir
                            name="guice"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="oozie">
                        <dir
                          name="server">
                          <dir
                            name="guice"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="sharelib">
            <dir
              name="distcp">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="oozie">
                          <dir
                            name="action">
                            <dir
                              name="hadoop"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="git">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="oozie">
                          <dir
                            name="action">
                            <dir
                              name="hadoop"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
                <dir
                  name="test">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="oozie">
                          <dir
                            name="action">
                            <dir
                              name="hadoop"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="hcatalog">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="oozie">
                          <dir
                            name="action">
                            <dir
                              name="hadoop"/>
                          </dir>
                          <dir
                            name="util"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
                <dir
                  name="test">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="oozie">
                          <dir
                            name="util"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="hive">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="oozie">
                          <dir
                            name="action">
                            <dir
                              name="hadoop"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
                <dir
                  name="test">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="oozie">
                          <dir
                            name="action">
                            <dir
                              name="hadoop"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="hive2">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="oozie">
                          <dir
                            name="action">
                            <dir
                              name="hadoop"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
                <dir
                  name="test">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="oozie">
                          <dir
                            name="action">
                            <dir
                              name="hadoop"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="oozie">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="oozie">
                          <dir
                            name="action">
                            <dir
                              name="hadoop">
                              <dir
                                name="security"/>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
                <dir
                  name="test">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="oozie">
                          <dir
                            name="action">
                            <dir
                              name="hadoop">
                              <dir
                                name="security"/>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="pig">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="oozie">
                          <dir
                            name="action">
                            <dir
                              name="hadoop"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
                <dir
                  name="test">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="oozie">
                          <dir
                            name="action">
                            <dir
                              name="hadoop"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="spark">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="oozie">
                          <dir
                            name="action">
                            <dir
                              name="hadoop"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
                <dir
                  name="test">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="oozie">
                          <dir
                            name="action">
                            <dir
                              name="hadoop"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="sqoop">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="oozie">
                          <dir
                            name="action">
                            <dir
                              name="hadoop"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
                <dir
                  name="test">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="oozie">
                          <dir
                            name="action">
                            <dir
                              name="hadoop"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="streaming">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="oozie">
                          <dir
                            name="action">
                            <dir
                              name="hadoop"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
                <dir
                  name="test">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="oozie">
                          <dir
                            name="action">
                            <dir
                              name="hadoop"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="tools">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="oozie">
                        <dir
                          name="tools">
                          <dir
                            name="diag"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="hadoop">
                        <dir
                          name="hdfs">
                          <dir
                            name="protocol"/>
                        </dir>
                      </dir>
                      <dir
                        name="oozie">
                        <dir
                          name="tools">
                          <dir
                            name="diag"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="webapp">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="hadoop">
                        <dir
                          name="fs"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="zookeeper-security-tests">
            <dir
              name="src">
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="oozie">
                        <dir
                          name="test"/>
                        <dir
                          name="util"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
        </dir>
      </dir>
    </dir>
  </files>
  <languages>
    <language
      name="Java"/>
  </languages>
  <file_types/>
  <annotations_options/>
  <comparison_options
    comparison_db=""
    git_repo=""
    git_commit=""/>
  <imports/>
  <java_options
    count_javadoc_in_metrics="true"
    count_standard_in_max_inheritance="false"
    jni_kni_include_package_name="true"
    jni_kni_linkage_prepend_text="Java_"
    save_comments_associated_with_entities="true"
    version="Java10">
    <class_paths>
      <class_path
        path="C:/Program Files/Java/jdk-18.0.1.1/lib/src.zip"/>
      <class_path
        path="C:/Program Files/Java/jdk-18.0.1.1/jmods/java.base.jmod"/>
    </class_paths>
  </java_options>
</project>
