<project>
  <files
    portability_mode="relative"
    default_encoding="System"
    readonly="false"
    maxfilesize="10485760"
    enforce_portability="false">
    <dir
      name=".">
      <dir
        name="..">
        <dir
          name="shindig">
          <watched
            subdirs="true">
            <filter
              name="Java"/>
          </watched>
          <dir
            name="extras">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="shindig">
                        <dir
                          name="extras"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="java">
            <dir
              name="common">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="shindig">
                          <dir
                            name="auth"/>
                          <dir
                            name="common">
                            <dir
                              name="cache">
                              <dir
                                name="ehcache"/>
                            </dir>
                            <dir
                              name="crypto"/>
                            <dir
                              name="logging">
                              <dir
                                name="i18n"/>
                            </dir>
                            <dir
                              name="servlet"/>
                            <dir
                              name="uri"/>
                            <dir
                              name="util"/>
                            <dir
                              name="xml"/>
                          </dir>
                          <dir
                            name="config"/>
                          <dir
                            name="expressions">
                            <dir
                              name="jasper"/>
                            <dir
                              name="juel"/>
                          </dir>
                          <dir
                            name="protocol">
                            <dir
                              name="conversion">
                              <dir
                                name="xstream"/>
                            </dir>
                            <dir
                              name="model"/>
                            <dir
                              name="multipart"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
                <dir
                  name="test">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="shindig">
                          <dir
                            name="auth"/>
                          <dir
                            name="common">
                            <dir
                              name="cache">
                              <dir
                                name="ehcache"/>
                            </dir>
                            <dir
                              name="crypto"/>
                            <dir
                              name="servlet"/>
                            <dir
                              name="testing"/>
                            <dir
                              name="uri"/>
                            <dir
                              name="util"/>
                            <dir
                              name="xml"/>
                          </dir>
                          <dir
                            name="config"/>
                          <dir
                            name="expressions">
                            <dir
                              name="jasper"/>
                            <dir
                              name="juel"/>
                          </dir>
                          <dir
                            name="protocol">
                            <dir
                              name="conversion"/>
                            <dir
                              name="model"/>
                            <dir
                              name="multipart"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="gadgets">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="shindig">
                          <dir
                            name="gadgets">
                            <dir
                              name="admin"/>
                            <dir
                              name="config"/>
                            <dir
                              name="encoding"/>
                            <dir
                              name="features"/>
                            <dir
                              name="http"/>
                            <dir
                              name="js"/>
                            <dir
                              name="oauth"/>
                            <dir
                              name="oauth2">
                              <dir
                                name="handler"/>
                              <dir
                                name="logger"/>
                              <dir
                                name="persistence">
                                <dir
                                  name="sample"/>
                              </dir>
                            </dir>
                            <dir
                              name="parse">
                              <dir
                                name="caja"/>
                              <dir
                                name="nekohtml"/>
                            </dir>
                            <dir
                              name="preload"/>
                            <dir
                              name="process"/>
                            <dir
                              name="render"/>
                            <dir
                              name="rewrite">
                              <dir
                                name="image"/>
                              <dir
                                name="js"/>
                            </dir>
                            <dir
                              name="servlet"/>
                            <dir
                              name="spec"/>
                            <dir
                              name="templates">
                              <dir
                                name="tags"/>
                            </dir>
                            <dir
                              name="uri"/>
                            <dir
                              name="variables"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
                <dir
                  name="test">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="shindig">
                          <dir
                            name="gadgets">
                            <dir
                              name="admin"/>
                            <dir
                              name="config"/>
                            <dir
                              name="encoding"/>
                            <dir
                              name="features"/>
                            <dir
                              name="http"/>
                            <dir
                              name="js"/>
                            <dir
                              name="oauth">
                              <dir
                                name="testing"/>
                            </dir>
                            <dir
                              name="oauth2">
                              <dir
                                name="handler"/>
                              <dir
                                name="logger"/>
                              <dir
                                name="persistence">
                                <dir
                                  name="sample"/>
                              </dir>
                            </dir>
                            <dir
                              name="parse">
                              <dir
                                name="caja"/>
                              <dir
                                name="nekohtml"/>
                            </dir>
                            <dir
                              name="preload"/>
                            <dir
                              name="process"/>
                            <dir
                              name="render"/>
                            <dir
                              name="rewrite">
                              <dir
                                name="image"/>
                              <dir
                                name="js"/>
                            </dir>
                            <dir
                              name="servlet"/>
                            <dir
                              name="spec"/>
                            <dir
                              name="templates">
                              <dir
                                name="tags"/>
                            </dir>
                            <dir
                              name="uri"/>
                            <dir
                              name="variables"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="sample-container">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="shindig">
                          <dir
                            name="sample">
                            <dir
                              name="container"/>
                            <dir
                              name="shiro"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="server">
              <dir
                name="src">
                <dir
                  name="test">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="shindig">
                          <dir
                            name="server">
                            <dir
                              name="endtoend"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="social-api">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="shindig">
                          <dir
                            name="social">
                            <dir
                              name="core">
                              <dir
                                name="config"/>
                              <dir
                                name="model"/>
                              <dir
                                name="oauth"/>
                              <dir
                                name="oauth2">
                                <dir
                                  name="validators"/>
                              </dir>
                              <dir
                                name="util">
                                <dir
                                  name="atom"/>
                                <dir
                                  name="xstream"/>
                              </dir>
                            </dir>
                            <dir
                              name="opensocial">
                              <dir
                                name="model"/>
                              <dir
                                name="oauth"/>
                              <dir
                                name="service"/>
                              <dir
                                name="spi"/>
                            </dir>
                            <dir
                              name="sample">
                              <dir
                                name="oauth"/>
                              <dir
                                name="service"/>
                              <dir
                                name="spi"/>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
                <dir
                  name="test">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="shindig">
                          <dir
                            name="social">
                            <dir
                              name="core">
                              <dir
                                name="config"/>
                              <dir
                                name="oauth"/>
                              <dir
                                name="oauth2"/>
                            </dir>
                            <dir
                              name="dataservice">
                              <dir
                                name="integration"/>
                            </dir>
                            <dir
                              name="opensocial">
                              <dir
                                name="model"/>
                              <dir
                                name="service"/>
                              <dir
                                name="spi"/>
                              <dir
                                name="util"/>
                            </dir>
                            <dir
                              name="sample">
                              <dir
                                name="spi"/>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
        </dir>
      </dir>
    </dir>
  </files>
  <languages>
    <language
      name="Java"/>
  </languages>
  <file_types/>
  <annotations_options/>
  <comparison_options
    comparison_db=""
    git_repo=""
    git_commit=""/>
  <imports/>
  <java_options
    count_javadoc_in_metrics="true"
    count_standard_in_max_inheritance="false"
    jni_kni_include_package_name="true"
    jni_kni_linkage_prepend_text="Java_"
    save_comments_associated_with_entities="true"
    version="Java10">
    <class_paths>
      <class_path
        path="C:/Program Files/Java/jdk-18.0.1.1/lib/src.zip"/>
      <class_path
        path="C:/Program Files/Java/jdk-18.0.1.1/jmods/java.base.jmod"/>
    </class_paths>
  </java_options>
</project>
