<project>
  <files
    portability_mode="relative"
    default_encoding="System"
    readonly="false"
    maxfilesize="10485760"
    enforce_portability="false">
    <dir
      name=".">
      <dir
        name="..">
        <dir
          name="polygene-sandbox">
          <watched
            subdirs="true">
            <filter
              name="Java"/>
          </watched>
          <dir
            name="extensions">
            <dir
              name="entitystore-cassandra">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="qi4j">
                        <dir
                          name="entitystore">
                          <dir
                            name="cassandra"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
                <dir
                  name="test">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="qi4j">
                        <dir
                          name="entitystore">
                          <dir
                            name="cassandra"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="entitystore-coherence">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="qi4j">
                        <dir
                          name="entitystore">
                          <dir
                            name="coherence"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
                <dir
                  name="test">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="qi4j">
                        <dir
                          name="entitystore">
                          <dir
                            name="coherence"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="entitystore-javaspaces">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="qi4j">
                        <dir
                          name="entitystore">
                          <dir
                            name="javaspaces"/>
                        </dir>
                        <dir
                          name="library">
                          <dir
                            name="spaces">
                            <dir
                              name="javaspaces"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
                <dir
                  name="test">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="qi4j">
                        <dir
                          name="entitystore">
                          <dir
                            name="javaspaces"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="entitystore-jclouds">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="qi4j">
                        <dir
                          name="entitystore">
                          <dir
                            name="jclouds"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
                <dir
                  name="test">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="qi4j">
                        <dir
                          name="entitystore">
                          <dir
                            name="jclouds"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="entitystore-jgroups">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="qi4j">
                        <dir
                          name="entitystore">
                          <dir
                            name="jgroups"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
                <dir
                  name="test">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="qi4j">
                        <dir
                          name="entitystore">
                          <dir
                            name="jgroups"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="entitystore-jndi">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="qi4j">
                        <dir
                          name="entitystore">
                          <dir
                            name="jndi"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
                <dir
                  name="test">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="qi4j">
                        <dir
                          name="entitystore">
                          <dir
                            name="jndi"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="entitystore-rmi">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="qi4j">
                        <dir
                          name="entitystore">
                          <dir
                            name="rmi"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="entitystore-s3">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="qi4j">
                        <dir
                          name="entitystore">
                          <dir
                            name="s3"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
                <dir
                  name="test">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="qi4j">
                        <dir
                          name="entitystore">
                          <dir
                            name="s3"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="entitystore-swift">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="qi4j">
                        <dir
                          name="entitystore">
                          <dir
                            name="swift"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
                <dir
                  name="test">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="qi4j">
                        <dir
                          name="entitystore">
                          <dir
                            name="swift"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="entitystore-voldemort">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="qi4j">
                        <dir
                          name="entitystore">
                          <dir
                            name="voldemort"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
                <dir
                  name="test">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="qi4j">
                        <dir
                          name="entitystore">
                          <dir
                            name="voldemort"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="osgi">
              <dir
                name="bootstrap">
                <dir
                  name="src">
                  <dir
                    name="main">
                    <dir
                      name="java">
                      <dir
                        name="org">
                        <dir
                          name="qi4j">
                          <dir
                            name="osgi">
                            <dir
                              name="bootstrap"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="example">
                <dir
                  name="src">
                  <dir
                    name="main">
                    <dir
                      name="java">
                      <dir
                        name="org">
                        <dir
                          name="qi4j">
                          <dir
                            name="osgi">
                            <dir
                              name="internal"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="integrationTests">
                <dir
                  name="src">
                  <dir
                    name="test">
                    <dir
                      name="java">
                      <dir
                        name="org">
                        <dir
                          name="qi4j">
                          <dir
                            name="osgi">
                            <dir
                              name="test"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="libraries">
            <dir
              name="beans">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="qi4j">
                        <dir
                          name="library">
                          <dir
                            name="beans">
                            <dir
                              name="properties"/>
                            <dir
                              name="support"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
                <dir
                  name="test">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="qi4j">
                        <dir
                          name="library">
                          <dir
                            name="beans">
                            <dir
                              name="properties"/>
                            <dir
                              name="support"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="entityproxy">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="qi4j">
                        <dir
                          name="library">
                          <dir
                            name="entityproxy">
                            <dir
                              name="assembling"/>
                            <dir
                              name="internal"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
                <dir
                  name="test">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="qi4j">
                        <dir
                          name="library">
                          <dir
                            name="entityproxy"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="exception">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="qi4j">
                        <dir
                          name="library">
                          <dir
                            name="exception"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="executor">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="qi4j">
                        <dir
                          name="library">
                          <dir
                            name="executor"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
                <dir
                  name="test">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="qi4j">
                        <dir
                          name="library">
                          <dir
                            name="framework">
                            <dir
                              name="executor"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="jini">
              <dir
                name="importer">
                <dir
                  name="src">
                  <dir
                    name="main">
                    <dir
                      name="java">
                      <dir
                        name="org">
                        <dir
                          name="qi4j">
                          <dir
                            name="library">
                            <dir
                              name="jini">
                              <dir
                                name="importer"/>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                  <dir
                    name="test">
                    <dir
                      name="java">
                      <dir
                        name="org">
                        <dir
                          name="qi4j">
                          <dir
                            name="library">
                            <dir
                              name="jini">
                              <dir
                                name="importer">
                                <dir
                                  name="org">
                                  <dir
                                    name="qi4j">
                                    <dir
                                      name="library">
                                      <dir
                                        name="jini">
                                        <dir
                                          name="tests"/>
                                      </dir>
                                    </dir>
                                  </dir>
                                </dir>
                              </dir>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="javaspaces">
                <dir
                  name="src">
                  <dir
                    name="main">
                    <dir
                      name="java">
                      <dir
                        name="org">
                        <dir
                          name="qi4j">
                          <dir
                            name="library">
                            <dir
                              name="jini">
                              <dir
                                name="javaspaces"/>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                  <dir
                    name="test">
                    <dir
                      name="java">
                      <dir
                        name="org">
                        <dir
                          name="qi4j">
                          <dir
                            name="library">
                            <dir
                              name="jini">
                              <dir
                                name="javaspaces"/>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="lookup">
                <dir
                  name="src">
                  <dir
                    name="main">
                    <dir
                      name="java">
                      <dir
                        name="org">
                        <dir
                          name="qi4j">
                          <dir
                            name="library">
                            <dir
                              name="jini">
                              <dir
                                name="lookup"/>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                  <dir
                    name="test">
                    <dir
                      name="java">
                      <dir
                        name="org">
                        <dir
                          name="qi4j">
                          <dir
                            name="library">
                            <dir
                              name="jini">
                              <dir
                                name="lookup"/>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="transaction">
                <dir
                  name="src">
                  <dir
                    name="main">
                    <dir
                      name="java">
                      <dir
                        name="org">
                        <dir
                          name="qi4j">
                          <dir
                            name="library">
                            <dir
                              name="jini">
                              <dir
                                name="transaction"/>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                  <dir
                    name="test">
                    <dir
                      name="java">
                      <dir
                        name="org">
                        <dir
                          name="qi4j">
                          <dir
                            name="library">
                            <dir
                              name="jini">
                              <dir
                                name="transaction"/>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="ldap">
              <dir
                name="server">
                <dir
                  name="src">
                  <dir
                    name="main">
                    <dir
                      name="java">
                      <dir
                        name="org">
                        <dir
                          name="qi4j">
                          <dir
                            name="library">
                            <dir
                              name="ldap">
                              <dir
                                name="server"/>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                  <dir
                    name="test">
                    <dir
                      name="java">
                      <dir
                        name="org">
                        <dir
                          name="qi4j">
                          <dir
                            name="library">
                            <dir
                              name="ldap">
                              <dir
                                name="server"/>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="observations">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="qi4j">
                        <dir
                          name="library">
                          <dir
                            name="observations"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="registry">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="qi4j">
                        <dir
                          name="library">
                          <dir
                            name="registry"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="rmi">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="qi4j">
                        <dir
                          name="library">
                          <dir
                            name="rmi"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
                <dir
                  name="test">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="qi4j">
                        <dir
                          name="library">
                          <dir
                            name="rmi">
                            <dir
                              name="remote"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="thread">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="qi4j">
                        <dir
                          name="library">
                          <dir
                            name="thread">
                            <dir
                              name="assembly"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
                <dir
                  name="test">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="qi4j">
                        <dir
                          name="library">
                          <dir
                            name="thread"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="unitofwork">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="qi4j">
                        <dir
                          name="library">
                          <dir
                            name="unitofwork"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
                <dir
                  name="test">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="qi4j">
                        <dir
                          name="library">
                          <dir
                            name="unitofwork"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="validation">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="qi4j">
                        <dir
                          name="library">
                          <dir
                            name="validation"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
        </dir>
      </dir>
    </dir>
  </files>
  <languages>
    <language
      name="Java"/>
  </languages>
  <file_types/>
  <annotations_options/>
  <comparison_options
    comparison_db=""
    git_repo=""
    git_commit=""/>
  <imports/>
  <java_options
    count_javadoc_in_metrics="true"
    count_standard_in_max_inheritance="false"
    jni_kni_include_package_name="true"
    jni_kni_linkage_prepend_text="Java_"
    save_comments_associated_with_entities="true"
    version="Java10">
    <class_paths>
      <class_path
        path="C:/Program Files/Java/jdk-18.0.1.1/lib/src.zip"/>
      <class_path
        path="C:/Program Files/Java/jdk-18.0.1.1/jmods/java.base.jmod"/>
    </class_paths>
  </java_options>
</project>
