<project>
  <files
    portability_mode="relative"
    default_encoding="System"
    readonly="false"
    maxfilesize="10485760"
    enforce_portability="false">
    <dir
      name=".">
      <dir
        name="..">
        <dir
          name="oltu">
          <watched
            subdirs="true">
            <filter
              name="Java"/>
          </watched>
          <dir
            name="commons">
            <dir
              name="encodedtoken">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="oltu">
                          <dir
                            name="commons">
                            <dir
                              name="encodedtoken"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
                <dir
                  name="test">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="oltu">
                          <dir
                            name="commons">
                            <dir
                              name="encodedtoken"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="json">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="oltu">
                          <dir
                            name="commons">
                            <dir
                              name="json"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="demos">
            <dir
              name="client-demo">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="oltu">
                          <dir
                            name="oauth2">
                            <dir
                              name="client">
                              <dir
                                name="demo">
                                <dir
                                  name="controller"/>
                                <dir
                                  name="exception"/>
                                <dir
                                  name="model"/>
                              </dir>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="jose">
            <dir
              name="jwe">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="oltu">
                          <dir
                            name="jose">
                            <dir
                              name="jwe">
                              <dir
                                name="encryption"/>
                              <dir
                                name="io"/>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
                <dir
                  name="test">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="oltu">
                          <dir
                            name="jose">
                            <dir
                              name="jwe">
                              <dir
                                name="io"/>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="jws">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="oltu">
                          <dir
                            name="jose">
                            <dir
                              name="jws">
                              <dir
                                name="io"/>
                              <dir
                                name="signature">
                                <dir
                                  name="impl"/>
                              </dir>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
                <dir
                  name="test">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="oltu">
                          <dir
                            name="jose">
                            <dir
                              name="jws">
                              <dir
                                name="io"/>
                              <dir
                                name="signature">
                                <dir
                                  name="impl"/>
                              </dir>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="oauth-2.0">
            <dir
              name="authzserver">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="oltu">
                          <dir
                            name="oauth2">
                            <dir
                              name="as">
                              <dir
                                name="issuer"/>
                              <dir
                                name="request"/>
                              <dir
                                name="response"/>
                              <dir
                                name="validator"/>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
                <dir
                  name="test">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="oltu">
                          <dir
                            name="oauth2">
                            <dir
                              name="as">
                              <dir
                                name="response"/>
                              <dir
                                name="validator"/>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="client">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="oltu">
                          <dir
                            name="oauth2">
                            <dir
                              name="client">
                              <dir
                                name="request"/>
                              <dir
                                name="response"/>
                              <dir
                                name="validator"/>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
                <dir
                  name="test">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="oltu">
                          <dir
                            name="oauth2">
                            <dir
                              name="client">
                              <dir
                                name="response"/>
                              <dir
                                name="utils"/>
                              <dir
                                name="validator"/>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="common">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="oltu">
                          <dir
                            name="oauth2">
                            <dir
                              name="common">
                              <dir
                                name="domain">
                                <dir
                                  name="client"/>
                                <dir
                                  name="credentials"/>
                              </dir>
                              <dir
                                name="error"/>
                              <dir
                                name="exception"/>
                              <dir
                                name="message">
                                <dir
                                  name="types"/>
                              </dir>
                              <dir
                                name="parameters"/>
                              <dir
                                name="token"/>
                              <dir
                                name="utils"/>
                              <dir
                                name="validators"/>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
                <dir
                  name="test">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="oltu">
                          <dir
                            name="oauth2">
                            <dir
                              name="common">
                              <dir
                                name="domain"/>
                              <dir
                                name="message"/>
                              <dir
                                name="parameters"/>
                              <dir
                                name="utils"/>
                              <dir
                                name="validators"/>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="dynamicreg-client">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="oltu">
                          <dir
                            name="oauth2">
                            <dir
                              name="ext">
                              <dir
                                name="dynamicreg">
                                <dir
                                  name="client">
                                  <dir
                                    name="request"/>
                                  <dir
                                    name="response"/>
                                  <dir
                                    name="validators"/>
                                </dir>
                              </dir>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="dynamicreg-common">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="oltu">
                          <dir
                            name="oauth2">
                            <dir
                              name="ext">
                              <dir
                                name="dynamicreg">
                                <dir
                                  name="common"/>
                              </dir>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="dynamicreg-server">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="oltu">
                          <dir
                            name="oauth2">
                            <dir
                              name="ext">
                              <dir
                                name="dynamicreg">
                                <dir
                                  name="server">
                                  <dir
                                    name="request"/>
                                  <dir
                                    name="response"/>
                                  <dir
                                    name="validator"/>
                                </dir>
                              </dir>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
                <dir
                  name="test">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="oltu">
                          <dir
                            name="oauth2">
                            <dir
                              name="ext">
                              <dir
                                name="dynamicreg">
                                <dir
                                  name="server">
                                  <dir
                                    name="request"/>
                                </dir>
                              </dir>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="httpclient4">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="oltu">
                          <dir
                            name="oauth2">
                            <dir
                              name="httpclient4"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="integration-tests">
              <dir
                name="src">
                <dir
                  name="test">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="oltu">
                          <dir
                            name="oauth2">
                            <dir
                              name="httpclient4"/>
                            <dir
                              name="integration">
                              <dir
                                name="endpoints"/>
                              <dir
                                name="server"/>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="jwt">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="oltu">
                          <dir
                            name="oauth2">
                            <dir
                              name="jwt">
                              <dir
                                name="io"/>
                              <dir
                                name="request"/>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
                <dir
                  name="test">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="oltu">
                          <dir
                            name="oauth2">
                            <dir
                              name="jwt">
                              <dir
                                name="io"/>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="resourceserver">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="oltu">
                          <dir
                            name="oauth2">
                            <dir
                              name="rs">
                              <dir
                                name="extractor"/>
                              <dir
                                name="request"/>
                              <dir
                                name="response"/>
                              <dir
                                name="validator"/>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
                <dir
                  name="test">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="oltu">
                          <dir
                            name="oauth2">
                            <dir
                              name="rs">
                              <dir
                                name="extractor"/>
                              <dir
                                name="validator"/>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="resourceserver-filter">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="oltu">
                          <dir
                            name="oauth2">
                            <dir
                              name="rsfilter"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="test-utils">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="oltu">
                          <dir
                            name="oauth2">
                            <dir
                              name="utils">
                              <dir
                                name="test"/>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="openid-connect">
            <dir
              name="client">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="oltu">
                          <dir
                            name="openidconnect">
                            <dir
                              name="client">
                              <dir
                                name="response"/>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
                <dir
                  name="test">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="oltu">
                          <dir
                            name="openidconnect">
                            <dir
                              name="client">
                              <dir
                                name="response"/>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
        </dir>
      </dir>
    </dir>
  </files>
  <languages>
    <language
      name="Java"/>
  </languages>
  <file_types/>
  <annotations_options/>
  <comparison_options
    comparison_db=""
    git_repo=""
    git_commit=""/>
  <imports/>
  <java_options
    count_javadoc_in_metrics="true"
    count_standard_in_max_inheritance="false"
    jni_kni_include_package_name="true"
    jni_kni_linkage_prepend_text="Java_"
    save_comments_associated_with_entities="true"
    version="Java10">
    <class_paths>
      <class_path
        path="C:/Program Files/Java/jdk-18.0.1.1/lib/src.zip"/>
      <class_path
        path="C:/Program Files/Java/jdk-18.0.1.1/jmods/java.base.jmod"/>
    </class_paths>
  </java_options>
</project>
