<project>
  <files
    portability_mode="relative"
    default_encoding="System"
    readonly="false"
    maxfilesize="10485760"
    enforce_portability="false">
    <dir
      name=".">
      <dir
        name="..">
        <dir
          name="chukwa">
          <watched
            subdirs="true">
            <filter
              name="Java"/>
          </watched>
          <dir
            name="core">
            <dir
              name="contrib">
              <dir
                name="chukwa-pig">
                <dir
                  name="src">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="hadoop">
                          <dir
                            name="chukwa">
                            <dir
                              name="pig"/>
                            <dir
                              name="tools"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
                <dir
                  name="test">
                  <dir
                    name="src">
                    <dir
                      name="java">
                      <dir
                        name="org">
                        <dir
                          name="apache">
                          <dir
                            name="hadoop">
                            <dir
                              name="chukwa">
                              <dir
                                name="util"/>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="xtrace">
                <dir
                  name="src">
                  <dir
                    name="java">
                    <dir
                      name="edu">
                      <dir
                        name="berkeley">
                        <dir
                          name="chukwa_xtrace"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
                <dir
                  name="test">
                  <dir
                    name="src">
                    <dir
                      name="java">
                      <dir
                        name="edu">
                        <dir
                          name="berkeley">
                          <dir
                            name="chukwa_xtrace"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="hadoop">
                        <dir
                          name="chukwa">
                          <dir
                            name="analysis">
                            <dir
                              name="salsa">
                              <dir
                                name="fsm"/>
                              <dir
                                name="visualization"/>
                            </dir>
                          </dir>
                          <dir
                            name="conf"/>
                          <dir
                            name="database"/>
                          <dir
                            name="datacollection">
                            <dir
                              name="adaptor">
                              <dir
                                name="filetailer"/>
                              <dir
                                name="heartbeat"/>
                              <dir
                                name="jms"/>
                              <dir
                                name="sigar"/>
                            </dir>
                            <dir
                              name="agent">
                              <dir
                                name="metrics"/>
                              <dir
                                name="rest"/>
                            </dir>
                            <dir
                              name="collector">
                              <dir
                                name="servlet"/>
                            </dir>
                            <dir
                              name="connector">
                              <dir
                                name="http"/>
                            </dir>
                            <dir
                              name="controller"/>
                            <dir
                              name="sender">
                              <dir
                                name="metrics"/>
                            </dir>
                            <dir
                              name="test"/>
                            <dir
                              name="writer">
                              <dir
                                name="gora"/>
                              <dir
                                name="hbase"/>
                              <dir
                                name="localfs"/>
                              <dir
                                name="parquet"/>
                              <dir
                                name="solr"/>
                            </dir>
                          </dir>
                          <dir
                            name="dataloader"/>
                          <dir
                            name="datastore"/>
                          <dir
                            name="datatrigger"/>
                          <dir
                            name="extraction">
                            <dir
                              name="archive"/>
                            <dir
                              name="demux">
                              <dir
                                name="processor">
                                <dir
                                  name="mapper"/>
                                <dir
                                  name="reducer"/>
                              </dir>
                            </dir>
                            <dir
                              name="engine">
                              <dir
                                name="datasource">
                                <dir
                                  name="database"/>
                                <dir
                                  name="record"/>
                              </dir>
                            </dir>
                            <dir
                              name="hbase"/>
                          </dir>
                          <dir
                            name="hicc">
                            <dir
                              name="bean"/>
                            <dir
                              name="proxy"/>
                            <dir
                              name="rest"/>
                          </dir>
                          <dir
                            name="inputtools">
                            <dir
                              name="hdfsusage"/>
                            <dir
                              name="jplugin"/>
                            <dir
                              name="log4j"/>
                            <dir
                              name="mdl"/>
                            <dir
                              name="plugin">
                              <dir
                                name="metrics"/>
                              <dir
                                name="nodeactivity"/>
                              <dir
                                name="pbsnode"/>
                            </dir>
                          </dir>
                          <dir
                            name="rest">
                            <dir
                              name="bean"/>
                            <dir
                              name="resource"/>
                          </dir>
                          <dir
                            name="tools">
                            <dir
                              name="backfilling"/>
                          </dir>
                          <dir
                            name="util"/>
                        </dir>
                        <dir
                          name="metrics">
                          <dir
                            name="spi"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="hadoop">
                        <dir
                          name="chukwa">
                          <dir
                            name="analysis">
                            <dir
                              name="salsa">
                              <dir
                                name="fsm"/>
                            </dir>
                          </dir>
                          <dir
                            name="caffe"/>
                          <dir
                            name="database"/>
                          <dir
                            name="datacollection">
                            <dir
                              name="adaptor">
                              <dir
                                name="JMX"/>
                              <dir
                                name="filetailer"/>
                              <dir
                                name="jms"/>
                            </dir>
                            <dir
                              name="agent">
                              <dir
                                name="rest"/>
                            </dir>
                            <dir
                              name="collector"/>
                            <dir
                              name="connector"/>
                            <dir
                              name="controller"/>
                            <dir
                              name="sender"/>
                            <dir
                              name="writer">
                              <dir
                                name="solr"/>
                              <dir
                                name="test">
                                <dir
                                  name="demux"/>
                              </dir>
                            </dir>
                          </dir>
                          <dir
                            name="dataloader"/>
                          <dir
                            name="extraction">
                            <dir
                              name="archive"/>
                            <dir
                              name="demux">
                              <dir
                                name="processor">
                                <dir
                                  name="mapper"/>
                                <dir
                                  name="reducer"/>
                              </dir>
                            </dir>
                          </dir>
                          <dir
                            name="hicc"/>
                          <dir
                            name="inputtools">
                            <dir
                              name="hdfsusage"/>
                            <dir
                              name="log4j"/>
                          </dir>
                          <dir
                            name="rest">
                            <dir
                              name="resource"/>
                          </dir>
                          <dir
                            name="tools">
                            <dir
                              name="backfilling"/>
                          </dir>
                          <dir
                            name="util"/>
                          <dir
                            name="validationframework">
                            <dir
                              name="interceptor"/>
                            <dir
                              name="util"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
        </dir>
      </dir>
    </dir>
  </files>
  <languages>
    <language
      name="Java"/>
  </languages>
  <file_types/>
  <annotations_options/>
  <comparison_options
    comparison_db=""
    git_repo=""
    git_commit=""/>
  <imports/>
  <java_options
    count_javadoc_in_metrics="true"
    count_standard_in_max_inheritance="false"
    jni_kni_include_package_name="true"
    jni_kni_linkage_prepend_text="Java_"
    save_comments_associated_with_entities="true"
    version="Java10">
    <class_paths>
      <class_path
        path="C:/Program Files/Java/jdk-18.0.1.1/lib/src.zip"/>
      <class_path
        path="C:/Program Files/Java/jdk-18.0.1.1/jmods/java.base.jmod"/>
    </class_paths>
  </java_options>
</project>
