<project>
  <files
    portability_mode="relative"
    default_encoding="System"
    readonly="false"
    maxfilesize="10485760"
    enforce_portability="false">
    <dir
      name=".">
      <dir
        name="..">
        <dir
          name="pig">
          <watched
            subdirs="true">
            <filter
              name="Java"/>
          </watched>
          <dir
            name="contrib">
            <dir
              name="piggybank">
              <dir
                name="java">
                <dir
                  name="src">
                  <dir
                    name="main">
                    <dir
                      name="java">
                      <dir
                        name="org">
                        <dir
                          name="apache">
                          <dir
                            name="pig">
                            <dir
                              name="piggybank">
                              <dir
                                name="evaluation">
                                <dir
                                  name="datetime">
                                  <dir
                                    name="convert"/>
                                  <dir
                                    name="diff"/>
                                  <dir
                                    name="truncate"/>
                                </dir>
                                <dir
                                  name="decode"/>
                                <dir
                                  name="math"/>
                                <dir
                                  name="stats"/>
                                <dir
                                  name="string"/>
                                <dir
                                  name="util">
                                  <dir
                                    name="apachelogparser"/>
                                </dir>
                                <dir
                                  name="xml"/>
                              </dir>
                              <dir
                                name="storage">
                                <dir
                                  name="allloader"/>
                                <dir
                                  name="apachelog"/>
                                <dir
                                  name="avro"/>
                                <dir
                                  name="hiverc"/>
                                <dir
                                  name="partition"/>
                              </dir>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                  <dir
                    name="test">
                    <dir
                      name="java">
                      <dir
                        name="org">
                        <dir
                          name="apache">
                          <dir
                            name="pig">
                            <dir
                              name="piggybank">
                              <dir
                                name="evaluation"/>
                              <dir
                                name="test">
                                <dir
                                  name="evaluation">
                                  <dir
                                    name="datetime">
                                    <dir
                                      name="convert"/>
                                    <dir
                                      name="diff"/>
                                    <dir
                                      name="truncate"/>
                                  </dir>
                                  <dir
                                    name="decode"/>
                                  <dir
                                    name="string"/>
                                  <dir
                                    name="util">
                                    <dir
                                      name="apachelogparser"/>
                                  </dir>
                                  <dir
                                    name="xml"/>
                                </dir>
                                <dir
                                  name="storage">
                                  <dir
                                    name="avro"/>
                                </dir>
                              </dir>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="lib-src">
            <dir
              name="bzip2">
              <dir
                name="org">
                <dir
                  name="apache">
                  <dir
                    name="pig">
                    <dir
                      name="bzip2r"/>
                  </dir>
                  <dir
                    name="tools">
                    <dir
                      name="bzip2r"/>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="shims">
            <dir
              name="src">
              <dir
                name="hadoop2">
                <dir
                  name="org">
                  <dir
                    name="apache">
                    <dir
                      name="pig">
                      <dir
                        name="backend">
                        <dir
                          name="hadoop">
                          <dir
                            name="executionengine">
                            <dir
                              name="shims"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="hive1">
                <dir
                  name="org">
                  <dir
                    name="apache">
                    <dir
                      name="pig">
                      <dir
                        name="hive"/>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="hive3">
                <dir
                  name="org">
                  <dir
                    name="apache">
                    <dir
                      name="pig">
                      <dir
                        name="hive"/>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="src">
            <dir
              name="org">
              <dir
                name="apache">
                <dir
                  name="pig">
                  <dir
                    name="backend">
                    <dir
                      name="datastorage"/>
                    <dir
                      name="executionengine"/>
                    <dir
                      name="hadoop">
                      <dir
                        name="accumulo"/>
                      <dir
                        name="datastorage"/>
                      <dir
                        name="executionengine">
                        <dir
                          name="fetch"/>
                        <dir
                          name="mapReduceLayer">
                          <dir
                            name="partitioners"/>
                          <dir
                            name="plans"/>
                        </dir>
                        <dir
                          name="optimizer"/>
                        <dir
                          name="physicalLayer">
                          <dir
                            name="expressionOperators">
                            <dir
                              name="regex"/>
                          </dir>
                          <dir
                            name="plans"/>
                          <dir
                            name="relationalOperators"/>
                          <dir
                            name="util"/>
                        </dir>
                        <dir
                          name="spark">
                          <dir
                            name="converter"/>
                          <dir
                            name="operator"/>
                          <dir
                            name="optimizer"/>
                          <dir
                            name="plan"/>
                          <dir
                            name="running"/>
                          <dir
                            name="streaming"/>
                        </dir>
                        <dir
                          name="tez">
                          <dir
                            name="plan">
                            <dir
                              name="operator"/>
                            <dir
                              name="optimizer"/>
                            <dir
                              name="udf"/>
                          </dir>
                          <dir
                            name="runtime"/>
                          <dir
                            name="util"/>
                        </dir>
                        <dir
                          name="util"/>
                      </dir>
                      <dir
                        name="hbase"/>
                      <dir
                        name="streaming"/>
                    </dir>
                  </dir>
                  <dir
                    name="builtin">
                    <dir
                      name="mock"/>
                  </dir>
                  <dir
                    name="classification"/>
                  <dir
                    name="data">
                    <dir
                      name="utils"/>
                  </dir>
                  <dir
                    name="impl">
                    <dir
                      name="bloom"/>
                    <dir
                      name="builtin"/>
                    <dir
                      name="io">
                      <dir
                        name="compress"/>
                    </dir>
                    <dir
                      name="logicalLayer">
                      <dir
                        name="schema"/>
                      <dir
                        name="validators"/>
                    </dir>
                    <dir
                      name="plan">
                      <dir
                        name="optimizer"/>
                    </dir>
                    <dir
                      name="streaming"/>
                    <dir
                      name="util">
                      <dir
                        name="avro"/>
                      <dir
                        name="hive"/>
                    </dir>
                  </dir>
                  <dir
                    name="newplan">
                    <dir
                      name="logical">
                      <dir
                        name="expression"/>
                      <dir
                        name="optimizer"/>
                      <dir
                        name="relational"/>
                      <dir
                        name="rules"/>
                      <dir
                        name="visitor"/>
                    </dir>
                    <dir
                      name="optimizer"/>
                  </dir>
                  <dir
                    name="parser"/>
                  <dir
                    name="pen">
                    <dir
                      name="util"/>
                  </dir>
                  <dir
                    name="scripting">
                    <dir
                      name="groovy"/>
                    <dir
                      name="jruby"/>
                    <dir
                      name="js"/>
                    <dir
                      name="jython"/>
                    <dir
                      name="streaming">
                      <dir
                        name="python"/>
                    </dir>
                  </dir>
                  <dir
                    name="tools">
                    <dir
                      name="cmdline"/>
                    <dir
                      name="counters"/>
                    <dir
                      name="grunt"/>
                    <dir
                      name="parameters"/>
                    <dir
                      name="pigstats">
                      <dir
                        name="mapreduce"/>
                      <dir
                        name="spark"/>
                      <dir
                        name="tez"/>
                    </dir>
                    <dir
                      name="streams"/>
                    <dir
                      name="timer"/>
                  </dir>
                  <dir
                    name="validator"/>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="test">
            <dir
              name="e2e">
              <dir
                name="pig">
                <dir
                  name="udfs">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="pig">
                          <dir
                            name="test">
                            <dir
                              name="udf">
                              <dir
                                name="evalfunc"/>
                              <dir
                                name="orderby"/>
                              <dir
                                name="storefunc"/>
                              <dir
                                name="streaming"/>
                            </dir>
                            <dir
                              name="utils"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="org">
              <dir
                name="apache">
                <dir
                  name="pig">
                  <dir
                    name="backend">
                    <dir
                      name="hadoop">
                      <dir
                        name="accumulo"/>
                      <dir
                        name="executionengine">
                        <dir
                          name="mapReduceLayer"/>
                      </dir>
                      <dir
                        name="hbase"/>
                    </dir>
                  </dir>
                  <dir
                    name="builtin">
                    <dir
                      name="avro">
                      <dir
                        name="code">
                        <dir
                          name="java"/>
                      </dir>
                    </dir>
                    <dir
                      name="mock"/>
                  </dir>
                  <dir
                    name="data">
                    <dir
                      name="utils"/>
                  </dir>
                  <dir
                    name="impl">
                    <dir
                      name="builtin"/>
                    <dir
                      name="streaming"/>
                    <dir
                      name="util">
                      <dir
                        name="avro"/>
                    </dir>
                  </dir>
                  <dir
                    name="newplan">
                    <dir
                      name="logical">
                      <dir
                        name="optimizer"/>
                      <dir
                        name="relational"/>
                    </dir>
                  </dir>
                  <dir
                    name="parser"/>
                  <dir
                    name="pigunit">
                    <dir
                      name="pig"/>
                  </dir>
                  <dir
                    name="spark"/>
                  <dir
                    name="test">
                    <dir
                      name="junit"/>
                    <dir
                      name="pigunit">
                      <dir
                        name="pig"/>
                    </dir>
                    <dir
                      name="utils">
                      <dir
                        name="dotGraph"/>
                      <dir
                        name="planComparer"/>
                    </dir>
                  </dir>
                  <dir
                    name="tez"/>
                  <dir
                    name="tools">
                    <dir
                      name="grunt"/>
                    <dir
                      name="parameters"/>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="perf">
              <dir
                name="pigmix">
                <dir
                  name="src">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="pig">
                          <dir
                            name="test">
                            <dir
                              name="pigmix">
                              <dir
                                name="datagen"/>
                              <dir
                                name="mapreduce"/>
                              <dir
                                name="udf"/>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="resources">
              <dir
                name="org">
                <dir
                  name="apache">
                  <dir
                    name="pig">
                    <dir
                      name="test"/>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="tutorial">
            <dir
              name="src">
              <dir
                name="org">
                <dir
                  name="apache">
                  <dir
                    name="pig">
                    <dir
                      name="tutorial"/>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
        </dir>
      </dir>
    </dir>
  </files>
  <languages>
    <language
      name="Java"/>
  </languages>
  <file_types/>
  <annotations_options/>
  <comparison_options
    comparison_db=""
    git_repo=""
    git_commit=""/>
  <imports/>
  <java_options
    count_javadoc_in_metrics="true"
    count_standard_in_max_inheritance="false"
    jni_kni_include_package_name="true"
    jni_kni_linkage_prepend_text="Java_"
    save_comments_associated_with_entities="true"
    version="Java10">
    <class_paths>
      <class_path
        path="C:/Program Files/Java/jdk-18.0.1.1/lib/src.zip"/>
      <class_path
        path="C:/Program Files/Java/jdk-18.0.1.1/jmods/java.base.jmod"/>
    </class_paths>
  </java_options>
</project>
