<project>
  <files
    portability_mode="relative"
    default_encoding="System"
    readonly="false"
    maxfilesize="10485760"
    enforce_portability="false">
    <dir
      name=".">
      <dir
        name="..">
        <dir
          name="cassandra">
          <watched
            subdirs="true">
            <filter
              name="Java"/>
          </watched>
          <dir
            name="doc">
            <dir
              name="modules">
              <dir
                name="cassandra">
                <dir
                  name="examples">
                  <dir
                    name="JAVA"/>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="examples">
            <dir
              name="ssl-factory">
              <dir
                name="src">
                <dir
                  name="org">
                  <dir
                    name="apache">
                    <dir
                      name="cassandra">
                      <dir
                        name="security"/>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="unit">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="cassandra">
                        <dir
                          name="security"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="triggers">
              <dir
                name="src">
                <dir
                  name="org">
                  <dir
                    name="apache">
                    <dir
                      name="cassandra">
                      <dir
                        name="triggers"/>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="src">
            <dir
              name="java">
              <dir
                name="com">
                <dir
                  name="datastax">
                  <dir
                    name="driver">
                    <dir
                      name="core"/>
                  </dir>
                </dir>
              </dir>
              <dir
                name="org">
                <dir
                  name="apache">
                  <dir
                    name="cassandra">
                    <dir
                      name="audit"/>
                    <dir
                      name="auth">
                      <dir
                        name="jmx"/>
                    </dir>
                    <dir
                      name="batchlog"/>
                    <dir
                      name="cache"/>
                    <dir
                      name="concurrent"/>
                    <dir
                      name="config"/>
                    <dir
                      name="cql3">
                      <dir
                        name="conditions"/>
                      <dir
                        name="functions">
                        <dir
                          name="types">
                          <dir
                            name="exceptions"/>
                          <dir
                            name="utils"/>
                        </dir>
                      </dir>
                      <dir
                        name="restrictions"/>
                      <dir
                        name="selection"/>
                      <dir
                        name="statements">
                        <dir
                          name="schema"/>
                      </dir>
                    </dir>
                    <dir
                      name="db">
                      <dir
                        name="aggregation"/>
                      <dir
                        name="columniterator"/>
                      <dir
                        name="commitlog"/>
                      <dir
                        name="compaction">
                        <dir
                          name="writers"/>
                      </dir>
                      <dir
                        name="context"/>
                      <dir
                        name="filter"/>
                      <dir
                        name="guardrails"/>
                      <dir
                        name="lifecycle"/>
                      <dir
                        name="marshal"/>
                      <dir
                        name="memtable"/>
                      <dir
                        name="monitoring"/>
                      <dir
                        name="partitions"/>
                      <dir
                        name="repair"/>
                      <dir
                        name="rows"/>
                      <dir
                        name="streaming"/>
                      <dir
                        name="transform"/>
                      <dir
                        name="view"/>
                      <dir
                        name="virtual"/>
                    </dir>
                    <dir
                      name="dht">
                      <dir
                        name="tokenallocator"/>
                    </dir>
                    <dir
                      name="diag">
                      <dir
                        name="store"/>
                    </dir>
                    <dir
                      name="exceptions"/>
                    <dir
                      name="fql"/>
                    <dir
                      name="gms"/>
                    <dir
                      name="hadoop">
                      <dir
                        name="cql3"/>
                    </dir>
                    <dir
                      name="hints"/>
                    <dir
                      name="index">
                      <dir
                        name="internal">
                        <dir
                          name="composites"/>
                        <dir
                          name="keys"/>
                      </dir>
                      <dir
                        name="sasi">
                        <dir
                          name="analyzer">
                          <dir
                            name="filter"/>
                        </dir>
                        <dir
                          name="conf">
                          <dir
                            name="view"/>
                        </dir>
                        <dir
                          name="disk"/>
                        <dir
                          name="exceptions"/>
                        <dir
                          name="memory"/>
                        <dir
                          name="plan"/>
                        <dir
                          name="sa"/>
                        <dir
                          name="utils">
                          <dir
                            name="trie"/>
                        </dir>
                      </dir>
                      <dir
                        name="transactions"/>
                    </dir>
                    <dir
                      name="io">
                      <dir
                        name="compress"/>
                      <dir
                        name="sstable">
                        <dir
                          name="format">
                          <dir
                            name="big"/>
                        </dir>
                        <dir
                          name="metadata"/>
                      </dir>
                      <dir
                        name="util"/>
                    </dir>
                    <dir
                      name="locator"/>
                    <dir
                      name="metrics"/>
                    <dir
                      name="net"/>
                    <dir
                      name="notifications"/>
                    <dir
                      name="repair">
                      <dir
                        name="asymmetric"/>
                      <dir
                        name="consistent">
                        <dir
                          name="admin"/>
                      </dir>
                      <dir
                        name="messages"/>
                      <dir
                        name="state"/>
                    </dir>
                    <dir
                      name="schema"/>
                    <dir
                      name="security"/>
                    <dir
                      name="serializers"/>
                    <dir
                      name="service">
                      <dir
                        name="disk">
                        <dir
                          name="usage"/>
                      </dir>
                      <dir
                        name="pager"/>
                      <dir
                        name="paxos">
                        <dir
                          name="cleanup"/>
                        <dir
                          name="uncommitted"/>
                        <dir
                          name="v1"/>
                      </dir>
                      <dir
                        name="reads">
                        <dir
                          name="range"/>
                        <dir
                          name="repair"/>
                        <dir
                          name="thresholds"/>
                      </dir>
                      <dir
                        name="snapshot"/>
                    </dir>
                    <dir
                      name="streaming">
                      <dir
                        name="async"/>
                      <dir
                        name="compress"/>
                      <dir
                        name="management"/>
                      <dir
                        name="messages"/>
                    </dir>
                    <dir
                      name="tools">
                      <dir
                        name="nodetool">
                        <dir
                          name="formatter"/>
                        <dir
                          name="stats"/>
                      </dir>
                    </dir>
                    <dir
                      name="tracing"/>
                    <dir
                      name="transport">
                      <dir
                        name="messages"/>
                    </dir>
                    <dir
                      name="triggers"/>
                    <dir
                      name="utils">
                      <dir
                        name="binlog"/>
                      <dir
                        name="btree"/>
                      <dir
                        name="bytecomparable"/>
                      <dir
                        name="caching"/>
                      <dir
                        name="concurrent"/>
                      <dir
                        name="logging"/>
                      <dir
                        name="memory"/>
                      <dir
                        name="obs"/>
                      <dir
                        name="progress">
                        <dir
                          name="jmx"/>
                      </dir>
                      <dir
                        name="streamhist"/>
                      <dir
                        name="vint"/>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="test">
            <dir
              name="anttasks"/>
            <dir
              name="burn">
              <dir
                name="org">
                <dir
                  name="apache">
                  <dir
                    name="cassandra">
                    <dir
                      name="concurrent"/>
                    <dir
                      name="net"/>
                    <dir
                      name="transport"/>
                    <dir
                      name="utils">
                      <dir
                        name="memory"/>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="distributed">
              <dir
                name="org">
                <dir
                  name="apache">
                  <dir
                    name="cassandra">
                    <dir
                      name="distributed">
                      <dir
                        name="action"/>
                      <dir
                        name="api"/>
                      <dir
                        name="fuzz">
                        <dir
                          name="test"/>
                      </dir>
                      <dir
                        name="impl"/>
                      <dir
                        name="mock">
                        <dir
                          name="nodetool"/>
                      </dir>
                      <dir
                        name="shared"/>
                      <dir
                        name="test">
                        <dir
                          name="cdc"/>
                        <dir
                          name="guardrails"/>
                        <dir
                          name="hostreplacement"/>
                        <dir
                          name="jmx"/>
                        <dir
                          name="metric"/>
                        <dir
                          name="metrics"/>
                        <dir
                          name="repair"/>
                        <dir
                          name="ring"/>
                        <dir
                          name="streaming"/>
                        <dir
                          name="thresholds"/>
                      </dir>
                      <dir
                        name="upgrade"/>
                      <dir
                        name="util"/>
                    </dir>
                    <dir
                      name="io">
                      <dir
                        name="sstable">
                        <dir
                          name="format"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="long">
              <dir
                name="org">
                <dir
                  name="apache">
                  <dir
                    name="cassandra">
                    <dir
                      name="cql3"/>
                    <dir
                      name="db">
                      <dir
                        name="commitlog"/>
                      <dir
                        name="compaction"/>
                    </dir>
                    <dir
                      name="dht">
                      <dir
                        name="tokenallocator"/>
                    </dir>
                    <dir
                      name="hints"/>
                    <dir
                      name="io">
                      <dir
                        name="compress"/>
                      <dir
                        name="sstable"/>
                    </dir>
                    <dir
                      name="locator"/>
                    <dir
                      name="streaming"/>
                    <dir
                      name="utils"/>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="memory">
              <dir
                name="org">
                <dir
                  name="apache">
                  <dir
                    name="cassandra">
                    <dir
                      name="db">
                      <dir
                        name="compaction"/>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="microbench">
              <dir
                name="org">
                <dir
                  name="apache">
                  <dir
                    name="cassandra">
                    <dir
                      name="test">
                      <dir
                        name="microbench">
                        <dir
                          name="btree"/>
                        <dir
                          name="instance"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="simulator">
              <dir
                name="asm">
                <dir
                  name="org">
                  <dir
                    name="apache">
                    <dir
                      name="cassandra">
                      <dir
                        name="simulator">
                        <dir
                          name="asm"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="bootstrap">
                <dir
                  name="org">
                  <dir
                    name="apache">
                    <dir
                      name="cassandra">
                      <dir
                        name="simulator">
                        <dir
                          name="systems"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="main">
                <dir
                  name="org">
                  <dir
                    name="apache">
                    <dir
                      name="cassandra">
                      <dir
                        name="simulator">
                        <dir
                          name="asm"/>
                        <dir
                          name="cluster"/>
                        <dir
                          name="debug"/>
                        <dir
                          name="paxos"/>
                        <dir
                          name="systems"/>
                        <dir
                          name="utils"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="org">
                  <dir
                    name="apache">
                    <dir
                      name="cassandra">
                      <dir
                        name="simulator">
                        <dir
                          name="test"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="unit">
              <dir
                name="org">
                <dir
                  name="apache">
                  <dir
                    name="cassandra">
                    <dir
                      name="audit"/>
                    <dir
                      name="auth">
                      <dir
                        name="jmx"/>
                    </dir>
                    <dir
                      name="batchlog"/>
                    <dir
                      name="cache"/>
                    <dir
                      name="concurrent"/>
                    <dir
                      name="config"/>
                    <dir
                      name="cql">
                      <dir
                        name="jdbc"/>
                    </dir>
                    <dir
                      name="cql3">
                      <dir
                        name="conditions"/>
                      <dir
                        name="functions"/>
                      <dir
                        name="restrictions"/>
                      <dir
                        name="selection"/>
                      <dir
                        name="statements"/>
                      <dir
                        name="validation">
                        <dir
                          name="entities">
                          <dir
                            name="udfverify"/>
                        </dir>
                        <dir
                          name="miscellaneous"/>
                        <dir
                          name="operations"/>
                      </dir>
                    </dir>
                    <dir
                      name="db">
                      <dir
                        name="aggregation"/>
                      <dir
                        name="columniterator"/>
                      <dir
                        name="commitlog"/>
                      <dir
                        name="compaction">
                        <dir
                          name="writers"/>
                      </dir>
                      <dir
                        name="composites"/>
                      <dir
                        name="context"/>
                      <dir
                        name="filter"/>
                      <dir
                        name="guardrails"/>
                      <dir
                        name="lifecycle"/>
                      <dir
                        name="marshal"/>
                      <dir
                        name="memtable"/>
                      <dir
                        name="monitoring"/>
                      <dir
                        name="partition"/>
                      <dir
                        name="partitions"/>
                      <dir
                        name="repair"/>
                      <dir
                        name="rows"/>
                      <dir
                        name="streaming"/>
                      <dir
                        name="transform"/>
                      <dir
                        name="view"/>
                      <dir
                        name="virtual"/>
                    </dir>
                    <dir
                      name="dht">
                      <dir
                        name="tokenallocator"/>
                    </dir>
                    <dir
                      name="diag">
                      <dir
                        name="store"/>
                    </dir>
                    <dir
                      name="fql"/>
                    <dir
                      name="gms"/>
                    <dir
                      name="hints"/>
                    <dir
                      name="index">
                      <dir
                        name="internal"/>
                      <dir
                        name="sasi">
                        <dir
                          name="analyzer"/>
                        <dir
                          name="conf"/>
                        <dir
                          name="disk"/>
                        <dir
                          name="plan"/>
                        <dir
                          name="utils"/>
                      </dir>
                    </dir>
                    <dir
                      name="io">
                      <dir
                        name="compress"/>
                      <dir
                        name="sstable">
                        <dir
                          name="format">
                          <dir
                            name="big"/>
                        </dir>
                        <dir
                          name="metadata"/>
                      </dir>
                      <dir
                        name="util"/>
                    </dir>
                    <dir
                      name="locator"/>
                    <dir
                      name="metrics"/>
                    <dir
                      name="net">
                      <dir
                        name="proxy"/>
                    </dir>
                    <dir
                      name="repair">
                      <dir
                        name="asymmetric"/>
                      <dir
                        name="consistent">
                        <dir
                          name="admin"/>
                      </dir>
                      <dir
                        name="messages"/>
                    </dir>
                    <dir
                      name="schema"/>
                    <dir
                      name="security"/>
                    <dir
                      name="serializers"/>
                    <dir
                      name="service">
                      <dir
                        name="pager"/>
                      <dir
                        name="paxos">
                        <dir
                          name="cleanup"/>
                        <dir
                          name="uncommitted"/>
                      </dir>
                      <dir
                        name="reads">
                        <dir
                          name="range"/>
                        <dir
                          name="repair"/>
                        <dir
                          name="thresholds"/>
                      </dir>
                      <dir
                        name="snapshot"/>
                    </dir>
                    <dir
                      name="streaming">
                      <dir
                        name="async"/>
                      <dir
                        name="compression"/>
                      <dir
                        name="messages"/>
                    </dir>
                    <dir
                      name="tools">
                      <dir
                        name="cassandrastress"/>
                      <dir
                        name="cqlsh"/>
                      <dir
                        name="nodetool">
                        <dir
                          name="formatter"/>
                        <dir
                          name="stats"/>
                      </dir>
                    </dir>
                    <dir
                      name="tracing"/>
                    <dir
                      name="transport">
                      <dir
                        name="messages"/>
                    </dir>
                    <dir
                      name="triggers"/>
                    <dir
                      name="utils">
                      <dir
                        name="asserts"/>
                      <dir
                        name="binlog"/>
                      <dir
                        name="btree"/>
                      <dir
                        name="bytecomparable"/>
                      <dir
                        name="concurrent"/>
                      <dir
                        name="memory"/>
                      <dir
                        name="obs"/>
                      <dir
                        name="streamhist"/>
                      <dir
                        name="vint"/>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="tools">
            <dir
              name="fqltool">
              <dir
                name="src">
                <dir
                  name="org">
                  <dir
                    name="apache">
                    <dir
                      name="cassandra">
                      <dir
                        name="fqltool">
                        <dir
                          name="commands"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="unit">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="cassandra">
                        <dir
                          name="fqltool"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="stress">
              <dir
                name="src">
                <dir
                  name="org">
                  <dir
                    name="apache">
                    <dir
                      name="cassandra">
                      <dir
                        name="io">
                        <dir
                          name="sstable"/>
                      </dir>
                      <dir
                        name="stress">
                        <dir
                          name="generate">
                          <dir
                            name="values"/>
                        </dir>
                        <dir
                          name="operations">
                          <dir
                            name="predefined"/>
                          <dir
                            name="userdefined"/>
                        </dir>
                        <dir
                          name="report"/>
                        <dir
                          name="settings"/>
                        <dir
                          name="util"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="unit">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="cassandra">
                        <dir
                          name="stress">
                          <dir
                            name="generate"/>
                          <dir
                            name="settings"/>
                          <dir
                            name="util"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
        </dir>
      </dir>
    </dir>
  </files>
  <languages>
    <language
      name="Java"/>
  </languages>
  <file_types/>
  <annotations_options/>
  <comparison_options
    comparison_db=""
    git_repo=""
    git_commit=""/>
  <imports/>
  <java_options
    count_javadoc_in_metrics="true"
    count_standard_in_max_inheritance="false"
    jni_kni_include_package_name="true"
    jni_kni_linkage_prepend_text="Java_"
    save_comments_associated_with_entities="true"
    version="Java10">
    <class_paths>
      <class_path
        path="C:/Program Files/Java/jdk-18.0.1.1/lib/src.zip"/>
      <class_path
        path="C:/Program Files/Java/jdk-18.0.1.1/jmods/java.base.jmod"/>
    </class_paths>
  </java_options>
</project>
