<project>
  <files
    portability_mode="relative"
    default_encoding="System"
    readonly="false"
    maxfilesize="10485760"
    enforce_portability="false">
    <dir
      name=".">
      <dir
        name="..">
        <dir
          name="jakarta-cactus">
          <watched
            subdirs="true">
            <filter
              name="Java"/>
          </watched>
          <dir
            name="framework">
            <dir
              name="framework-12-13-14">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="cactus">
                          <dir
                            name="client">
                            <dir
                              name="authentication"/>
                          </dir>
                          <dir
                            name="internal">
                            <dir
                              name="client">
                              <dir
                                name="connector">
                                <dir
                                  name="http"/>
                              </dir>
                              <dir
                                name="jms"/>
                            </dir>
                            <dir
                              name="configuration"/>
                            <dir
                              name="server">
                              <dir
                                name="runner"/>
                            </dir>
                            <dir
                              name="util"/>
                          </dir>
                          <dir
                            name="server">
                            <dir
                              name="runner"/>
                          </dir>
                          <dir
                            name="spi">
                            <dir
                              name="client">
                              <dir
                                name="connector"/>
                            </dir>
                            <dir
                              name="server"/>
                          </dir>
                          <dir
                            name="util"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
                <dir
                  name="test">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="cactus">
                          <dir
                            name="internal">
                            <dir
                              name="client"/>
                            <dir
                              name="server">
                              <dir
                                name="runner"/>
                            </dir>
                            <dir
                              name="util"/>
                          </dir>
                          <dir
                            name="mock"/>
                          <dir
                            name="server">
                            <dir
                              name="runner"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="framework-13-14">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="cactus">
                          <dir
                            name="extension">
                            <dir
                              name="jetty"/>
                            <dir
                              name="jsp"/>
                          </dir>
                          <dir
                            name="internal">
                            <dir
                              name="configuration"/>
                            <dir
                              name="server"/>
                          </dir>
                          <dir
                            name="server"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
                <dir
                  name="test">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="cactus">
                          <dir
                            name="extension">
                            <dir
                              name="jetty"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="framework-wrappers">
              <dir
                name="wrapper-javaEE-12">
                <dir
                  name="src">
                  <dir
                    name="main">
                    <dir
                      name="java">
                      <dir
                        name="org">
                        <dir
                          name="apache">
                          <dir
                            name="cactus">
                            <dir
                              name="server"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                  <dir
                    name="test">
                    <dir
                      name="java">
                      <dir
                        name="org">
                        <dir
                          name="apache">
                          <dir
                            name="cactus"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="wrapper-javaEE-13">
                <dir
                  name="src">
                  <dir
                    name="main">
                    <dir
                      name="java">
                      <dir
                        name="org">
                        <dir
                          name="apache">
                          <dir
                            name="cactus">
                            <dir
                              name="server"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="wrapper-javaEE-14">
                <dir
                  name="src">
                  <dir
                    name="main">
                    <dir
                      name="java">
                      <dir
                        name="org">
                        <dir
                          name="apache">
                          <dir
                            name="cactus">
                            <dir
                              name="server"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="integration">
            <dir
              name="ant">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="cactus">
                          <dir
                            name="integration">
                            <dir
                              name="ant">
                              <dir
                                name="container"/>
                              <dir
                                name="util"/>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
                <dir
                  name="test">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="cactus">
                          <dir
                            name="integration">
                            <dir
                              name="ant">
                              <dir
                                name="deployment">
                                <dir
                                  name="application"/>
                                <dir
                                  name="webapp"/>
                              </dir>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="maven">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="cactus">
                          <dir
                            name="integration">
                            <dir
                              name="maven"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
                <dir
                  name="plugin-test">
                  <dir
                    name="testCactusSysProperties">
                    <dir
                      name="src">
                      <dir
                        name="test-cactus">
                        <dir
                          name="org">
                          <dir
                            name="apache">
                            <dir
                              name="cactus">
                              <dir
                                name="integration">
                                <dir
                                  name="maven">
                                  <dir
                                    name="test"/>
                                </dir>
                              </dir>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                  <dir
                    name="testCactusTestSkip">
                    <dir
                      name="src">
                      <dir
                        name="test">
                        <dir
                          name="org">
                          <dir
                            name="apache">
                            <dir
                              name="cactus">
                              <dir
                                name="integration">
                                <dir
                                  name="maven">
                                  <dir
                                    name="test"/>
                                </dir>
                              </dir>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                  <dir
                    name="testIncludeResources">
                    <dir
                      name="src">
                      <dir
                        name="test-cactus">
                        <dir
                          name="org">
                          <dir
                            name="apache">
                            <dir
                              name="integration">
                              <dir
                                name="maven">
                                <dir
                                  name="test"/>
                              </dir>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                  <dir
                    name="testMultipleSrcDir">
                    <dir
                      name="src">
                      <dir
                        name="test">
                        <dir
                          name="org">
                          <dir
                            name="apache">
                            <dir
                              name="cactus">
                              <dir
                                name="integration">
                                <dir
                                  name="maven">
                                  <dir
                                    name="test"/>
                                </dir>
                              </dir>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                      <dir
                        name="test-2">
                        <dir
                          name="org">
                          <dir
                            name="apache">
                            <dir
                              name="cactus">
                              <dir
                                name="integration">
                                <dir
                                  name="maven">
                                  <dir
                                    name="test"/>
                                </dir>
                              </dir>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                      <dir
                        name="test-3">
                        <dir
                          name="org">
                          <dir
                            name="apache">
                            <dir
                              name="cactus">
                              <dir
                                name="integration">
                                <dir
                                  name="maven">
                                  <dir
                                    name="test"/>
                                </dir>
                              </dir>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="maven2">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="cactus">
                          <dir
                            name="maven2">
                            <dir
                              name="mojos"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
                <dir
                  name="test">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="cactus">
                          <dir
                            name="integration">
                            <dir
                              name="maven2">
                              <dir
                                name="test"/>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="shared-api">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="cactus">
                          <dir
                            name="container"/>
                          <dir
                            name="integration">
                            <dir
                              name="api">
                              <dir
                                name="cactify"/>
                              <dir
                                name="deployable"/>
                              <dir
                                name="exceptions"/>
                              <dir
                                name="version"/>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="samples">
            <dir
              name="ejb">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="cactus">
                          <dir
                            name="sample">
                            <dir
                              name="ejb"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
                <dir
                  name="test">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="cactus">
                          <dir
                            name="sample">
                            <dir
                              name="ejb"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="ejb3">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="cactus">
                          <dir
                            name="sample">
                            <dir
                              name="ejb3"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
                <dir
                  name="test">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="cactus">
                          <dir
                            name="sample">
                            <dir
                              name="ejb3"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="jetty">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="cactus">
                          <dir
                            name="sample">
                            <dir
                              name="jetty"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="servlet">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="cactus">
                          <dir
                            name="sample">
                            <dir
                              name="servlet">
                              <dir
                                name="util"/>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
                <dir
                  name="test">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="cactus">
                          <dir
                            name="sample">
                            <dir
                              name="servlet">
                              <dir
                                name="unit"/>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
        </dir>
      </dir>
    </dir>
  </files>
  <languages>
    <language
      name="Java"/>
  </languages>
  <file_types/>
  <annotations_options/>
  <comparison_options
    comparison_db=""
    git_repo=""
    git_commit=""/>
  <imports/>
  <java_options
    count_javadoc_in_metrics="true"
    count_standard_in_max_inheritance="false"
    jni_kni_include_package_name="true"
    jni_kni_linkage_prepend_text="Java_"
    save_comments_associated_with_entities="true"
    version="Java10">
    <class_paths>
      <class_path
        path="C:/Program Files/Java/jdk-18.0.1.1/lib/src.zip"/>
      <class_path
        path="C:/Program Files/Java/jdk-18.0.1.1/jmods/java.base.jmod"/>
    </class_paths>
  </java_options>
</project>
