<project>
  <files
    portability_mode="relative"
    default_encoding="System"
    readonly="false"
    maxfilesize="10485760"
    enforce_portability="false">
    <dir
      name=".">
      <dir
        name="..">
        <dir
          name="carbondata">
          <watched
            subdirs="true">
            <filter
              name="Java"/>
          </watched>
          <dir
            name="common">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="carbondata">
                        <dir
                          name="common">
                          <dir
                            name="annotations"/>
                          <dir
                            name="constants"/>
                          <dir
                            name="exceptions">
                            <dir
                              name="sql"/>
                          </dir>
                          <dir
                            name="logging">
                            <dir
                              name="impl"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="carbondata">
                        <dir
                          name="common">
                          <dir
                            name="logging">
                            <dir
                              name="impl"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="core">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="carbondata">
                        <dir
                          name="core">
                          <dir
                            name="cache">
                            <dir
                              name="dictionary"/>
                          </dir>
                          <dir
                            name="constants"/>
                          <dir
                            name="datastore">
                            <dir
                              name="block"/>
                            <dir
                              name="blocklet"/>
                            <dir
                              name="chunk">
                              <dir
                                name="impl"/>
                              <dir
                                name="reader">
                                <dir
                                  name="dimension">
                                  <dir
                                    name="v3"/>
                                </dir>
                                <dir
                                  name="measure">
                                  <dir
                                    name="v3"/>
                                </dir>
                              </dir>
                              <dir
                                name="store">
                                <dir
                                  name="impl">
                                  <dir
                                    name="safe"/>
                                  <dir
                                    name="unsafe"/>
                                </dir>
                              </dir>
                            </dir>
                            <dir
                              name="columnar"/>
                            <dir
                              name="compression"/>
                            <dir
                              name="exception"/>
                            <dir
                              name="filesystem"/>
                            <dir
                              name="impl"/>
                            <dir
                              name="page">
                              <dir
                                name="encoding">
                                <dir
                                  name="adaptive"/>
                                <dir
                                  name="bool"/>
                                <dir
                                  name="compress"/>
                                <dir
                                  name="dimension">
                                  <dir
                                    name="legacy"/>
                                </dir>
                                <dir
                                  name="rle"/>
                              </dir>
                              <dir
                                name="statistics"/>
                            </dir>
                            <dir
                              name="row"/>
                          </dir>
                          <dir
                            name="devapi"/>
                          <dir
                            name="enums"/>
                          <dir
                            name="exception"/>
                          <dir
                            name="features"/>
                          <dir
                            name="fileoperations"/>
                          <dir
                            name="index">
                            <dir
                              name="dev">
                              <dir
                                name="cgindex"/>
                              <dir
                                name="expr"/>
                              <dir
                                name="fgindex"/>
                            </dir>
                            <dir
                              name="secondaryindex"/>
                            <dir
                              name="status"/>
                          </dir>
                          <dir
                            name="indexstore">
                            <dir
                              name="blockletindex"/>
                            <dir
                              name="row"/>
                            <dir
                              name="schema"/>
                          </dir>
                          <dir
                            name="keygenerator">
                            <dir
                              name="directdictionary">
                              <dir
                                name="timestamp"/>
                            </dir>
                            <dir
                              name="factory"/>
                            <dir
                              name="mdkey"/>
                          </dir>
                          <dir
                            name="localdictionary">
                            <dir
                              name="dictionaryholder"/>
                            <dir
                              name="exception"/>
                            <dir
                              name="generator"/>
                          </dir>
                          <dir
                            name="locks"/>
                          <dir
                            name="memory"/>
                          <dir
                            name="metadata">
                            <dir
                              name="blocklet">
                              <dir
                                name="index"/>
                            </dir>
                            <dir
                              name="converter"/>
                            <dir
                              name="datatype"/>
                            <dir
                              name="encoder"/>
                            <dir
                              name="index"/>
                            <dir
                              name="schema">
                              <dir
                                name="index"/>
                              <dir
                                name="indextable"/>
                              <dir
                                name="partition"/>
                              <dir
                                name="table">
                                <dir
                                  name="column"/>
                              </dir>
                            </dir>
                          </dir>
                          <dir
                            name="mutate">
                            <dir
                              name="data"/>
                          </dir>
                          <dir
                            name="preagg"/>
                          <dir
                            name="profiler"/>
                          <dir
                            name="range"/>
                          <dir
                            name="readcommitter"/>
                          <dir
                            name="reader"/>
                          <dir
                            name="scan">
                            <dir
                              name="collector">
                              <dir
                                name="impl"/>
                            </dir>
                            <dir
                              name="complextypes"/>
                            <dir
                              name="executor">
                              <dir
                                name="exception"/>
                              <dir
                                name="impl"/>
                              <dir
                                name="infos"/>
                              <dir
                                name="util"/>
                            </dir>
                            <dir
                              name="expression">
                              <dir
                                name="conditional"/>
                              <dir
                                name="exception"/>
                              <dir
                                name="logical"/>
                            </dir>
                            <dir
                              name="filter">
                              <dir
                                name="executer"/>
                              <dir
                                name="intf"/>
                              <dir
                                name="optimizer"/>
                              <dir
                                name="resolver">
                                <dir
                                  name="metadata"/>
                                <dir
                                  name="resolverinfo">
                                  <dir
                                    name="visitor"/>
                                </dir>
                              </dir>
                            </dir>
                            <dir
                              name="model"/>
                            <dir
                              name="processor"/>
                            <dir
                              name="result">
                              <dir
                                name="impl"/>
                              <dir
                                name="iterator"/>
                              <dir
                                name="vector">
                                <dir
                                  name="impl">
                                  <dir
                                    name="directread"/>
                                </dir>
                              </dir>
                            </dir>
                            <dir
                              name="scanner">
                              <dir
                                name="impl"/>
                            </dir>
                            <dir
                              name="wrappers"/>
                          </dir>
                          <dir
                            name="segmentmeta"/>
                          <dir
                            name="service">
                            <dir
                              name="impl"/>
                          </dir>
                          <dir
                            name="stats"/>
                          <dir
                            name="statusmanager"/>
                          <dir
                            name="stream"/>
                          <dir
                            name="util">
                            <dir
                              name="annotations"/>
                            <dir
                              name="comparator"/>
                            <dir
                              name="path"/>
                          </dir>
                          <dir
                            name="view"/>
                          <dir
                            name="writer"/>
                        </dir>
                        <dir
                          name="events"/>
                        <dir
                          name="hadoop">
                          <dir
                            name="internal">
                            <dir
                              name="index"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="carbondata">
                        <dir
                          name="core">
                          <dir
                            name="cache">
                            <dir
                              name="dictionary"/>
                          </dir>
                          <dir
                            name="carbon">
                            <dir
                              name="datastorage">
                              <dir
                                name="filesystem">
                                <dir
                                  name="store">
                                  <dir
                                    name="impl"/>
                                </dir>
                              </dir>
                            </dir>
                          </dir>
                          <dir
                            name="constants"/>
                          <dir
                            name="datastore">
                            <dir
                              name="block"/>
                            <dir
                              name="chunk">
                              <dir
                                name="impl"/>
                            </dir>
                            <dir
                              name="filesystem"/>
                            <dir
                              name="page">
                              <dir
                                name="encoding"/>
                            </dir>
                          </dir>
                          <dir
                            name="indexstore">
                            <dir
                              name="blockletindex"/>
                          </dir>
                          <dir
                            name="keygenerator">
                            <dir
                              name="directdictionary"/>
                            <dir
                              name="mdkey"/>
                          </dir>
                          <dir
                            name="load"/>
                          <dir
                            name="localdictionary"/>
                          <dir
                            name="locks"/>
                          <dir
                            name="memory"/>
                          <dir
                            name="metadata">
                            <dir
                              name="converter"/>
                            <dir
                              name="schema">
                              <dir
                                name="table"/>
                            </dir>
                          </dir>
                          <dir
                            name="reader"/>
                          <dir
                            name="scan">
                            <dir
                              name="complextypes"/>
                            <dir
                              name="executor">
                              <dir
                                name="util"/>
                            </dir>
                            <dir
                              name="expression">
                              <dir
                                name="conditional"/>
                              <dir
                                name="logical"/>
                            </dir>
                            <dir
                              name="filter">
                              <dir
                                name="executer"/>
                            </dir>
                            <dir
                              name="result"/>
                            <dir
                              name="wrappers"/>
                          </dir>
                          <dir
                            name="stats"/>
                          <dir
                            name="util">
                            <dir
                              name="path"/>
                          </dir>
                          <dir
                            name="writer"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="examples">
            <dir
              name="spark">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="carbondata">
                          <dir
                            name="examples">
                            <dir
                              name="sdk"/>
                            <dir
                              name="sql"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="geo">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="carbondata">
                        <dir
                          name="geo">
                          <dir
                            name="scan">
                            <dir
                              name="expression"/>
                            <dir
                              name="filter">
                              <dir
                                name="executor"/>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="carbondata">
                        <dir
                          name="geo"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="hadoop">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="carbondata">
                        <dir
                          name="hadoop">
                          <dir
                            name="api"/>
                          <dir
                            name="readsupport">
                            <dir
                              name="impl"/>
                          </dir>
                          <dir
                            name="stream"/>
                          <dir
                            name="testutil"/>
                          <dir
                            name="util"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="carbondata">
                        <dir
                          name="hadoop">
                          <dir
                            name="ft"/>
                          <dir
                            name="test">
                            <dir
                              name="util"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="index">
            <dir
              name="bloom">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="carbondata">
                          <dir
                            name="index">
                            <dir
                              name="bloom"/>
                          </dir>
                        </dir>
                        <dir
                          name="hadoop">
                          <dir
                            name="util">
                            <dir
                              name="bloom"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="examples">
              <dir
                name="src">
                <dir
                  name="minmaxindex">
                  <dir
                    name="main">
                    <dir
                      name="java">
                      <dir
                        name="org">
                        <dir
                          name="apache">
                          <dir
                            name="carbondata">
                            <dir
                              name="index">
                              <dir
                                name="examples"/>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="lucene">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="carbondata">
                          <dir
                            name="index">
                            <dir
                              name="lucene"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="integration">
            <dir
              name="flink">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="carbon">
                          <dir
                            name="core">
                            <dir
                              name="metadata"/>
                          </dir>
                          <dir
                            name="flink"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="flink-proxy">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="carbon">
                          <dir
                            name="flink"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="hive">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="carbondata">
                          <dir
                            name="hive">
                            <dir
                              name="test">
                              <dir
                                name="server"/>
                            </dir>
                            <dir
                              name="util"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
                <dir
                  name="test">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="carbondata">
                          <dir
                            name="hive"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="presto">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="carbondata">
                          <dir
                            name="presto">
                            <dir
                              name="impl"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                  <dir
                    name="prestodb">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="carbondata">
                          <dir
                            name="presto">
                            <dir
                              name="impl"/>
                            <dir
                              name="readers"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                  <dir
                    name="prestosql">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="carbondata">
                          <dir
                            name="presto">
                            <dir
                              name="impl"/>
                            <dir
                              name="readers"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="spark">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="carbondata">
                          <dir
                            name="converter"/>
                          <dir
                            name="index"/>
                          <dir
                            name="spark">
                            <dir
                              name="exception"/>
                            <dir
                              name="load"/>
                            <dir
                              name="readsupport"/>
                            <dir
                              name="util"/>
                            <dir
                              name="vectorreader"/>
                          </dir>
                          <dir
                            name="stream"/>
                        </dir>
                        <dir
                          name="spark">
                          <dir
                            name="sql">
                            <dir
                              name="index"/>
                            <dir
                              name="merge">
                              <dir
                                name="model"/>
                            </dir>
                            <dir
                              name="secondaryindex">
                              <dir
                                name="exception"/>
                              <dir
                                name="jobs"/>
                              <dir
                                name="load"/>
                              <dir
                                name="query"/>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                  <dir
                    name="scala">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="carbondata">
                          <dir
                            name="index">
                            <dir
                              name="secondary"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
                <dir
                  name="test">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="carbondata">
                          <dir
                            name="sdk">
                            <dir
                              name="util"/>
                          </dir>
                          <dir
                            name="stream"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="target">
                <dir
                  name="generated-sources">
                  <dir
                    name="antlr4">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="spark">
                          <dir
                            name="sql">
                            <dir
                              name="parser"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="processing">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="carbondata">
                        <dir
                          name="processing">
                          <dir
                            name="datatypes"/>
                          <dir
                            name="exception"/>
                          <dir
                            name="index"/>
                          <dir
                            name="loading">
                            <dir
                              name="complexobjects"/>
                            <dir
                              name="constants"/>
                            <dir
                              name="converter">
                              <dir
                                name="impl">
                                <dir
                                  name="binary"/>
                              </dir>
                            </dir>
                            <dir
                              name="csvinput"/>
                            <dir
                              name="dictionary"/>
                            <dir
                              name="events"/>
                            <dir
                              name="exception"/>
                            <dir
                              name="iterator"/>
                            <dir
                              name="jsoninput"/>
                            <dir
                              name="model"/>
                            <dir
                              name="parser">
                              <dir
                                name="impl"/>
                            </dir>
                            <dir
                              name="partition">
                              <dir
                                name="impl"/>
                            </dir>
                            <dir
                              name="row"/>
                            <dir
                              name="sort">
                              <dir
                                name="impl"/>
                              <dir
                                name="unsafe">
                                <dir
                                  name="comparator"/>
                                <dir
                                  name="holder"/>
                                <dir
                                  name="merger"/>
                                <dir
                                  name="sort"/>
                              </dir>
                            </dir>
                            <dir
                              name="steps"/>
                          </dir>
                          <dir
                            name="merger"/>
                          <dir
                            name="sort">
                            <dir
                              name="exception"/>
                            <dir
                              name="sortdata"/>
                          </dir>
                          <dir
                            name="store">
                            <dir
                              name="writer">
                              <dir
                                name="v3"/>
                            </dir>
                          </dir>
                          <dir
                            name="util"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="carbondata">
                        <dir
                          name="core">
                          <dir
                            name="keygenerator">
                            <dir
                              name="directdictionary">
                              <dir
                                name="timestamp"/>
                            </dir>
                          </dir>
                        </dir>
                        <dir
                          name="lcm">
                          <dir
                            name="locks"/>
                        </dir>
                        <dir
                          name="processing">
                          <dir
                            name="loading">
                            <dir
                              name="csvinput"/>
                            <dir
                              name="partition">
                              <dir
                                name="impl"/>
                            </dir>
                          </dir>
                          <dir
                            name="sort">
                            <dir
                              name="sortdata"/>
                          </dir>
                          <dir
                            name="util"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="sdk">
            <dir
              name="sdk">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="carbondata">
                          <dir
                            name="sdk">
                            <dir
                              name="file">
                              <dir
                                name="arrow"/>
                              <dir
                                name="cache"/>
                              <dir
                                name="utils"/>
                            </dir>
                          </dir>
                          <dir
                            name="store"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
                <dir
                  name="test">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="carbondata">
                          <dir
                            name="sdk">
                            <dir
                              name="file"/>
                          </dir>
                          <dir
                            name="store"/>
                          <dir
                            name="util"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="streaming">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="carbondata">
                        <dir
                          name="streaming">
                          <dir
                            name="index"/>
                          <dir
                            name="parser"/>
                          <dir
                            name="segment"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="carbondata">
                        <dir
                          name="streaming"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="tools">
            <dir
              name="cli">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="carbondata">
                          <dir
                            name="tool"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
                <dir
                  name="test">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="carbondata">
                          <dir
                            name="tool"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
        </dir>
      </dir>
    </dir>
  </files>
  <languages>
    <language
      name="Java"/>
  </languages>
  <file_types/>
  <annotations_options/>
  <comparison_options
    comparison_db=""
    git_repo=""
    git_commit=""/>
  <imports/>
  <java_options
    count_javadoc_in_metrics="true"
    count_standard_in_max_inheritance="false"
    jni_kni_include_package_name="true"
    jni_kni_linkage_prepend_text="Java_"
    save_comments_associated_with_entities="true"
    version="Java10">
    <class_paths>
      <class_path
        path="C:/Program Files/Java/jdk-18.0.1.1/lib/src.zip"/>
      <class_path
        path="C:/Program Files/Java/jdk-18.0.1.1/jmods/java.base.jmod"/>
    </class_paths>
  </java_options>
</project>
