<project>
  <files
    portability_mode="relative"
    default_encoding="System"
    readonly="false"
    maxfilesize="10485760"
    enforce_portability="false">
    <dir
      name=".">
      <dir
        name="..">
        <dir
          name="synapse">
          <watched
            subdirs="true">
            <filter
              name="Java"/>
          </watched>
          <dir
            name="modules">
            <dir
              name="commons">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="synapse">
                          <dir
                            name="commons">
                            <dir
                              name="beanstalk">
                              <dir
                                name="enterprise"/>
                            </dir>
                            <dir
                              name="builders"/>
                            <dir
                              name="datasource">
                              <dir
                                name="factory"/>
                              <dir
                                name="serializer"/>
                            </dir>
                            <dir
                              name="evaluators">
                              <dir
                                name="config"/>
                              <dir
                                name="source"/>
                            </dir>
                            <dir
                              name="executors">
                              <dir
                                name="config"/>
                              <dir
                                name="queues"/>
                            </dir>
                            <dir
                              name="jmx"/>
                            <dir
                              name="snmp"/>
                            <dir
                              name="util"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
                <dir
                  name="test">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="synapse">
                          <dir
                            name="commons">
                            <dir
                              name="evaluators">
                              <dir
                                name="config"/>
                              <dir
                                name="source"/>
                            </dir>
                            <dir
                              name="executors">
                              <dir
                                name="queues"/>
                            </dir>
                          </dir>
                          <dir
                            name="util"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="core">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="synapse">
                          <dir
                            name="aspects">
                            <dir
                              name="statistics">
                              <dir
                                name="mbean"/>
                              <dir
                                name="view"/>
                            </dir>
                          </dir>
                          <dir
                            name="config">
                            <dir
                              name="xml">
                              <dir
                                name="endpoints">
                                <dir
                                  name="utils"/>
                              </dir>
                              <dir
                                name="eventing"/>
                              <dir
                                name="rest"/>
                            </dir>
                          </dir>
                          <dir
                            name="core">
                            <dir
                              name="axis2"/>
                            <dir
                              name="relay"/>
                          </dir>
                          <dir
                            name="deployers"/>
                          <dir
                            name="endpoints">
                            <dir
                              name="algorithms"/>
                            <dir
                              name="dispatch"/>
                          </dir>
                          <dir
                            name="eventing">
                            <dir
                              name="builders"/>
                            <dir
                              name="filters"/>
                            <dir
                              name="managers"/>
                          </dir>
                          <dir
                            name="libraries">
                            <dir
                              name="eip"/>
                            <dir
                              name="imports"/>
                            <dir
                              name="model"/>
                            <dir
                              name="util"/>
                          </dir>
                          <dir
                            name="mediators">
                            <dir
                              name="annotations"/>
                            <dir
                              name="base"/>
                            <dir
                              name="bean">
                              <dir
                                name="enterprise"/>
                            </dir>
                            <dir
                              name="builtin"/>
                            <dir
                              name="db"/>
                            <dir
                              name="eip">
                              <dir
                                name="aggregator"/>
                              <dir
                                name="sample"/>
                              <dir
                                name="splitter"/>
                            </dir>
                            <dir
                              name="elementary"/>
                            <dir
                              name="eventing"/>
                            <dir
                              name="ext"/>
                            <dir
                              name="filters">
                              <dir
                                name="router"/>
                            </dir>
                            <dir
                              name="store"/>
                            <dir
                              name="template"/>
                            <dir
                              name="transaction"/>
                            <dir
                              name="transform">
                              <dir
                                name="url"/>
                            </dir>
                          </dir>
                          <dir
                            name="message">
                            <dir
                              name="processors">
                              <dir
                                name="forward"/>
                              <dir
                                name="resequence"/>
                              <dir
                                name="sampler"/>
                            </dir>
                            <dir
                              name="store"/>
                          </dir>
                          <dir
                            name="metrics"/>
                          <dir
                            name="registry">
                            <dir
                              name="url"/>
                          </dir>
                          <dir
                            name="rest">
                            <dir
                              name="dispatch"/>
                            <dir
                              name="version"/>
                          </dir>
                          <dir
                            name="startup">
                            <dir
                              name="quartz"/>
                            <dir
                              name="tasks"/>
                          </dir>
                          <dir
                            name="util">
                            <dir
                              name="concurrent"/>
                            <dir
                              name="jaxp"/>
                            <dir
                              name="resolver"/>
                            <dir
                              name="xpath">
                              <dir
                                name="ext"/>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
                <dir
                  name="test">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="synapse">
                          <dir
                            name="config">
                            <dir
                              name="xml">
                              <dir
                                name="endpoints"/>
                              <dir
                                name="rest"/>
                              <dir
                                name="templates"/>
                            </dir>
                          </dir>
                          <dir
                            name="core">
                            <dir
                              name="axis2"/>
                          </dir>
                          <dir
                            name="endpoints">
                            <dir
                              name="algorithms"/>
                            <dir
                              name="dispatch"/>
                          </dir>
                          <dir
                            name="eventing">
                            <dir
                              name="builders"/>
                            <dir
                              name="filters"/>
                          </dir>
                          <dir
                            name="libraries">
                            <dir
                              name="eip"/>
                            <dir
                              name="util"/>
                          </dir>
                          <dir
                            name="mediators">
                            <dir
                              name="base"/>
                            <dir
                              name="bean"/>
                            <dir
                              name="builtin"/>
                            <dir
                              name="db"/>
                            <dir
                              name="eip"/>
                            <dir
                              name="elementary"/>
                            <dir
                              name="ext"/>
                            <dir
                              name="filters"/>
                            <dir
                              name="transform">
                              <dir
                                name="url"/>
                            </dir>
                          </dir>
                          <dir
                            name="message">
                            <dir
                              name="store"/>
                          </dir>
                          <dir
                            name="n2n"/>
                          <dir
                            name="registry">
                            <dir
                              name="url"/>
                          </dir>
                          <dir
                            name="rest"/>
                          <dir
                            name="util">
                            <dir
                              name="xpath"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="experimental">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="synapse">
                          <dir
                            name="experimental">
                            <dir
                              name="mediators">
                              <dir
                                name="seda"/>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="extensions">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="synapse">
                          <dir
                            name="format">
                            <dir
                              name="hessian"/>
                            <dir
                              name="syslog"/>
                          </dir>
                          <dir
                            name="mediators">
                            <dir
                              name="bsf"/>
                            <dir
                              name="spring"/>
                            <dir
                              name="throttle"/>
                            <dir
                              name="xquery"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
                <dir
                  name="test">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="synapse">
                          <dir
                            name="format">
                            <dir
                              name="hessian"/>
                            <dir
                              name="syslog"/>
                          </dir>
                          <dir
                            name="mediators">
                            <dir
                              name="bsf">
                              <dir
                                name="javascript"/>
                            </dir>
                            <dir
                              name="spring"/>
                            <dir
                              name="throttle"/>
                            <dir
                              name="xquery"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="handler">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="synapse">
                          <dir
                            name="handler">
                            <dir
                              name="util"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="integration">
              <dir
                name="src">
                <dir
                  name="test">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="synapse">
                          <dir
                            name="samples">
                            <dir
                              name="framework">
                              <dir
                                name="clients"/>
                              <dir
                                name="config"/>
                              <dir
                                name="tests">
                                <dir
                                  name="advanced"/>
                                <dir
                                  name="endpoint"/>
                                <dir
                                  name="message"/>
                                <dir
                                  name="proxy"/>
                                <dir
                                  name="qos"/>
                                <dir
                                  name="rest"/>
                                <dir
                                  name="tasks"/>
                                <dir
                                  name="transport"/>
                              </dir>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="migrator">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="synapse">
                          <dir
                            name="migrator"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="patches">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="commons">
                          <dir
                            name="vfs2">
                            <dir
                              name="provider">
                              <dir
                                name="ftp"/>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="samples">
              <dir
                name="services">
                <dir
                  name="EJBSampleBeans">
                  <dir
                    name="src">
                    <dir
                      name="samples">
                      <dir
                        name="bean"/>
                      <dir
                        name="ejb"/>
                      <dir
                        name="util"/>
                    </dir>
                  </dir>
                </dir>
                <dir
                  name="FastStockQuoteService">
                  <dir
                    name="src">
                    <dir
                      name="samples">
                      <dir
                        name="services"/>
                    </dir>
                  </dir>
                </dir>
                <dir
                  name="JAXWSStockQuoteService">
                  <dir
                    name="src">
                    <dir
                      name="samples">
                      <dir
                        name="services"/>
                    </dir>
                  </dir>
                </dir>
                <dir
                  name="LoadbalanceFailoverService">
                  <dir
                    name="src">
                    <dir
                      name="samples">
                      <dir
                        name="services"/>
                    </dir>
                  </dir>
                </dir>
                <dir
                  name="MTOMSwASampleService">
                  <dir
                    name="src">
                    <dir
                      name="samples">
                      <dir
                        name="services"/>
                    </dir>
                  </dir>
                </dir>
                <dir
                  name="SecureStockQuoteService">
                  <dir
                    name="src">
                    <dir
                      name="samples">
                      <dir
                        name="services"/>
                    </dir>
                  </dir>
                </dir>
                <dir
                  name="SimpleStockQuoteService">
                  <dir
                    name="src">
                    <dir
                      name="samples">
                      <dir
                        name="services"/>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="samples">
                      <dir
                        name="common"/>
                      <dir
                        name="mediators">
                        <dir
                          name="extensions"/>
                      </dir>
                      <dir
                        name="userguide"/>
                      <dir
                        name="util"/>
                    </dir>
                  </dir>
                </dir>
                <dir
                  name="test">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="synapse">
                          <dir
                            name="samples">
                            <dir
                              name="n2n"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="securevault">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="synapse">
                          <dir
                            name="securevault">
                            <dir
                              name="commons"/>
                            <dir
                              name="definition"/>
                            <dir
                              name="keystore"/>
                            <dir
                              name="secret">
                              <dir
                                name="handler"/>
                              <dir
                                name="mbean"/>
                              <dir
                                name="repository"/>
                            </dir>
                            <dir
                              name="tool"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="tasks">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="synapse">
                          <dir
                            name="task">
                            <dir
                              name="service"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="transports">
              <dir
                name="core">
                <dir
                  name="nhttp">
                  <dir
                    name="src">
                    <dir
                      name="main">
                      <dir
                        name="java">
                        <dir
                          name="org">
                          <dir
                            name="apache">
                            <dir
                              name="synapse">
                              <dir
                                name="transport">
                                <dir
                                  name="nhttp">
                                  <dir
                                    name="debug"/>
                                  <dir
                                    name="util"/>
                                </dir>
                                <dir
                                  name="passthru">
                                  <dir
                                    name="api"/>
                                  <dir
                                    name="config"/>
                                  <dir
                                    name="connections"/>
                                  <dir
                                    name="jmx"/>
                                  <dir
                                    name="util"/>
                                </dir>
                                <dir
                                  name="utils">
                                  <dir
                                    name="config"/>
                                  <dir
                                    name="conn">
                                    <dir
                                      name="logging"/>
                                  </dir>
                                  <dir
                                    name="sslcert">
                                    <dir
                                      name="adaptor"/>
                                    <dir
                                      name="cache"/>
                                    <dir
                                      name="crl"/>
                                    <dir
                                      name="ocsp"/>
                                    <dir
                                      name="pathvalidation"/>
                                  </dir>
                                </dir>
                              </dir>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                    <dir
                      name="test">
                      <dir
                        name="java">
                        <dir
                          name="org">
                          <dir
                            name="apache">
                            <dir
                              name="synapse">
                              <dir
                                name="transport">
                                <dir
                                  name="nhttp"/>
                                <dir
                                  name="passthru">
                                  <dir
                                    name="util"/>
                                </dir>
                                <dir
                                  name="utils">
                                  <dir
                                    name="config"/>
                                  <dir
                                    name="sslcert"/>
                                </dir>
                              </dir>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
                <dir
                  name="pipe">
                  <dir
                    name="src">
                    <dir
                      name="main">
                      <dir
                        name="java">
                        <dir
                          name="org">
                          <dir
                            name="apache">
                            <dir
                              name="synapse">
                              <dir
                                name="transport">
                                <dir
                                  name="pipe"/>
                              </dir>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                    <dir
                      name="test">
                      <dir
                        name="java">
                        <dir
                          name="org">
                          <dir
                            name="apache">
                            <dir
                              name="synapse">
                              <dir
                                name="transport">
                                <dir
                                  name="pipe"/>
                              </dir>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
                <dir
                  name="vfs">
                  <dir
                    name="src">
                    <dir
                      name="main">
                      <dir
                        name="java">
                        <dir
                          name="org">
                          <dir
                            name="apache">
                            <dir
                              name="synapse">
                              <dir
                                name="transport">
                                <dir
                                  name="vfs"/>
                              </dir>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                    <dir
                      name="test">
                      <dir
                        name="java">
                        <dir
                          name="org">
                          <dir
                            name="apache">
                            <dir
                              name="synapse">
                              <dir
                                name="transport">
                                <dir
                                  name="vfs"/>
                              </dir>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="optional">
                <dir
                  name="amqp">
                  <dir
                    name="src">
                    <dir
                      name="main">
                      <dir
                        name="java">
                        <dir
                          name="org">
                          <dir
                            name="apache">
                            <dir
                              name="synapse">
                              <dir
                                name="transport">
                                <dir
                                  name="amqp">
                                  <dir
                                    name="connectionfactory"/>
                                  <dir
                                    name="ha"/>
                                  <dir
                                    name="pollingtask"/>
                                  <dir
                                    name="sendertask"/>
                                  <dir
                                    name="tx"/>
                                </dir>
                              </dir>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                    <dir
                      name="test">
                      <dir
                        name="java">
                        <dir
                          name="org">
                          <dir
                            name="apache">
                            <dir
                              name="synapse">
                              <dir
                                name="tranport">
                                <dir
                                  name="amqp"/>
                              </dir>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
                <dir
                  name="fix">
                  <dir
                    name="src">
                    <dir
                      name="main">
                      <dir
                        name="java">
                        <dir
                          name="org">
                          <dir
                            name="apache">
                            <dir
                              name="synapse">
                              <dir
                                name="transport">
                                <dir
                                  name="fix">
                                  <dir
                                    name="message"/>
                                </dir>
                              </dir>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                    <dir
                      name="test">
                      <dir
                        name="java">
                        <dir
                          name="org">
                          <dir
                            name="apache">
                            <dir
                              name="synapse">
                              <dir
                                name="transport">
                                <dir
                                  name="fix">
                                  <dir
                                    name="message"/>
                                </dir>
                              </dir>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="xar-maven-plugin">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="synapse">
                          <dir
                            name="maven">
                            <dir
                              name="xar"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
        </dir>
      </dir>
    </dir>
  </files>
  <languages>
    <language
      name="Java"/>
  </languages>
  <file_types/>
  <annotations_options/>
  <comparison_options
    comparison_db=""
    git_repo=""
    git_commit=""/>
  <imports/>
  <java_options
    count_javadoc_in_metrics="true"
    count_standard_in_max_inheritance="false"
    jni_kni_include_package_name="true"
    jni_kni_linkage_prepend_text="Java_"
    save_comments_associated_with_entities="true"
    version="Java10">
    <class_paths>
      <class_path
        path="C:/Program Files/Java/jdk-18.0.1.1/lib/src.zip"/>
      <class_path
        path="C:/Program Files/Java/jdk-18.0.1.1/jmods/java.base.jmod"/>
    </class_paths>
  </java_options>
</project>
