<project>
  <files
    portability_mode="relative"
    default_encoding="System"
    readonly="false"
    maxfilesize="10485760"
    enforce_portability="false">
    <dir
      name=".">
      <dir
        name="..">
        <dir
          name="myfaces">
          <watched
            subdirs="true">
            <filter
              name="Java"/>
          </watched>
          <dir
            name="api">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="jakarta">
                    <dir
                      name="faces">
                      <dir
                        name="annotation"/>
                      <dir
                        name="application"/>
                      <dir
                        name="component">
                        <dir
                          name="behavior"/>
                        <dir
                          name="html"/>
                        <dir
                          name="search"/>
                        <dir
                          name="visit"/>
                      </dir>
                      <dir
                        name="context"/>
                      <dir
                        name="convert"/>
                      <dir
                        name="el"/>
                      <dir
                        name="event"/>
                      <dir
                        name="flow">
                        <dir
                          name="builder"/>
                      </dir>
                      <dir
                        name="lifecycle"/>
                      <dir
                        name="model"/>
                      <dir
                        name="push"/>
                      <dir
                        name="render"/>
                      <dir
                        name="validator"/>
                      <dir
                        name="view">
                        <dir
                          name="facelets"/>
                      </dir>
                      <dir
                        name="webapp"/>
                    </dir>
                  </dir>
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="myfaces">
                        <dir
                          name="core">
                          <dir
                            name="api">
                            <dir
                              name="shared">
                              <dir
                                name="lang"/>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="extensions">
            <dir
              name="quarkus">
              <dir
                name="deployment">
                <dir
                  name="src">
                  <dir
                    name="main">
                    <dir
                      name="java">
                      <dir
                        name="org">
                        <dir
                          name="apache">
                          <dir
                            name="myfaces">
                            <dir
                              name="core">
                              <dir
                                name="extensions">
                                <dir
                                  name="quarkus">
                                  <dir
                                    name="deployment"/>
                                </dir>
                              </dir>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="runtime">
                <dir
                  name="src">
                  <dir
                    name="main">
                    <dir
                      name="java">
                      <dir
                        name="org">
                        <dir
                          name="apache">
                          <dir
                            name="myfaces">
                            <dir
                              name="core">
                              <dir
                                name="extensions">
                                <dir
                                  name="quarkus">
                                  <dir
                                    name="runtime">
                                    <dir
                                      name="application"/>
                                    <dir
                                      name="exception"/>
                                    <dir
                                      name="graal"/>
                                    <dir
                                      name="producer"/>
                                    <dir
                                      name="scopes"/>
                                    <dir
                                      name="spi"/>
                                  </dir>
                                </dir>
                              </dir>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="showcase">
                <dir
                  name="src">
                  <dir
                    name="main">
                    <dir
                      name="java">
                      <dir
                        name="org">
                        <dir
                          name="apache">
                          <dir
                            name="myfaces">
                            <dir
                              name="core">
                              <dir
                                name="extensions">
                                <dir
                                  name="quarkus">
                                  <dir
                                    name="showcase">
                                    <dir
                                      name="view"/>
                                  </dir>
                                </dir>
                              </dir>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                  <dir
                    name="test">
                    <dir
                      name="java">
                      <dir
                        name="org">
                        <dir
                          name="apache">
                          <dir
                            name="myfaces">
                            <dir
                              name="core">
                              <dir
                                name="extensions">
                                <dir
                                  name="quarkus">
                                  <dir
                                    name="showcase"/>
                                </dir>
                              </dir>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="impl">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="myfaces">
                        <dir
                          name="application">
                          <dir
                            name="viewstate"/>
                        </dir>
                        <dir
                          name="cdi">
                          <dir
                            name="clientwindow"/>
                          <dir
                            name="config"/>
                          <dir
                            name="managedproperty"/>
                          <dir
                            name="model"/>
                          <dir
                            name="util"/>
                          <dir
                            name="view"/>
                          <dir
                            name="wrapper"/>
                        </dir>
                        <dir
                          name="component">
                          <dir
                            name="search"/>
                          <dir
                            name="validate"/>
                          <dir
                            name="visit"/>
                        </dir>
                        <dir
                          name="config">
                          <dir
                            name="annotation"/>
                          <dir
                            name="element">
                            <dir
                              name="facelets"/>
                          </dir>
                          <dir
                            name="impl">
                            <dir
                              name="element">
                              <dir
                                name="facelets"/>
                            </dir>
                          </dir>
                          <dir
                            name="util"/>
                        </dir>
                        <dir
                          name="context">
                          <dir
                            name="flash"/>
                          <dir
                            name="servlet"/>
                        </dir>
                        <dir
                          name="el">
                          <dir
                            name="resolver">
                            <dir
                              name="implicitobject"/>
                          </dir>
                        </dir>
                        <dir
                          name="event"/>
                        <dir
                          name="flow">
                          <dir
                            name="builder"/>
                          <dir
                            name="cdi"/>
                          <dir
                            name="impl"/>
                        </dir>
                        <dir
                          name="lifecycle">
                          <dir
                            name="clientwindow"/>
                        </dir>
                        <dir
                          name="push">
                          <dir
                            name="cdi"/>
                        </dir>
                        <dir
                          name="renderkit">
                          <dir
                            name="html">
                            <dir
                              name="base"/>
                            <dir
                              name="util"/>
                          </dir>
                        </dir>
                        <dir
                          name="resource"/>
                        <dir
                          name="spi">
                          <dir
                            name="impl"/>
                        </dir>
                        <dir
                          name="util">
                          <dir
                            name="lang"/>
                          <dir
                            name="token"/>
                        </dir>
                        <dir
                          name="view">
                          <dir
                            name="facelets">
                            <dir
                              name="compiler"/>
                            <dir
                              name="component"/>
                            <dir
                              name="el"/>
                            <dir
                              name="impl"/>
                            <dir
                              name="pool">
                              <dir
                                name="impl"/>
                            </dir>
                            <dir
                              name="tag">
                              <dir
                                name="composite"/>
                              <dir
                                name="faces">
                                <dir
                                  name="core"/>
                                <dir
                                  name="html"/>
                              </dir>
                              <dir
                                name="jstl">
                                <dir
                                  name="core"/>
                                <dir
                                  name="fn"/>
                              </dir>
                              <dir
                                name="ui"/>
                            </dir>
                            <dir
                              name="util"/>
                          </dir>
                        </dir>
                        <dir
                          name="webapp"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="jakarta">
                    <dir
                      name="faces">
                      <dir
                        name="application"/>
                      <dir
                        name="component">
                        <dir
                          name="html"/>
                      </dir>
                      <dir
                        name="context"/>
                      <dir
                        name="convert"/>
                      <dir
                        name="event"/>
                      <dir
                        name="validator"/>
                    </dir>
                  </dir>
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="myfaces">
                        <dir
                          name="application">
                          <dir
                            name="contracts"/>
                          <dir
                            name="flow"/>
                          <dir
                            name="viewstate"/>
                        </dir>
                        <dir
                          name="cdi">
                          <dir
                            name="bean"/>
                        </dir>
                        <dir
                          name="component">
                          <dir
                            name="search"/>
                        </dir>
                        <dir
                          name="config">
                          <dir
                            name="impl">
                            <dir
                              name="digister"/>
                          </dir>
                        </dir>
                        <dir
                          name="context">
                          <dir
                            name="flash"/>
                          <dir
                            name="servlet"/>
                        </dir>
                        <dir
                          name="dummy">
                          <dir
                            name="data"/>
                        </dir>
                        <dir
                          name="el"/>
                        <dir
                          name="event"/>
                        <dir
                          name="flow"/>
                        <dir
                          name="lifecycle"/>
                        <dir
                          name="renderkit">
                          <dir
                            name="html">
                            <dir
                              name="behavior"/>
                            <dir
                              name="util"/>
                          </dir>
                        </dir>
                        <dir
                          name="renderkits"/>
                        <dir
                          name="resource"/>
                        <dir
                          name="spi"/>
                        <dir
                          name="test">
                          <dir
                            name="core">
                            <dir
                              name="annotation"/>
                            <dir
                              name="mock"/>
                            <dir
                              name="runner"/>
                          </dir>
                          <dir
                            name="mock">
                            <dir
                              name="api"/>
                          </dir>
                          <dir
                            name="utils"/>
                        </dir>
                        <dir
                          name="util">
                          <dir
                            name="lang"/>
                        </dir>
                        <dir
                          name="view">
                          <dir
                            name="facelets">
                            <dir
                              name="bean"/>
                            <dir
                              name="compiler">
                              <dir
                                name="doctype"/>
                            </dir>
                            <dir
                              name="component"/>
                            <dir
                              name="el"/>
                            <dir
                              name="impl"/>
                            <dir
                              name="mock"/>
                            <dir
                              name="pool"/>
                            <dir
                              name="pss">
                              <dir
                                name="acid">
                                <dir
                                  name="component"/>
                                <dir
                                  name="managed"/>
                                <dir
                                  name="renderkit"/>
                              </dir>
                            </dir>
                            <dir
                              name="stateless"/>
                            <dir
                              name="tag">
                              <dir
                                name="composite">
                                <dir
                                  name="localized"/>
                              </dir>
                              <dir
                                name="faces">
                                <dir
                                  name="core">
                                  <dir
                                    name="reset"/>
                                  <dir
                                    name="validation"/>
                                </dir>
                                <dir
                                  name="html"/>
                              </dir>
                              <dir
                                name="jstl">
                                <dir
                                  name="core"/>
                              </dir>
                              <dir
                                name="ui">
                                <dir
                                  name="template"/>
                              </dir>
                            </dir>
                            <dir
                              name="test">
                              <dir
                                name="component"/>
                            </dir>
                            <dir
                              name="updateheadres">
                              <dir
                                name="managed"/>
                            </dir>
                            <dir
                              name="util"/>
                          </dir>
                        </dir>
                        <dir
                          name="webapp"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="integration-tests">
            <dir
              name="ajax">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="myfaces">
                          <dir
                            name="core">
                            <dir
                              name="integrationtests">
                              <dir
                                name="ajax">
                                <dir
                                  name="basic"/>
                                <dir
                                  name="test1Protocol">
                                  <dir
                                    name="jsfxmlnodes"/>
                                  <dir
                                    name="responseWriter"/>
                                  <dir
                                    name="responses"/>
                                </dir>
                              </dir>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
                <dir
                  name="test">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="myfaces">
                          <dir
                            name="core">
                            <dir
                              name="integrationtests">
                              <dir
                                name="ajax"/>
                            </dir>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="autoLookupExpressionFactoryWithoutJSP">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="myfaces">
                          <dir
                            name="core">
                            <dir
                              name="integrationtests"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
                <dir
                  name="test">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="myfaces">
                          <dir
                            name="core">
                            <dir
                              name="integrationtests"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="automaticExtensionlessMapping">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="myfaces">
                          <dir
                            name="core">
                            <dir
                              name="integrationtests"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
                <dir
                  name="test">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="myfaces">
                          <dir
                            name="core">
                            <dir
                              name="integrationtests"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="exactMapping">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="myfaces">
                          <dir
                            name="core">
                            <dir
                              name="integrationtests"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
                <dir
                  name="test">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="myfaces">
                          <dir
                            name="core">
                            <dir
                              name="integrationtests"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="faceletToXhtmlMapping">
              <dir
                name="src">
                <dir
                  name="test">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="myfaces">
                          <dir
                            name="core">
                            <dir
                              name="integrationtests"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="faceletToXhtmlMappingDisabled">
              <dir
                name="src">
                <dir
                  name="test">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="myfaces">
                          <dir
                            name="core">
                            <dir
                              name="integrationtests"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="protectedViews">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="myfaces">
                          <dir
                            name="core">
                            <dir
                              name="integrationtests"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
                <dir
                  name="test">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="myfaces">
                          <dir
                            name="core">
                            <dir
                              name="integrationtests"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="test">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="myfaces">
                        <dir
                          name="test">
                          <dir
                            name="base">
                            <dir
                              name="junit">
                              <dir
                                name="runners"/>
                            </dir>
                          </dir>
                          <dir
                            name="config"/>
                          <dir
                            name="el"/>
                          <dir
                            name="mock">
                            <dir
                              name="lifecycle"/>
                            <dir
                              name="resource"/>
                            <dir
                              name="visit"/>
                          </dir>
                          <dir
                            name="util"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
        </dir>
      </dir>
    </dir>
  </files>
  <languages>
    <language
      name="Java"/>
  </languages>
  <file_types/>
  <annotations_options/>
  <comparison_options
    comparison_db=""
    git_repo=""
    git_commit=""/>
  <imports/>
  <java_options
    count_javadoc_in_metrics="true"
    count_standard_in_max_inheritance="false"
    jni_kni_include_package_name="true"
    jni_kni_linkage_prepend_text="Java_"
    save_comments_associated_with_entities="true"
    version="Java10">
    <class_paths>
      <class_path
        path="C:/Program Files/Java/jdk-18.0.1.1/lib/src.zip"/>
      <class_path
        path="C:/Program Files/Java/jdk-18.0.1.1/jmods/java.base.jmod"/>
    </class_paths>
  </java_options>
</project>
