<project>
  <files
    portability_mode="relative"
    default_encoding="System"
    readonly="false"
    maxfilesize="10485760"
    enforce_portability="false">
    <dir
      name=".">
      <dir
        name="..">
        <dir
          name="crunch">
          <watched
            subdirs="true">
            <filter
              name="Java"/>
          </watched>
          <dir
            name="crunch-archetype">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="resources">
                  <dir
                    name="archetype-resources">
                    <dir
                      name="src">
                      <dir
                        name="main">
                        <dir
                          name="java"/>
                      </dir>
                      <dir
                        name="test">
                        <dir
                          name="java"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="crunch-contrib">
            <dir
              name="src">
              <dir
                name="it">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="crunch">
                        <dir
                          name="contrib">
                          <dir
                            name="bloomfilter"/>
                          <dir
                            name="io">
                            <dir
                              name="jdbc"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="crunch">
                        <dir
                          name="contrib">
                          <dir
                            name="bloomfilter"/>
                          <dir
                            name="io">
                            <dir
                              name="jdbc"/>
                          </dir>
                          <dir
                            name="text"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="crunch">
                        <dir
                          name="contrib">
                          <dir
                            name="text"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="crunch-core">
            <dir
              name="src">
              <dir
                name="it">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="crunch">
                        <dir
                          name="fn"/>
                        <dir
                          name="impl">
                          <dir
                            name="dist">
                            <dir
                              name="collect"/>
                          </dir>
                          <dir
                            name="mem"/>
                          <dir
                            name="mr">
                            <dir
                              name="exec"/>
                            <dir
                              name="plan"/>
                          </dir>
                        </dir>
                        <dir
                          name="io">
                          <dir
                            name="avro"/>
                          <dir
                            name="parquet"/>
                          <dir
                            name="text">
                            <dir
                              name="csv"/>
                            <dir
                              name="xml"/>
                          </dir>
                        </dir>
                        <dir
                          name="lib">
                          <dir
                            name="join"/>
                        </dir>
                        <dir
                          name="test"/>
                        <dir
                          name="types">
                          <dir
                            name="avro"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="crunch">
                        <dir
                          name="fn"/>
                        <dir
                          name="hadoop">
                          <dir
                            name="mapreduce">
                            <dir
                              name="lib">
                              <dir
                                name="jobcontrol"/>
                            </dir>
                          </dir>
                        </dir>
                        <dir
                          name="impl">
                          <dir
                            name="dist">
                            <dir
                              name="collect"/>
                          </dir>
                          <dir
                            name="mem">
                            <dir
                              name="collect"/>
                            <dir
                              name="emit"/>
                          </dir>
                          <dir
                            name="mr">
                            <dir
                              name="collect"/>
                            <dir
                              name="emit"/>
                            <dir
                              name="exec"/>
                            <dir
                              name="plan"/>
                            <dir
                              name="run"/>
                          </dir>
                        </dir>
                        <dir
                          name="io">
                          <dir
                            name="avro"/>
                          <dir
                            name="impl"/>
                          <dir
                            name="parquet"/>
                          <dir
                            name="seq"/>
                          <dir
                            name="text">
                            <dir
                              name="csv"/>
                            <dir
                              name="xml"/>
                          </dir>
                        </dir>
                        <dir
                          name="lib">
                          <dir
                            name="join"/>
                          <dir
                            name="sort"/>
                        </dir>
                        <dir
                          name="materialize">
                          <dir
                            name="pobject"/>
                        </dir>
                        <dir
                          name="types">
                          <dir
                            name="avro"/>
                          <dir
                            name="writable"/>
                        </dir>
                        <dir
                          name="util"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="crunch">
                        <dir
                          name="fn"/>
                        <dir
                          name="hadoop">
                          <dir
                            name="mapreduce">
                            <dir
                              name="lib">
                              <dir
                                name="jobcontrol"/>
                            </dir>
                          </dir>
                        </dir>
                        <dir
                          name="impl">
                          <dir
                            name="dist">
                            <dir
                              name="collect"/>
                          </dir>
                          <dir
                            name="mem"/>
                          <dir
                            name="mr">
                            <dir
                              name="emit"/>
                            <dir
                              name="exec"/>
                            <dir
                              name="plan"/>
                            <dir
                              name="run"/>
                          </dir>
                        </dir>
                        <dir
                          name="io">
                          <dir
                            name="avro"/>
                          <dir
                            name="impl"/>
                          <dir
                            name="parquet"/>
                          <dir
                            name="text">
                            <dir
                              name="csv"/>
                            <dir
                              name="xml"/>
                          </dir>
                        </dir>
                        <dir
                          name="lib">
                          <dir
                            name="join"/>
                        </dir>
                        <dir
                          name="test"/>
                        <dir
                          name="types">
                          <dir
                            name="avro"/>
                          <dir
                            name="writable"/>
                        </dir>
                        <dir
                          name="util"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="crunch-examples">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="crunch">
                        <dir
                          name="examples"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="crunch-hbase">
            <dir
              name="src">
              <dir
                name="it">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="crunch">
                        <dir
                          name="io">
                          <dir
                            name="hbase"/>
                        </dir>
                        <dir
                          name="test"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="crunch">
                        <dir
                          name="io">
                          <dir
                            name="hbase"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="crunch">
                        <dir
                          name="io">
                          <dir
                            name="hbase"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="crunch-hcatalog">
            <dir
              name="src">
              <dir
                name="it">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="crunch">
                        <dir
                          name="io">
                          <dir
                            name="hcatalog"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="crunch">
                        <dir
                          name="io">
                          <dir
                            name="hcatalog"/>
                        </dir>
                      </dir>
                      <dir
                        name="hive">
                        <dir
                          name="hcatalog">
                          <dir
                            name="mapreduce"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="crunch-hive">
            <dir
              name="src">
              <dir
                name="it">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="crunch">
                        <dir
                          name="io">
                          <dir
                            name="orc"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="crunch">
                        <dir
                          name="io">
                          <dir
                            name="orc"/>
                        </dir>
                        <dir
                          name="types">
                          <dir
                            name="orc"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="crunch">
                        <dir
                          name="io">
                          <dir
                            name="orc"/>
                        </dir>
                        <dir
                          name="test">
                          <dir
                            name="orc">
                            <dir
                              name="pojos"/>
                          </dir>
                        </dir>
                        <dir
                          name="types">
                          <dir
                            name="orc"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="crunch-kafka">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="crunch">
                        <dir
                          name="kafka">
                          <dir
                            name="offset">
                            <dir
                              name="hdfs"/>
                          </dir>
                          <dir
                            name="record"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="crunch">
                        <dir
                          name="kafka">
                          <dir
                            name="offset">
                            <dir
                              name="hdfs"/>
                          </dir>
                          <dir
                            name="record"/>
                          <dir
                            name="utils"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="crunch-lambda">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="crunch">
                        <dir
                          name="lambda">
                          <dir
                            name="fn"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="crunch">
                        <dir
                          name="lambda"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="crunch-scrunch">
            <dir
              name="src">
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="crunch">
                        <dir
                          name="scrunch"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="crunch-spark">
            <dir
              name="src">
              <dir
                name="it">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="crunch">
                        <dir
                          name="test"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="crunch">
                        <dir
                          name="fn"/>
                        <dir
                          name="impl">
                          <dir
                            name="spark">
                            <dir
                              name="collect"/>
                            <dir
                              name="fn"/>
                            <dir
                              name="serde"/>
                          </dir>
                        </dir>
                      </dir>
                      <dir
                        name="hadoop">
                        <dir
                          name="mapred"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="crunch">
                        <dir
                          name="impl">
                          <dir
                            name="spark"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="crunch-test">
            <dir
              name="src">
              <dir
                name="it">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="crunch">
                        <dir
                          name="test"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="main">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="crunch">
                        <dir
                          name="test"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="test">
                <dir
                  name="java">
                  <dir
                    name="org">
                    <dir
                      name="apache">
                      <dir
                        name="crunch">
                        <dir
                          name="test"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
        </dir>
      </dir>
    </dir>
  </files>
  <languages>
    <language
      name="Java"/>
  </languages>
  <file_types/>
  <annotations_options/>
  <comparison_options
    comparison_db=""
    git_repo=""
    git_commit=""/>
  <imports/>
  <java_options
    count_javadoc_in_metrics="true"
    count_standard_in_max_inheritance="false"
    jni_kni_include_package_name="true"
    jni_kni_linkage_prepend_text="Java_"
    save_comments_associated_with_entities="true"
    version="Java10">
    <class_paths>
      <class_path
        path="C:/Program Files/Java/jdk-18.0.1.1/lib/src.zip"/>
      <class_path
        path="C:/Program Files/Java/jdk-18.0.1.1/jmods/java.base.jmod"/>
    </class_paths>
  </java_options>
</project>
