<project>
  <files
    portability_mode="relative"
    default_encoding="System"
    readonly="false"
    maxfilesize="10485760"
    enforce_portability="false">
    <dir
      name=".">
      <dir
        name="..">
        <dir
          name="sandesha">
          <watched
            subdirs="true">
            <filter
              name="Java"/>
          </watched>
          <dir
            name="modules">
            <dir
              name="core">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="sandesha2">
                          <dir
                            name="addressing"/>
                          <dir
                            name="client"/>
                          <dir
                            name="context"/>
                          <dir
                            name="handlers"/>
                          <dir
                            name="i18n"/>
                          <dir
                            name="listeners"/>
                          <dir
                            name="msgprocessors"/>
                          <dir
                            name="msgreceivers"/>
                          <dir
                            name="policy">
                            <dir
                              name="builders"/>
                          </dir>
                          <dir
                            name="polling"/>
                          <dir
                            name="security">
                            <dir
                              name="dummy"/>
                          </dir>
                          <dir
                            name="storage">
                            <dir
                              name="beanmanagers"/>
                            <dir
                              name="beans"/>
                            <dir
                              name="inmemory"/>
                          </dir>
                          <dir
                            name="transport"/>
                          <dir
                            name="util"/>
                          <dir
                            name="workers"/>
                          <dir
                            name="wsrm"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="interop">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="sandesha2">
                          <dir
                            name="interop">
                            <dir
                              name="rm1_1_clients"/>
                            <dir
                              name="securerm"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="persistence">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="sandesha2">
                          <dir
                            name="storage">
                            <dir
                              name="jdbc"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
                <dir
                  name="test">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="sandesha2"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="rampart-integration">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="sandesha2">
                          <dir
                            name="security">
                            <dir
                              name="rampart"/>
                          </dir>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="samples">
              <dir
                name="src">
                <dir
                  name="main">
                  <dir
                    name="java">
                    <dir
                      name="sandesha2">
                      <dir
                        name="samples">
                        <dir
                          name="simpleServer"/>
                        <dir
                          name="userguide"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="tests">
              <dir
                name="src">
                <dir
                  name="test">
                  <dir
                    name="java">
                    <dir
                      name="org">
                      <dir
                        name="apache">
                        <dir
                          name="sandesha2">
                          <dir
                            name="faulttests"/>
                          <dir
                            name="mtom"/>
                          <dir
                            name="scenarios"/>
                          <dir
                            name="security"/>
                          <dir
                            name="storage"/>
                          <dir
                            name="utils"/>
                          <dir
                            name="versions"/>
                          <dir
                            name="workers"/>
                          <dir
                            name="wsrm"/>
                        </dir>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
        </dir>
      </dir>
    </dir>
  </files>
  <languages>
    <language
      name="Java"/>
  </languages>
  <file_types/>
  <annotations_options/>
  <comparison_options
    comparison_db=""
    git_repo=""
    git_commit=""/>
  <imports/>
  <java_options
    count_javadoc_in_metrics="true"
    count_standard_in_max_inheritance="false"
    jni_kni_include_package_name="true"
    jni_kni_linkage_prepend_text="Java_"
    save_comments_associated_with_entities="true"
    version="Java10">
    <class_paths>
      <class_path
        path="C:/Program Files/Java/jdk-18.0.1.1/lib/src.zip"/>
      <class_path
        path="C:/Program Files/Java/jdk-18.0.1.1/jmods/java.base.jmod"/>
    </class_paths>
  </java_options>
</project>
