<project>
  <files
    portability_mode="relative"
    default_encoding="System"
    readonly="false"
    maxfilesize="10485760"
    enforce_portability="false">
    <dir
      name=".">
      <dir
        name="..">
        <dir
          name="pivot">
          <watched
            subdirs="true">
            <filter
              name="Java"/>
          </watched>
          <dir
            name="charts">
            <dir
              name="src">
              <dir
                name="org">
                <dir
                  name="apache">
                  <dir
                    name="pivot">
                    <dir
                      name="charts">
                      <dir
                        name="content"/>
                      <dir
                        name="skin"/>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="core">
            <dir
              name="src">
              <dir
                name="org">
                <dir
                  name="apache">
                  <dir
                    name="pivot">
                    <dir
                      name="annotations"/>
                    <dir
                      name="beans"/>
                    <dir
                      name="collections">
                      <dir
                        name="adapter"/>
                      <dir
                        name="concurrent"/>
                      <dir
                        name="immutable"/>
                    </dir>
                    <dir
                      name="functional">
                      <dir
                        name="functions"/>
                      <dir
                        name="monad"/>
                    </dir>
                    <dir
                      name="io"/>
                    <dir
                      name="json"/>
                    <dir
                      name="serialization"/>
                    <dir
                      name="sql"/>
                    <dir
                      name="text"/>
                    <dir
                      name="util">
                      <dir
                        name="concurrent"/>
                    </dir>
                    <dir
                      name="xml"/>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="test">
              <dir
                name="org">
                <dir
                  name="apache">
                  <dir
                    name="pivot">
                    <dir
                      name="beans">
                      <dir
                        name="test"/>
                    </dir>
                    <dir
                      name="collections">
                      <dir
                        name="test"/>
                    </dir>
                    <dir
                      name="functional">
                      <dir
                        name="monad">
                        <dir
                          name="test"/>
                      </dir>
                    </dir>
                    <dir
                      name="json">
                      <dir
                        name="test"/>
                    </dir>
                    <dir
                      name="serialization">
                      <dir
                        name="test"/>
                    </dir>
                    <dir
                      name="util">
                      <dir
                        name="concurrent">
                        <dir
                          name="test"/>
                      </dir>
                      <dir
                        name="test"/>
                    </dir>
                    <dir
                      name="xml">
                      <dir
                        name="test"/>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="demos">
            <dir
              name="src">
              <dir
                name="org">
                <dir
                  name="apache">
                  <dir
                    name="pivot">
                    <dir
                      name="demos">
                      <dir
                        name="colors"/>
                      <dir
                        name="decorator"/>
                      <dir
                        name="dnd"/>
                      <dir
                        name="dom"/>
                      <dir
                        name="itunes"/>
                      <dir
                        name="json"/>
                      <dir
                        name="memorygame"/>
                      <dir
                        name="million"/>
                      <dir
                        name="rest"/>
                      <dir
                        name="roweditor"/>
                      <dir
                        name="rss"/>
                      <dir
                        name="styles"/>
                      <dir
                        name="suggest"/>
                      <dir
                        name="swing"/>
                      <dir
                        name="tables"/>
                      <dir
                        name="text"/>
                      <dir
                        name="xml"/>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="demos-server">
            <dir
              name="src">
              <dir
                name="org">
                <dir
                  name="apache">
                  <dir
                    name="pivot">
                    <dir
                      name="demos">
                      <dir
                        name="rest">
                        <dir
                          name="server"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="eclipse">
            <dir
              name="src">
              <dir
                name="org">
                <dir
                  name="apache">
                  <dir
                    name="pivot">
                    <dir
                      name="eclipse"/>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="examples">
            <dir
              name="src">
              <dir
                name="org">
                <dir
                  name="apache">
                  <dir
                    name="pivot">
                    <dir
                      name="examples">
                      <dir
                        name="builder"/>
                      <dir
                        name="deployment"/>
                      <dir
                        name="effects"/>
                      <dir
                        name="keyboard"/>
                      <dir
                        name="scripting"/>
                      <dir
                        name="sheets"/>
                      <dir
                        name="wrapping"/>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="tests">
            <dir
              name="src">
              <dir
                name="org">
                <dir
                  name="apache">
                  <dir
                    name="pivot">
                    <dir
                      name="tests">
                      <dir
                        name="issues">
                        <dir
                          name="pivot859"/>
                        <dir
                          name="pivot861"/>
                        <dir
                          name="pivot894"/>
                        <dir
                          name="pivot929"/>
                        <dir
                          name="pivot948"/>
                        <dir
                          name="pivot949"/>
                        <dir
                          name="pivot964"/>
                        <dir
                          name="pivot965"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="tutorials">
            <dir
              name="src">
              <dir
                name="org">
                <dir
                  name="apache">
                  <dir
                    name="pivot">
                    <dir
                      name="tutorials">
                      <dir
                        name="backgroundtasks"/>
                      <dir
                        name="boundedrange"/>
                      <dir
                        name="buttons"/>
                      <dir
                        name="bxmlexplorer"/>
                      <dir
                        name="calculator"/>
                      <dir
                        name="databinding"/>
                      <dir
                        name="effects"/>
                      <dir
                        name="explorer">
                        <dir
                          name="tools"/>
                      </dir>
                      <dir
                        name="filebrowsing"/>
                      <dir
                        name="layout"/>
                      <dir
                        name="lists"/>
                      <dir
                        name="localization"/>
                      <dir
                        name="menus"/>
                      <dir
                        name="navigation"/>
                      <dir
                        name="progress"/>
                      <dir
                        name="scripting"/>
                      <dir
                        name="stocktracker"/>
                      <dir
                        name="tableviews"/>
                      <dir
                        name="text"/>
                      <dir
                        name="webqueries"/>
                      <dir
                        name="windows"/>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="tutorials-server">
            <dir
              name="src">
              <dir
                name="org">
                <dir
                  name="apache">
                  <dir
                    name="pivot">
                    <dir
                      name="tutorials">
                      <dir
                        name="webqueries">
                        <dir
                          name="server"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="web">
            <dir
              name="src">
              <dir
                name="org">
                <dir
                  name="apache">
                  <dir
                    name="pivot">
                    <dir
                      name="web"/>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="test">
              <dir
                name="org">
                <dir
                  name="apache">
                  <dir
                    name="pivot">
                    <dir
                      name="web">
                      <dir
                        name="test"/>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="web-server">
            <dir
              name="src">
              <dir
                name="org">
                <dir
                  name="apache">
                  <dir
                    name="pivot">
                    <dir
                      name="web">
                      <dir
                        name="server"/>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="wtk">
            <dir
              name="src">
              <dir
                name="org">
                <dir
                  name="apache">
                  <dir
                    name="pivot">
                    <dir
                      name="wtk">
                      <dir
                        name="content"/>
                      <dir
                        name="effects">
                        <dir
                          name="easing"/>
                      </dir>
                      <dir
                        name="media"/>
                      <dir
                        name="skin"/>
                      <dir
                        name="text"/>
                      <dir
                        name="util"/>
                      <dir
                        name="validation"/>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="test">
              <dir
                name="org">
                <dir
                  name="apache">
                  <dir
                    name="pivot">
                    <dir
                      name="wtk">
                      <dir
                        name="test"/>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="wtk-terra">
            <dir
              name="src">
              <dir
                name="org">
                <dir
                  name="apache">
                  <dir
                    name="pivot">
                    <dir
                      name="wtk">
                      <dir
                        name="skin">
                        <dir
                          name="terra"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
        </dir>
      </dir>
    </dir>
  </files>
  <languages>
    <language
      name="Java"/>
  </languages>
  <file_types/>
  <annotations_options/>
  <comparison_options
    comparison_db=""
    git_repo=""
    git_commit=""/>
  <imports/>
  <java_options
    count_javadoc_in_metrics="true"
    count_standard_in_max_inheritance="false"
    jni_kni_include_package_name="true"
    jni_kni_linkage_prepend_text="Java_"
    save_comments_associated_with_entities="true"
    version="Java10">
    <class_paths>
      <class_path
        path="C:/Program Files/Java/jdk-18.0.1.1/lib/src.zip"/>
      <class_path
        path="C:/Program Files/Java/jdk-18.0.1.1/jmods/java.base.jmod"/>
    </class_paths>
  </java_options>
</project>
