<project>
  <files
    portability_mode="relative"
    default_encoding="System"
    readonly="false"
    maxfilesize="10485760"
    enforce_portability="false">
    <dir
      name=".">
      <dir
        name="..">
        <dir
          name="sqoop">
          <watched
            subdirs="true">
            <filter
              name="Java"/>
          </watched>
          <dir
            name="build">
            <dir
              name="src">
              <dir
                name="org">
                <dir
                  name="apache">
                  <dir
                    name="sqoop"/>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="src">
            <dir
              name="java">
              <dir
                name="org">
                <dir
                  name="apache">
                  <dir
                    name="sqoop">
                    <dir
                      name="accumulo"/>
                    <dir
                      name="authentication"/>
                    <dir
                      name="avro"/>
                    <dir
                      name="cli"/>
                    <dir
                      name="config"/>
                    <dir
                      name="db">
                      <dir
                        name="decorator"/>
                    </dir>
                    <dir
                      name="hbase"/>
                    <dir
                      name="hive"/>
                    <dir
                      name="io"/>
                    <dir
                      name="lib"/>
                    <dir
                      name="manager">
                      <dir
                        name="oracle"/>
                    </dir>
                    <dir
                      name="mapreduce">
                      <dir
                        name="cubrid"/>
                      <dir
                        name="db">
                        <dir
                          name="netezza"/>
                      </dir>
                      <dir
                        name="hcat"/>
                      <dir
                        name="mainframe"/>
                      <dir
                        name="mysql"/>
                      <dir
                        name="netezza"/>
                      <dir
                        name="parquet">
                        <dir
                          name="hadoop"/>
                      </dir>
                      <dir
                        name="postgresql"/>
                      <dir
                        name="sqlserver"/>
                    </dir>
                    <dir
                      name="metastore">
                      <dir
                        name="hsqldb"/>
                    </dir>
                    <dir
                      name="orm"/>
                    <dir
                      name="tool"/>
                    <dir
                      name="util">
                      <dir
                        name="password"/>
                    </dir>
                    <dir
                      name="validation"/>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="perftest"/>
            <dir
              name="test">
              <dir
                name="aop">
                <dir
                  name="org">
                  <dir
                    name="apache">
                    <dir
                      name="sqoop">
                      <dir
                        name="fi"/>
                    </dir>
                  </dir>
                </dir>
              </dir>
              <dir
                name="org">
                <dir
                  name="apache">
                  <dir
                    name="sqoop">
                    <dir
                      name="accumulo"/>
                    <dir
                      name="authentication"/>
                    <dir
                      name="cloud">
                      <dir
                        name="s3"/>
                      <dir
                        name="tools"/>
                    </dir>
                    <dir
                      name="credentials"/>
                    <dir
                      name="db">
                      <dir
                        name="decorator"/>
                    </dir>
                    <dir
                      name="hbase"/>
                    <dir
                      name="hcat"/>
                    <dir
                      name="hive">
                      <dir
                        name="minicluster"/>
                      <dir
                        name="numerictypes"/>
                    </dir>
                    <dir
                      name="importjob">
                      <dir
                        name="configuration"/>
                      <dir
                        name="numerictypes">
                        <dir
                          name="avro"/>
                        <dir
                          name="parquet"/>
                      </dir>
                      <dir
                        name="splitby"/>
                    </dir>
                    <dir
                      name="infrastructure">
                      <dir
                        name="kerberos"/>
                    </dir>
                    <dir
                      name="io"/>
                    <dir
                      name="lib"/>
                    <dir
                      name="manager">
                      <dir
                        name="cubrid"/>
                      <dir
                        name="db2"/>
                      <dir
                        name="hsqldb"/>
                      <dir
                        name="mainframe"/>
                      <dir
                        name="mysql"/>
                      <dir
                        name="netezza"/>
                      <dir
                        name="oracle">
                        <dir
                          name="util"/>
                      </dir>
                      <dir
                        name="postgresql"/>
                      <dir
                        name="sqlserver"/>
                    </dir>
                    <dir
                      name="mapreduce">
                      <dir
                        name="db">
                        <dir
                          name="netezza"/>
                      </dir>
                      <dir
                        name="hcat"/>
                      <dir
                        name="mainframe"/>
                      <dir
                        name="sqlserver"/>
                    </dir>
                    <dir
                      name="metastore">
                      <dir
                        name="db2"/>
                      <dir
                        name="hsqldb"/>
                      <dir
                        name="mysql"/>
                      <dir
                        name="oracle"/>
                      <dir
                        name="postgres"/>
                      <dir
                        name="sqlserver"/>
                    </dir>
                    <dir
                      name="orm"/>
                    <dir
                      name="testcategories">
                      <dir
                        name="sqooptest"/>
                      <dir
                        name="thirdpartytest"/>
                    </dir>
                    <dir
                      name="testutil">
                      <dir
                        name="adapter"/>
                    </dir>
                    <dir
                      name="tool"/>
                    <dir
                      name="util"/>
                    <dir
                      name="validation"/>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
        </dir>
      </dir>
    </dir>
  </files>
  <languages>
    <language
      name="Java"/>
  </languages>
  <file_types/>
  <annotations_options/>
  <comparison_options
    comparison_db=""
    git_repo=""
    git_commit=""/>
  <imports/>
  <java_options
    count_javadoc_in_metrics="true"
    count_standard_in_max_inheritance="false"
    jni_kni_include_package_name="true"
    jni_kni_linkage_prepend_text="Java_"
    save_comments_associated_with_entities="true"
    version="Java10">
    <class_paths>
      <class_path
        path="C:/Program Files/Java/jdk-18.0.1.1/lib/src.zip"/>
      <class_path
        path="C:/Program Files/Java/jdk-18.0.1.1/jmods/java.base.jmod"/>
    </class_paths>
  </java_options>
</project>
